p {
	margin-bottom: 2px;
}

.card-boder {
	margin: 2rem 0rem;
	border: 1px solid #a8a8b1;
	border-radius: 10px;
	width: 400px;
	color: #a8a8b1;

	.card-wrapper {
		background-repeat: no-repeat;
		background-position: right;
		background-size: contain;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		z-index: -1;

		.basic-content-wrapper {
			margin-top: 1rem;
			margin-bottom: 1rem;
		}

		.crypto-content-wrapper,
		.fiat-content-wrapper {
			margin-top: 1rem;
		}

		.card-icon {
			margin-top: 1rem;
		}

		.basic-plan {
			padding-bottom: 2rem;
		}

		.crypto-fiat-plan {
			padding-bottom: 1rem;
		}
	}

	.cloud-background {
		position: absolute;
	}

	.cloud-icon {
		position: relative;
		margin-left: 0.5rem;
		margin-top: 1rem;
	}

	.cloud-type {
		margin-left: 5px;
		margin-top: 2px;
		font-weight: bold;
	}

	.white-text {
		color: #ffffff;
		font-weight: bold;
		font-size: 16px;
	}

	.payment-text {
		margin-left: 1.5rem;
		margin-top: 1rem;
	}

	.card-design-basic {
		height: 15px;
		border-radius: 5px 5px 0px 0px;
		background: #c4c8ac;
	}

	.card-design-crypto {
		height: 15px;
		border-radius: 5px 5px 0px 0px;
		background: #5cb5f9;
	}

	.card-design-fiat {
		height: 15px;
		border-radius: 5px 5px 0px 0px;
		background: #00ffff;
	}

	.card-wrapper {
		display: flex;
		justify-content: space-between;
		padding: 1rem 1rem;
	}
}

.ant-tag-green {
	color: #b7eb8f;
	background: #1c661c;
	border-color: #b7eb8f;
}

.search-active {
	.ant-input-search-icon {
		color: white;
	}
}

.ant-tag:hover {
	opacity: 0.5;
}

.admin-billing {
	.ant-tabs-top > .ant-tabs-nav {
		margin: 0px !important;
	}

	.ant-tabs-ink-bar .ant-tabs-ink-bar-animated {
		width: 9rem !important;
	}

	.ant-tabs-tab-btn {
		font-size: 1.5rem !important;
		justify-content: center;
		padding: 0rem 3rem 0rem 2.5rem !important;
	}
}

.plan-structure-wrapper {
	margin: unset;

	.popular-header-basic {
		background-color: #c4c8ac;
		height: 15px;
	}

	.popular-header-crypto {
		background-color: #5cb5f9;
		color: #000;
		font-size: 10px;
		text-align: center;
		height: 15px;
	}

	.popular-header-fiat {
		background-color: #00ffff;
		height: 15px;
	}

	.header-container-basic {
		position: absolute;
		background-color: #c4c8ac;
		opacity: 0.1;
		height: 11rem;
		width: 22rem;
	}

	.header-container-crypto {
		position: absolute;
		background-color: #5cb5f9;
		opacity: 0.1;
		height: 11rem;
		width: 23.7rem;
	}

	.header-container-fiat {
		position: absolute;
		background-color: #00ffff;
		opacity: 0.1;
		height: 11rem;
		width: 23.7rem;
	}

	.header-container {
		background-repeat: no-repeat;
		background-position: center;
		background-size: 11rem;
		height: 11rem;
		top: 0px;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		z-index: -1;
	}
}

.app_container-content {
	.general-content-wrapper {
		.header-content {
			margin-top: 2rem;
		}

		.edit-wrapper__container {
			align-items: flex-start;
		}

		.description-header {
			font-size: 16px;
			font-weight: bold;
		}

		.cloud-plans {
			text-decoration: underline;
		}

		.description-content {
			font-size: 13px;
			margin-top: 6px;
		}

		.tab-border {
			.ant-tabs-ink-bar .ant-tabs-ink-bar-animated {
				width: 5rem !important;
			}

			.ant-tabs-content-holder {
				margin-top: 16px !important;
			}

			.ant-tabs-tab-btn {
				font-size: 15px !important;
				margin-left: 0px !important;
				padding: 0rem 0rem 0rem 0rem !important;
			}

			.ant-tabs-nav {
				border-bottom: 2px solid #a8a8b1;
				border-top: 2px solid #a8a8b1;
			}
		}
	}
}

.pay-button {
	display: flex;
	justify-content: flex-end;
	background-color: #171f6a;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
	padding: 0.25rem;
}

.ant-btn-round {
	height: 27px !important;
	width: 6rem !important;
	font-weight: bold;
	font-size: 13px !important;
}

.ant-btn-primary {
	background-color: #3a4fff !important;
	border-color: #3a4fff;
}

.ant-input-search {
	input {
		background: #1c661c;
	}
}

.ant-table-cell {
	padding: 1rem !important;
}

button:focus {
	outline: none;
}

.ant-modal {
	.ant-modal-body {
		padding: 0px;
	}

	.ant-breadcrumb {
		padding: 1.5rem;

		span {
			font-size: 20px;
			font-weight: bold;
			color: #a8a8b1;
			cursor: pointer;

			.breadcrumb-item-active {
				border-top: 5px solid #ffffff;
				color: #ffffff !important;
				padding-top: 15px;
			}
		}
	}

	.switch-wrapper {
		margin-bottom: 2rem;
		font-size: 11px;
		display: flex;
		justify-content: center;

		.ant-switch-handle::before {
			background-color: #3a4fff;
		}

		.switch-content {
			display: flex;
			flex-direction: column;
		}

		.ant-switch {
			min-width: 46px;
			height: 23px;
			background-color: #0e0e0f;
		}

		.ant-switch-loading-icon,
		.ant-switch::after {
			background-color: #3a4fff;
		}

		.label-inactive {
			color: #cccccc;
		}
	}

	.bg-model {
		background-color: #282d64;

		.box-container {
			width: 100%;
			display: flex;
			flex-direction: row;
			background-color: inherit;

			.opacity-plan-container {
				opacity: 0.3;
				margin-top: 3rem !important;
				margin-bottom: 2.2rem !important;
				height: 70rem !important;

				.plan-container-wrapper {
					margin-bottom: 0rem !important;
				}
			}

			.plan-container {
				flex-direction: column;
				justify-content: center;
				margin: 1rem 2rem 0rem 2rem;
				border: 1px solid #a8a8b1;
				height: 75rem;

				.plan-container-wrapper {
					margin-bottom: 5rem;
				}

				.type-center {
					text-align: center;
					padding-top: 1rem;
				}

				.text-center {
					margin-left: 22px;
					width: 20rem;
				}

				li {
					font-size: 11px;
				}

				h6 {
					font-size: 13px;
					color: #ffffff;
				}

				.inner-container {
					padding: 0rem 2rem 0rem 2rem;

					.plan-header {
						color: #ffffff;
					}
				}

				.radio-container {
					display: flex;
					justify-content: center;
					margin-top: 1rem;
					margin-bottom: 1rem;

					.selected-plan {
						border-radius: 20px;
						padding: 5px;
						border: 1px solid #2db300;
						background-color: #2db300;

						path {
							color: white;
						}
					}

					.circle-outline {
						padding: 1rem;
						border: 1px solid white;
						border-radius: 20px;
					}
				}

				.basic-amount-container {
					margin-top: 27rem !important;
				}

				.crypto-amount-container {
					margin-top: 13rem !important;
				}

				.fiat-amount-container,
				.crypto-amount-container,
				.basic-amount-container {
					margin-top: 3rem;
					display: flex;
					flex-direction: column;
					justify-content: center;
					margin-left: auto;
					margin-right: auto;
					border-top: 1px solid #a8a8b1;
					border-bottom: 1px solid #a8a8b1;
					width: 40%;

					div {
						padding-top: 1rem;
						padding-bottom: 1rem;
					}

					.dollor-size {
						font-size: 25px;
						padding-bottom: 0rem;
					}

					p {
						font-size: 9px;
						text-align: center;
					}
				}
			}
		}

		.content-wrapper {
			padding: 0px 20px 0px 20px;
		}

		.footer {
			margin-left: 4rem;
			font-size: 15px;
		}

		.success-msg {
			text-align: center;
			font-size: 16px;
			margin-top: 1rem;
			color: #00a451;
		}
	}

	.payment-button {
		width: 100%;
		display: flex;
		justify-content: space-around;
		padding: 1rem 1rem 2.5rem 1rem;
		margin-top: 3rem;

		button {
			width: 47%;
			background-color: #3a4fff !important;
			height: 44px;
		}
	}

	.subscription-container {
		display: flex;
		width: 90%;
		border: 1px solid #75809b;
		padding: 1rem 0rem 1rem 0rem;
		margin: 0.5rem 0rem 0rem 2rem;

		.plan-card {
			display: flex;
			width: 45%;
		}

		.payment-container {
			width: 35%;
			padding: 0rem 1rem 0rem 2rem !important;
		}

		p {
			font-size: 13px;
		}

		h6 {
			color: #ffffff;
			font-size: 11px;
		}

		.exchange-text {
			border-right: 1px dashed #a8a8b1;
			border-left: 1px dashed #a8a8b1;
			padding: 0rem 1rem 0rem 1rem !important;
			display: flex;
			flex-direction: column;
			justify-content: center;

			span {
				display: flex;
				justify-content: center;
			}

			.cloud-icon {
				margin-top: 0rem;

				svg {
					width: 2.25rem;
					height: 3.5rem;
				}
			}

			.cloud-icon path {
				fill: #ffffff;
			}
		}

		.exchange-name {
			border-radius: 1rem;
			background-color: #a8a8b1;
			width: 2rem;
			height: 2rem;
		}

		.cloud-background {
			position: absolute;
		}

		.cloud-icon {
			position: relative;
			margin-left: 0.5rem;
			margin-top: 1rem;
		}

		div {
			padding: 0rem 2rem 0rem 1rem;
		}

		.f-16 {
			font-size: 16px;
			font-weight: bold;
		}

		.f-20 {
			font-size: 20px;
		}
	}

	.subscription-container div {
		padding: 0px 8px 0px 5px !important;
	}

	.ant-radio-wrapper {
		span {
			color: #a8a8b1;
			font-size: 13px;
		}
	}

	.ant-radio-inner::after {
		background-color: black;
	}

	.radiobtn-container {
		padding: 2rem;

		p {
			font-size: 16px;
			letter-spacing: 0.37px;
			color: #ffffff;
		}

		.ant-radio-disabled .ant-radio-inner {
			opacity: 0.3;
		}

		.danger {
			color: #f83e18 !important;
		}

		.fire-icon {
			width: 0.75rem;
		}

		.get-coins {
			font-size: 13px;
			color: #a8a8b1;
		}

		.get-coin-here {
			margin-left: 2px;
			text-decoration: underline;
			color: #ffffff;
		}
	}

	.coin-wrapper {
		margin-left: 2rem;
		margin-top: 0rem !important;
		padding-bottom: 0rem !important;
		border-bottom: 0rem !important;
	}

	.button-container button {
		margin-right: 20px;
		height: 44px;
	}
}

.ant-radio-wrapper-checked span {
	color: #ffffff !important;
}

.ant-modal .bg-model .box-container .plan-container li {
	font-size: 12px !important;
}

.selected-status {
	color: #178700;
	font-weight: bold;
	margin: 0rem 1rem 0rem 1rem;
}

.de-select-status-txt {
	color: #545454;
}

.ant-modal
	.bg-model
	.box-container
	.plan-container
	.radio-container
	.selected-plan {
	margin-left: 2.5rem;
}

.requirement-icon {
	margin: 0.25rem 0rem;
	width: 2rem;
}

.de-select-status {
	border-radius: 50%;
	border: 1px solid #a8a8b1;
	height: 2rem;
	width: 2rem;
	cursor: pointer;
	margin-left: 0.75rem;
}

.payment-content-wrapper {
	padding: 0rem 0rem 1.5rem 1.5rem;
}

.cloud-plan-wrapper {
	background-color: #27339d;
	border-top: 2px dotted #75809b;
	position: relative;
	top: 0.5rem;

	.cloud-content {
		padding: 2.5rem;
	}

	.cloud-background {
		position: absolute;
	}

	.cloud-icon {
		position: relative;
		margin-left: 0.5rem;
		margin-top: 1rem;
	}

	.cloud-box-container {
		padding: 1rem;
		justify-content: space-around;
		background-color: #27339d;
		border: 1px solid #75809b;
		height: 8rem;

		.sub-title {
			white-space: nowrap;
			font-size: 16px;
			font-weight: bold;
			margin-right: 5px;
		}

		.cloud-icon,
		.exchange-icon {
			width: 40px;
			margin-right: 15px;
		}

		.content-align {
			justify-content: center;
			align-items: center;
			// padding: 0 0.5rem;
			font-weight: bold;
			font-size: 16px;
			margin-left: 3rem;
		}

		.month-content {
			margin-right: 2rem;
			// justify-content: center;
			align-items: center;
			font-size: 16px;
			font-weight: bold;
			// font-weight: bold;
			// font-size: 16px;
		}

		.seperator {
			border-right: 1px dashed #a8a8b1;
			border-left: 1px dashed #a8a8b1;
			padding: 1rem;
		}
	}

	.button-container {
		padding: 0.5rem 1rem;

		.ant-btn {
			height: 45px;
			width: 27rem;
			margin-left: 1rem;
		}
	}

	.payment-header {
		font-size: 16px;
		font-weight: bold;
		color: #ffffff;
		margin-top: 1rem;
	}
}

.horizantal-line {
	border-top: 2px dotted #c4c4c4;

	.plan-header {
		color: #ffffff;
		font-size: 16px;
		margin: 2rem 0rem 0rem 2rem;
	}
}

.crypto-payment-container {
	padding: 1rem 2rem;

	h5 {
		font-weight: bold;
		color: #ffffff;
		font-size: 13px;
	}

	.payment-type-dropdown {
		margin-bottom: 1rem;

		.ant-select {
			width: 40%;
		}

		.ant-select-arrow {
			color: #ffffff;
		}
	}

	.payment-details {
		border: 1px solid white;
		padding: 1rem;

		span {
			display: flex;
			align-items: center;
		}

		h5 {
			padding-right: 5px;
		}

		button {
			span {
				font-weight: bold;
				font-size: 13px;
				color: #ffffff;
			}
		}
	}

	.qr-container {
		.qr-text-container {
			border: 1px solid white;
			padding: 1rem;
			display: flex;
			background: #101a78 !important;

			.qr-code-wrapper {
				display: flex;
			}

			.info-container {
				display: flex;
				padding: 1rem;
				color: red;
				font-weight: bold;
				font-size: 14px;
				width: 75%;

				p {
					padding-left: 2px;
					padding-top: 0px !important;
				}
			}

			.ant-btn {
				color: #ffffff !important;
				background: #101a78 !important;
			}

			.ant-input {
				background-color: #000 !important;
				color: #ffffff !important;
			}
		}

		.scanner-container {
			width: 9rem;
			// background: black;

			canvas {
				display: flex;
				justify-content: center;
				align-items: center;
				border: 1px solid #ffffff;
			}

			div {
				// font-size: 12px;
				font-size: 11px;
				margin-top: 1rem;
			}
		}

		p {
			padding-top: 1rem;
		}
	}
}
