@import '../../variables';

.app_bar {
  position: relative;
  width: 100%;
  height: $navigation_bar-height;
  border-bottom: 1px solid $border-color;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;

  > div {
    display: flex;
    align-items: center;
    padding: 0 8px;

    &:not(:first-child) {
      border-left: 1px solid $border-color;
    }
  }

  .app_bar-icon, .app_bar-controllers {
    flex: 0;
  }

  .app_bar-icon {
    width: 100%;
    color: white;
    background: $colors-main-black;
  }

  .app_bar-main {
    flex-grow: 1;
  }

  .app_bar-currency {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0;

    &:after {
      content: '';
      width: 1px;
      height: calc(100% - 8px);
      background-color: $colors-main-black;
      right: -1px;
      position: absolute;
    }
  }

  .app_bar-currency, .app_bar-user {
    height: $navigation_bar-height;
    > img {
      height: 100%;
      padding: 4px;
      &.active {
        background-color: $colors-main-black;
      }
    }
  }

  .app_bar-controllers {
    min-width: $sidebar-width;
    max-width: $sidebar-width;
    display: flex;
    justify-content: space-between;
    padding: 0;

    > div {
      // padding: 0 8px;
    }
  }
}
