.notification-wrapper {
  min-width: 30rem;
  max-width: 30rem;

  .notification-title-wrapper {
    height: 15rem;
    padding: 0.5rem;
    border-bottom: 1px solid $colors-main-black;

    .notification-title-icon {
      max-height: 10rem;
    }

    .notification-title-text {
      flex: 0;
      text-align: center;
    }
  }
  .notification-content-wrapper {
    position: relative;
    font-size: 0.8rem;

    .notification-content-header {
      position: relative;
    }
  }
  .notification-buttons-wrapper {
    .button-fiat {
      background-color: $colors-currencies-fiat;
    }
  }
}
