.Roles-wrapper {
    margin: 2rem;
    width: 100%;
}
.Roles-wrapper .ant-btn {
    background-color: #288500;
    color: #FFFFFF;
}
.role-icon {
    width: 40px;
}
.role-align {
    position: relative;
    left: 1rem;
    bottom: 0.4rem;
}
.sub-title-align {
    position: relative;
    left: 5rem;
}
.Roles-wrapper .link {
	color: #ffffff;
	text-decoration: underline;
	cursor: pointer;
}
.points-align {
    margin: 25px 0px;
}
.Roles-wrapper .table-wrapper {
    margin-top: 5rem;
}
.table-wrapper .ant-table-cell {
    width: 40%;
}
.role-modal-wrapper h3 {
    font-weight: bold;
    margin-bottom: 2rem;
}
.role-modal-wrapper .modal-icons {
    width: 50px;
    height: 50px;
    margin: 2rem;
}
.role-modal-wrapper .role-label {
    font-size: 20px;
    font-weight: bold;
}
.border-bottom {
    border-bottom: 1px solid #c4c4c4;
}
.edit-role-icon {
    width: 30px;
}
.role-type-container {
    border: 1px solid #c4c4c4;
}
.role-modal-wrapper .mini-btn
{
    width: 150px !important;
    height: 35px;
}
.role-modal-wrapper .divider {
    border-top: 1px solid #c4c4c4;
    margin: 2rem 0;
    width: 100%;
}
.revoke-role-btn .ant-btn {
    background-color: #f28041;
    color: #FFFFFF;
    width: 150px;
    height: 35px;
}
