.admin-roles-wrapper .role-icon {
	width: 5rem;
}
.admin-roles-wrapper .admin-link {
	text-decoration: underline;
	cursor: pointer;
}
.role-type-container {
	border: 1px solid #c4c4c4;
}
.admin-roles-wrapper .revoke-btn {
	background-color: #f28041;
	color: #ffffff;
}
.admin-roles-wrapper .line-separator {
	background-color: #c4c4c4;
	width: 1px;
}
.admin-roles-wrapper .role-description-box {
	border-bottom: 1px solid #c4c4c4;
	height: 135px;
	position: relative;
}
.admin-roles-wrapper .role-label {
	font-size: 20px;
	font-weight: bold;
}
.admin-roles-wrapper .role-supervisor {
	background-color: #000000;
}
.admin-roles-wrapper .role-kyc {
	background-color: #dadada;
	color: #000000;
}
.admin-roles-wrapper .role-communication {
	background-color: #e66b00;
	color: #000000;
}
.admin-roles-wrapper .role-support {
	background-color: #ffff00;
	color: #000000;
}
.edit-role-icon {
	width: 3rem;
}
.admin-roles-wrapper .divider {
	border-top: 1px solid #c4c4c4;
	margin: 2rem 0;
	width: 100%;
}
.admin-roles-wrapper h1,
.admin-roles-wrapper h3 {
	color: #ffffff;
}
.admin-roles-wrapper .table-wrapper .ant-table-thead > tr > th {
	background-color: #4e4efb;
	color: #ffffff;
}
.admin-roles-wrapper .table-wrapper .ant-table-tbody > tr > td {
	background-color: #0000d1;
	color: #ffffff;
	border-bottom: 1px solid #0000d1;
}
.admin-roles-wrapper
	.table-wrapper
	.ant-table-tbody
	> tr.ant-table-placeholder:hover
	> td {
	background-color: #0000ff;
}
.admin-roles-wrapper
	.table-wrapper
	.ant-table-tbody
	> tr.ant-table-row:hover
	> td {
	background-color: #0000ff;
}
.admin-roles-wrapper
	.table-wrapper
	.ant-empty
	.ant-empty-image
	.ant-empty-img-simple-ellipse,
.admin-roles-wrapper
	.table-wrapper
	.ant-empty
	.ant-empty-image
	.ant-empty-img-simple-path {
	fill: #7d9ac9;
}
.admin-roles-wrapper
	.table-wrapper
	.ant-empty
	.ant-empty-image
	.ant-empty-img-simple-g {
	stroke: #7d9ac9;
}
.admin-roles-wrapper .table-wrapper .ant-empty .ant-empty-description {
	color: #ffffff;
}
.admin-roles-wrapper .ant-table-pagination.ant-pagination {
	margin: 16px 0;
	background: #ffffff;
	border-radius: 50px;
	padding: 15px;
}
.admin-roles-wrapper .ant-pagination-item-active,
.admin-roles-wrapper .ant-pagination-item-active:focus,
.admin-roles-wrapper .ant-pagination-item-active:hover {
	border-color: #288500 !important;
}

.admin-roles-wrapper .sub-title {
	color: #ffffff;
}
.admin-roles-wrapper .ant-form .ant-select .ant-select-selector {
	height: 30px;
	padding: 3px 8px;
}
.admin-roles-wrapper .ant-input:focus,
.ant-input:active {
	border: 1px solid #c4c4c4;
}
.admin-roles-wrapper .ant-form-item {
	margin: 0;
}
.admin-roles-wrapper .disable-area {
	opacity: 0.4;
	pointer-events: none;
}
.admin-roles-wrapper .disable-area::before {
	content: ' ';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.upgrade-section {
	background-color: #3333ff;
	color: #ffffff;
	padding: 20px;
}
.upgrade-section .button-wrapper .ant-btn {
	background-color: #e97c00;
	color: #ffffff;
	font-size: 14px !important;
}
.admin-roles-wrapper .role-description-box .upgrade-text {
	position: absolute;
	z-index: 100;
	color: #ffffff;
	top: 55px;
	left: 12px;
}
