$summary--black: #000000;
$summary-icon-color-inactive: #808184;

.dark-theme {
    .summary-container {
        color: $dark-font-sub-text-color;

        .trade-account-link {
            color: $dark-link;
        }

        .summary-block_wrapper {
            border-top: .2rem solid $dark-font-main-text-color;

            .summary-block-title {
                color: $dark-font-main-text-color;
            }
        }

        .requirement-wrapper {
            .requirement-doc-icon {
                svg {
                    .verification-doc {
                        fill: $dark-font-main-text-color;
                    }
                }
            }
        }

        .account-details-wrapper {
            .account-type-menu {
                color: $dark-link
            }

            .account-type-menu-active {
                border-top: 2px solid $dark-font-main-text-color;
                border-bottom: 1.5px solid $dark-font-main-text-color;
                color: $dark-font-main-text-color;
            }

            .accounnt-type-menu-last-active {
                border-bottom: none !important;
            }

            .requirement-header {
                border-bottom: 1px solid $dark-font-main-text-color;
                color: $dark-font-main-text-color;
            }
        }

        .assets-wrapper {
            .asset-changes {
                background-color: $dark-link;
            }
            .price-text {
                color: $dark-font-main-text-color;
            }
        }
    }

    .fee-limits-wrapper {
        .fee-limits-link {
            color: $dark-link;
        }

        table {
            border-collapse: collapse;
        }

        td {
            border: 1px solid $dark-font-sub-text-color;
        }

        .account-limits-coin {
            border-bottom: 2px solid $dark-font-sub-text-color;
        }

        .account-limits-content {
            border: 2px solid $dark-font-sub-text-color;
        }

        .account-limits-maker {
            border-left: 2px solid $dark-font-sub-text-color;
            border-right: 2px solid $dark-font-sub-text-color;
            border-top: 2px solid $dark-font-sub-text-color;
        }
        
        .account-limits-taker {
            border-bottom: 2px solid $dark-font-sub-text-color;
            border-left: 2px solid $dark-font-sub-text-color;
            border-right: 2px solid $dark-font-sub-text-color;
        }
    }
}

.summary-container {
    color: $colors-deactivate-color2;
    height: inherit;
    max-width: 100%;
    margin: 1rem auto;
    width: 75rem;

    .summary-block_wrapper {
        border-top: .2rem solid $summary--black;
        // margin: 0 .5rem;
        padding: .5rem;
        
        .summary-block-title {
            color: $summary--black;
            font-size: 1rem;
            font-weight: bold;
        }

        .summary-title-icon {
            width: 2rem;
        }
    }

    .summary-content-txt {
        font-size: $font-size-subtext;
    }

    .trader-account-wrapper {
        margin-right: 1.5rem;
        width: 25rem;
    
        .trade-account-secondary-txt {
            margin: auto 0;
            width: 55%;
        }
    }

    .trader-account-icon {
        width: 7rem;
        margin: 1rem 1rem .5rem 0;
    }
    
    .trade-account-link {
        color: $colors-notifications-blue;
        font-weight: bold;
    }

    .summary-section_1 {
        height: 15rem;
    }

    .summary-section_2 {
        height: 40rem;
    }

    .requirements-content-text {
        margin: auto 0;
    }

    .requirements-content {
        width: 11rem;
    }

    .requirement-verified {
        color: $colors-notifications-green;
    }

    .requirement-not-verified {
        color: $colors-notifications-red;
    }

    .requirement-incomplete {
        color: $colors-deactivate-color2;
    }

    .requirement-wrapper {
        width: 50rem;

        .requirement-doc-icon {
            width: 6rem;
            margin: 1rem 1rem .5rem 0;

            svg {
                .verification-doc {
                    fill: $colors-deactivate-color2;
                }
            }
        }

    }

    .requirement-stauts {
        width: 1rem;
    }

    .requirement-status-warning {
        height: 1rem;
        width: 1rem;
        border-radius: 1.5rem;
        background-color: red;
        color: white;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center;
        font-size: $font-size-subtext;
        line-height: 1;
        font-weight: bold;
    }

    .assets-wrapper {
        font-size: .8rem;
        margin-right: 1.5rem;
        width: 25rem;

        .assets-description {
            width: 86%;
        }

        .donut-container {
            height: 23rem;
        }

        .price-content {
            width: 10rem;
        }

        .price-text {
            color: $summary--black;
            font-weight: bold;
        }

        .total-assets {
            background: repeating-linear-gradient(-45deg, #fff, #fff 2px, #cccbcb 2px, #cccbcb 4px);
            font-size: 1.2rem;
            font-weight: bold;
            padding: .5rem;
            color: $summary--black;
        }

        .asset-changes {
            background-color: $colors-notifications-blue;
        }

        .coin-price {
            height: 3.5rem;
            margin: auto;
            width: 3rem;

            svg {
                .btc0, .btc1 {
                    fill: $colors-currencies-btc;
                }
                .eth0, .eth1 {
                    fill: $colors-currencies-eth;
                }
                .bch-icon {
                    fill: #9ec51e;
                }
            }
        }
    }

    .trading-volume-wrapper {
        width: 50rem;
    }

    .account-details-wrapper {

        .account-type-container {
            width: 30%;
        }

        .mobile-account-type {
            width: 80%
        }

        .account-type-icon {
            width: 4rem;
        }

        .account-type-menu {
            border-top: 1px solid $colors-deactivate;
            color: $colors-notifications-blue;
            cursor: pointer;
            font-weight: bold;
            padding: .5rem 0;
            text-transform: uppercase;
        }

        .account-type-menu-active {
            border-top: 2px solid $summary--black;
            border-bottom: 1px solid $summary--black;
            color: $summary--black;
            font-size: 1rem;
            text-transform: capitalize;
        }

        .accounnt-type-menu-last-active {
            border-bottom: none !important;
        }

        .account-current {
            color: $colors-deactivate-color2;
            text-transform: lowercase;
        }

        .requirement-header {
            border-bottom: 1px solid $summary--black;
            color: $summary--black;
            font-weight: bold;
        }

        .status-header {
            width: 6rem;
        }
    }

}

.fee-limits-wrapper {
    width: 36rem;

    .fee-limits-link {
        color: $colors-notifications-blue;
        cursor: pointer;
        font-weight: bold;
    }

    .content-txt {
        font-size: $font-size-subtext;
    }

    .content-title {
        font-size: $font-size-main;
        font-weight: bold;
        margin: 1.5rem 0;
    }

    .icon_title-wrapper {
        .icon_title-text.title {
            font-size: 2rem;
        }
    }

    table {
        border-collapse: collapse;
    }

    td {
        border: 1px solid $summary--black;
    }

    .account-limits {
        margin: 1rem 0;
        width: 100%;
    }

    .account-limits-content {
        border: 2px solid $summary--black;
    }

    .account-limits-maker {
        border-left: 2px solid $summary--black;
        border-right: 2px solid $summary--black;
        border-top: 2px solid $summary--black;
    }
    
    .account-limits-taker {
        border-bottom: 2px solid $summary--black;
        border-left: 2px solid $summary--black;
        border-right: 2px solid $summary--black;
    }

    .account-limits-coin {
        border-bottom: 2px solid $summary--black;
        padding: .25rem .5rem;
        width: 14rem;
    }

    .account-limits-status {
        width: 6rem;
        padding: .25rem .5rem;
    }

    .account-limits-value {
        padding: .25rem 1rem;
    }

    .limit-head-currency {
        font-weight: normal !important;
        padding: .25rem .5rem .25rem 3rem;
    }

    .limit-head {
        font-weight: normal !important;
        padding: .25rem 1rem;
    }
}
