@import '../../mixins';
@import '../../variables';

$small-size: 1.5rem;
$small-font: 0.6rem;
$medium-modifier: 1.5;
$large-modifier: 2.25;

.currency_ball-wrapper {
	font-family: $raleway-medium--font-family !important;
	text-transform: uppercase;
	border-radius: 50%;
	color: white;
	font-weight: bold;

	&.btc {
		background-color: $colors-currencies-btc;
	}

	&.fiat {
		background-color: $colors-currencies-fiat;
	}

	&.bch {
		background-color: $colors-currencies-bch;
	}

	&.eth {
		background-color: $colors-currencies-eth;
	}

	&.ltc {
		background-color: $colors-currencies-ltc;
	}

	&.s {
		font-size: $small-font;
		@include size($small-size);
	}

	&.m {
		font-size: $small-font * $medium-modifier;
		@include size($small-size * $medium-modifier);
	}

	&.l {
		font-size: $small-font * $large-modifier;
		@include size($small-size * $large-modifier);
	}
}

.with_price-block_amount {
	margin: 2rem 0;
	font-size: $font-size-headline;
	line-height: $font-size-headline;

	.with_price-block_amount-value {
		margin-left: 0.5rem;
	}
	.with_price-block_amount-value-fiat {
		color: $colors-deactivate-color2;
		font-size: $font-size-subhead2;
		line-height: $font-size-subhead2;
	}
}

.direction_ltr {
	.with_price-block_amount {
		justify-content: flex-start;
	}
}

.direction_rtl {
	.with_price-block_amount {
		justify-content: flex-end;
	}
}
