$crypto-address--padding: 0.25rem;
$arrow-size: 4px;
$arrow-color: $colors-black;
$content--margin: 2rem;

.review-wrapper {
	.review-icon {
		@include size(8rem);
		margin: 0 auto;
		svg {
			@include size(8rem);
		}
	}

	.review-info_container {
		margin: $content--margin;
	}

	.review-crypto-amount {
		font-size: $font-size-subhead2;
		border-bottom: 1px solid $colors-main-black;
		text-align: center;
		.review-fee_message {
			font-size: $font-size-main;
		}
	}

	.review-warning_arrow {
		position: relative;
		width: 1px;
		height: 3rem;
		background-color: $arrow-color;
		&:after {
			content: '';
			position: absolute;
			height: 0;
			width: 0;
			bottom: 0;
			left: calc(50% - #{$arrow-size});
			border-left: $arrow-size solid transparent;
			border-right: $arrow-size solid transparent;
			border-top: $arrow-size * 2 solid $arrow-color;
		}
	}

	.review-crypto-address {
		font-size: $font-size-subhead2;
		border: 1px solid $colors-deactivate-color2;
		padding: $crypto-address--padding $crypto-address--padding * 4;
	}

	.review-info_message {
		padding: 0.5rem;
		font-size: $font-size-subtext;
		font-weight: bold;
	}

	.button-separator {
		width: 2rem;
	}
}

.bank_account-information-wrapper {
	margin: $content--margin 0;
}

.withdrawal-container {
	.icon_title-wrapper {
		flex-direction: row;
		justify-content: flex-start;
	}
	.withdraw-form-wrapper {
		.withdraw-form {
			border-radius: 4px;
			margin: 0 0 40px;
			background-color: $app-sidebar-background;
			padding: 30px;
		}
		.btn-wrapper {
			display: flex;
			justify-content: center;
			align-items: center;
			.holla-button {
				width: 300px;
			}
		}
	}
}

.layout-mobile {
	.review-wrapper {
		min-width: 0;
		margin: auto;
	}
	.presentation_container {
		.action_notification-svg {
			svg {
				width: 1.5rem !important;
				height: 1.5rem !important;
			}
		}
		.inner_container {
			.result-message {
				font-size: $regular--font-size;
			}
			.deposit_info-wrapper {
				.deposit_info-crypto-wrapper {
					width: 100%;
					.field-label {
						font-size: $title--font-size;
					}
					.field-children {
						.custom {
							font-size: $extra-thick--font-size;
						}
					}
				}
			}
			.qr_code-wrapper {
				width: 24rem;
				max-width: 24rem;
				.qr-code-bg > *:first-child {
					width: 24rem !important;
					height: 24rem !important;
				}
				.qr-text {
					font-size: $font-size-mobile-innertxt !important;
				}
			}
			.information_block {
				.information_block-text_wrapper {
					.title {
						font-size: $font-size-mobile-title;
					}
					.text {
						font-size: $font-size-mobile-txt !important;
					}
				}
			}
			.field-label,
			.field-children,
			.input_field-input {
				font-size: $font-size-mobile-txt !important;
			}
			.field-error-content {
				font-size: $regular--font-size;
			}

			.action_notification-wrapper {
				.action_notification-text {
					font-size: $regular--font-size;
				}
			}
			.holla-button {
				font-size: $font-size-mobile-txt !important;
			}
		}
	}
	.review_email-wrapper {
		margin: 0px auto !important;
	}

	.withdrawal-container {
		.withdraw-form-wrapper {
			.withdraw-form {
				.field-wrapper {
					.field-label-wrapper {
						flex-direction: column;
					}
				}
			}
		}
	}
}

.review_email-wrapper {
	margin: auto;

	.review_email-content {
		border-top: 1px solid;
		padding: 1rem;
	}
}

@media screen and (max-width: 1096px) {
	.withdrawal-container {
		.withdraw-form-wrapper {
			.withdraw-form {
				.field-wrapper {
					.field-label {
						font-size: $font-size-mobile-innertxt;
					}
					.input-box-field {
						.input_field-input {
							&::placeholder {
								font-size: $font-size-mobile-innertxt;
							}
						}
					}
				}
			}
			.btn-wrapper {
				.holla-button {
					width: 200px;
				}
			}
		}
	}
}
