$dropdown-menu--max-height: 10rem;
$dropdown-menu-date--max-height: 15rem;
$dropdown-menu--border-radius: 0.25rem;

$dropdown-option--height: 1rem;
$dropdown-option--padding: 0.25rem;

.dropdown-content {
	.dropdown-option {
		padding: 0;
	}
	&.disabled {
		cursor: not-allowed;
		color: $colors-deactivate;
	}
}

.disabled {
	.field-children {
		color: $colors-deactivate;
		.dropdown-triangle:after {
			border: none;
		}
	}
}

.dropdown-options-wrapper {
	position: absolute;
	top: 100%;
	width: 100%;
	background: $app-background-color;
	z-index: 10000;
	max-height: $dropdown-menu--max-height;
	overflow-y: auto;
	border: 1px solid $colors-border;
	border-bottom-right-radius: $dropdown-menu--border-radius;
	border-bottom-left-radius: $dropdown-menu--border-radius;
	border-top: 0;
	&.dropdown-date {
		max-height: $dropdown-menu-date--max-height;
	}
}

.dropdown-option {
	// padding: $dropdown-option--padding;
	padding: 0.25rem 1rem;
	display: flex;
	align-items: center;
	> .icon {
		max-height: $dropdown-option--height;
	}
	.option-icon {
		width: 0.8rem;
	}
}

.direction_ltr {
	.dropdown-options-wrapper {
		left: 0;
	}

	.dropdown-option {
		> .icon {
			margin-right: $dropdown-option--padding;
		}
	}
}
.direction_rtl {
	.dropdown-options-wrapper {
		right: 0;
	}

	.dropdown-option {
		> .icon {
			margin-left: $dropdown-option--padding;
		}
	}
}

.layout-mobile {
	.dropdown-option {
		> .icon {
			max-height: 1.8rem;
		}
		.option-icon {
			width: 1.8rem;
		}
	}
}
