@import './DropdownField.scss';
@import './FieldWrapper.scss';

$toggle-size: 14px;
$toggle-border: 2px;
$toggle-margin: 2px;
$placeholder--padding: 0.25rem;
$placeholder--font-size: 0.9rem;
$placeholder--font-weight: bold;

.input_icon {
	margin-right: 0.25rem;
	width: 1.2rem;
}

.custom-field-width {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 50%;
}

.input_field-input {
	width: 100%;
	position: relative;
	background: transparent;
	border: none !important;
	line-height: 1rem;

	&:focus {
		outline: none;
	}

	&::placeholder {
		color: $form-color-placeholder !important;
	}
	&:disabled {
		cursor: not-allowed;
	}
}

.dropdown-triangle:after {
	content: '';
	height: 0;
	width: 0;
	border-bottom: 0.25rem solid $form-arrow;
	border-top: 0.25rem solid transparent;
	position: absolute;
	bottom: 0.35rem;
}

.datefield-wrapper {
	position: relative;
	.field-children:last-child {
		.year .field-content,
		.month .field-content,
		.day .field-content {
			border: 1px solid $colors-main-border;
			background-color: $app-sidebar-background;
			padding: 6px 0;
		}
	}

	.datefield-input {
		// visibility: hidden;
	}

	.datefield-values-wrapper {
		display: flex;
		> * {
			flex: 1;
		}
		.datefield-toggle {
			&.fa {
				min-width: 10rem;
			}
			&.en {
				flex: 0;
				min-width: 4rem;
			}
		}
	}

	.SingleDatePicker {
		position: absolute;
	}

	.SingleDatePickerInput {
		display: none;
	}

	.datefield-farsi_picker {
		#farsiDatePicker {
			display: none;
		}
	}
}

.direction_ltr {
	.datefield-wrapper {
		.datefield-values-wrapper {
			padding-right: $placeholder--padding !important;

			> * {
				&:not(:last-child) {
					margin-right: 1rem;
				}
			}
			.dropdown-triangle::after {
    			bottom: 0 !important;
			}
		}
	}
}

.direction_rtl {
	.datefield-wrapper {
		.datefield-values-wrapper {
			padding-left: $placeholder--padding !important;

			> * {
				&:not(:last-child) {
					margin-left: 1rem;
				}
			}
		}
	}
}

.input_file {
}

.placeholder {
	font-size: $placeholder--font-size;
	font-weight: $placeholder--font-weight;
	color: $form-color-placeholder;
}

.no_bottom {
	bottom: 0;
}

.file_wrapper,
.multiple_file_wrapper {
	display: flex;
	justify-content: space-between;
	padding-right: 0 !important;

	> .action_notification-wrapper {
		position: relative;
		top: 0 !important;
	}
	.paper-clip-icon{
		.action_notification-svg {
			background-color: $link;
			width: 1.2rem;
			height: 1.2rem;
			border-radius: 50%;
			display: flex;
    		margin-left: 5px;
			svg {
				width: 0.8rem !important;
				height: 0.8rem !important;
			}
		}
	}
}

.multiple_file_wrapper {
	display: unset;
}

.checkfield-wrapper {
	margin: 1rem 0;
	.checkfield-label {
		padding: 0 0.25rem;
		margin-bottom: 0;
		margin-left: 0.25rem;
		vertical-align: middle;
		display: flex;
		// justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
	.checkfield-input {
		margin-top: 2px;
	}
}

.toggle_button-wrapper {
	.toggle-content {
		padding: 0 1rem;
		text-transform: uppercase;
		padding: 0 0.5rem;
		font-size: $font-size-subtext;
		color: $colors-deactivate-color2;
		height: $toggle-size + $toggle-border * 2 + $toggle-margin * 2;
		font-family: $raleway-medium--font-family;

		.selected {
			font-family: $raleway-extrabold--font-family;
			font-weight: bold;
			color: $colors-main-black;
		}

		.toggle-action_button {
			border: $toggle-border solid $colors-main-border;
			height: 100%;
			width: $toggle-size * 3;
			border-radius: $toggle-size;
			margin: 0 0.5rem;
			display: flex;
			align-items: center;
			position: relative;
			cursor: pointer;

			&.left .toggle-action_button-display {
				$right-pos: $toggle-size + $toggle-margin * 2;
				right: calc(100% - #{$right-pos});
			}
			&.right .toggle-action_button-display {
				right: 0;
			}

			.toggle-action_button-display {
				position: absolute;
				transition: 0.5s;
				background: $colors-main-black;
				height: $toggle-size;
				width: $toggle-size;
				border-radius: 50%;
				margin: $toggle-margin;
				top: 0;
			}
		}
	}

	.toggle-side_line {
		position: relative;
		&::after {
			content: '';
			height: 1px;
			width: 100%;
			position: absolute;
			background-color: $colors-main-border;
			left: 0;
			right: 0;
			top: 50%;
		}
	}
}

.direction_ltr {
	.dropdown-triangle:after {
		border-right: 0.25rem solid $form-arrow;
		border-left: 0.25rem solid transparent;
		right: 3px;
	}

	.placeholder {
		padding-right: $placeholder--padding * 2;
	}
}

.direction_rtl {
	.dropdown-triangle:after {
		border-right: 0.25rem solid transparent;
		border-left: 0.25rem solid $form-arrow;
		left: 0px;
	}

	.placeholder {
		padding-left: $placeholder--padding * 2;
	}

	.toggle_button-wrapper {
		.toggle-content {
			font-family: inherit;
			.selected {
				font-family: inherit;
			}
		}
	}
}

.toggle-disabled {
	cursor: not-allowed;
	opacity: 0.35;
}
