.mobile-drop-down {
	background: unset;
	top: 3.5rem;
	border: none;
	outline: none !important;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	text-indent: 1px;
	text-overflow: '';
	color: $dark-sell;
	font-size: 2rem;
	font-weight: bold;
}