
.market-list__container {

  .market-list__block {

    .market-list__icons {
      width: 2.8rem;
      margin: .3rem .3rem 0 .3rem;
    }

    .market-list__block-table {
      width: 100%;
      font-size: $font-size-subtext;
      margin-bottom: 3rem;

      thead {
        & tr {
          height: 3.5rem;
          vertical-align: bottom;
        }
      }

      .table-row {
        height: 2.5rem;
      }

      .table-bottom-border td,
      th {
        position: relative;
        border-bottom: 1px solid $border-main;
        padding: 0 0.25rem;
      }

      .td-fit {
        width: 1%;
        white-space: nowrap;
      }

      .td-name {
        min-width: 200px !important;
      }
      .table-icon {
        & > div {
          vertical-align: middle;
          margin: auto;
        }
      }
      .td-amount {
        min-width: 150px !important;
        direction: ltr;
      }
    }
  }
}

.direction_ltr {
  .market-list__container {

    .market-list__block {
      .market-list__block-table {
        th {
          font-family: $raleway--font-family;
        }
        th,
        td {
          text-align: left;
        }
        .align-opposite {
          text-align: right;
        }
        .table-icon {
          padding-right: 0.5rem;
        }
      }
    }
  }
}

.direction_rtl {
  .market-list__container {
    .market-list__block {
      .market-list__block-table {
        th,
        td {
          text-align: right;
        }
        .align-opposite {
          text-align: left;
        }
        .table-icon {
          padding-left: 0.5rem;
        }
      }
    }
  }
}

.dark-theme {

  .market-list__container {

    .market-list__block {
      color: $dark-font-main-text-color !important;
      .market-list__block-table {
        tbody, tfoot {
          color: $dark-font-sub-text-color;
        }
        .table-bottom-border td,
        th {
          border-bottom-color: $dark-border-main;
        }
      }
    }
  }
}
