.confirm-change-pwd-wrapper
	.auth-wrapper
	.mdc-button--raised:not(:disabled):not(.mdc-ripple-upgraded),
.mdc-button--unelevated:not(:disabled):not(.mdc-ripple-upgraded) {
	margin-top: 2rem !important;
}
