$mobile-notification-size: 1.75rem;

.mobile-bar {
	width: 100%;
	min-width: 100vw;
	max-width: 100vw;
	min-height: $navigation_bar-mobile--height;
	max-height: $navigation_bar-mobile--height;
	background-color: $navigation_bar-mobile--background;
	color: $base_top-bar-navigation_text_inactive;
}

.mobile-bar-tab {
	font-size: 2rem;
	font-weight: bold;
	&.active {
		position: relative;
		color: $base_top-bar-navigation_text;
		&:after {
			content: '';
			bottom: 0;
			@include css-triangle($app-background-color, 'up', 1rem);
		}
	}

	.bartab-text-wrapper {
		position: relative;
		.bartab-notification {
			position: absolute;
			right: -$mobile-notification-size;
			top: 0;
			height: $mobile-notification-size;
			width: $mobile-notification-size;
			border-radius: $mobile-notification-size;
			background-color: red;
			color: white;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: $mobile-notification-size * 0.75;
			line-height: 1;
			font-weight: bold;
		}
	}
}

.close-dialog {
	transform: rotate(90deg);
	margin-left: 1rem;
	@include size(2.5rem);
	svg {
		@include size(2.5rem);
		.arrow-down {
			stroke: $base_top-bar-navigation_text;
		}
	}
}
.dialog-compressed-close {
	.close-dialog {
		margin-left: 0;
		@include size(7.5rem);
		svg {
			@include size(7.5rem);
			.cancel-cross-3 {
				stroke: white;
			}
			.cancel-cross-2 {
				stroke: transparent;
			}
		}
	}
}
