.ohlc_wrapper {
	x: 0;
	y: 0;

	.ohlc_data_wrapper {
		.ohlc_label {
			font-size: $font-size-subtext;
		}

		.ohlc_value {
			font-size: $font-size-subtext;
			font-weight: bold;
			padding-left: 0.25rem;
		}
	}
}

.donut-label-percentage {
	font-size: .8rem;
	font-weight: bold;
}

.donut-label-no-price {
	font-size: .7rem;
	font-weight: bold;
}

.donut-label-pair {
	font-size: 1rem;
	font-weight: bold;
}

.deposite-asset {
	fill: $dark-buy;
	font-weight: bold;
}

.chart_btc {
	fill: $coin-btc;
	stroke: $coin-btc-1;
}
.chart_bch {
	fill: $coin-bch;
	stroke: $coin-bch-1;
}
.chart_eth {
	fill: $coin-eth;
	stroke: $coin-eth-1;
}
.chart_fiat {
	fill: $coin-fiat;
	stroke: $coin-fiat-1;
}
.chart_ltc {
	fill: $coin-ltc;
	stroke: $coin-ltc-1;
}

.bar_wrapper {
	height: 38rem;

	.bar_yAxis {
		line {
			fill: $colors-deactivate-color2;
			stroke-dasharray: 3 3;
			stroke-width: .5px;
		}
		.tick text {
			color: $colors-main-black;
			font-family: $raleway--font-family;
			font-size: 1.2rem;
			font-weight: bold;
		}
	}
	.bar_xAxis {
		line {
			visibility: hidden;
		}
		.axis_month {
			font-size: 1rem;
			font-family: $raleway--font-family;
			color: $colors-deactivate-color2;
		}
		.axis_month-active {
			color: $colors-main-black;
			font-weight: bold;
		}
		.axis_month-total {
			font-size: .8rem;
			font-weight: bold;
		}
		.axis_month-total-active {
			color: $colors-main-black;
		}
		path {
			stroke: $colors-deactivate-color2;
			stroke-width: 1;
		}
	}
	.limit_content-text {
		font-size: 0.72rem;
	}
	.bar_axis_triangle {
		fill: $colors-main-black;
	}
}

.bar-tooltip, .bar-tooltip-dark {
	padding: 5px;
	position: absolute;
	z-index: 10;
	
	.tool_tip-pair-volume {
		padding-left: .8rem;
	}
}

.bar-tooltip {
	background-color: $colors-white;
	border: 1px solid $colors-deactivate-color2;
	color: $colors-deactivate-color2;
}

.bar-tooltip::before, .bar-tooltip::after,
.bar-tooltip-dark::before, .bar-tooltip-dark::after {
	border: solid transparent;
	content: " ";
	right: 100%;
	top: 50%;
	height: 0;
	width: 0;
	position: absolute;
}

.bar-tooltip:after {
	border-color: rgba(136, 183, 213, 0);
	border-right-color: $colors-white;
	border-width: 5px;
	margin-top: -5px;
}
.bar-tooltip:before {
	border-color: rgba(194, 225, 245, 0);
	border-right-color: $colors-deactivate-color2;
	border-width: 7px;
	margin-top: -7px;
}
.bar-tooltip-dark:after {
	border-color: rgba(136, 183, 213, 0);
	border-right-color: $dark-app-background-color;
	border-width: 5px;
	margin-top: -5px;
}
.bar-tooltip-dark:before {
	border-color: rgba(194, 225, 245, 0);
	border-right-color: $dark-font-sub-text-color;
	border-width: 7px;
	margin-top: -7px;
}

.bar-tooltip-dark {
	background-color: $dark-app-background-color;
	border: 1px solid $dark-font-sub-text-color;
	color: $dark-font-sub-text-color;
}

.dark-theme {
	.ohlc_wrapper {
		tspan {
			fill: $dark-font-sub-text-color;
		}
	}

	.deposite-asset {
		fill: $dark-link;
	}

	.donut-label-pair, .donut-label-percentage {
		fill: $dark-font-sub-text-color;
	}

	.chart_btc, .chart_bch, .chart_eth, .chart_fiat, .chart_ltc {
		fill-opacity: 0.1;
		stroke-width: 2;
	}
	.chart_btc {
		fill: #f6921e;
		stroke: #f6921e;
	}
	.chart_bch {
		fill: #8bc53f;
		stroke: #8bc53f;
	}
	.chart_eth {
		fill: #2b388f;
		stroke: #2b388f;
	}
	.chart_fiat {
		fill: #00a651;
		stroke: #00a651
	}
	.chart_ltc {
		fill: #58595b;
		stroke: #58595b;
	}
	.bar_wrapper {
		.bar_xAxis {
			.axis_month {
				color: $dark-font-sub-text-color;
			}
			.axis_month-active {
				color: $dark-font-main-text-color;
				font-weight: bold;
			}
			.axis_month-total-active {
				color: $dark-font-main-text-color;
			}
			path {
				stroke: $dark-app-line-divider;
				stroke-width: 1;
			}
		}
		.bar_yAxis {
			line {
				fill: $dark-app-line-divider;
				color: $dark-app-line-divider;
				stroke-dasharray: 3 3;
				stroke-width: 1px;
			}
			.tick text {
				color: $dark-font-main-text-color;
				font-family: $raleway--font-family;
				font-size: 1.2rem;
				font-weight: bold;
			}
		}
		.bar_axis_triangle {
			fill: $dark-app-line-divider;
		}
		.limit_content-text {
			color: $dark-font-main-text-color;
		}
	}
}

@media (min-width: 1920px) {
	.donut-label-pair {
		font-size: 1.2rem;
	}
	.donut-label-percentage {
		font-size: 1rem;
	}
	.bar_wrapper {
		.limit_content-text {
			font-size: 0.9rem;
		}
		.bar_xAxis .axis_month-total {
			font-size: 1rem;
		}
	}
}

foreignObject {
	overflow: visible;
}
