.rounded-circle{
	background-color: white;
}
.footerList{
	list-style: none;
	color: white
}
.sm-footer-mobile{
	background-color: black;
}
.partners_area{
	padding-bottom: 5rem;
}
.team-middle, .team-bottom{
	margin-bottom: 5rem !important;
}
.footer-lang, .copyright {
	font-size: 0.7rem;
	color: white;
}
#about_navButton[aria-expanded="false"] {
	background: url('/assets/icons/arrow_black.svg') no-repeat !important;
	height:1.2em;
	margin-top: 0.7em !important;
}

#about_navButton[aria-expanded="true"] {
	background: url('/assets/icons/arrow_black.svg') no-repeat !important;
	height:1.2em;
	margin-top: 0.4em;
	-ms-transform: rotate(180deg); 
	-webkit-transform: rotate(180deg); 
	transform: rotate(180deg);
}

#about_navButton{
	width: 1.5em !important;
	outline: none !important;
	cursor: pointer;
}
#mainpageNav > .navbar-brand > img {
	height: 1.4em !important;
}

#about_navButton[aria-expanded="false"] {
	background: url('/assets/icons/arrow_black.svg') no-repeat !important;
	height:1.2em;
	margin-top: 0.7em !important;
}

#about_navButton[aria-expanded="true"] {
	background: url('/assets/icons/arrow_black.svg') no-repeat !important;
	height:1.2em;
	margin-top: 0.4em;
	-ms-transform: rotate(180deg); 
	-webkit-transform: rotate(180deg); 
	transform: rotate(180deg);
}

#about_navButton{
	width: 1.5em !important;
	outline: none !important;
}
#mainpageNav > .navbar-brand > img {
	height: 1.4em !important;
}


/* Extra Small Devices */

@media (max-width: 575px){ 
	#intro{
		/*margin-top: 7rem !important;
		margin-bottom: 7rem !important;*/
		height: 25rem;
	}
	.intro_content{
		font-size: 0.9rem !important;
	}

	/*.aboutUs_Imagery{
		background: url('/assets/images/about/team-four.jpg') center center no-repeat;
		background-size: cover;
		height: 10rem;
	}*/

	.aboutUs_Imagery-middle{
		margin-bottom: 5rem;
	}
	.Partners_1{
		margin-bottom: 1rem;
	}
	.toolBar-footer-mobile{
		padding-bottom: 0em;
		padding-top: 0.9em;
		background-color: black !important;
	}
	.toolBar-footer-mobile > div > ul {
		padding: 0px;
		list-style: none;
	}
	.toolBar-footer-mobile > div > ul > li {
		color: white;
		font-size: 0.7em;
	}
	.toolBar-footer-lang-mobile{
		width: 100% !important;
		color: white;
		font-size:0.7em;
		padding-bottom: 2.5em;
	}
	.listHeading{
		font-size: 0.8em;
		font-family: AvantGarde-Bold;
	}
	.listValues{
		font-size: 0.7em;
	}
	.copyright{
		font-size: 0.7em;
		font-family: AvantGarde-Book;
	}
	
	/*PARTNERS*/

	#partners_header, #team_header{
		margin-top: 4rem;
		margin-bottom: 4rem;
	}
}

/* Small Devices */

@media (min-width: 576px) {

	#intro{
		height: 30rem;
	}

	.intro_content{
		margin-bottom: 6rem;
	}

	/*PARTNERS*/

	#partners_header, #team_header{
		margin-top: 7rem;
		margin-bottom: 7rem;
	}

	.partners_logo{
		height: 2rem;
	}
	.partners{
		margin-bottom: 5rem;
	}

	/*TEAM*/

	.team_header_div{
		margin-top: 7rem;
		margin-bottom: 5rem;
	}
	
	.team_area{
		background-color: #eee;
		padding-bottom: 10rem;
	}
	.team-top, .team-middle{
		margin-bottom: 5rem !important;
	}

	/*FOOTER*/

	.footer-main{
		padding-top: 4rem;
		padding-right: 5rem;
		padding-left: 5rem;
		color: white;

	}
	.footer-area{
		background-color: black;
	}

	.footer-area-bottom, .copyright{
		color: white;
	}
	.footer-lang, .copyright {
		padding: 1rem;
	}

}
