templates
settings
web
.drone.yml
install.sh
uninstall.sh

server/tools
!server/tools/dbs/*.js
!server/tools/general/*.js
!server/tools/nexe
Dockerfile
server/docker-compose*
server/index.html
server/package-lock.json
server/logs
server/coverage
server/.nyc_output
server/.*docker-compose.yaml
server/.drone*.yml
server/hollaex-kit.env
server/hollaex-kit.env*