# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
web/node_modules

# testing
web/coverage

# production
web/build

# misc
web/.DS_Store
web/.env
web/.env.local
web/.env.development.local
web/.env.test.local
web/.env.production.local

web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*

web/src/**/*.css
