.countdown-wrapper {
	.countdown-children-wrapper {
	}

	.countdown-timer {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 1rem;

		&.invalid {
			color: $colors-notifications-red;
		}
	}

	.countdown-expiration-message {
	}

	.countdown-button {
	}
}
.layout-mobile .countdown-wrapper {
	margin: 38% auto;
}
