@import '../../variables';

.action_notification-wrapper {
	position: absolute;
	top: 0.25rem;
	display: flex;
	// justify-content: center;
	align-items: center;

	.info {
		color: $colors-notifications-blue;
	}

	.warning {
		color: $colors-notifications-red;
	}

	.success {
		color: $colors-notifications-green;
	}

	.relative {
		position: relative;
	}

	.action_notification-text {
		font-size: $font-size-subtext;
		text-transform: uppercase;
	}

	.action_notification-image {
		width: 1rem;
		height: 1rem;
	}
	&.icon_on-right {
		flex-direction: row;
	}

	&.icon_on-left {
		flex-direction: row-reverse;
	}
}

.direction_ltr {
	.action_notification-wrapper {
		font-family: $raleway-medium--font-family !important;
		
		&.left {
			left: 0;
		}
		&.right {
			right: 0;
		}

		.action_notification-image {
			&.rotate,
			&.reverse,
			&.rotate_ltr {
				transform: rotate(180deg);
			}
		}

		&.icon_on-right {
			.action_notification-image {
				margin-left: 0.25rem;
			}
		}

		&.icon_on-left {
			.action_notification-image {
				margin-right: 0.25rem;
			}
		}
	}
}

.direction_rtl {
	.action_notification-wrapper {
		&.left {
			right: 0;
		}

		&.right {
			left: 0;
		}

		.action_notification-image {
			&.rotate,
			&.reverse,
			&.rotate_rtl {
				transform: rotate(180deg);
			}
		}

		&.icon_on-right {
			.action_notification-image {
				margin-right: 0.25rem;
			}
		}

		&.icon_on-left {
			.action_notification-image {
				margin-left: 0.25rem;
			}
		}
	}
}
