$chat-message-box-light--background-color: $box-fields;
$chat-wrapper-light--background-color: white;
$chat-message-box-dark--background-color: $dark-box-fields;
$chat-wrapper-dark--background-color: $dark-app-light-background;
$chat-message-light--font-color: #999999;
$chat-message-dark--font-color: $dark-font-sub-text-1-color;
$chat-wrapper--border-color: #282829;
$chat-own-message--color: #ef3ba5;
$chat-other-message--color: white;
$chat-element-action--color: #2798c7;
$unread-messages-border--color: #b9b500;
$chat-message--font-size: 1.2rem;
$chat-username--font-size: 1.2rem;
$mobile-regular--font-size: 1.5rem;

.layout-mobile {
	.chat-wrapper {
		position: relative;
		height: 100%;
		box-shadow: unset !important;
		right: 0;
		bottom: 0;
		.nondraggable {
			height: 100%;
		}
		.timestamp { 
			font-size: 1rem;
		}
		.chat-message-list {
			width: 100% !important;
			.chat-message {
				.message-content {
					.username {
						font-size: $mobile-regular--font-size;
					}

					.message {
						font-size: $mobile-regular--font-size;
						line-height: unset !important;
					}
				}	
				.item-options {
					.item-options-wrapper {
						min-width: 5rem;
						font-size: $chat-message--font-size;
						right: 1.5rem;
						top: -0.5rem;
					}
				}
			}
		}
		.chat-footer {
			padding: 0.5rem;
			.chat-message-box {
				min-height: 4rem;
				font-size: $regular-chat--font-size;
				padding: 1rem 0.5rem;
			}
		}
	}
}

.chat-wrapper {
	position: fixed;
	background-color: $chat-wrapper-light--background-color;
	height: 35rem;
	right: 0.5rem;
	bottom: 3rem;
	color: $chat-message-light--font-color;
	z-index: 100;
	-webkit-box-shadow: 1px 0px 3px 0px rgba(0, 0, 0, 0.29);
	-moz-box-shadow: 1px 0px 3px 0px rgba(0, 0, 0, 0.29);
	box-shadow: 1px 0px 3px 0px rgba(0, 0, 0, 0.29);
	font-family: 'Roboto-Light';

	.timestamp {
		color: $chat-message-dark--font-color;
		font-size: 0.7rem;
		min-width: 3.2rem;
		text-align: right;
	}
	.chat-username-footer{
		border-top: 1px solid gray;
	}
	.username-to-chat {
		cursor: pointer;
		padding: 0.7rem !important;
		color: $link !important;
		font-size: 1rem !important;
		font-family: "Open Sans"!important;
	}

	.nondraggable {
		height: calc(100% - 2.5rem);
	}

	&.unread-messages {
		border-color: $unread-messages-border--color;
		color: $unread-messages-border--color;

		&:hover {
			border-color: $chat-own-message--color;
			color: $chat-own-message--color;

			&::before {
				border-top-color: $chat-own-message--color;
			}
		}

		&::before {
			border-top-color: $unread-messages-border--color;
		}
	}

	&.minimized {
		> .chat-header,
		.chat-footer,
		.chat-message-list {
			display: none !important;
		}
	}

	.minimize-button {
		height: 1.5rem;
		width: 1.5rem;
		padding: 0.2rem;
		margin-left: 1rem;
		cursor: pointer;

		.minimize-button-content {
			width: 100%;
			height: 100%;
			border-bottom: 1px solid $chat-message-light--font-color;
		}

		&:hover {
			background-color: #dfdfdf;
		}
	}

	.loader_wrapper {
		position: relative;
		height: 100%;
		.loader_background {
			height: 100%;
			background: $chat-wrapper-light--background-color;
		}
		.loader {
			width: 5rem;
			height: 5rem;
		}
	}

	.chat-header {
		padding-top: 0.75rem;
		padding-bottom: 0.75rem;
		font-weight: bold;
		padding: 0.5rem 1rem;

		.chat-header-icon {
			flex: 1;
			background-image: url('/assets/images/dotted-grip-chat-repeat-pattern.svg');
			background-repeat: repeat-x;
			background-size: 0.75rem;
			height: 1.2rem;
			cursor: -webkit-grab;
		}
	}

	.chat-message-list {
		width: 23rem !important;
		flex: 1;

		> div {
			&:first-child {
				padding: 0.5rem;
			}
			padding: 0.5rem 0;
		}
		.chat-message {
			font-weight: bold;
			color: $chat-other-message--color;
			margin-bottom: 0.8rem;
			word-break: break-all;
			.message-content {
				width: 100%;
				.message {
					color: $chat-message-light--font-color;
					word-break: break-word;
					line-height: 1.1rem;
					font-size: $chat-message--font-size;
					font-weight: normal;
					line > span {
						> span {
							display: inline;
						}
					}
				}
				.nonmobile {
					.own-message {
						line-height: 1.1rem;
						word-break: keep-all;
					}
				}
			}

			&.user {
				.own-message {
					color: $chat-own-message--color;
					font-weight: bold;
				}
			}


			.message-content {
				span {
					&.toggle-content {
						position: relative;
						cursor: pointer;
						color: $chat-element-action--color;

						&::before {
							display: inline-block;
							content: '\00bb';
							height: 1rem;
							margin: 0 0.25rem;
						}

						&::after {
							position: absolute;
							content: '';
							bottom: 0;
							left: 0.2rem;
							border-bottom: 1px dotted $chat-element-action--color;
							width: 100%;
						}
					}
				}
				.show {
					.toggle-content {
						&::before {
							-webkit-transform: rotate(90deg);
							transform: rotate(90deg);
						}
					}
				}
				&.image {
					img.image {
						margin: 0.5rem 0;
						max-width: 100%;
					}
				}
			}
			.username {
				color: black;
				font-weight: bold;
				font-size: $chat-username--font-size;
				margin-bottom: 0.5rem;
			}

			.item-options {
				position: relative;
				margin-left: 0.25rem;
				cursor: pointer;
				.item-options-icon-wrapper {
					width: 1rem;
					height: 1rem;
					.item-options-icon {
						width: 100%;
						height: 100%;
						& > * {
							fill: $chat-message-light--font-color;
						}
					}
				}
				.item-options-wrapper {
					position: absolute;
					right: 0;
					top: 1rem;
					min-width: 4rem;
					font-size: 0.8rem;
					.item-option {
						width: 100%;
						padding: 0 0.25rem;
						background-color: $chat-wrapper-light--background-color;
						border-bottom: 1px solid #464545;
						color: $chat-message-light--font-color;
						&:hover {
							background-color: #535353;
							color: white;
						}
					}
				}
			}
		}
		.user-icon {
			width: 2rem;
		}
	}

	.chat-footer {
		min-height: 3rem;
		margin-top: 0.5rem;
		width: 100%;
		padding: 0;
		button {
			width: 100%;
		}
		.chat-message-box {
			outline: none !important;
			border: none;
			background-color: $chat-message-box-light--background-color;
			width: 100%;
			height: 100%;
			min-height: 3rem;
			line-height: 2rem;
			padding: 0.5rem;
			color: $chat-message-light--font-color;
			font-size: 0.9rem;
			resize: none;
			overflow: hidden;
		}
	}
}

.dark-theme {
	.chat-wrapper {
		background-color: $chat-wrapper-dark--background-color;
		.chat-username-footer{
			border-top: 1px solid gray
		}
		.minimize-button {
	
			&:hover {
				background-color: $dark-app-background-color;
			}
		}
		.user-icon {
			width: 2rem;

			svg {
				.chat-lvl-4 {
					fill: $colors-black;
				}
			    .level_icon {
						fill: $dark-icon-color;
				}
				.hap-icon{
					fill: $dark-icon-color;
				}
			}
		}
		.chat-message {
			.message-content {
				.message {
					color: $chat-message-dark--font-color;
				}
			}

			.item-options {
				.item-options-wrapper {
					.item-option {
						background-color: #474855;
						border-bottom: 1px solid #464545;
						color: $chat-message-dark--font-color;
						&:hover {
							background-color: $chat-wrapper-light--background-color;
							color: $chat-message-light--font-color;
						}
					}
				}
			}

			.username {
				color: white;
			}
		}
		.username-to-chat {
			cursor: pointer;
			padding: 0.7rem !important;
			color:$colors-username-set-dark !important;
			font-size: 1rem !important;
			font-family: "Open Sans"!important;
			
		}
		.chat-footer {
			.chat-message-box {
				background-color: $chat-message-box-dark--background-color;
				color: $dark-font-main-text-color;
				
				&::placeholder {
					color: $dark-font-sub-text-1-color;
				}
			}
		}
	}
}
