$signup_succes--margin: 2rem;

$terms_label--padding: 0.25rem;

.signup_success-wrapper {
	text-align: center;

	.signup_success-content {
		margin: $signup_succes--margin 0 $signup_succes--margin * 2;
	}
}

.terms_label-wrapper {
	padding: 0 $terms_label--padding;
}
.signup-warning {
	margin-top: 1.5rem;
}
.warning-icon {
	width: 1.5rem;
	margin-right: 1rem;
}
.signup-warning-text {
	color: $colors-notifications-red;
}
.dialog-link {
	color: $colors-notifications-blue;
	padding: 0 $terms_label--padding;
}

.signup-modal-wrapper {
	max-width: $bp-sm;
	max-height: 100%;
}
.layout-mobile {
	.signup_success-wrapper {
		height: calc(100% - 4rem) !important;
	}
}
