# Default values for bitholla-hollaex-nginx.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
NodePort:
  enable: false
  port: 30000

nodeSelector: {}

imageRegistry: redis
dockerTag: 5.0.5-alpine

setAuth:
  secretName: hollaex-secret

resources:
  limits:
    cpu: "100m"
    memory: "512Mi"
  requests:
    cpu: "10m"
    memory: "50Mi"