.countdown-wrapper {
	.countdown-children-wrapper {
	}

	.countdown-timer {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 1rem;

		&.invalid {
			color: $error-color;
		}
	}

	.countdown-expiration-message {
	}

	.countdown-button {
	}
}
