$footer-wrapper--margin-top: 4rem;
$footer-wrapper--margin: 1rem;
$footer-wrapper--margin-bottom: $footer-wrapper--margin * 2;
$footer-wrapper--border-color: $footer-border-color;
$footer-social-icon--dimension: 2rem;
$footer-icons--side-margin: 1.5rem;
$footer-content-size: 12px;
$footer-logo-color: $trade-tabs-inactive-color;

.app_footer-container {
	border-top: 1px solid $footer-wrapper--border-color;
	font-size: $font-size-subtext;
	background-color: $footer-background-color;
	color: $base_footer_text;
	&.deep-footer {
		padding-bottom: 136px;
	}

	.footer-row-content {
		margin-bottom: $footer-wrapper--margin-bottom;
		padding: $footer-wrapper--margin-top $footer-wrapper--margin 0;
		width: 100%;

		.footer-links-section {
			// width: 60%;
			.footer-links-group {
				margin: $footer-wrapper--margin;
				font-size: $font-size-main;

				.footer-links-section--title {
					font-weight: bold;
					margin-bottom: 0.25rem;
					text-transform: uppercase;
				}

				.footer-links-section--list {
					min-width: 8rem;
					text-transform: capitalize;

					.social_icon {
						width: 1rem;
						margin-right: 0.25rem;
					}
					.link-section {
						margin-top: 0.25rem;
						&:hover {
							color: grey;
						}
					}
				}
			}
		}
		.footer_separter {
			border-left: 1px solid $footer-wrapper--border-color;
			margin-left: 0.5rem;

			.footer-txt {
				width: 23rem;
				margin-left: 1.5rem;
			}
			.footer-logo {
				background-size: contain;
				// background-position: center;
				background-repeat: no-repeat;
				height: 6rem !important;
				margin-left: 1.5rem;
				width: 7rem;
			}
			svg {
				.hollaEX_logo_gray {
					fill: $base_footer_text;
				}
			}
			.blue-link {
				color: #00aeef !important;
			}
		}
		.footer-public-texts {
			.footer-public-texts-text {
				line-height: $font-size-subtext * 2;
				font-weight: bold;
			}
		}
		.footer-public-links {
			justify-content: flex-end;
			align-items: center;
			margin-top: $footer-wrapper--margin;

			.footer-public-links-icon {
				@include size($footer-social-icon--dimension);
				margin: 0 $footer-icons--side-margin;
			}
		}
	}

	.footer-row-bottom {
		border-top: 1px solid $footer-wrapper--border-color;
		text-align: left;
		padding-left: 1rem;
		padding-bottom: $footer-wrapper--margin;
	}
}

.direction_ltr {
	.app_footer-container {
		.footer-row-content {
			.footer-public-texts {
				text-align: right;
			}

			.footer-public-links {
				&:first-child .footer-public-links-icon {
					margin-left: 0;
				}

				&:last-child .footer-public-links-icon {
					margin-right: 0;
				}
			}
		}
	}
}

.direction_rtl {
	.app_footer-container {
		.footer-row-content {
			.footer-links-section {
				.footer-links-group {
					.footer-links-section--list {
						.social_icon {
							margin-right: 0;
							margin-left: 0.25rem;
						}
					}
				}
			}
			.footer_separter {
				border-left: 0;
				border-right: 1px solid $footer-wrapper--border-color;
				.footer-txt {
					margin-left: 0;
					margin-right: 1rem;
				}
				.footer-logo {
					margin-left: 0;
					margin-right: 1rem;
				}
			}
			.footer-public-texts {
				text-align: left;
			}

			.footer-public-links {
				&:first-child .footer-public-links-icon {
					margin-right: 0;
				}

				&:last-child .footer-public-links-icon {
					margin-left: 0;
				}
			}
		}
	}
}

@media screen and (max-width: $bp-md) {
	.app_footer-container {
		.footer-row-content {
			flex-direction: column;
			> div:not(:last-child) {
				margin-bottom: $footer-wrapper--margin-bottom;
			}

			.footer-public-texts {
				text-align: center !important;
			}
			.footer-public-links {
				justify-content: center;
				.footer-public-links-icon {
					margin: 0 $footer-icons--side-margin !important;
				}
			}
			// .footer-links-section {
			// 	width: 70%;
			// }
		}
	}
}

// @media screen and (min-width: 1920px) {
// 	.app_footer-container {
// 		.footer-row-content {
// 			.footer-links-section {
// 				width: 50%;
// 			}
// 		}
// 	}
// }

@media screen and (max-width: $bp-sm) {
	.app_footer-container {
		.footer-row-content {
			// .footer-links-section {
			// 	width: 80%;
			// }
			.footer_separter {
				.footer-txt {
					width: 12rem;
				}
			}
		}
	}
}

.layout-mobile {
	.app_footer-container {
		.footer-row-content {
			.footer-links-section {
				width: 100%;
				.footer-links-group {
					margin-left: 3rem;
					margin-bottom: 3rem !important;
					font-size: $footer-content-size;
					.footer-links-section--list {
						.link-section {
							margin-top: 0.25rem;
							&:hover {
								color: grey;
							}
						}
					}
				}
				.footer_separter {
					border-left: none !important;
					border-top: 1px solid $footer-wrapper--border-color !important;
					.footer-content {
						display: flex;
						flex-direction: column;
						align-items: center;
					}
					.footer-txt {
						width: 100%;
					}
					.footer-logo {
						height: 3.5rem;
						margin-top: 11px;
						margin-bottom: $footer-wrapper--margin;
						width: 6.5rem;
					}
					svg {
						.hollaEX_logo_gray {
							fill: $base_footer_text;
						}
					}
					.blue-link {
						color: #00aeef !important;
					}
				}
			}
			.blue-link {
				color: #00aeef !important;
			}
		}
		.footer-links-group {
			margin: 10rem;
		}
	}
}
