.user_security-wrapper {
	> *:not(:last-child) {
		margin-bottom: 2rem;
	}
}

.otp_form-wrapper {
	display: flex;
	flex-direction: column;
	min-width: 30rem;
	width: 30rem;

	.otp_form-section-wrapper {
		border-top: 1px solid $colors-main-black;
		padding: 0.75rem 0;

		.otp_form-section-content {
			margin: 1rem 0;
			.qr-code-wrapper {
				background: white;
				margin: 0.5rem;
				@include size(10rem);
				canvas {
					@include size-important(10rem - 1rem);
				}
			}
		}

		.otp_form-section-title {
			font-size: $font-size-main;
			font-weight: bold;
		}

		.otp_form-section-text {
			font-size: $font-size-subtext;
		}

		.otp_secret {
			font-size: $font-size-subtext;
			background-color: $specials_highlight-box;
			padding: 0.25rem 0.5rem;
		}
	}

	.otp_form-fields-wrapper {
		margin-bottom: 1rem;
	}

	.icon_title-wrapper {
		.icon_title-text.title {
			font-size: $font-size-subhead2;
		}
		.icon_title-svg {
			@include size(6.5rem);
			svg {
				@include size(6.5rem);
			}
		}
	}
}

.tokens-name,
.tokens-tokenkey {
	word-break: break-word;
	padding-left: 0.5rem !important;
	padding-right: 0.5rem !important;
}

.tokens-tokenkey {
	max-width: 5rem;
}

.tokens-tokenkey {
	min-width: 15rem;
	// max-width: 15rem;
}

.tokens-date {
	min-width: 5rem;
	max-width: 5rem;
}

.tokens-icon,
.tokens-revoke {
	min-width: 3rem;
	max-width: 3rem;
}

$svg--size: 2.5rem;
$svg-small--size: 1.85rem;
$svg--padding: $svg--size - $svg-small--size;

.tokens-icon {
	& > div {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	svg {
		@include size($svg--size);
	}
	&.small-icon {
		svg {
			padding: $svg--padding / 2 0;
		}
	}
}

.tokens-icon-svg {
	svg {
		fill: $colors-main-black;
	}
}

.checkbutton-input-wrapper--image {
	svg {
		stroke: $colors-main-black;
		stroke-width: 1rem;
	}
}

.popup_info-wrapper {
	.popup_info-title {
		font-family: $raleway--font-family;
		font-size: $font-size-subhead3;
		border-bottom: 1px solid $colors-border;
	}
	.popup_info-text {
		font-size: $font-size-subtext;
	}
}

.token-no-otp {
	color: $colors-deactivate-color1;
	cursor: not-allowed !important;
}

.dumb-field-wrapper.token-value-input {
	.copy-wrapper {
		top: calc(50% - 0.5rem);
	}

	.custom {
		word-break: break-all;
	}
}

$padding-input: 4rem;
.direction_ltr {
	.dumb-field-wrapper.token-value-input {
		.custom {
			padding-right: $padding-input;
		}
	}
}
.direction_rtl {
	.dumb-field-wrapper.token-value-input {
		.custom {
			padding-left: $padding-input;
		}
	}
}

.logout-menu-wrapper {
	color: $colors-deactivate-color2;
	font-size: 1.75rem;
	padding: 0.5rem 0;
	border-bottom: 1px solid $colors-main-black;

	.logout-icon {
		width: 1.5rem;
	}
}

.layout-mobile {
	.user_security-wrapper {
		.warning_text {
			font-size: $font-size-mobile-txt !important;
		}
	}
	.checkbutton-wrapper {
		.checkbutton-input-wrapper {
			.checkbutton-input-wrapper--label {
				font-size: $font-size-mobile-txt;
				color: $link;
			}
		}
	}
	.otp_form-wrapper {
		min-width: auto;
		width: auto;
		.otp_form-section-wrapper {
			.otp_form-section-title {
				font-size: $font-size-mobile-title;
			}
			.otp_form-section-text {
				font-size: $font-size-mobile-txt !important;
			}
		}
		.otp_form-section-content {
			.qr-code-wrapper {
				@include size(15rem);
				canvas {
					@include size-important(15rem - 1rem);
				}
			}
		}
	}
	.accordion_section_content {
		.warning_text {
			font-size: $font-size-mobile-txt !important;
		}
	}
}
