
.elapsed-timer-wrapper {
    font-size: 0.8rem;
    color: $colors-deactivate-color2;

    .timer-time {
        color: $colors-black;
        font-weight: bold;
    }

    .timer-svg {
        height: 1.2rem;
        width: 1.2rem;
        svg {
            .pending-timer {
                stroke: $colors-black;
            }
        }
    }
}

.dark-theme {
    .elapsed-timer-wrapper {
        color: $dark-font-sub-text-color;

        .timer-time {
            color: $dark-font-main-text-color;
        }

        .timer-svg {
            svg {
                .pending-timer {
                    stroke: $dark-icon-color;
                }
            }
        }
    }
}
