@font-face {
	font-family: AvantGarde-Book;
	src: url('/assets/fonts/AvantGarde-Book.otf');
}
@font-face {
	font-family: AvantGarde-Bold;
	src: url('/assets/fonts/AvantGarde-Bold.otf');
}
@font-face {
	font-family: AvantGarde-Demi;
	src: url('/assets/fonts/AvantGarde-Demi.otf');
}
@font-face {
	font-family: BradleyHandItc;
	src: url('/assets/fonts/BRADHITC.TTF');
}

/*html {
	height: 100%;
}*/
body {
	font-family: AvantGarde-Book;
}

.nav-link {
	text-decoration: none;
	color: #000000;
}
