
@font-face {
  font-family: Roboto-Light;
  src: url('/assets/fonts/ROBOTOCONDENSED-REGULAR.TTF');
}
@font-face {
	font-family: AvantGarde-Book;
	src: url('/assets/fonts/AvantGarde-Book.otf');
}
@font-face {
	font-family: AvantGarde-Bold;
	src: url('/assets/fonts/AvantGarde-Bold.otf');
}
@font-face {
	font-family: AvantGarde-Demi;
	src: url('/assets/fonts/AvantGarde-Demi.otf');
}
@font-face {
	font-family: BradleyHandItc;
	src: url('/assets/fonts/BRADHITC.TTF');
}
html {
	height: 100%;
}

body {
	font-family: AvantGarde-Book !important;
	height: 100%;
	font-size: 0.9rem !important;
	background-color: #f1f1f2 ! important; 
}

.nav-link {
	text-decoration: none;
	color: #000000;
	font-size: 0.9rem !important;
}

@media (min-width: 576px) and (max-width: 991px) {

	body, .nav-link {
		font-size: 0.8rem !important;
	}
}

@media (min-width: 576px){
	.container{
		height: 100% ! important;
		margin-bottom : 5rem
	}	
}


.fill {
	height: 100%;
}

.footerList{
	list-style: none;
	color: white
}

.sm-footer-mobile{
	background-color: black;
}

.footer-lang, .copyright {
	font-size: 0.7rem;
	color: white;
}

.listHeading > a{
	color: white !important;
}

.listValues > a{
	text-decoration: none ! important;
	color: white !important;
}

.jumbotron-color{
	background-color: #eceeef;
}

.navbar-brand{
	width: 5rem ! important;
	margin: 0 ! important;
}

.toolBar-footer-lang-main, .footer-lang-other {
	cursor: pointer;
}

@media (max-width: 575px){ 
	
	.toolBar-footer-mobile{
		padding-bottom: 0em;
		padding-top: 0.9em;
		background-color: black !important;
	}
	.toolBar-footer-mobile > div > ul {
		padding: 0px;
		list-style: none;
	}
	.toolBar-footer-mobile > div > ul > li {
		color: white;
		font-size: 0.7em;
	}
	.toolBar-footer-lang-mobile{
		width: 100% !important;
		color: white;
		font-size:0.7em;
		padding-bottom: 2.5em;
	}

	.listHeading{
		font-size: 0.8em;
		font-family: AvantGarde-Bold;
	}
	.listValues{
		font-size: 0.7em;
	}
	.copyright{
		font-size: 0.7em;
		font-family: AvantGarde-Book;
	}

}

@media (min-width: 576px) {

	/*FOOTER*/

	.footer-main{
		padding-top: 4rem;
		padding-right: 5rem;
		padding-left: 5rem;
		color: white;

	}
	.footer-area{
		background-color: black;
	}

	.footer-area-bottom, .copyright{
		color: white;
	}
	.footer-lang, .copyright {
		padding: 1rem;
	}

}