.tiers-container {
	border: 1px solid #c4c4c4;
	border-bottom: none;
	max-width: 50rem;
	min-width: 25rem;
	padding: 12px;
	color: var(--admin_panel_main_font);
}
.tiers-container:last-child {
	border-bottom: 1px solid #c4c4c4;
}
.tiers-container .tier-icon {
	height: 3rem;
	width: 3rem;
}
.tiers-container .description {
	width: auto;
}
.requirement-divider {
	background-color: #c4c4c4;
	height: 1px;
	margin: 15px 0px;
}
.new-tier-form .file-container {
	width: 100%;
}
.tiers-confirm-warning {
	background-color: #0000d1;
	padding: 8px;
	margin: 10px 0px;
}
.warning-txt {
	color: #f28041;
}
.new-tier-form .text-editor-wrapper {
	border: 1px solid #d9d9d9;
	border-radius: 4px;
	min-height: 200px;
}
.new-tier-form .text-editor-toolbar {
	color: black;
}
.table-tier-icon {
	height: 2.5rem;
	width: 2.5rem;
}
.limit-status-icon {
	width: 2rem;
}
.custom-column-td {
	padding: 8px 16px;
}
.column-divider {
	border-bottom: 1px solid #c4c4c4;
}
.fee-indicator-icon {
	width: 8rem;
}
.tier-section-icon {
	width: 4rem;
}
.admin-link-highlight {
	color: var(--admin_panel_main_font);
	text-decoration: underline;
	cursor: pointer;
}
.admin-link-highlight:hover {
	text-decoration: none;
}

.admin-tiers-wrapper td.type-column {
	padding: 0px !important;
}
.admin-tiers-wrapper .ant-table-thead > tr > th {
	background-color: var(--admin_panel_table_thead);
	color: var(--admin_panel_main_font);
}
.admin-tiers-wrapper .ant-table-tbody > tr > td {
	background-color: var(--admin_panel_table_tbody);
	color: var(--admin_panel_main_font);
	border-bottom: 1px solid #c4c4c4;
}
.admin-tiers-wrapper .ant-table-tbody > tr.ant-table-placeholder:hover > td {
	background-color: var(--admin_panel_table_tbody_hover);
}
.admin-tiers-wrapper .ant-table-tbody > tr.ant-table-row:hover > td {
	background-color: var(--admin_panel_table_tbody_hover);
}
.admin-tiers-wrapper .ant-empty .ant-empty-image .ant-empty-img-simple-ellipse,
.admin-tiers-wrapper .ant-empty .ant-empty-image .ant-empty-img-simple-path {
	fill: #7d9ac9;
}
.admin-tiers-wrapper .ant-empty .ant-empty-image .ant-empty-img-simple-g {
	stroke: #7d9ac9;
}
.admin-tiers-wrapper .ant-empty .ant-empty-description {
	color: var(--admin_panel_main_font);
}
.admin-tiers-wrapper .ant-table-pagination.ant-pagination {
	margin: 16px 0;
	background: #ffffff;
	border-radius: 50px;
	padding: 15px;
}
.admin-tiers-wrapper h1,
.admin-tiers-wrapper h3,
.change-Limit-wrapper h1,
.change-Limit-wrapper h3 {
	color: var(--admin_panel_main_font);
}

.admin-tiers-wrapper .ant-pagination-item-active,
.admin-tiers-wrapper .ant-pagination-item-active:focus,
.admin-tiers-wrapper .ant-pagination-item-active:hover {
	border-color: #288500 !important;
}

.admin-tiers-wrapper .ant-table-tbody {
	overflow-x: auto;
}

.admin-tiers-wrapper .ant-table-container {
	overflow-x: auto;
}

.admin-tiers-wrapper
	.ant-select-disabled.ant-select-single:not(.ant-select-customize-input)
	.ant-select-selector,
.admin-tiers-wrapper .ant-input[disabled] {
	opacity: 0.5;
	color: #c4c4c4;
	background-color: var(--admin_panel_input);
}

.admin-tiers-wrapper .ant-input-affix-wrapper .ant-input {
	background-color: var(--admin_panel_input);
	color: #c4c4c4;
}
.admin-tiers-wrapper .ant-input-affix-wrapper {
	background-color: var(--admin_panel_input);
	color: #c4c4c4;
}

.change-Limit-wrapper .button-wrapper {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.change-Limit-wrapper .button-wrapper .ant-btn {
	width: 45%;
	background-color: #288500;
	border-color: #288500;
}

.admin-tiers-wrapper .cursor-pointer {
	cursor: pointer;
}
.admin-tiers-wrapper .underline {
	text-decoration: underline;
}

.change-Limit-wrapper .arrow-border {
	border-bottom: 2px solid #ffffff !important;
	font-size: 12px;
	color: #b7b7b7;
	margin-bottom: 10px;
	width: 14rem;
	text-align: center;
}

.change-Limit-wrapper .p-relative .anticon {
	margin-top: 9px;
	font-size: 20px;
	position: absolute;
	left: 17rem;
}

.change-Limit-wrapper .small-txt {
	font-size: 10px;
}

.change-Limit-wrapper .disabled {
	opacity: 0.5;
}

.change-Limit-wrapper .ant-switch-checked {
	background-color: rgba(0, 0, 0, 0.25);
}

.admin-tiers-wrapper .description {
	font-size: 14px;
	color: #c4c4c4;
}
.admin-tiers-wrapper .description.f-16 {
	font-size: 16px;
}
.admin-tiers-wrapper .description .underline {
	color: #ffffff;
}
