.tiers-container {
	border: 1px solid #c4c4c4;
	border-bottom: none;
	max-width: 50rem;
	min-width: 25rem;
	padding: 12px;
	color: var(--admin_panel_main_font);
}
.tiers-container:last-child {
	border-bottom: 1px solid #c4c4c4;
}
.tiers-container .tier-icon {
	height: 3rem;
	width: 3rem;
}
.tiers-container .description {
	width: auto;
}
.requirement-divider {
	background-color: #c4c4c4;
	height: 1px;
	margin: 15px 0px;
}
.new-tier-form .file-container {
	width: 100%;
}
.tiers-confirm-warning {
	background-color: #0000d1;
	padding: 8px;
	margin: 10px 0px;
}
.warning-txt {
	color: #f28041;
}
.new-tier-form .text-editor-wrapper {
	border: 1px solid #d9d9d9;
	border-radius: 4px;
	min-height: 200px;
}
.new-tier-form .text-editor-toolbar {
	color: black;
}
.table-tier-icon {
	height: 2.5rem;
	width: 2.5rem;
}
.limit-status-icon {
	width: 2rem;
}
.custom-column-td {
	padding: 8px 16px;
}
.column-divider {
	border-bottom: 1px solid #c4c4c4;
}
.fee-indicator-icon {
	width: 8rem;
}
.admin-earnings-container
	.admin-tiers-wrapper
	.tier-fees-table-wrapper
	.fee-indicator-icon
	svg
	.st1 {
	fill: #000000;
}
.tier-section-icon {
	width: 4rem;
}
.admin-link-highlight {
	color: var(--admin_panel_main_font);
	text-decoration: underline;
	cursor: pointer;
}
.admin-link-highlight:hover {
	text-decoration: none;
}

.admin-tiers-wrapper td.type-column {
	padding: 0px !important;
}
.admin-tiers-wrapper .ant-table-thead > tr > th {
	background-color: var(--admin_panel_table_thead);
	color: var(--admin_panel_main_font);
}
.admin-tiers-wrapper .ant-table-tbody > tr > td {
	background-color: var(--admin_panel_table_tbody);
	color: var(--admin_panel_main_font);
	border-bottom: 1px solid #c4c4c4;
}
.admin-tiers-wrapper .ant-table-tbody > tr.ant-table-placeholder:hover > td {
	background-color: var(--admin_panel_table_tbody_hover);
}
.admin-tiers-wrapper .ant-table-tbody > tr.ant-table-row:hover > td {
	background-color: var(--admin_panel_table_tbody_hover);
}
.admin-tiers-wrapper .ant-empty .ant-empty-image .ant-empty-img-simple-ellipse,
.admin-tiers-wrapper .ant-empty .ant-empty-image .ant-empty-img-simple-path {
	fill: #7d9ac9;
}
.admin-tiers-wrapper .ant-empty .ant-empty-image .ant-empty-img-simple-g {
	stroke: #7d9ac9;
}
.admin-tiers-wrapper .ant-empty .ant-empty-description {
	color: var(--admin_panel_main_font);
}
.admin-tiers-wrapper .ant-table-pagination.ant-pagination {
	margin: 16px 0;
	background: #ffffff;
	border-radius: 50px;
	padding: 15px;
}
.admin-tiers-wrapper h1,
.admin-tiers-wrapper h3,
.change-Limit-wrapper h1,
.change-Limit-wrapper h3 {
	color: var(--admin_panel_main_font);
}

.admin-tiers-wrapper .ant-pagination-item-active,
.admin-tiers-wrapper .ant-pagination-item-active:focus,
.admin-tiers-wrapper .ant-pagination-item-active:hover {
	border-color: #288500 !important;
}

.admin-tiers-wrapper .ant-table-tbody {
	overflow-x: auto;
}

.admin-tiers-wrapper .ant-table-container {
	overflow-x: auto;
}

.admin-tiers-wrapper
	.ant-select-disabled.ant-select-single:not(.ant-select-customize-input)
	.ant-select-selector,
.admin-tiers-wrapper .ant-input[disabled] {
	opacity: 0.5;
	color: #c4c4c4;
	background-color: var(--admin_panel_input);
}

.admin-tiers-wrapper .ant-input-affix-wrapper .ant-input {
	background-color: var(--admin_panel_input);
	color: #c4c4c4;
}
.admin-tiers-wrapper .ant-input-affix-wrapper {
	background-color: var(--admin_panel_input);
	color: #c4c4c4;
}

.change-Limit-wrapper .button-wrapper {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.change-Limit-wrapper .button-wrapper .ant-btn {
	width: 45%;
	background-color: #288500;
	border-color: #288500;
}

.admin-tiers-wrapper .cursor-pointer {
	cursor: pointer;
}
.admin-tiers-wrapper .underline {
	text-decoration: underline;
}

.change-Limit-wrapper .arrow-border {
	border-bottom: 2px solid #ffffff !important;
	font-size: 12px;
	color: #b7b7b7;
	margin-bottom: 10px;
	width: 14rem;
	text-align: center;
}

.change-Limit-wrapper .p-relative .anticon {
	margin-top: 9px;
	font-size: 20px;
	position: absolute;
	left: 17rem;
}

.change-Limit-wrapper .small-txt {
	font-size: 10px;
}

.change-Limit-wrapper .disabled {
	opacity: 0.5;
}

.change-Limit-wrapper .ant-switch-checked {
	background-color: rgba(0, 0, 0, 0.25);
}

.admin-tiers-wrapper .description {
	font-size: 14px;
	color: #c4c4c4;
}
.admin-tiers-wrapper .description.f-16 {
	font-size: 16px;
}
.admin-tiers-wrapper .description .underline {
	color: #ffffff;
}
.change-Limit-wrapper .switch-warn {
	float: right;
	font-size: 13px;
	color: #f15a29;
}

.edit-fees-popup-wrapper {
	top: 4%;
}

.edit-fees-popup-wrapper .blue-admin-input-wrapper .ant-input-suffix {
	display: flex;
	flex-direction: row-reverse;
}

.edit-fees-popup-wrapper .ant-modal-close,
.selected-fees-edit-popup-wrapper .ant-modal-close,
.reset-fees-popup-wrapper .ant-modal-close,
.edit-fees-popup-wrapper
	.blue-admin-input-wrapper
	.ant-input-suffix
	.ant-input-clear-icon {
	color: #ffffff;
	margin-left: 6px;
}

.edit-fees-popup-wrapper .admin-tiers-table-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

.edit-fees-popup-wrapper .admin-tiers-table-wrapper .admin-tiers-table {
	max-width: 90%;
	margin-right: auto;
	margin-left: auto;
	display: flex;
}

.edit-fees-popup-wrapper .admin-tiers-table-wrapper .filtered-tier-table {
	width: 50% !important;
}

.edit-fees-popup-wrapper
	.admin-tiers-table-wrapper
	.admin-tiers-table
	.tier-arrow-icon,
.admin-earnings-container
	.admin-tiers-wrapper
	.tier-fees-table-wrapper
	.tier-arrow-icon {
	padding: 0 5px;
}

.edit-fees-popup-wrapper
	.admin-tiers-table-wrapper
	.admin-tiers-table
	.arrow-icon {
	margin-bottom: 9%;
}

.edit-fees-popup-wrapper
	.admin-tiers-table-wrapper
	.admin-tiers-table
	.tier-arrow-icon:hover,
.admin-earnings-container
	.admin-tiers-wrapper
	.tier-fees-table-wrapper
	.tier-arrow-icon:hover {
	background-color: rgba(255, 255, 255, 0.1);
	opacity: 0.8;
}
.admin-earnings-container .admin-tiers-wrapper .tier-fees-table-wrapper th,
.admin-earnings-container .admin-tiers-wrapper .tier-fees-table-wrapper td {
	padding: 12px 12px;
}

.edit-fees-popup-wrapper
	.admin-tiers-table-wrapper
	.admin-tier-filters-wrapper {
	position: sticky;
	top: 0;
	z-index: 1;
	padding: 1.5% 0;
}

.edit-fees-popup-wrapper
	.admin-tiers-table-wrapper
	.admin-tier-filters-wrapper.filters-scrolled {
	background-color: var(--admin_panel_modal_background);
}

.edit-fees-popup-wrapper .admin-tiers-table-wrapper .admin-tier-filters-wrapper,
.edit-fees-popup-wrapper
	.admin-tiers-table-wrapper
	.admin-tier-filters-wrapper
	.admin-tier-filters,
.edit-fees-popup-wrapper .admin-tiers-table-wrapper {
	gap: 2%;
	row-gap: 20px;
}

.edit-fees-popup-wrapper
	.admin-tiers-table-wrapper
	.admin-tier-filters-wrapper
	.admin-tier-filters
	.fees-title,
.edit-fees-popup-wrapper
	.admin-tiers-table-wrapper
	.admin-tiers-table
	.tier-arrow-icon,
.admin-earnings-container
	.admin-tiers-wrapper
	.tier-fees-table-wrapper
	.tier-arrow-icon,
.reset-fees-popup-wrapper .reset-fees-title {
	font-size: 26px;
}

.edit-fees-popup-wrapper
	.admin-tiers-table-wrapper
	.admin-tier-filters-wrapper
	.admin-tier-filters
	.filters-label {
	font-size: 18px;
}

.edit-fees-popup-wrapper .blue-admin-select-wrapper {
	width: 15rem;
	min-width: 13rem;
	opacity: 1;
}

.edit-fees-popup-wrapper
	.admin-tiers-wrapper
	.inactive-field
	.ant-select-selector,
.edit-fees-popup-wrapper
	.admin-tiers-wrapper
	.inactive-field.ant-input-affix-wrapper {
	opacity: 0.6 !important;
	border-color: #ffffff !important;
}

.edit-fees-popup-wrapper .admin-tiers-wrapper .ant-input-affix-wrapper:hover,
.edit-fees-popup-wrapper .admin-tiers-wrapper .ant-input-affix-wrapper-focused,
.edit-fees-popup-wrapper
	.admin-tiers-wrapper
	.blue-admin-select-wrapper
	.ant-select-selector:hover,
.edit-fees-popup-wrapper
	.admin-tiers-wrapper
	.blue-admin-select-wrapper
	.ant-select-selector:focus,
.edit-fees-popup-wrapper
	.admin-tiers-wrapper
	.blue-admin-select-wrapper
	.ant-select-selector:active {
	border-color: #ffffff !important;
	box-shadow: none !important;
}

.edit-fees-popup-wrapper
	.blue-admin-select-wrapper
	.ant-select-selection-search-input {
	height: 100% !important;
}

.edit-fees-popup-wrapper .market-select-filter .ant-select-selection-item,
.edit-fees-popup-wrapper
	.market-select-filter-dropdown
	.ant-select-item-option-content {
	text-transform: uppercase;
	display: flex;
	gap: 5px;
}

.edit-fees-popup-wrapper .blue-admin-select-wrapper .ant-select-arrow,
.edit-fees-popup-wrapper .blue-admin-select-wrapper .ant-select-clear,
.edit-fees-popup-wrapper .blue-admin-select-wrapper .ant-select-clear,
.admin-tiers-table .footer-back-btn {
	background: transparent;
	color: #ffffff;
}

.edit-fees-popup-wrapper .blue-admin-select-wrapper .ant-select-selector {
	background-color: transparent;
	color: #ffffff;
	height: 20%;
	padding-top: 7px !important;
	padding-bottom: 7px !important;
	border: 1px solid #1890ff !important;
	border-radius: 5px;
}

.edit-fees-popup-wrapper
	.admin-tiers-wrapper
	.blue-admin-select-wrapper.ant-select-focused
	.ant-select-selector:hover {
	border: 1px solid #1890ff !important;
}

.edit-fees-popup-wrapper .blue-admin-input-wrapper {
	width: 20rem;
	border-radius: 20px;
	padding: 10px;
	padding-left: 20px;
	border-color: #1890ff;
}

.edit-fees-popup-wrapper .admin-edit-title-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 1% 0;
}

.edit-fees-popup-wrapper .admin-edit-title-wrapper .admin-edit-title {
	font-size: 3rem;
	font-weight: 600;
}

.admin-tiers-wrapper .admin-tier-description,
.reset-fees-title .reset-fees-description {
	margin-top: 1%;
}

.admin-tiers-wrapper .admin-tier-title {
	font-size: 15px;
}

.selected-fees-edit-popup-wrapper
	.selected-fees-edit-details
	.selected-fees-edit-description,
.selected-fees-edit-popup-wrapper
	.selected-fees-edit-details
	.selected-fees-edit-inputs,
.selected-fees-edit-popup-wrapper
	.selected-fees-edit-details
	.edit-fees-button-container,
.reset-fees-popup-wrapper .reset-fees-button-conatiner {
	margin-top: 2%;
	display: flex;
	flex-direction: column;
}

.selected-fees-edit-popup-wrapper
	.selected-fees-edit-details
	.selected-fees-edit-description
	.selected-fees-edit-text,
.selected-fees-edit-popup-wrapper
	.selected-fees-edit-details
	.selected-fees-edit-description
	.selected-fees-edit-text
	.selected-market {
	display: flex;
	gap: 5px;
	flex-wrap: wrap;
}

.selected-fees-edit-popup-wrapper
	.selected-fees-edit-details
	.selected-fees-edit-inputs
	.selected-fees-edit-input {
	background-color: transparent;
}

.selected-fees-edit-popup-wrapper
	.selected-fees-edit-details
	.selected-fees-edit-inputs
	.input-wrappers {
	background-color: transparent;
	color: #000000;
	border-radius: 2px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 70%;
	border: 1px solid #ffffff;
}

.selected-fees-edit-popup-wrapper
	.selected-fees-edit-details
	.selected-fees-edit-inputs
	.input-wrappers
	.ant-space-item:first-child {
	width: 100%;
}

.selected-fees-edit-popup-wrapper
	.selected-fees-edit-details
	.selected-fees-edit-inputs
	.input-wrappers
	.selected-fees-edit-input,
.selected-fees-edit-popup-wrapper
	.selected-fees-edit-details
	.selected-fees-edit-inputs
	.input-wrappers
	.selected-fees-edit-input
	:focus {
	border: none !important;
	box-shadow: none !important;
	color: #ffffff;
}

.selected-fees-edit-popup-wrapper
	.selected-fees-edit-details
	.selected-fees-edit-inputs
	.input-wrappers
	.ant-space-item:last-child {
	margin-right: 3%;
	color: #ffffff;
}

.selected-fees-edit-popup-wrapper
	.selected-fees-edit-details
	.edit-fees-button-container,
.reset-fees-popup-wrapper .reset-fees-button-conatiner {
	margin-top: 10%;
	flex-direction: row;
	gap: 2%;
}

.selected-fees-edit-popup-wrapper
	.selected-fees-edit-details
	.edit-fees-button-container
	.confirm-btn {
	opacity: 0.5;
}

.selected-fees-edit-popup-wrapper
	.selected-fees-edit-details
	.selected-fees-edit-description
	.selected-fees {
	color: #ffd500;
}

.selected-fees-edit-popup-wrapper
	.selected-fees-edit-details
	.adjust-fees-title {
	font-size: 28px;
}

.admin-tiers-table .divider {
	border-left: 1px solid gray;
	height: 20px;
}

.admin-fee-review-wrapper .green-box {
	width: 12px;
	height: 12px;
	background: #288500;
	display: block;
	margin-top: 5px;
	margin-left: 6px;
}

.edit-fees-popup-wrapper .ant-modal-body {
	padding: unset;
}

.edit-fees-popup-wrapper
	.admin-tiers-wrapper
	.admin-tiers-table-wrapper
	.admin-tiers-table
	.no-border-row
	td:not(:last-child):not(:first-child) {
	border: none !important;
	border-bottom: 1px solid #ffffff !important;
}

.edit-fees-popup-wrapper
	.admin-tiers-wrapper
	.admin-tiers-table-wrapper
	.admin-tiers-table
	.edited-fees-td {
	outline: 1px solid #288500 !important;
	border-top: 2px solid #288500 !important;
	border-bottom: 2px solid #288500 !important;
	border-right: 2px solid #288500 !important;
	border-left: 2px solid #288500 !important;
	border-collapse: collapse !important;
}

.edit-fees-popup-wrapper
	.admin-tiers-wrapper
	.admin-tiers-table-wrapper
	.admin-tiers-table
	td
	div:hover,
.edit-fees-popup-wrapper
	.admin-tiers-wrapper
	.admin-tiers-table-wrapper
	.admin-tiers-table
	th
	.tier-header:hover {
	opacity: 0.6;
}

.edit-fees-popup-wrapper
	.admin-tiers-wrapper
	.admin-tier-filters
	.blue-admin-input-wrapper
	.ant-input,
.edit-fees-popup-wrapper
	.admin-tiers-wrapper
	.admin-tier-filters
	.blue-admin-select-wrapper
	.ant-select-selection-placeholder {
	font-size: 13px;
}

.edit-fees-popup-wrapper
	.admin-tiers-wrapper
	.admin-tiers-table-wrapper
	.admin-tiers-table
	.sticky-col {
	border-right-width: 2px;
	min-width: 20rem;
}

.edit-fees-popup-wrapper .admin-tiers-wrapper .button-container {
	position: sticky;
	bottom: 0;
	background-color: var(--admin_panel_modal_background);
	padding: 1% 0;
	max-width: 100%;
	box-shadow: 0 -4px 10px 0 rgba(0, 0, 0, 0.25);
}

.edit-fees-popup-wrapper .admin-tiers-wrapper .button-container .ant-btn {
	transition: none !important;
}

.edit-fees-popup-wrapper .admin-tiers-wrapper .button-container .reset-btn {
	background-color: #f6921e !important;
}

.edit-fees-popup-wrapper .admin-tiers-wrapper .button-container .confirm-btn {
	background-color: #ed1c24 !important;
}

.edit-fees-popup-wrapper
	.admin-tiers-wrapper
	.button-container
	.select-update-btn {
	background-color: #1890ff !important;
	color: #ffffff;
}

.edit-fees-popup-wrapper
	.admin-tiers-wrapper
	.admin-tiers-table-wrapper
	.admin-tiers-table
	.shadow-left {
	box-shadow: -20px 0 25px -20px rgb(0, 0, 0) inset !important;
}

.edit-fees-popup-wrapper
	.admin-tiers-wrapper
	.admin-tiers-table-wrapper
	.admin-tiers-table
	.shadow-right {
	box-shadow: 20px 0 25px -20px rgb(0, 0, 0) inset !important;
}

.edit-fees-popup-wrapper
	.admin-tiers-wrapper
	.admin-tiers-table-wrapper
	.admin-tiers-table
	.highlighted-fee {
	border: 3px solid #1890ff !important;
	color: #1890ff;
}

.edit-fees-popup-wrapper .review-fee-tier-wrapper {
	background-color: var(--admin_panel_header_section) !important;
}

.edit-fees-popup-wrapper .tier-fee-popup-wrapper {
	background-image: url('/assets/images/edit-global-trading-fees-by-tiers.png');
	background-repeat: no-repeat;
	background-position-y: 5rem;
	max-height: 92vh;
	overflow-y: auto;
}

.edit-fees-popup-wrapper
	.admin-tiers-wrapper
	.admin-tiers-table-wrapper
	.admin-tiers-table
	.highlighted-fee-col,
.edit-fees-popup-wrapper
	.admin-tiers-wrapper
	.admin-tiers-table-wrapper
	.ant-table-tbody
	> tr.ant-table-row:hover
	> td {
	background: var(--admin_panel_card_background) !important;
}

.edit-fees-popup-wrapper .admin-tiers-wrapper .button-container .divider {
	width: 2px;
	background-color: #ffffff;
}

.selected-fees-edit-popup-wrapper
	.selected-fees-edit-details
	.selected-fees-edit-description
	.selected-fees
	.filter-tier-icon {
	position: relative !important;
	bottom: 10% !important;
}

.admin-tiers-wrapper .admin-tiers-table-wrapper .back-to-top {
	position: absolute;
	left: 2%;
}
