.tiers-container {
	border: 1px solid #c4c4c4;
	border-bottom: none;
	max-width: 50rem;
	min-width: 25rem;
	padding: 12px;
	color: #ffffff;
}
.tiers-container:last-child {
	border-bottom: 1px solid #c4c4c4;
}
.tiers-container .tier-icon {
	height: 3rem;
	width: 3rem;
}
.tiers-container .description {
	width: auto;
}
.requirement-divider {
	background-color: #c4c4c4;
	height: 1px;
	margin: 15px 0px;
}
.new-tier-form .file-container {
	width: 100%;
}
.tiers-confirm-warning {
	background-color: #0000d1;
	padding: 8px;
	margin: 10px 0px;
}
.warning-txt {
	color: #f28041;
}
.new-tier-form .text-editor-wrapper {
	border: 1px solid #d9d9d9;
	border-radius: 4px;
	min-height: 200px;
}
.new-tier-form .text-editor-toolbar {
	color: black;
}
.table-tier-icon {
	height: 2.5rem;
	width: 2.5rem;
}
.limit-status-icon {
	width: 2rem;
}
.custom-column-td {
	padding: 8px 16px;
}
.column-divider {
	border-bottom: 1px solid #c4c4c4;
}
.fee-indicator-icon {
	width: 8rem;
}
.tier-section-icon {
	width: 4rem;
}
.admin-link-highlight {
	color: #ffffff;
	text-decoration: underline;
	cursor: pointer;
}
.admin-link-highlight:hover {
	text-decoration: none;
}

.admin-tiers-wrapper td.type-column {
	padding: 0px !important;
}
.admin-tiers-wrapper .ant-table-thead > tr > th {
	background-color: #4e4efb;
	color: #ffffff;
}
.admin-tiers-wrapper .ant-table-tbody > tr > td {
	background-color: #0000d1;
	color: #ffffff;
	border-bottom: 1px solid #c4c4c4;
}
.admin-tiers-wrapper .ant-table-tbody > tr.ant-table-placeholder:hover > td {
	background-color: #0000ff;
}
.admin-tiers-wrapper .ant-table-tbody > tr.ant-table-row:hover > td {
	background-color: #0000ff;
}
.admin-tiers-wrapper .ant-empty .ant-empty-image .ant-empty-img-simple-ellipse,
.admin-tiers-wrapper .ant-empty .ant-empty-image .ant-empty-img-simple-path {
	fill: #7d9ac9;
}
.admin-tiers-wrapper .ant-empty .ant-empty-image .ant-empty-img-simple-g {
	stroke: #7d9ac9;
}
.admin-tiers-wrapper .ant-empty .ant-empty-description {
	color: #ffffff;
}
.admin-tiers-wrapper .ant-table-pagination.ant-pagination {
	margin: 16px 0;
	background: #ffffff;
	border-radius: 50px;
	padding: 15px;
}
.admin-tiers-wrapper h1,
.admin-tiers-wrapper h3 {
	color: #ffffff;
}

.admin-tiers-wrapper .ant-pagination-item-active,
.admin-tiers-wrapper .ant-pagination-item-active:focus,
.admin-tiers-wrapper .ant-pagination-item-active:hover {
	border-color: #288500 !important;
}

.admin-tiers-wrapper .ant-table-tbody {
	overflow-x: auto;
}

.admin-tiers-wrapper .ant-table-container {
	overflow-x: auto;
}
