.app_container {
	background-color: #eee;
	min-height: calc(100vh - 8px);
	display: flex;
	flex-direction: column;
}

.app_header {
	background-color: #222;
	height: 56px;
	padding: 8px 16px;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex: 0;
}

.app_container-content-wrapper {
	width: 100%;
	display: flex;
	flex: 1;
}

.app_container-content {
	/* max-width: 1024px;
	margin: 8px auto;
	flex-direction: column; */
	width: 100%;
	/* flex: 1; */
}
.content-wrapper {
	margin:24px;
}

.app_container-sidebar {
	width: 200px;
	display: flex;
	flex-direction: column;
	padding: 16px;
}

.app_container-wrapper {
	flex: 1;
	padding: 16px;
	overflow-y: auto;
	max-height: calc(100vh - 104px);
}

.my-drawer {
	position: relative;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
.my-drawer .am-drawer-sidebar {
	background-color: #fff;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
.my-drawer .am-drawer-sidebar .am-list {
	width: 300px;
	padding: 0;
}
.admin-top-bar {
	height: 38px;
	background-color: #0F1114;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #ffffff;
}
.admin-top-header {
	font-size: 18px;
}
.top-box-menu {
	border: 1px solid #C4C4C4;
	border-radius: 5px;
	color: #C4C4C4;
	margin: 0px 10px;
	padding: 1px 5px;
}
.ant-layout {
	height: calc(100vh - 38px);
}
.ant-layout .ant-layout-content {
	margin-left: 310px;
    background-color: #0000FF;
}
.ant-layout-sider .ant-layout-sider-children .ant-menu .ant-menu-item {
	color: #FFFFFF;
}
.ant-layout-sider .ant-layout-sider-children .ant-menu {
	background-color: #0000FF;
	color: #FFFFFF;
}
.ant-layout-sider .ant-layout-sider-children {
	background-color: #0000FF;
}
.menu-wrapper {
	width: 100%;
}
