$chat-wrapper-light--background-color: white;
$chat-message-box-dark--background-color: #0f1114;
$chat-message-light--font-color: #999999;
$chat-message-dark--font-color: #808080;
$chat-wrapper--border-color: #282829;
$chat-other-message--color: white;
$chat-element-action--color: $link;
$unread-messages-border--color: #b9b500;
$chat-emoji-face-icon--color: #b6b4cc;
$chat-message--font-size: 1rem;
$chat-username--font-size: 1.2rem;
$mobile-regular--font-size: 1.5rem;
$chat-message-content-color: #b6b4cc;
$chat-top-theme-icon: #b6b4cc;
$chat-message-content-light: #4f4f4f;
$emoji-content-background: #cecece;
$dark-emoji-content-background: #454848;
$dark-emoji-content-top-background: #525656;
$light-emoji-content-top-background: #dbdbdb;
$colors-white: white;

.layout-mobile {
	.chat-wrapper {
		position: relative;
		height: 100%;
		box-shadow: unset !important;
		right: 0;
		bottom: 0;
		.nondraggable {
			height: 100%;
		}
		.timestamp {
			font-size: $font-size-mobile-innertxt;
		}
		.chat-message-list {
			width: 100% !important;
			.chat-message {
				.message-content {
					.username {
						font-size: $mobile-regular--font-size;
						width: 100%;
					}

					.message {
						font-size: $font-size-mobile-txt;
						line-height: unset !important;
					}
				}
				.item-options {
					.item-options-wrapper {
						min-width: 5rem;
						font-size: $chat-message--font-size;
						right: 1.5rem;
						top: -0.5rem;
					}
				}
			}
		}
		.chat-footer {
			padding: 0.5rem;
			background-color: $box-fields;
			.chat-message-box {
				min-height: 4rem;
				font-size: $regular-chat--font-size;
				padding: 1rem 0.5rem;
			}
			.emoji-container {
				width: 100% !important;
				.chat-category {
					.emoji-close {
						.cross-icon-back {
							width: 3rem;
						}
					}
				}
			}
			.chat-emoji-wrapper {
				background-color: $box-fields;
				.chat-emoji-icon {
					svg {
						.emoji-face-icon {
							fill: $colors-black;
						}
					}
				}
			}
		}
	}
}

.chat-wrapper {
	position: fixed;
	background-color: $chat-wrapper-light--background-color;
	height: 40rem;
	right: 1rem;
	bottom: 0;
	color: $chat-message-light--font-color !important;
	z-index: 100;
	-webkit-box-shadow: 1px 0px 3px 0px rgba(0, 0, 0, 0.29);
	-moz-box-shadow: 1px 0px 3px 0px rgba(0, 0, 0, 0.29);
	box-shadow: 1px 0px 3px 0px rgba(0, 0, 0, 0.29);
	font-family: 'Open Sans' !important;
	border: 1px solid $chat-box-border !important;
	border-top: 2px solid $link !important;

	.timestamp {
		color: $chat-message-dark--font-color;
		font-size: 0.65rem;
		min-width: 3.2rem;
		text-align: right;
		margin-right: 0.3rem;
	}
	.chat-username-footer {
		border-top: 1px solid gray;
	}
	.username-to-chat {
		padding: 0.7rem !important;
		color: $link !important;
		font-size: 1rem !important;
		font-family: 'Open Sans' !important;
	}

	.nondraggable {
		height: calc(100% - 2.5rem);
	}

	&.unread-messages {
		border-color: $unread-messages-border--color;
		color: $unread-messages-border--color;

		&:hover {
			border-color: $chat-own-message--color;
			color: $chat-own-message--color;

			&::before {
				border-top-color: $chat-own-message--color;
			}
		}

		&::before {
			border-top-color: $unread-messages-border--color;
		}
	}

	&.minimized {
		height: 2.5rem;

		.chat-footer,
		.chat-message-list {
			display: none !important;
		}
		.chat-header {
			border-top: 1px solid $colors-border;
			cursor: pointer;
			width: 23rem;
		}
		.minimize-button {
			padding: 0.5rem;

			&:hover {
				background-color: $colors-white;
			}
		}
	}

	.minimize-button {
		height: 1.5rem;
		width: 1.5rem;
		padding: 0.2rem;
		margin-left: 1rem;
		cursor: pointer;

		.minimize-button-content {
			width: 100%;
			height: 100%;
			border-bottom: 2px solid $chat-message-light--font-color;
		}

		.maximize-arrow {
			border: solid $chat-message-light--font-color;
			border-width: 0 3px 3px 0;
			display: inline-block;
			padding: 3px;
			transform: rotate(-135deg);
			-webkit-transform: rotate(-135deg);
		}

		&:hover {
			background-color: #dfdfdf;
		}
	}

	.loader_wrapper {
		position: relative;
		height: 100%;
		.loader_background {
			height: 100%;
			background: $chat-wrapper-light--background-color;
		}
		.loader {
			width: 5rem;
			height: 5rem;
		}
	}

	.chat-header {
		padding-top: 0.75rem;
		padding-bottom: 0.75rem;
		font-weight: bold;
		padding: 0.5rem 1rem;
		background-color: $app-bar-background-color;
		.chat-header-icon {
			flex: 1;
			background-image: url('/assets/images/dotted-grip-chat-repeat-pattern.svg');
			background-repeat: repeat-x;
			background-size: 0.75rem;
			height: 1.2rem;
			cursor: -webkit-grab;
		}
	}

	.chat-message-list {
		width: 23rem !important;
		background-color: $chat-message-background-odd;
		flex: 1;

		> div {
			// &:first-child {
			// padding: 0.5rem;
			// }
			padding: 0.5rem 0;
		}
		.view {
			> div {
				&:nth-child(odd) {
					background-color: $chat-message-background-odd;
				}
				&:nth-child(even) {
					background-color: $chat-message-background-even;
				}
			}
		}
		.chat-message {
			font-weight: bold;
			color: $chat-other-message--color;
			padding: 0.25rem 0;
			word-break: break-all;
			.message-content {
				width: 100%;
				.message {
					color: $chat-message-color;
					word-break: break-word;
					line-height: 1.5rem;
					font-size: $chat-message--font-size;
					font-weight: normal;
					line > span {
						> span {
							display: inline;
						}
					}
				}
				.nonmobile {
					.own-message {
						line-height: 1.2rem;
						word-break: keep-all;
						color: $chat-own-message--color;
					}
				}
			}

			&.user {
				.own-message {
					color: $chat-own-message--color;
					font-weight: bold;
				}
			}

			.message-content {
				span {
					&.toggle-content {
						position: relative;
						cursor: pointer;
						color: $chat-element-action--color;

						&::before {
							display: inline-block;
							content: '\00bb';
							height: 1rem;
							margin: 0 0.25rem;
						}

						&::after {
							position: absolute;
							content: '';
							bottom: 0;
							left: 0.2rem;
							border-bottom: 1px dotted $chat-element-action--color;
							width: 100%;
						}
					}
				}
				.show {
					.toggle-content {
						&::before {
							-webkit-transform: rotate(90deg);
							transform: rotate(90deg);
						}
					}
				}
				&.image {
					img.image {
						margin: 0.5rem 0;
						max-width: 100%;
					}
				}
			}
			.username {
				color: $colors-main-black;
				font-weight: bold;
				// font-size: $chat-username--font-size;
				margin-bottom: 0.5rem;
				width: 100%;
			}

			.item-options {
				position: relative;
				margin-left: 0.25rem;
				cursor: pointer;
				.item-options-icon-wrapper {
					width: 1rem;
					height: 1rem;
					.item-options-icon {
						width: 100%;
						height: 100%;
						& > * {
							fill: $chat-message-light--font-color;
						}
					}
				}
				.item-options-wrapper {
					position: absolute;
					right: 0;
					top: 1rem;
					min-width: 4rem;
					font-size: 0.8rem;
					.item-option {
						width: 100%;
						padding: 0 0.25rem;
						background-color: $chat-wrapper-light--background-color;
						border-bottom: 1px solid #464545;
						color: $chat-message-light--font-color;
						&:hover {
							background-color: #535353;
							color: white;
						}
					}
				}
			}
		}
		.user-icon {
			width: 2.5rem;
			svg {
				.level_icon {
					fill: $colors-black;
				}
			}
		}
	}

	.chat-footer {
		min-height: 3rem;
		width: 100%;
		padding: 0;
		background-color: $app-light-background;
		button {
			width: 100%;
		}
		.chat-message-box {
			outline: none !important;
			border: none;
			background-color: $box-fields;
			width: 100%;
			height: 100%;
			min-height: 3rem;
			line-height: 2rem;
			padding: 0.5rem;
			color: $chat-message-light--font-color;
			font-size: 0.9rem;
			resize: none;
			overflow: hidden;
			padding-left: 10px;

			&::placeholder {
				color: $colors-black;
			}
		}
		.chat-emoji-wrapper {
			background-color: $box-fields;
			cursor: pointer;

			.chat-emoji-icon {
				width: 2rem;
				svg {
					.emoji-face-icon {
						fill: $colors-black;
					}
				}
			}
		}
		.emoji-container {
			width: 23rem !important;
			height: 15rem;
			background-color: $emoji-content-background;

			.chat-category {
				border-bottom: 1px solid grey;
				background-color: $light-emoji-content-top-background;
				height: max-content;
				width: 100%;

				.top-background {
					.emoji-mart-emoji {
						background-color: $light-emoji-content-top-background;
					}
				}
				.emoji-close {
					cursor: pointer;

					.cross-icon-back {
						width: 2rem;
						svg {
							.cancel-cross-2 {
								stroke: $light-emoji-content-top-background;
							}
							.cancel-cross-3 {
								stroke: grey;
								stroke-width: 2;
							}
						}
					}
					&:hover {
						.cross-icon-back {
							svg {
								.cancel-cross-3 {
									stroke: $colors-black;
								}
							}
						}
					}
				}

				.activeEmoji {
					border-bottom: 2px solid $colors-notifications-blue;
				}

				.emoji-mart-emoji {
					background-color: $emoji-content-background;
					border: none;
					span {
						cursor: pointer;
					}
				}
				button {
					&:focus {
						outline: none !important;
					}
				}
			}
			.emoji-content {
				height: 13rem;
				overflow-y: scroll;
			}
			.emoji-mart-emoji {
				background-color: $emoji-content-background;
				border: none;
				span {
					cursor: pointer;
					&:hover {
						background-color: rgba(255, 255, 255, 0.5);
						border-radius: 20%;
					}
				}
			}
			button {
				&:focus {
					outline: none !important;
				}
			}
		}
		.separator {
			width: 1rem;
		}
	}
}
