@import '../../../variables';

$dropdown-menu--max-height: 10rem;
$dropdown-menu--border-radius: 0.25rem;

$placeholder--padding: 0.25rem;
$placeholder--font-size: $font-size-subtext;
$placeholder--font-weight: bold;

$dropdown-option--height: 1rem;
$dropdown-option--padding: 0.25rem;

.dropdown-content {
  .placeholder {
    font-size: $placeholder--font-size;
    font-weight: $placeholder--font-weight;
    color: $form-color-placeholder;
  }

  .dropdown-option {
    padding: 0;
  }
}

.dropdown-options-wrapper {
  max-height: 10rem;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  background: white;
  z-index: 10000;
  max-height: $dropdown-menu--max-height;
  overflow-y: auto;
  border: 1px solid grey;
  border-bottom-right-radius: $dropdown-menu--border-radius;
  border-bottom-left-radius: $dropdown-menu--border-radius;
  border-top: 0;
}

.dropdown-option {
  padding: $dropdown-option--padding;
  display: flex;
  align-items: center;
  > .icon {
    height: $dropdown-option--height;
    margin-right: $dropdown-option--padding;
  }
}

.dropdown-triangle:after {
  content: '';
  height: 0;
  width: 0;
  border-right: 0.25rem solid $colors-main-black;
  border-bottom: 0.25rem solid $colors-main-black;
  border-top: 0.25rem solid transparent;
  border-left: 0.25rem solid transparent;
  position: absolute;
  right: 0px;
  bottom: 0.35rem;
}
