@import './DropdownField.scss';
@import './FieldWrapper.scss';

$placeholder--padding: 0.25rem;
$placeholder--font-size: $font-size-subtext;
$placeholder--font-weight: bold;

.input_icon {
	margin-right: .25rem;
	width: 1.5rem;
}

.input_field-input {
	width: 100%;
	position: relative;
	background: transparent;
	border: none !important;
	line-height: 1rem;

	&:focus {
		outline: none;
	}

	&::placeholder {
		color: $form-color-placeholder !important;
	}
	&:disabled {
		cursor: not-allowed;
	}
}

.dropdown-triangle:after {
	content: '';
	height: 0;
	width: 0;
	border-bottom: 0.25rem solid $colors-main-black;
	border-top: 0.25rem solid transparent;
	position: absolute;
	bottom: 0.35rem;
}

.datefield-wrapper {
	position: relative;

	.datefield-input {
		// visibility: hidden;
	}

	.datefield-values-wrapper {
		display: flex;
		> * {
			flex: 1;
		}
		.datefield-toogle {
			&.fa {
				min-width: 10rem;
			}
			&.en {
				flex: 0;
				min-width: 4rem;
			}
		}
	}

	.SingleDatePicker {
		position: absolute;
	}

	.SingleDatePickerInput {
		display: none;
	}

	.datefield-farsi_picker {
		#farsiDatePicker {
			display: none;
		}
	}
}

.direction_ltr {
	.datefield-wrapper {
		.datefield-values-wrapper {
			padding-right: $placeholder--padding !important;

			> * {
				&:not(:last-child) {
					margin-right: 1rem;
				}
			}
		}
	}
}

.direction_rtl {
	.datefield-wrapper {
		.datefield-values-wrapper {
			padding-left: $placeholder--padding !important;

			> * {
				&:not(:last-child) {
					margin-left: 1rem;
				}
			}
		}
	}
}

.input_file {
}

.placeholder {
	font-size: $placeholder--font-size;
	font-weight: $placeholder--font-weight;
	color: $form-color-placeholder;
}

.no_bottom {
	bottom: 0;
}

.file_wrapper {
	display: flex;
	justify-content: space-between;
	padding-right: 0 !important;

	> .action_notification-wrapper {
		position: relative;
		top: 0 !important;
	}
}

.checkfield-wrapper {
	margin: 1rem 0;
	.checkfield-label {
		padding: 0 0.25rem;
		margin-bottom: 0;
		vertical-align: middle;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.direction_ltr {
	.dropdown-triangle:after {
		border-right: 0.25rem solid $colors-main-black;
		border-left: 0.25rem solid transparent;
		right: 0px;
	}

	.placeholder {
		padding-right: $placeholder--padding * 2;
	}
}

.direction_rtl {
	.dropdown-triangle:after {
		border-right: 0.25rem solid transparent;
		border-left: 0.25rem solid $colors-main-black;
		left: 0px;
	}

	.placeholder {
		padding-left: $placeholder--padding * 2;
	}
}

.dark-theme {
	.input_field-input {
		color: $dark-form-text !important;
		&::placeholder {
			color: $dark-form-placeholder !important;
		}
	}
	.dropdown-triangle:after {
		border-bottom-color: $dark-form-arrow !important;
	}
	.placeholder {
		color: $dark-form-placeholder !important;
	}
	&.direction_ltr {
		.dropdown-triangle:after {
			border-right-color: $dark-form-arrow !important;
		}
	}

	&.direction_rtl {
		.dropdown-triangle:after {
			border-left-color: $dark-form-arrow !important;
		}
	}
	.datefield-wrapper {
		.field-children {
			color: $dark-form-text !important;
		}
	}
}
