@import '../../../variables';

.input_field {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
  height: 6rem;
  
  &.with_error {
  }

  .error {
    color: $error-color;
  }

  .input_field-label {
    margin-bottom: 0.25rem;
  }

  .input_field-error {
    font-size: $font-size-subtext;
    padding: 0.25rem 0;
    > .error {
      padding-bottom: 0.35rem;
      padding-left: 0.5rem
    }
  }
}

.input_field-wrapper {
  position: relative;
  width: calc(50% - 0.5rem);
  .input_field-input {
    width: 100%;
    position: relative;
    display: block;
    background: transparent;
    border: none;
    height: 2.5rem;
    font-size: $font-size-subtext;
    font-weight: bold;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $form-color-placeholder;
    }
  }

  &.full_width {
    width: 100%;
  }
}

.input_field-outline {

  &:before {
    content:'';
    height:2px;
    width: 100%;
    bottom:0;
    position: absolute;
    transition: 0.3s ease all;
    background: $form-color-underline;
  }

  &.error::before, &.error::after {
    background: $error-color;
  }

  &:after {
    content:'';
    height:2px;
    width: 0;
    bottom:0;
    position: absolute;
    transition: 0.3s ease all;
    background: $form-color-underline;
  }
}

input:focus ~ .input_field-outline:after {
  width: 100%;
  background: $form-color-underline-focus;
}

.input_file {
  display: none;
}

.information_message {
  $information_message-size: 1.5rem;
  font-size: $font-size-subtext;

  &.absolute {
    position: absolute;
    width: 100%;

    &.right {
      left: 100%;
      top: calc(50% - #{$information_message-size / 2});
    }

    &.down {
      left: 0;
      top: calc(100 - -#{$information_message-size / 2})
    }
  }

  &.padding {
    padding: 0.5rem 0;
  }

  .information_message-image {
    height: $information_message-size;
  }

  .information_message-text {
    margin-left: 0.25rem;
  }
}
