@import '../../variables';

.holla-button {
	width: 100%;
	font-size: $font-size-subtext;
	padding: 0 4px;
	background-color: $colors-notifications-blue !important;

	&.button-success {
		background-color: $colors-notifications-green !important;
	}

	&.button-fail {
		background-color: $colors-notifications-red !important;
	}

	&.disabled {
		background-color: $colors-deactivate-color4 !important;
	}
	&:active,
	&:focus {
		outline: none;
		border: none;
	}
}

.checkbutton-wrapper {
	font-size: $font-size-main;
	// margin-top: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;

	.checkbutton-input-wrapper {
		width: 300px;
		padding: 10px;
		margin-top: 35px;
		justify-content: center;
		background-color: $colors-notifications-blue;
		.checkbutton-input-wrapper--label {
			margin: 0;
			padding-left: 0.5rem;
		}

		.checkbutton-input-wrapper--image,
		.checkbutton-input-wrapper--loader {
			width: 2rem;
		}
		.checkbutton-input-wrapper--image svg {
			@include size(2rem);
			stroke: $base_footer_text;
		}
	}
	.checkbutton-content-wrapper {
		margin-left: 2rem;
	}
}

.buttons-row {
	> *:not(:last-child) {
		margin-right: 1rem;
	}
}

.direction_ltr {
	.holla-button-font {
		font-family: $raleway--font-family;
	}
}

.direction_rtl {
	.holla-button-font {
		font-family: inherit !important;
	}
}
