.auth_wrapper {

    .title_wrapper {
        font-size: 2rem;
        font-weight: bold;
    }
    .agreement_wrapper {
        font-size: 1rem;
        background-color: grey;
        height: 40rem;
        overflow-y: scroll;
    }
}