.carousel__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.carousel__alice-wrapper {
	width: calc(100% - 6rem);
}

.carousel__button {
	color: $link;
	cursor: pointer;
	display: flex;
	align-items: center;
	width: 3rem;
	padding-right: 0.5rem;
	padding-left: 0.5rem;
	overflow: hidden;

	&.disabled {
		color: $colors-deactivate-color2;
		cursor: default;
	}
}
