.announcement-wrapper-disabled {
	color: #808080;
	pointer-events: none !important;

	.announcement-filters {
		.announcement-description-active {
			color: #ffffff;
			pointer-events: all !important;

			.feature-link {
				cursor: pointer;
			}
		}
	}

	.ant-table-wrapper {
		th,
		td {
			color: #808080 !important;
		}
	}
}

.announcement-wrapper {
	.upgrade-section {
		.button-wrapper {
			.upgrade-btn {
				background-color: #f6921e !important;
				border: unset;
			}
		}
	}

	.green-btn {
		border: none;
	}

	.announcement-filters {
		.display-title {
			display: flex;
			flex-direction: column;
		}

		.announcement-display-feature {
			width: 100%;
			gap: 2%;
			align-items: center;
			padding: 2% 0;
			border-bottom: 1px solid #808080;

			.feature-trade-box {
				.feature-icon {
					svg {
						width: 100%;
						height: 100%;
					}
				}

				.popup-feature-icon {
					position: relative;
					top: 3px;
				}
			}

			.announcement-features {
				display: flex;
				flex-direction: column;
				gap: 2%;
			}
		}
	}

	.blue-admin-table {
		.message-content-wrapper {
			width: 30rem;

			img {
				width: -webkit-fill-available;
			}
		}

		.message-content-wrapper * {
			color: #ffffff;
		}
	}
}

.admin-announcement-popup-wrapper,
.admin-announcement-message-popup-wrapper {
	.ant-modal-content {
		width: 40rem;
	}

	.ant-modal-close-icon {
		color: #ffffff !important;
	}

	.announcement-life-span-popup-container,
	.announcement-message-popup-wrapper {
		.title {
			font-size: 20px;
		}

		.description-text {
			font-size: 13px;
		}

		.announcement-display-option {
			font-size: 13px;
		}

		.button-container {
			margin-top: 5%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 3%;

			.green-btn {
				border: none;
				width: 100%;
			}
		}

		.announcement-display-options {
			display: flex;
			flex-direction: column;

			.announcement-display-feature {
				width: 100%;
				gap: 2%;
				align-items: center;

				.feature-trade-box {
					.feature-icon {
						svg {
							width: 100%;
							height: 100%;
						}
					}

					.popup-feature-icon {
						position: relative;
						top: 3px;
					}
				}

				.announcement-features {
					display: flex;
					flex-direction: column;
					gap: 2%;
				}
			}
		}
	}
}

.admin-announcement-message-popup-wrapper {
	.announcement-message-popup-wrapper {
		.quill {
			background-color: #ffffff;

			.ql-container {
				height: 14rem;

				.ql-editor > * {
					color: #000000 !important;
				}
			}
		}
	}
}

@media (min-width: 1820px) {
	.announcement-wrapper {
		.blue-admin-table {
			.message-content-wrapper {
				width: 45rem;
			}
		}
	}
}
