.verification_container {
	max-height: calc(100vh - #{$navigation_bar-height});
	overflow-y: auto;
	margin: 0 auto;
	padding: 1rem;

	.title-inactive {
		color: $colors-deactivate-color2;
	}
	.verification-buttons-wrapper {
		width: 100%;
	}
	.warning_text {
		margin: 1rem 0;
		padding: 0;
	}
}

.verification_content-form-wrapper {
	padding: 0.25rem;
}

.header_title-wrapper {
	border-top: 1px solid $colors-main-black;
	margin-bottom: 1rem;
	padding-top: 0.5rem;
	position: relative;

	.header_title-children {
		font-size: $font-size-subtext;
		color: $colors-deactivate-color2;
		padding: 0.5rem 0;

		.important_information {
			color: $colors-main-black;
			font-weight: bold;
		}
		.header_title-list {
			padding: 0 1.5rem;
		}
		.header_title-content {
			&:not(:last-child) {
				margin-bottom: 0.75rem;
			}
		}
	}
}

.dark-theme {
	.header_title-wrapper {
		border-top-color: $dark-border-main !important;

		.header_title-children {
			color: $dark-font-sub-text-color !important;

			.important_information {
				color: $dark-font-sub-text-color !important
			}
		}
	}
	.title-inactive {
		color: $dark-tab-inactive !important;
	}

	.astrics-1 {
		fill: $dark-tab-inactive;
	}
}

.layout-mobile {
	.mobile-bar-tab .bartab-text-wrapper {
		font-size: 1.5rem;
		line-height: 1.5rem;
	}
	.presentation_container.verification_container {
		padding-top: 0 !important;
		max-height: $max-content-height-mobile;
	}
}
