$tab_controller-title-img-size: 5rem;
$tab_controller-title-margin: 16px;
$tab_controller-item-min-width: 4rem;
$title--margin: 1rem;

.icon_title-wrapper {
	margin-top: $title--margin * 2.5;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;

	&.underline:after {
		content: '';
		width: 100%;
		height: 1px;
		background: $colors-main-border;
		position: absolute;
		bottom: 0;
		left: 0;
	}

	.icon_title-image,
	.icon_title-svg {
		@include size($tab_controller-title-img-size);
		svg {
			.risk-order-warning,
			.otp-key,
			.refer-icon,
			.send-request,
			.stake_icon,
			.otp-code,
			.st0,
			.st9,
			.st10,
			.trade-history-3,
			.contact-us-icon,
			.xht-coin-stack,
			.account-recovery-1,
			.account-recovery-success-1,
			.password-reset-1,
			.success-black-1,
			.check-st,
			.level_icon,
			.warning-icon,
			.transaction-history-2,
			.transaction-history-3,
			.resend-email-st,
			.email-confirmation {
				fill: $colors-main-black;
			}

			.st1,
			.trade-history-1,
			.account-recovery-success-2,
			.password-reset-2,
			.transaction-history-1,
			.transaction-history-4,
			.st11,
			.wallet-coins-2 {
				fill: $colors-black;
			}

			.trade-history-2,
			.trade-history-4,
			.trade-history-5,
			.transaction-history-4 {
				stroke: none;
			}

			.wallet-coins-1 {
				stroke: $colors-main-black;
			}

			.transaction-history-5 {
				fill: none;
			}
		}
	}

	.icon_title-svg svg {
		@include size($tab_controller-title-img-size);
	}

	.icon_title-text {
		font-size: $font-size-subhead3;
		margin: $title--margin;
		&.title {
			font-size: $font-size-headline2;
			text-transform: capitalize;
		}
	}

	.auth_logo-wrapper {
		height: 6rem !important;
		width: 10rem !important;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}
}

.direction_ltr {
	.icon_title-wrapper {
		font-family: $raleway--font-family;
	}
}

.layout-mobile {
	.icon_title-wrapper {
		// .auth_logo-wrapper {
		// 	height: 7rem !important;
		// 	width: 7rem !important;
		// }

		.auth_logo-wrapper svg {
			height: 8rem !important;
			width: 15rem !important;
		}
	}
	.auth-container {
		.action_notification-text,
		.font-small {
			font-size: 1rem !important;
		}
	}
}
