.input-group__container {
  border-radius: 4px;
  border: $colors-black solid 1px;

  .ant-input {
    text-align: right;
  }
}

.dark-theme {
  .input-group__container {
    border: $colors-white solid 1px;

    .ant-select-selection,
    .ant-input,
    .ant-select-arrow,
    .ant-select-selector
    {
      background-color: $dark-quick-trade-container !important;
      color: $dark-font-main-text-color !important;
    }
  }
}