.quick-trade-select-wrapper {
	.input-group__coin-icons-wrap {
		display: flex;
	}
}
.input-group__container {
	border-radius: 4px;
	border: $colors-black solid 1.5px;

	.ant-select-selection,
	.ant-select-selector {
		text-align: right;
		background-color: $quick-trade-container !important;
		color: $colors-black !important;
	}

	.ant-input {
		text-align: right;
		background-color: $quick-trade-container !important;
		color: $colors-deactivate !important;
	}

	.ant-select-arrow {
		svg {
			fill: $colors-black !important;
		}
	}
	.input-group__coin-icons-wrap {
		width: 2.5rem;
		display: flex;
	}

	.input-group__coin-icons-wrap_mobile-view {
		width: 3.5rem;
		display: flex;
	}

	&:focus-within {
		border-color: $link !important;
		.ant-input {
			color: $colors-main-black !important;
		}
	}

	.input-group__select:hover {
		color: $colors-main-black !important;

		.ant-select-selection,
		.ant-input,
		.ant-select-arrow,
		.ant-select-selector {
			color: $colors-main-black !important;
		}
	}

	&:hover {
		border-color: $colors-main-black;
	}
}

$breakpoints: (
	1024px: 66%,
	768px: 64%,
	550px: 50%,
	500px: 40%,
	450px: 36%,
	400px: 24%,
	350px: 12%,
	300px: 5%,
);

@each $breakpoint, $rightValue in $breakpoints {
	@media (max-width: #{$breakpoint}) {
		.quick-trade-dropdown {
			.ant-select-arrow {
				top: 50% !important;
				right: $rightValue !important;
			}
		}
	}
}
