$toogle-size: 14px;
$toogle-border: 2px;
$toogle-margin: 2px;

$wrapper-width: 80vw;
$wrapper-large-screen-width: 70vw;
$wrapper-xlarge-screen-width: 60vw;

$wrapper--padding: 3.5rem;
$section--margin-bottom: 2rem;

$currency-text-size: 4rem;
$input-bottom_line--height: 2px;
$input-bottom_line--animation--width: 100px;

$title-icon--height: 3.5rem;
$close-icon--height: 2rem;

@import './_InputGroup.scss';
@import './QuoteExpired';

.language_rtl {
	.quick_trade-wrapper {
		font-family: inherit;
		.input_block-title {
			font-family: inherit;
		}
	}
}

.direction_ltr {
	.quick_trade-wrapper {
		font-family: 'Open Sans';
	}
}

.quick_trade-tab-icon {
	@include size($title-icon--height);
	margin: 0 1rem 0 0;
}

.quick_trade_price_trend_icon {
	@include size(1.75rem);
	margin: 0 0 0 1rem;
	svg {
		fill: $link_2;
	}
}

.close-modal-icon {
	@include size($close-icon--height);
	margin-right: 2rem;
}

.quick_trade-container {
	margin: 3rem 0 4rem 0;

	.quick-trade-title-icon {
		.quick_trade-tab-icon {
			svg {
				path {
					fill: var(--labels_important-active-labels-text-graphics) !important;
				}
			}
		}
	}
	.quick_trade-section_wrapper {
		&.fetching {
			color: $colors-deactivate-color2;
		}

		width: 100%;
		position: relative;
	}

	.trade-details-wrapper {
		border-right: 1px solid $colors-super-pale-black;
	}

	.quick_trade-bottom-padded {
		margin-bottom: $section--margin-bottom;
	}
	.quick_trade-icon {
		width: 7rem;
		height: 8rem;
	}
	.title {
		font-size: 2.35rem;
		font-family: $raleway--font-family;
		letter-spacing: 2px;
		margin: auto;
	}
	.info-text {
		font-size: 14px;
		font-family: $en--font-family;
		color: $colors-deactivate;
	}
	.visit-asset-info {
		text-decoration: underline;
	}

	input.input-group__input:placeholder-shown:hover {
		&::placeholder {
			color: $colors-main-black;
		}
	}

	.quick-trade-input {
		background: var(--base_secondary-navigation-bar);
		padding: 1.5rem;
		border-radius: 10px;
		width: 465px;
		border: 2px solid transparent;
		&:focus-within {
			background: var(--base_wallet-sidebar-and-popup);
			border: 2px solid #5d63ff;
		}

		  
		.currency-dropdown:hover,
		.input-group__select:hover {
			.input-group__select,
			.input-group__input {
				color: $colors-main-black;
			}
		}
		.input-group__select:hover,
		.input-group__input:hover {
			color: $colors-main-black;
		}
	}

	.currency-dropdown {
		border: 1px solid #b2b3b3;
		border-radius: 5px;
	}

	.input-group__input {
		text-align: right;
		color: var(--labels_secondary-inactive-label-text-graphics);
		font-size: 2.1rem;
		margin-left: 1rem;
		height: 60px;
		&:focus,
		&:active {
			background-color: $app-light-background !important;
			box-shadow: inset 1px 1px 3px #00000029;
			border-radius: 5px;
			border-bottom: 1px solid #ffffff;
		}

		&:hover {
			color: $colors-main-black;
		}
	}

	.field-error-content {
		display: block;
	}

	.input-group__select {
		color: var(--labels_secondary-inactive-label-text-graphics);
		padding: 1.125rem 1rem;
		font-size: 1.4rem;
		.ant-select-selector {
			padding: 0;
			min-width: 7.5rem;
		}

		.anticon {
			color: var(--labels_important-active-labels-text-graphics);
		}
	}
}
.quick_trade-wrapper.width-none {
	min-width: unset !important;
	max-width: unset !important;
}
.quick_trade-wrapper {
	// width: $wrapper-width;
	// background-color: $quick-trade-block-background;
	// margin: 3rem auto;
	height: fit-content;
	height: 664px;
	border: 1px solid $colors-super-pale-black;
	font-size: 1.3rem;

	.review-block-wrapper {
		margin: 1rem 0;
		width: auto;
	}

	.review-block-wrapper {
		.currency-wrapper {
			margin: 0.5rem auto;
			font-size: $currency-text-size;
			line-height: $currency-text-size;
			.currency_ball-wrapper {
				margin-top: 0.25rem;
				margin-right: 0.5rem;
			}
		}
		.with_price-block_amount {
			margin: 0;
		}
	}

	.balance-wallet {
		padding-bottom: 0.5rem;
	}

	.input-group__error-wrapper {
		color: red;
		min-height: auto;
		margin-top: 12px;
	}

	.input_block-title {
		font-size: $font-size-subhead3;
		font-family: $raleway-medium--font-family;
	}

	.trade-section {
		width: 100%;
		padding: 5rem;
		background: transparent
			linear-gradient(
				316deg,
				var(--base_secondary-navigation-bar, 0.25) 0%,
				var(--base_wallet-sidebar-and-popup, 0.25) 100%
			)
			0% 0% no-repeat padding-box;

		.inner-content {
			width: 450px;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			margin-left: auto;
			.btn-wrapper {
				padding: 1rem 0;
				.holla-button.disabled {
					svg {
						fill: rgba(0, 0, 0, 0.38) !important;
						opacity: 0.4;
						path {
							fill: rgba(0, 0, 0, 0.38) !important;
						}
					}
				}
			}
			.btn-margin-wrapper {
				margin-top: 5rem;
			}
			.py-2 {
				display: flex;
				align-items: center;
				.bold {
					padding-right: 0.85rem;
				}
				.ant-input-group {
					background-color: $app-light-background !important;
					.ant-select-selector,
					.input-group__input {
						background-color: $app-light-background !important;
					}
				}
			}
			.balance-text {
				text-transform: capitalize;
				color: var(--labels_secondary-inactive-label-text-graphics);
				display: flex;
				span {
					color: $link_2;
				}
			}
			.footer-text {
				font-size: 1rem;
				font-family: $en--font-family;
				color: var(--labels_secondary-inactive-label-text-graphics);
				letter-spacing: 0.58px;
				text-align: end;
			}
			.swap-wrapper-wrapper {
				align-self: self-start;
				margin-left: 4rem;
			}
		}
	}
}

@keyframes linear_loading {
	0% {
		left: 0;
		width: 0;
	}
	15% {
		left: 0;
		width: $input-bottom_line--animation--width;
	}
	85% {
		width: $input-bottom_line--animation--width;
		left: calc(100% - #{$input-bottom_line--animation--width});
	}
	100% {
		width: 0;
		left: 100%;
	}
}

.layout-mobile {
	.ReactModal__Overlay {
		.ReactModal__Content {
			background-color: $quick-trade-background !important;
			.dialog-mobile-content {
				padding: 2.5rem 0 !important;
				display: block;
			}
		}
	}

	.trade-details-wrapper {
		border-right: none;
	}

	.price_trend_title_icon {
		margin-left: 0;
		margin-right: 1rem;
		svg {
			fill: $colors-main-black;
		}
	}

	.quick_trade-section_wrapper {
		.quick-trade-header-wrapper {
			justify-content: center !important;
			font-size: 2.875rem;
		}
		.review-block-wrapper {
			.input_block-title {
				font-size: $font-size-mobile-txt;
			}
		}
	}
	.title {
		font-weight: 600;
	}
	.quick_trade-container {
		height: 100%;
		padding: 2rem 2.5rem;
		margin: 0;

		.input-group__input {
			height: 60px;
			font-size: 2.5rem;
		}
	}
	.quick_trade-wrapper {
		background-color: transparent;
		height: 664px;
		border: none;
		font-size: 1.45rem;
		margin: 0;

		.trade-details-wrapper {
			width: 100%;
			.pairs {
				font-size: 2.25rem;
			}
			.fullname {
				font-size: 1.875rem;
			}
			.trade-details-content {
				width: 100%;
				height: 100%;
			}
		}
		.trade-section {
			background: transparent;
			padding: 0;
			.inner-content {
				align-items: flex-start;
				.py-2 {
					flex-direction: column;
					align-items: flex-start;
					width: 100%;
					font-size: $font-size-mobile-txt !important;
					.ant-input-group {
						width: 100% !important;
					}
					.input-group__error-wrapper {
						width: 100% !important;
					}
				}
				.btn-wrapper {
					align-items: center !important;
					margin-top: 5rem;
				}
				.footer-text {
					font-size: $font-size-mobile-txt !important;
					margin: auto;
					text-align: center;
				}
			}
		}

		.quick-trade-input {
			padding: 2rem 1.7rem;
			border-radius: 10px;
			width: 100%;
			min-height: 19.25rem;
			font-size: 2.25rem;
		}

		.input-group__select {
			font-size: 2.3rem;
			min-height: 60px;
			padding: 1rem 0.5rem;
			width: 15rem;
			.ant-select-selector {
				margin-top: 0.375rem;
				height: 5rem;
			}
		}

		.input-group__coin-icons-wrap_mobile-view {
			margin-top: 0.375rem;
		}

		.balance-text {
			font-size: 1.8rem;
		}

		.field-error-content {
			font-size: 1.2rem;
			text-align: right;
		}

		.swap-container {
			font-size: 2.125rem;
			margin: 1rem auto;
			.pointer {
				margin-left: 1.25rem !important;
			}
		}
	}
	.swap-wrapper,
	.swap-wrapper-wrapper {
		width: 100% !important;
	}

	.price-title-wrapper {
		justify-content: space-between;
		padding: 0 0 0 3rem;
		font-size: 2.5rem;
	}

	.view-trend-text {
		font-size: 2.125rem;
		align-self: center;
		color: $link_2;
	}
}
.mobile_dropdown-section {
	border-top: solid;
}

.review-block-wrapper {
	border-top: $colors-border solid 1px;
}
.loading-border {
	position: absolute;
	border: 1px solid $link;
}

@media (min-width: 1500px) {
	.quick_trade-wrapper {
		width: $wrapper-large-screen-width;
	}
}

@media (min-width: 1800px) {
	.quick_trade-wrapper {
		width: $wrapper-xlarge-screen-width;
	}
}

@media (max-width: 1020px) {
	.quick_trade-wrapper {
		min-width: 100% !important;
		max-width: 100% !important;

		.trade-details-wrapper {
			width: 100%;
			padding: 0 0 3rem;
			.trade-details-content {
				width: 100%;
				height: 100%;
			}
		}
		.goto-wallet-container {
			width: 100%;
			justify-content: end;
		}
		.trade-section {
			.inner-content {
				width: 100%;
				height: 100%;
				margin: 0;
				.py-2 .ant-input-group {
					width: 250px;
				}
				.py-2 .input-group__error-wrapper {
					width: 250px;
				}
				.input-group__container {
					.quick-trade-select-wrapper {
						.pl-1 {
							font-size: 0.85rem;
						}
					}
				}
			}
		}
		.swap-wrapper {
			width: 250px;
			margin-left: auto;
		}
	}
}

.swap-container {
	border-left: $colors-black dotted 4px;
	font-size: 1.42rem;
}

.swap-wrapper {
	width: 310px;
	padding: 0 1rem;
	margin: 0.5rem auto;
}
