$toogle-size: 14px;
$toogle-border: 2px;
$toogle-margin: 2px;

$wrapper--min-width: 1000px;
$wrapper--max-width: 1200px;
$wrapper--padding: 3.5rem;
$section--margin-bottom: 2rem;

$currency-text-size: 4rem;
$input-bottom_line--height: 2px;
$input-bottom_line--animation--width: 100px;

$title-icon--height: 10rem;

@import './_InputGroup.scss';

.language_rtl {
	.quick_trade-wrapper {
		font-family: inherit;
		.input_block-title {
			font-family: inherit;
		}
		.toogle_button-wrapper {
			.toogle-content {
				font-family: inherit;
				.selected {
					font-family: inherit;
				}
			}
		}
	}
}

.direction_ltr {
	.quick_trade-wrapper {
		font-family: $raleway--font-family;
	}
}

.quick_trade-tab-icon {
	@include size($title-icon--height);
	margin: 0 auto;
}
.quick_trade-container {
	margin: 3rem 0 4rem 0;
	.quick_trade-section_wrapper {
		&.fetching {
			color: $colors-deactivate-color2;
		}

		width: 100%;
		position: relative;
	}
	.quick_trade-bottom-padded {
		margin-bottom: $section--margin-bottom;
	}
	.quick_trade-icon {
		width: 7rem;
		height: 8rem;
	}
	.title {
		font-size: 30px;
		font-family: $raleway--font-family;
	}
	.info-text {
		font-family: $en--font-family;
		color: $colors-deactivate;
	}
}
.quick_trade-wrapper.width-none {
	min-width: unset !important;
	max-width: unset !important;
}
.quick_trade-wrapper {
	min-width: $wrapper--min-width;
	max-width: $wrapper--max-width;
	background-color: $quick-trade-block-background;
	// margin: 3rem auto;
	height: fit-content;
	height: 550px;
	border: 1px solid $colors-super-pale-black;

	.review-block-wrapper,
	.input_block-wrapper,
	.toogle_button-wrapper {
		margin: 1rem 0;
		width: auto;
	}

	.toogle_button-wrapper {
		.toogle-content {
			padding: 0 1rem;
			text-transform: uppercase;
			padding: 0 0.5rem;
			font-size: $font-size-subtext;
			color: $colors-deactivate-color2;
			height: $toogle-size + $toogle-border * 2 + $toogle-margin * 2;
			font-family: $raleway-medium--font-family;

			.selected {
				font-family: $raleway-extrabold--font-family;
				font-weight: bold;
				color: $colors-main-black;
			}

			.toogle-action_button {
				border: $toogle-border solid $colors-main-black;
				height: 100%;
				width: $toogle-size * 3;
				border-radius: $toogle-size;
				margin: 0 0.5rem;
				display: flex;
				align-items: center;
				position: relative;

				&.left .toogle-action_button-display {
					$right-pos: $toogle-size + $toogle-margin * 2;
					right: calc(100% - #{$right-pos});
				}
				&.right .toogle-action_button-display {
					right: 0;
				}

				.toogle-action_button-display {
					position: absolute;
					transition: 0.5s;
					background: $colors-main-black;
					height: $toogle-size;
					width: $toogle-size;
					border-radius: 50%;
					margin: $toogle-margin;
					top: 0;
				}
			}
		}

		.toogle-side_line {
			position: relative;
			&::after {
				content: '';
				height: 1px;
				width: 100%;
				position: absolute;
				background-color: $colors-main-border;
				left: 0;
				right: 0;
				top: 50%;
			}
		}
	}

	.review-block-wrapper {
		.currency-wrapper {
			margin: 0.5rem auto;
			font-size: $currency-text-size;
			line-height: $currency-text-size;
			.currency_ball-wrapper {
				margin-top: 0.25rem;
				margin-right: 0.5rem;
			}
		}
		.with_price-block_amount {
			margin: 0;
		}
	}

	.input-group__error-wrapper {
		color: red;
		margin-top: 0.5rem;
		float: right;
	}

	.input_block-wrapper {
		margin-bottom: 0;
	}
	.input_block-title {
		font-size: $font-size-subhead3;
		font-family: $raleway-medium--font-family;
	}

	.input_block-content {
		border-bottom: $input-bottom_line--height solid $colors-main-border;
		width: 100%;
		&.has_error {
			border-bottom-color: $colors-notifications-red;
		}

		.input_block-input-wrapper {
			// width: 100%;
			width: auto;
			position: relative;
			.input_block-inputbox {
				// width: 100%;
				font-size: $font-size-subhead2;
				// text-align: center;
				margin: 0.5rem 1.5rem;

				border: none !important;
				border-radius: 0 !important;
				padding: 0 !important;
				text-align: left;
				margin-left: 2rem;
			}
			.input_block-currency_ball {
				position: absolute;
				left: -0.5rem;
			}
			.react-numeric-input > b {
				visibility: hidden;
			}
		}

		&.loading {
			position: relative;
			border-bottom-color: $colors-deactivate-color2;
			&:after {
				content: '';
				display: block;
				animation: linear_loading 2s linear infinite;
				height: $input-bottom_line--height;
				width: $input-bottom_line--animation--width;
				position: absolute;
				background-color: $coin-eur;
				bottom: -$input-bottom_line--height;
				left: 0;
				right: 0;
			}
		}

		&.loading.btc::after {
			background-color: $coin-btc;
		}

		&.loading.bch::after {
			background-color: $coin-bch;
		}

		&.loading.eth::after {
			background-color: $coin-eth;
		}

		&.loading.ltc::after {
			background-color: $coin-ltc;
		}
	}
	.trade-details-wrapper {
		width: 100%;
		padding: 40px 65px 30px 55px;
		font-family: $en--font-family;
		background-color: $app-background-color;
		.trade-details-content {
			height: 450px;
			.pb-30 {
				padding-bottom: 30px;
			}
			.pb-35 {
				padding-bottom: 35px;
			}
			.pl-6 {
				padding-left: 6rem;
			}
			.chart {
				height: 100px;
				margin: 10px 0;
				// opacity: 0.4;
				div:last-child {
					padding-top: 1rem;
				}
				.fade-area {
					position: relative;
				}
				.fade-area::before {
					content: '';
					position: absolute;
					height: 100px;
					width: 100%;
					background-image: linear-gradient(
						to right,
						$app-background-color,
						rgba(0, 0, 0, 0)
					);
					z-index: 9999;
				}
			}
			.trade_tabs-container {
				margin: 0 !important;
				width: 100% !important;
			}
		}
		.currency-ball-image-wrapper {
			height: 5rem;
		}
		.coins-icon {
			width: 5rem;
			height: 5rem;
		}
		.f-size-16 {
			font-size: 16px;
			color: $colors-deactivate;
			font-weight: bold;
		}
		.f-size-22 {
			font-size: 22px;
			font-weight: bold;
		}
		.pairs {
			color: $link;
			font-size: 16px;
			text-decoration: underline;
		}
		.fullname {
			color: $colors-deactivate;
			font-size: 11px;
			white-space: nowrap;
		}
		.sub-title {
			color: $colors-deactivate;
			font: normal normal 300 11px/15px $en--font-family;
			letter-spacing: 2.2px;
			opacity: 1;
			white-space: nowrap;
		}
		.white-txt {
			color: $colors-main-black;
		}
	}
	.trade-section {
		width: 100%;
		padding-top: 2rem;
		background: transparent
			linear-gradient(
				180deg,
				$quick-trade-block-gradient-top 0%,
				$quick-trade-block-gradient-bottom 100%
			)
			0% 0% no-repeat padding-box;
		.inner-content {
			width: 400px;
			height: 390px;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			margin: 55px 105px 0 95px;
			.btn-wrapper {
				padding: 40px 0 120px 0;
			}
			.py-2 {
				display: flex;
				align-items: center;
				.bold {
					padding-right: 10px;
				}
				.ant-input-group {
					width: 310px;
					background-color: $app-light-background !important;
					.ant-select-selector,
					.input-group__input {
						background-color: $app-light-background !important;
					}
				}
				.input-group__error-wrapper {
					width: 310px;
				}
			}
			.small-text {
				font-family: $en--font-family;
				font-size: 11px;
				text-transform: capitalize;
				color: $colors-black;
				display: flex;
				span {
					color: $link;
				}
			}
			.footer-text {
				font-size: 11px;
				font-family: $en--font-family;
				color: $colors-deactivate;
				opacity: 0.5;
				text-align: end;
			}
		}
	}
}

@keyframes linear_loading {
	0% {
		left: 0;
		width: 0;
	}
	15% {
		left: 0;
		width: $input-bottom_line--animation--width;
	}
	85% {
		width: $input-bottom_line--animation--width;
		left: calc(100% - #{$input-bottom_line--animation--width});
	}
	100% {
		width: 0;
		left: 100%;
	}
}

.layout-mobile {
	// .quick_trade-wrapper {
	// 	margin-top: 0;
	// 	margin-bottom: 0;
	// }
	.quick_trade-section_wrapper {
		.toogle_button-wrapper {
			.toogle-content {
				font-size: $font-size-mobile-txt !important;
			}
		}
		.input_block-wrapper {
			.input_block-content {
				.input_block-title {
					font-size: $font-size-mobile-txt !important;
				}
			}
			.field-error-content {
				width: auto;
				font-size: $font-size-mobile-innertxt;
			}
		}
		.review-block-wrapper {
			.input_block-title {
				font-size: $font-size-mobile-txt;
			}
		}
	}
	.quick_trade-container {
		height: 100%;
	}
	.quick_trade-wrapper {
		.trade-details-wrapper {
			width: 100%;
			.trade-details-content {
				width: 100%;
				height: 100%;
			}
		}
		.trade-section .inner-content {
			align-items: center !important;
			.py-2 {
				flex-direction: column;
				align-items: flex-start;
				width: 100%;
				font-size: $font-size-mobile-txt !important;
				.ant-input-group {
					width: 100% !important;
				}
				.input-group__error-wrapper {
					width: 100% !important;
				}
			}
			.btn-wrapper {
				align-items: center !important;
			}
			.footer-text,
			.small-text {
				font-size: $font-size-mobile-txt !important;
			}
		}
	}
}
.mobile_dropdown-section {
	border-top: solid;
}

.review-block-wrapper {
	border-top: $colors-border solid 1px;
}
.loading-border {
	position: absolute;
	border: 1px solid $link;
}

@media (max-width: 1020px) {
	.quick_trade-wrapper {
		min-width: 100% !important;
		max-width: 100% !important;
		.trade-details-wrapper {
			width: 100%;
			padding: 15px;
			.trade-details-content {
				width: 100%;
				height: 100%;
			}
		}
		.trade-section {
			width: 100%;
			padding: 40px 10px 10px 10px;
			.inner-content {
				width: 100%;
				height: 100%;
				margin: 0;
				.py-2 .ant-input-group {
					width: 250px;
				}
				.py-2 .input-group__error-wrapper {
					width: 250px;
				}
				.input-group__container {
					.quick-trade-select-wrapper {
						.pl-1 {
							font-size: 10px;
						}
					}
				}
			}
		}
	}
}
