.quick_trade-wrapper {
	.quote-expired-block-wrapper {
		margin-top: 10px;
		padding: 10px;
		.quote-expired-text {
			p.small-text {
				margin: 0;
				padding: 0;
				color: var(--labels_important-active-labels-text-graphics);
			}
		}

		// .checkbutton-wrapper .checkbutton-input-wrapper {
		.requote-button {
			width: 100px;
			margin-left: 13px;
			margin-top: 0;
			flex-direction: row-reverse;
		}
	}
}
