.trade-container {
  flex: 1;

  .trade-col_main_wrapper {
    .trade-main_content {
      flex: 6;
    }

    .trade-tabs_content {
      flex: 3;

      > * {
        flex: 1 !important;
      }
    }
  }

  .trade-col_side_wrapper {
    flex: 0;
    min-width: $side-column--width;
    max-width: $side-column--width;

    > div {
      flex: 1;
    }
  }

  .trade-col_action_wrapper {
    flex: 0;
    min-width: $order_entry-column--width;
    max-width: $order_entry-column--width;
  }

  .table-wrapper {
    margin: 0
  }
}
