$trade-bids-color-main: blue;
$trade-bids-color-font: blue;
$trade-bids-color-disabled: blue;
$trade-asks-color-main: orange;
$trade-asks-color-font: orange;
$trade-asks-color-disabled: orange;

$trade_title-border--color: black;
$trade_title-border--size: 0.2rem;

$trade-fullfilled-background-color: grey;
$trade-font-size: $font-size-subtext;

.trade-container {
  flex: 1;

  .trade-col_1_wrapper, .trade-col_2_wrapper {
    flex: 0;
    min-width: 15rem;
  }

  .trade-col_3_wrapper {
    flex: auto;

    .trade_block-wrapper:not(:first-child) {
      max-height: 25%;
    }
  }

  .table-wrapper {
    margin: 0
  }
}

.trade_block-wrapper {
  padding: 1rem;
  flex: auto;

  .trade_block-title {
    border-top: $trade_title-border--size solid $trade_title-border--color;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1rem;
    flex: none;
  }

  .trade_block-content {
    flex: auto;
    font-size: $trade-font-size;
    overflow-y: auto;
  }

  .ask, .buy {
    color: $trade-asks-color-font;
  }

  .bid, .sell {
    color: $trade-bids-color-font;
  }
}

.trade-col_2_wrapper > div {
  flex: 1;
}

.trade_orderbook-wrapper {
  flex: 1;

  .trade_orderbook-market_price {
    flex: 0;
  }

  .trade_orderbook-asks, .trade_orderbook-bids {
    flex: 1;
  }
}

.trade_active_orders-wrapper {
  overflow-y: auto;
  flex: 1;

  .cell_box-type {
    padding: 0.1rem;
    padding-left: 0;

    > div {
      color: white !important;
      margin: 0;
    }
    .buy {
      background-color: $trade-asks-color-font;
    }
    .sell {
      background-color: $trade-bids-color-font;
    }

    &.fullfilled .cell-wrapper {
      border: 1px solid $trade-fullfilled-background-color;
      margin: 0;
      padding: 1px;
      min-width: 5rem;
      max-width: 7rem;

      > .cell_value-wrapper {
        padding: 0 0.15rem;
        position: relative;
        width: 100%;
        color: $colors-main-black;

        .cell_value-bar {
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          background-color: $trade-fullfilled-background-color;
          z-index: -1;
        }
      }
    }
  }

}
