.toggle-wrapper {
	border-top: 1px solid $colors-deactivate-color1;
	border-bottom: 1px solid $colors-deactivate-color1;
}
.toggle-wrapper-all {
    border-bottom: 2px solid $dark-app-line-divider;
    margin-bottom: 3rem !important;
}
.portfolio-wrapper {
    width: 32rem;
    .icon_title-wrapper {
        .icon_title-svg {
            height: 10rem;
            width: 10rem;
        }
        .icon_title-svg svg{
            height: 10rem;
            width: 10rem;
        }
        .icon_title-text.title {
            font-size: 2rem;
        }
        .icon_title-text {
            margin-top: 3rem;
            text-align: left !important;
            width: 100%;
        }
    }
}
.deactive_risk_data {
    color: $colors-deactivate
}

.layout-mobile {
    .portfolio-wrapper {
        margin: 25% auto;
    }
}