.withdrawal-confirm-warpper {
    .withdrawal-confirm-title {
        font-size: $font-size-headline2;
        font-weight: normal;
    }
    .withdrawal-confirm--image {
        width: 22rem;
    }
}

.dark-theme {
	svg {
		.check-order-1,
        .check-order-2 {
            stroke: $dark-tab-inactive;
        }
        .check-order-2 {
            fill: $dark-tab-inactive;
        }
        .coin-btc-1 {
            fill: $dark-tab-inactive;
        }
        .coin-btc-4 {
            stroke: $dark-tab-inactive;
        }

        .coin-fiat-1 {
            fill: $dark-tab-inactive;
        }
        .coin-fiat-4 {
            stroke: $dark-tab-inactive;
        }
	}
}

