.check-connection-tab {
	.connection-icon-wrapper {
		padding: 1rem;
		.network-connection-icon,
		.network-connection-icon-danger {
			height: 12px;
			width: 12px;
			border-radius: 12px;
			background-color: var(--specials_checks-okay-done);
		}

		.network-connection-icon-danger {
			background-color: var(
				--specials_notifications-alerts-warnings
			) !important;
		}
	}
}

.check-connection-tab:hover {
	opacity: 0.5;
}

.check-connection-popup-wrapper,
.reconnect-popup-wrapper {
	.ReactModal__Content {
		width: 35rem;

		.check-connection-popup-container {
			.loading-anime {
				height: 20px;
				width: 100px;
				border-radius: 7px;
				animation: mymove 3s infinite;
			}

			.connection-title-wrapper {
				display: flex;
				gap: 5px;
				align-items: center;
				margin-bottom: 3%;

				.check-connection-text {
					font-size: 20px;
				}
			}

			.connection-details-container {
				margin-top: 1%;
				display: flex;
				font-size: 14px;

				.status-title {
					width: 25%;

					.connection-icon {
						position: relative;
						bottom: 5px;
					}
				}

				.connection-status-details {
					overflow-x: scroll;
				}

				.connection-status {
					display: flex;
					align-items: center;
					gap: 5px;
					flex-wrap: wrap;

					.success-icon {
						width: 12px;
						height: 12px;
						background-color: var(--specials_checks-okay-done);
						border-radius: 25px;
					}

					.danger-icon {
						background-color: var(
							--specials_notifications-alerts-warnings
						) !important;
					}

					.ping-details {
						display: flex;
						align-items: center;
						gap: 5px;

						.ping-status-bar {
							display: flex;
							align-items: center;
							gap: 5px;

							.fast-ping,
							.slow-ping,
							.very-slow-ping {
								height: 15px;
								width: 2px;
								background-color: var(--specials_checks-okay-done);
							}

							.slow-ping {
								background-color: var(
									--specials_my-username-in-chat
								) !important;
							}

							.very-slow-ping {
								background-color: var(
									--specials_notifications-alerts-warnings
								) !important;
							}
						}
					}
				}

				.blue-link:hover {
					cursor: pointer;
				}
			}

			.custom-line {
				margin: 3% 0;
				width: 7%;
				height: 1.5px;
				background-color: var(--labels_secondary-inactive-label-text-graphics);
			}

			.connection-button-container {
				margin-top: 5%;
				display: flex;
				gap: 10px;
			}
		}
	}
}

.connection-tool-tip {
	background-color: var(--base_background);
}

.reconnect-popup-wrapper {
	.reconnect-title-wrapper {
		display: flex;
		align-items: center;
		font-size: 20px;
		gap: 5px;

		.reconnect-title {
			text-transform: capitalize !important;
		}
	}

	.reconnect-details-container {
		margin-top: 2%;
		font-size: 14px;

		.reconnect-confirmation-message {
			margin-top: 3%;
		}
	}

	.connection-button-container {
		margin-top: 5%;
		display: flex;
		gap: 10px;
	}
}

.connection-tool-tip,
.connection-status-details {
	max-width: fit-content !important;

	.ant-tooltip-inner,
	.ant-tooltip-arrow-content {
		color: var(--labels_important-active-labels-text-graphics);
		background-color: var(--base_background);
	}
}

.connection-tool-tip,
.connection-status-details,
.connection-status-error-details {
	max-width: fit-content !important;

	.ant-tooltip-inner,
	.ant-tooltip-arrow-content {
		color: var(--labels_important-active-labels-text-graphics);
		background-color: var(--base_background);
	}
}

.connection-status-details,
.connection-status-error-details {
	.ant-tooltip-inner,
	.ant-tooltip-arrow-content {
		background-color: var(--base_background) !important;
	}

	.ant-tooltip-inner {
		border-top: 2px solid var(--specials_checks-okay-done);
		font-size: 13px;

		.conncetion-detail {
			padding: 3% 0;
			border-bottom: 1px solid
				var(--labels_secondary-inactive-label-text-graphics);
		}

		.circle-icon {
			padding: 5px;
			background-color: var(--specials_checks-okay-done);
			border-radius: 25px;
			height: 2px;
			width: 2px;
		}

		.connection-title-wrapper {
			display: flex;
			align-items: center;
			gap: 3%;
			text-wrap: nowrap;
			padding: 4% 0;

			.connection-logo {
				svg {
					width: 1.5rem;
				}
			}
		}
	}
}

.connection-status-error-details {
	.ant-tooltip-inner {
		border-top: 2px solid var(--specials_notifications-alerts-warnings) !important;

		.circle-icon {
			background-color: var(
				--specials_notifications-alerts-warnings
			) !important;
		}
	}
}

.connection-status-details:hover {
	cursor: pointer;
}
