$qr-code--arrow-size: 0.5rem;
$qr-code--arrow-color: $colors-main-black;
$qr-text--pading: 0.25rem;
$qr-code--size: 12rem;

.extra_information-wrapper {
	margin-top: 1rem;
	padding: 0.5rem;
	font-size: $font-size-subtext;

	.link {
		color: $colors-notifications-blue;
		padding: 0 $qr-text--pading;
	}
}

.margin-aligner {
	margin-bottom: 24px;
	margin-right: 1rem;

	& svg {
		width: 30px !important;
		height: 30px !important;
	}
}

.deposit_info-wrapper > div {
	flex: 1;
}

.qr_code-wrapper {
	margin: 0.5rem;
	$qr-code-margin: 1rem;
	width: $qr-code--size;
	max-width: $qr-code--size;

	.qr-code-bg {
		background-color: white;
		margin: $qr-code-margin;

		> *:first-child {
			@include size-important($qr-code--size - $qr-code-margin);
		}
	}
}

.deposit_info-qr-wrapper {
	$qr-code-margin: 1rem;

	.qr-text {
		text-align: center;
		display: flex;
		font-size: $font-size-subtext;
		padding: 1.5rem 0;
		margin-left: $qr-code-margin;
		max-width: 20rem;
	}

	.qr-title {
		font-size: 1.5rem;
	}
}

.review-wrapper {
	min-width: $bp-xs;

	.review-section {
		font-size: $font-size-subtext;
	}

	.review-title {
		font-size: $font-size-subhead2;
		margin-bottom: 0.5rem;
	}

	.separator {
		margin: 1rem 0;
		height: 2px;
		width: 100%;
		background-color: $colors-deactivate-color2;
	}
}

.verification-wrapper {
	.verification-content-wrapper {
		position: relative;
	}

	.error {
		font-size: $font-size-subhead2;
	}

	.block-wrapper {
		margin: 1rem;
	}
}

.multiple-actions-wrapper {
	.mini-qr {
		fill: $link;
	}
}

.deposit-wrapper-fields {
	.currency-label {
		border: 1px solid $colors-black;
		padding: 0.5%;
		border-radius: 5px;
		margin-right: 10px;
		width: 4rem;
		text-align: center;
		cursor: pointer;
	}

	.step3-icon-wrapper {
		height: 0%;
		width: fit-content;
	}

	.btn-wrapper-deposit {
		display: flex;
		justify-content: center;
		margin-left: 2.5%;

		.holla-button {
			width: 300px;
		}
	}

	.generate-field-wrapper {
		margin-left: 7%;
	}
}

.deposit-address-wrapper {
	width: 68.5%;

	.deposit-address-field {
		.destination-input-field,
		.destination-input-field:focus-within {
			border: none !important;
			border-bottom: 1px solid $colors-main-border !important;
		}

		.ant-input-affix-wrapper-focused {
			box-shadow: none;
		}

		.ant-input-suffix {
			width: 15% !important;
		}

		.divider {
			border-right: 1px solid var(--calculated_secondary-border);
			padding-left: 15%;
			height: 16px;
			margin-top: 4%;
		}

		.render-deposit-scan-wrapper {
			text-transform: uppercase;
			color: $link;
			cursor: pointer;

			div {
				text-decoration: underline;
			}
		}

		.ant-input {
			color: var(--specials_buttons-links-and-highlights) !important;
		}
	}

	.address-warning-text {
		div {
			text-wrap: wrap;
		}
	}
}

.destination-tag-field-wrapper {
	.destination-tag-field {
		width: 66.5%;

		.destination-input-field,
		.destination-input-field:focus-within {
			border: none !important;
			border-bottom: 1px solid $colors-main-border !important;
		}

		.destination-input-field {
			width: 90% !important;
		}

		.render-deposit-scan-wrapper {
			text-transform: uppercase;
			color: $link;
			cursor: pointer;

			div {
				text-decoration: underline;
			}
		}

		.ant-input-suffix {
			width: auto !important;
		}

		.ant-input:focus,
		.ant-input-affix-wrapper-focused {
			box-shadow: none;
		}

		.ant-input {
			color: var(--specials_buttons-links-and-highlights) !important;
		}
	}

	.tag-text {
		div {
			text-wrap: balance;
		}
	}
}

.withdrawal-container
	.withdraw-form-wrapper
	.withdraw-form
	.deposit-wrapper-fields {
	.custom-field .custom-line-large {
		height: 90px;
		border: 1px solid $colors-main-black;
		margin: 0 100%;
	}

	.custom-field .custom-line-extra-large {
		height: 2rem;
		border: 1px solid $colors-main-black;
		margin: 0 100%;
	}
}

.generate-deposit-label {
	color: $colors-black;
	margin: 1% 3%;
}

.layout-mobile {
	.withdrawal-container {
		.withdraw-form-wrapper {
			.withdraw-form {
				.deposit-wrapper-fields {
					.custom-field .custom-line-large {
						height: 20rem;
						border: 1px solid $colors-main-black;
						margin: 0 100%;
					}

					.generate-field-wrapper {
						margin-left: unset;
					}

					.deposit-address-wrapper {
						margin-left: 4%;
						width: unset;
						.destination-input-field {
							width: 88% !important;
						}
					}
				}

				.destination-tag-field-wrapper {
					.destination-tag-field {
						width: unset !important;
					}

					.destination-input-field {
						width: 80% !important;
					}
				}
			}
		}
	}

	@media screen and (min-width: 550px) {
		.withdrawal-container {
			.withdraw-form-wrapper {
				.withdraw-form {
					.deposit-wrapper-fields {
						.generate-field-wrapper {
							margin-left: 8%;
						}
					}
				}
			}
		}
	}
}
