.verification_container {
	margin: 0 auto;
	padding: 1rem;

	.icon_title-wrapper {
		flex-direction: row;
		justify-content: flex-start;
	}
	.title-inactive {
		color: $tab-inactive;
	}
	.verification-buttons-wrapper {
		width: 100%;
		.holla-button {
			width: 300px;
		}
	}
	.warning_text {
		margin: 1rem 0;
		padding: 0;
	}
	.header-content {
		color: $colors-deactivate-color2;
		font-size: $font-size-main;
	}
	.content-text {
		font-size: $font-size-main;
	}
	.document-note-icon {
		width: 3.5rem;
	}
	.inner-content {
		border-radius: 4px;
		padding: 30px;
		margin: 30px 0px 70px;
		background-color: $app-sidebar-background;
		padding-bottom: 20px;
		.custom-tab-wrapper {
			.tab_item {
				min-width: 9rem;
			}
		}
		.btn-wrapper {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			.holla-verification-button {
				position: absolute;
				top: 60px;
				width: 300px;
			}
		}
	}
}

.verification-form-panel {
	padding: 30px 50px;
	background-color: $app-sidebar-background;
	.action_notification-wrapper {
		.notification-info {
			white-space: nowrap;
		}
	}
}

.verification_content-form-wrapper {
	padding: 0.25rem;
}

.account-pending-icon {
	width: 3rem;
}

.verification_link {
	color: $link;
}

.verification-info-txt {
	width: 70%;
}

.verification_document-sample {
	width: 65%;
}

.header_title-wrapper {
	.header_title-children {
		.important_information {
			color: $colors-main-black;
			font-weight: bold;
		}
		.header_title-list {
			padding: 0 1.5rem;
		}
		.header_title-content {
			&:not(:last-child) {
				margin-bottom: 0.75rem;
			}
		}
	}

	.id-warning {
		color: $colors-notifications-red;
	}
}

.layout-mobile {
	.verification_container {
		.verification-info-txt {
			width: 100%;
			font-size: $font-size-mobile-txt !important;
		}
		.holla-verification-button {
			font-size: $font-size-mobile-txt !important;
			position: unset !important;
			top: 0 !important;
			width: 100% !important;
		}
		.inner-content {
			padding: 5px 8px;
		}
		.icon_title-wrapper {
			margin-top: 0;
			.icon_title-text.title {
				font-size: 2.6rem;
			}
		}
		.verification_content-form-wrapper {
			.verification-form-panel {
				padding: 5px 8px;
				.field-wrapper {
					.field-label-wrapper {
						flex-direction: column;
					}
				}
			}
			.content-text {
				width: 100%;
			}
		}
		.input-box-field {
			.input_field-input {
				&::placeholder {
					font-size: 10px;
				}
			}
		}
		.verification-buttons-wrapper {
			.holla-button {
				width: 100% !important;
				flex: 1;
			}
		}
		.separator {
			width: auto;
			margin: 1rem;
		}
	}
	.mobile-bar-tab .bartab-text-wrapper {
		font-size: 1.5rem;
		line-height: 1.5rem;
	}
	.presentation_container.verification_container {
		padding-top: 0 !important;
		max-height: $max-content-height-mobile;
		.header-content {
			font-size: $font-size-mobile-txt !important;
		}
	}
	.header_title-wrapper {
		.header_title-text {
			font-size: $font-size-mobile-title;
		}
		.header_title-children {
			font-size: $font-size-mobile-txt !important;
		}
	}
	.field-wrapper {
		.field-content {
			.field-label,
			.field-children,
			.inner_container,
			.input_field-input,
			.placeholder {
				font-size: $font-size-mobile-txt !important;
			}
		}
	}
	.content-text {
		font-size: $font-size-mobile-txt;
	}
}

.direction_ltr {
	.divider {
		margin-right: 0.5rem;
	}
}

.direction_rtl {
	.divider {
		margin-left: 0.5rem;
	}
}

@media (max-width: 1060px) {
	.verification_container {
		.inner-content {
			.custom-tab-wrapper {
				overflow-x: auto;
			}
		}
		.verification-buttons-wrapper {
			.holla-button {
				width: 80%;
			}
		}
		.verification_content-form-wrapper {
			.verification-form-panel {
				.field-wrapper {
					.field-label {
						font-size: $font-size-mobile-innertxt;
					}
					.input-box-field {
						.input_field-input {
							&::placeholder {
								font-size: $font-size-mobile-innertxt;
							}
						}
					}
				}
			}
		}
	}
}
