.add-app-button {
	border-radius: 24px;
	height: 24px !important;
	min-width: 70px !important;
	width: auto !important;
	text-transform: none !important;
}

.apps-form {
	.ant-input {
		color: $colors-main-black;
	}
	.ant-input-clear-icon {
		color: $colors-black;
	}
}

.action_notification-wrapper {
	&.remove-action {
		position: relative !important;
	}
}

.apps-table-check {
	width: 2rem !important;
}
