$dialog--padding: 2.5rem;
$close-button--margin: 1.5rem;

.ReactModal__Overlay {
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100 !important;
	background-color: $app-modal-background !important;
}

.ReactModal__Content {
	padding: $dialog--padding !important;
	top: auto !important;
	bottom: auto !important;
	left: auto !important;
	right: auto !important;
	max-width: calc(100% - #{$dialog--padding});
	max-height: calc(100% - #{$dialog--padding});
	overflow: auto;
	border: none !important;
	background-color: $app-sidebar-background !important;

	.action_notification-wrapper.close-button {
		margin-top: $close-button--margin;
	}
}

.close-button {
	&.action_notification-wrapper {
		.action_notification-image {
			@include size(2rem);
			fill: $colors-main-black;
		}
	}
}

.success_display-wrapper {
	min-width: $dialog-min-width;
	min-height: $dialog-min-height;
	> * {
		flex: 0;
	}
}

.success_display-content {
	height: auto;
	flex: 1;
}

.success_display-content-image {
	@include size(7.5rem);
	svg {
		@include size(7.5rem);
	}
}

.success_display-content-text {
	margin: 1rem 0;
}

.direction_ltr {
	.ReactModal__Content {
		.action_notification-wrapper.close-button {
			margin-right: $close-button--margin;
		}
	}
}

.direction_rtl {
	.ReactModal__Content {
		.action_notification-wrapper.close-button {
			margin-left: $close-button--margin;
		}
	}
}

.app-dialog {
	.ReactModal__Overlay {
		z-index: 110 !important;
	}

	&.full {
		.ReactModal__Overlay {
			background-color: $app-sidebar-background !important;
		}
	}
}

.app-dialog-flex {
	.ReactModal__Overlay {
		z-index: 10000 !important;
	}
}

.layout-mobile {
	.ReactModal__Overlay {
		background-color: transparent !important;
	}

	.success_display-wrapper {
		margin: auto;
	}

	.ReactModal__Content {
		bottom: 0 !important;
		left: 0 !important;
		right: 0 !important;
		min-width: 100vw;
		max-width: 100vw;
		min-height: $max-content-height-home-mobile;
		max-height: $max-content-height-home-mobile;
		border-radius: 0 !important;
		padding: 0 !important;

		.dialog-mobile-content {
			padding: $dialog--padding !important;
			min-height: $max-content-height-dialog-mobile;
			max-height: $max-content-height-dialog-mobile;
			display: flex;
		}
	}

	&.LogoutModal {
		.ReactModal__Content {
			top: 0 !important;
		}
	}
	&.dialog_full-screen {
		.ReactModal__Content {
			top: 0 !important;
			min-height: 100vh;
			max-height: 100vh;

			.dialog-mobile-content {
				min-height: 100vh;
				max-height: 100vh;
			}
		}
		&.login-dialog {
			.dialog-mobile-content {
				align-items: center;
			}
		}
	}

	&.compressed {
		.ReactModal__Content {
			top: 0 !important;
			min-height: inherit;
			max-height: inherit;
			background: transparent !important;

			.dialog-mobile-content {
				min-height: inherit;
				max-height: inherit;
			}
		}
	}
}

.dialog-compressed-wrapper {
	background-color: $colors-main-black;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;

	.dialog-compressed-content {
	}
}
