.admin-chat-feature-wrapper .chat-tabs.ant-tabs {
	width: 100%;
}

.admin-chat-feature-wrapper .banlist {
	max-width: 250px;
}

.admin-chat-feature-wrapper .chat-header {
	color: #ffffff;
	font-size: 18px;
}

.admin-chat-feature-wrapper .chat-header .small-text {
	color: #ffffff;
	font-size: 13px;
	margin: 0 !important;
}
.admin-chat-feature-wrapper .switch-label {
	margin: 0px 5px;
	font-weight: bold;
	font-size: 14px;
	color: #ffffff;
}
.admin-chat-feature-wrapper .switch-wrapper {
	margin: 1rem 0rem 5rem 0rem;
}
.admin-chat-feature-wrapper .switch-wrapper .ant-switch {
	background-color: #000000;
}
.admin-chat-feature-wrapper .switch-label::after {
	color: #808080;
}
.admin-chat-feature-wrapper .switch-wrapper .label-inactive {
	color: #808080;
}
.admin-chat-feature-wrapper .disabled-area {
	opacity: 0.6;
	pointer-events: none;
}
