$trade-bids-color-main: $buy;
$trade-bids-color-font: $buy;
$trade-order-bids-color-font: $colors-black;
$trade-asks-color-main: $sell;
$trade-asks-color-font: $sell;
$trade-order-asks-color-font: $colors-black;

$trade-section-border--color: $colors-main-black;
$trade-section-border-disabled--color: $colors-black;

$trade_title-border--color: $colors-main-black;
$trade_title-border--size: 0.2rem;

$trade-font-size: $font-size-subtext;
$trade-post-font-size:12px;

$side-column--width: 17.5rem;
$side-column--width-sm: 16rem;
$side-column--width-lg: 20rem;
$order_entry-column--width: 15rem;
$order_entry-column--width-sm: 14rem;
$order_entry-column--width-lg: 18rem;

@import './_TradeContainer.scss';
@import './components/_TradeBlock.scss';
@import './components/_OrderEntry.scss';
@import './components/Orderbook.scss';

.ask,
.buy {
	color: $trade-asks-color-font;
}

.bid,
.sell {
	color: $trade-bids-color-font;
}

.trade_history-row {
	.trade_history-icon{
		width: 1rem;
		margin-right: 3px;
	}

	&.sell {
		color: $sell;

		.trade_history-icon {
			svg {
				.up-icon,
				.down-icon {
					fill: $sell;
				}
				polygon {
					fill: $sell-bids-text
				}
			}
		}
	}

	&.buy {
		color: $buy;

		.trade_history-icon {
			svg {
				.up-icon,
				.down-icon {
					fill: $buy;
				}
				polygon {
					fill: $buy-bids-text
				}
			}
		}
	}
}

.layout-mobile{
	.trade_active_orders-wrapper {
		max-height: 35vh !important;
		white-space: nowrap;

		.table_header-wrapper,
		.table_body-wrapper {
			font-size: 1rem !important;
		}
	}
}

.trade_active-lg-view {
	max-height: 17vh;
}

.trade_active_orders-wrapper {
	overflow-y: auto;
	flex: 1;
	
	.cell_box-type {
		padding: 0.1rem;

		> div {
			margin: 0;
		}
		.buy {
			color: $buy-bids-text !important;
			background-color: $trade-bids-color-font;
		}
		.sell {
			color: $sell-bids-text !important;
			background-color: $trade-asks-color-font;
		}

		&.fullfilled .cell-wrapper {
			border: 1px solid $trade-fill-indicator;
			margin: 0;
			padding: 1px;
			min-width: 5rem;
			max-width: 7rem;

			> .cell_value-wrapper {
				padding: 0 0.15rem;
				position: relative;
				width: 100%;
				color: $trade-fill-indicator-text;
				z-index: 2;

				.cell_value-bar {
					position: absolute;
					left: 0;
					top: 0;
					bottom: 0;
					background-color: $trade-fill-indicator;
					z-index: -1;
				}
			}
		}
	}
}

.quick-trade-tab {
	border: 1px solid $colors-black;
	border-radius: 9px;
	vertical-align: middle;
	text-align: center;
}

.direction_ltr {
	.trade_active_orders-wrapper {
		.cell_box-type {
			padding-left: 0;
			&.fullfilled .cell-wrapper {
				> .cell_value-wrapper {
					.cell_value-bar {
						left: 0;
					}
				}
			}
		}
	}
}

.direction_rtl {
	.trade_active_orders-wrapper {
		.cell_box-type {
			padding-right: 0;
			&.fullfilled .cell-wrapper {
				> .cell_value-wrapper {
					.cell_value-bar {
						right: 0;
					}
				}
			}
		}
	}
}

.trade-tab__market-selector {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.75rem;
	font-family: $title--font-family;
}

.mobile-chart__market-selector-wrapper {
	font-family: "Open Sans" !important;
	font-weight: normal;
}
