.trade-container {
	flex: 1;
	.dialog-link {
		color: $colors-notifications-blue;
		padding: 0 $terms_label--padding;
	}
	.trade-col_main_wrapper {
		.trade-main_content {
			flex: 6;
			min-height: 25vh;
			max-height: 60vh;
		}

		.trade-tabs_content {
			flex: 3;
			height: 30vh;

			> * {
				flex: 1 !important;
			}

			.xht-logo {
				width: 3rem;
				height: 3rem;
			}
		}
	}

	.trade-col_side_wrapper {
		flex: 0;
		min-width: $side-column--width;
		max-width: $side-column--width;
		.trade_block-wrapper {
			max-height: calc(49vh + 5rem) !important;
		}

		> div {
			flex: 1;
		}
	}

	.trade-col_action_wrapper {
		flex: 0;
		min-width: $order_entry-column--width;
		max-width: $order_entry-column--width;
	}

	.table-wrapper {
		margin: 0;
	}
}
.xht-order-heading {
	font-weight: bold;
	font-size: 1.1rem;
}

.xht-order-content {
	color: $dark-font-sub-text-color;
}

.layout-mobile {
	.trade_order_entry-wrapper {
		&.order_side-selector-sell,
		&.order_side-selector-buy {
			.trade_order_entry-form-action {
				height: 4.5rem !important;
			}
		}
	}
	.trade_order_entry-wrapper {
		.trade_order_entry-review,
		.trade_order_entry-selector,
		.trade_order_entry-action_selector,
		&.order_side-selector-sell .trade_order_entry-form_fields-wrapper,
		&.order_side-selector-buy .trade_order_entry-form_fields-wrapper {
			margin-bottom: $component--margin-bottom !important;
		}
	}
	.trade_block-title {
		font-size: $title--font-size;
		border-top-width: 0.4rem !important;
		margin-bottom: unset !important;
	}
	.trade_order_entry-action_selector {
		height: 4rem !important;
	}
	.trade_order_entry-selector {
		font-size: $regular--font-size;

		& > div {
			line-height: $component--margin-bottom !important;
		}
	}
	.trade_orderbook-headers {
		border-bottom: none !important;
		font-size: $regular--font-size;
	}
	.trade_orderbook-asks,
	.trade_orderbook-bids,
	.trade_orderbook-spread {
		font-size: $extra-thick--font-size;
	}
	.orderbook-limit_bar-wrapper {
		.orderbook-limit_bar-text {
			font-size: $regular--font-size !important;
		}
	}
	.trade_orderbook-spread {
		min-height: 3rem !important;
		margin: 1rem 0;
	}
	.trade_orderbook-asks,
	.trade_orderbook-bids {
		// min-height: unset !important;
		min-height: unset;
		// height: calc(50% - 6rem);
	}
	.trade_orderbook-wrapper {
		height: 100% !important;
	}
	.trade_input-wrapper {
		.trade_input-label {
			font-size: $regular--font-size;
		}
		.trade_input-input-wrapper {
			> input {
				height: $input--height !important;
				font-size: $extra-thick--font-size;
			}

			.trade_input-input-currency {
				height: $input--height !important;
				width: 3.5rem !important;
				font-size: $regular--font-size;
			}
		}
	}

	.trade_order_entry-review {
		& > div {
			margin-bottom: 0.5rem;
			font-size: $regular--font-size;
		}
	}
	.xht-logo {
		width: 3rem;
		height: 3rem;
	}
}

@media (min-width: 1920px) {
	.trade-container {
		.trade-col_side_wrapper {
			min-width: $side-column--width-lg;
			max-width: $side-column--width-lg;
		}
		.trade-col_action_wrapper {
			min-width: $order_entry-column--width-lg;
			max-width: $order_entry-column--width-lg;
		}
	}
}

@media screen and (max-width: 1096px) {
	.trade-container {
		.trade-col_side_wrapper {
			min-width: $side-column--width-sm;
			max-width: $side-column--width-sm;
		}
		.trade-col_action_wrapper {
			min-width: $order_entry-column--width-sm;
			max-width: $order_entry-column--width-sm;
		}
	}
}
