$input--height: 2.5rem;
$input--border-color: $colors-main-border;
$input--color: $colors-main-black;

$padding: 0.25rem;

.trade_input-wrapper {
	display: flex;
	flex-direction: column;
	> * {
		flex: 1;
		position: relative;
	}

	.trade_input-label {
		padding-bottom: 0.25rem;
	}

	.trade_input-input-wrapper {
		position: relative;
		> input {
			padding: $padding;
			position: relative;
			width: 100%;
			height: $input--height;
			background: $trade-fields;
			border: 1px solid $trade-fields-border;
			border-radius: 2px;
			color: $input--color;

			&:focus {
				outline: none;
				border: 1.5px solid $link;
			}
		}
	}

	.trade_input-input-currency {
		@include size($input--height);
		position: absolute;
		top: 0;
		font-weight: bold;
		color: $input--border-color;
	}

	.initialize-animation {
		> input {
			-webkit-animation-name: bounce; /* Safari 4.0 - 8.0 */
			-webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
			animation-name: bounce;
			animation-duration: 3s;
			border: 1px solid $input--border-color;
		}
		/* Safari 4.0 - 8.0 */
		@-webkit-keyframes bounce {
			15% {
				border-color: $link;
			}
			75% {
				border-color: $input--border-color;
			}
		}
		/* Standard syntax */
		@keyframes bounce {
			15% {
				border-color: $link;
			}
			75% {
				border-color: $input--border-color;
			}
		}
	}
}

.direction_ltr {
	.trade_input-input-wrapper {
		> input {
			padding-right: $input--height;
		}
	}

	.trade_input-input-currency {
		right: 0;
	}
}

.direction_rtl {
	.trade_input-input-wrapper {
		> input {
			padding-left: $input--height;
		}
	}

	.trade_input-input-currency {
		left: 0;
	}
}

.size-slider {
	.ant-slider-with-marks {
		margin-bottom: 10px;
	}

	.ant-slider-rail,
	.ant-slider-dot {
		background-color: $colors-black;
		border-color: $colors-black;
	}

	.ant-slider-dot-active,
	.ant-slider-track,
	.ant-slider-handle {
		background-color: $link;
		border-color: $link;
	}
}

.trade-form-select {
	padding-bottom: 1.5rem;
	font-size: $font-size-mobile-innertxt !important;
}

.ant-slider-mark-text {
	color: $colors-black;
	font-family: 'Open Sans' !important;
	font-size: 0.9rem !important;
}

.ant-slider-mark-text-active {
	color: $colors-main-black;
	font-weight: bold;
}
