.P2pOrder {
	.ant-steps-item-active .ant-steps-item-content {
		background-color: transparent;
	}
	background-color: var(--base_wallet-sidebar-and-popup);
}

.mobile-view-p2p {
	zoom: 0.5;
	position: relative;
}

.mobile-view-p2p-post {
	zoom: 0.4;
	position: relative;
}
