.transaction-history-wrapper {
	.ant-row {
		margin-left: 0 !important;
		margin-right: 0 !important;
		padding: 0.5rem;
	}

	.ant-form-item {
		margin-bottom: 0;
	}

	.ant-radio-button-wrapper {
		color: $colors-black;
		background-color: transparent !important;
		border: none !important;

		&:active,
		&:hover {
			color: $colors-main-black;
		}
	}

	.ant-radio-button-wrapper-checked::before,
	.ant-radio-button-wrapper::before {
		background-color: transparent !important;
	}

	.ant-radio-button-wrapper-checked {
		color: $colors-main-black;
		border: $colors-main-black 1px solid !important;
		border-radius: 0.2rem;
	}

	.ant-picker {
		color: $colors-black;
		background-color: transparent;
		border-bottom: 1px solid $colors-border;
		border-top: none;
		border-left: none;
		border-right: none;
		margin: 0 15px;
	}

	.ant-picker-separator {
		color: $colors-black;
	}

	.ant-picker-input > input {
		color: $colors-main-black;
	}

	.ant-picker-focused,
	.ant-picker:hover,
	.ant-picker:active {
		border-color: $colors-main-border;
	}

	.ant-picker-clear {
		color: $colors-black;
	}

	.ant-picker-active-bar {
		background: $link;
	}

	.ant-form-item-label > label {
		color: $colors-main-black;
	}

	.ant-radio-group {
		margin-top: 0;
		padding: 0 15px;
		border-right: 1px $colors-border solid;
		border-left: 1px $colors-border solid;
	}

	.ant-btn-ghost {
		color: $colors-black;
		border-color: $colors-black;

		&:hover,
		:active {
			color: $colors-main-black;
			border-color: $colors-main-black;
		}

		&.active_search_button {
			animation: shine 2s linear infinite alternate;
			animation-fill-mode: both;
			color: $colors-black;
			box-shadow: 0 0 8px 0.1px $app-sidebar-background;
			position: relative;
		}
	}
}

@keyframes shine {
	10% {
		color: $colors-black;
		box-shadow: 0 0 8px 0.1px $app-sidebar-background;
		transition-property: color, box-shadow;
		transition-duration: 0.7s, 0.7s;
		transition-timing-function: ease;
	}
	100% {
		color: $colors-main-black;
		box-shadow: 0 0 8px 0.1px $colors-black;
		transition-property: color, box-shadow;
	}
}
