.layout-mobile {
	.tab_controller-wrapper {
		height: auto;
	}

	.inner_container {
		height: calc(100% - 4.5rem);
		.history_block-wrapper {
			max-height: calc(100% - 1rem);

			.table-content {
				overflow-x: scroll;
				white-space: nowrap;
				width: 100%;
			}
			.table-wrapper {
				.table_header-wrapper,
				.table_body-wrapper {
					font-size: $table-header-column--font-size !important;
				}
				.table_body-wrapper {
					height: 4.5rem;
				}
			}
		}
	}
	.display_table-wrapper{
		.display_table-cell {
			min-height: 2rem !important;
		}
	} 
}

.icon-cell {
	width: 3rem;

	> div {
		margin: auto;
	}
}

.cell_box-type {
	> div {
		color: white;
	}

	.withdraw,
	.sell {
		background-color: $history-color-sell;
		color: $colors-white;
	}

	.deposit,
	.buy {
		background-color: $history-color-buy;
		color: $colors-black;
	}
}

.amount_text {
	.positive {
		color: $colors-notifications-green;
	}
	.negative {
		color: $colors-notifications-red;
	}
}

.history_block-wrapper {
	position: relative;

	.action_notification-svg svg {
		width: 1.2rem !important;
		height: 1.2rem !important;
	}
}

.action_notification-svg svg {
	@include size(2rem);
	// .data-1 {
	// }
}

.btn-tx, .withdrawal-cancel {
	cursor: pointer;
}


.transaction-history-wrapper {
	svg {
		.trade-history-1,
		.deposit-history-3,
		.withdrawals-history-3,
		.transaction-history-1,
		.transaction-history-5 {
			fill: $colors-black;
		}
	}
}
.display_table-wrapper{
	.display_table-cell {
		min-height: 1.2rem !important;
		padding: 0 0.1rem !important;
	}
	&:first-child .display_table-body {
		padding-top: 0.1rem !important;
	}
}
