.admin-user-container .ant-table-cell:hover .title-text {
	text-decoration: underline;
}
.admin-user-container .ant-table-cell .pair-base-text {
	width: 40%;
	text-align: end;
}
.admin-user-container .ant-table-cell:hover .asset-list {
	cursor: pointer;
}

.modal-wrapper {
	color: #ffffff;
}
.admin-user-container .ant-table-tbody > tr > td {
	border: none;
}

.preview-container {
	padding: 1.5rem 1rem;
}
.admin-pairs-container .preview-container .ant-breadcrumb {
	margin: 1rem 0rem;
}
.admin-pairs-container .preview-container .ant-breadcrumb .ant-breadcrumb-link,
.admin-pairs-container
	.preview-container
	.ant-breadcrumb
	.ant-breadcrumb-separator {
	color: #ffffff;
	opacity: 0.6;
}
.admin-pairs-container .preview-container .breadcrumb_active,
.admin-pairs-container
	.preview-container
	.ant-breadcrumb
	.ant-breadcrumb-link:hover {
	color: #ffffff;
	cursor: pointer;
	opacity: 1;
}
.admin-pairs-container .preview-container .status-wrapper .coin-config-align {
	position: relative;
	left: 68px;
	bottom: 98px;
	z-index: 1;
}
.admin-pairs-container .main-header {
	color: #ffffff;
	font-size: 38px;
	font-weight: bold;
	padding-left: 2rem;
	border-bottom: 1px solid #ffffff;
}
.admin-pairs-container .filter-header {
	display: flex;
	justify-content: space-between;
	padding: 0rem 1rem;
	margin-bottom: 1rem;
}
.admin-pairs-container .coin-symbol-wrapper {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	cursor: pointer;
}
.admin-pairs-container .coin-symbol-wrapper .coin-title {
	width: 25%;
	text-align: end;
}
.admin-pairs-container .coin-symbol-wrapper .coin-wrap {
	margin-right: 0px;
}
.admin-pairs-container .coin-symbol-wrapper .icon-wrapper {
	position: absolute;
	width: unset;
}
.admin-pairs-container .coin-symbol-wrapper .settings-toolTip {
	position: relative;
	left: 20px;
	bottom: 8px;
}
.admin-pairs-container .coin-symbol-wrapper .config-content {
	display: flex;
}
.admin-pairs-container .coin-symbol-wrapper .content-space1 {
	margin-left: 1rem;
}
.admin-pairs-container .coin-symbol-wrapper .content-space2 {
	margin-left: 5px;
}
.admin-pairs-container .coin-symbol-wrapper .coin-config-align {
	z-index: 2;
}
.admin-pairs-container .coin-symbol-wrapper:hover .pairs {
	text-decoration: underline;
}
.admin-pairs-container a {
	text-decoration: none;
	color: black;
}
.admin-pairs-container .volume-column {
	width: 18rem;
}
.admin-pairs-container .preview-container {
	margin: 1rem 0rem 2rem 0rem;
}
.admin-pairs-container .preview-container .left-container-preview {
	margin-bottom: 2rem;
}
.admin-pairs-container .preview-container .left-container {
	justify-content: center;
}
.admin-pairs-container .preview-container .right-container {
	border-left: 1px solid;
	padding: 0rem 1rem;
	width: 15rem;
	margin-left: 1rem;
}
.admin-pairs-container .preview-container .configure-btn {
	font-size: 32px;
	height: auto;
}
.admin-pairs-container .preview-container .exclamation-icon {
	font-size: 22px;
	color: #ff0000;
	position: relative;
	left: 78px;
	bottom: 100px;
}
.admin-pairs-container .flex-container {
	flex: 1;
	margin: 0.25rem 0rem;
}
.admin-pairs-container .cross-text {
	font-size: 42px;
	padding-top: 1rem;
	margin: 0rem 0.5rem;
}
.admin-pairs-container .status-wrapper {
	position: absolute;
}
.admin-pairs-container .right-content {
    border-top: 1px solid #808080;
    padding: 2rem 0;
}
.admin-pairs-container .right-content .title {
	color: #ffffff;
	font-size: 24px;
	font-weight: bold;
}
.admin-pairs-container .description-small {
	font-size: 10px;
	margin-top: 0.25rem;
	text-align: center;
	width: 70%;
}
.admin-pairs-container .remove {
	color: #ff4d4f;
	text-align: left;
	width: 60%;
}
.admin-pairs-container .table-wrapper tr {
	height: 6rem;
}
.admin-pairs-container .btn-wrapper {
	display: flex;
	margin-top: 1rem;
}
.admin-pairs-container .btn-wrapper .ant-btn {
	flex: 1;
}
.admin-pairs-container .btn-wrapper .separator {
	margin: 5px;
}
.admin-pairs-container .orderbook-content .title {
	font-size: 16px;
}
.admin-pairs-container .orderbook-content .info-text {
	color: #B6B6B6;
}
.admin-pairs-container .orderbook-footer-content {
    text-align: center;
}
.admin-pairs-container .orderbook-footer-content a {
	text-decoration: underline;
}
.admin-pairs-container .tooltip-wrapper .icon-tooltip {
    margin: 5px;
}
.admin-pairs-container .orderbook-content .box-container {
    border: 1px solid #ffffff;
	padding: 1rem;
    margin: 1rem 0 2rem 0;
    width: 60%;
}
.admin-pairs-container .orderbook-content .box-container .box-content {
    width: 100%;
	padding: 0.5rem 1rem;
	margin-bottom: 1rem;
}
.admin-pairs-container .orderbook-content .box-container .box-content:hover {
	background-color: var(--admin_panel_table_tbody_hover);
}
.admin-pairs-container .orderbook-content .box-container .box-content .small-txt {
	font-size: 12px;
}
.admin-pairs-container .orderbook-content .box-container .grey-text {
    font-size: 13px;
    color: #808080;
}
.admin-pairs-container .orderbook-content .box-container .orange-text {
    color: #DA8304;
}
.admin-pairs-container .orderbook-content .box-container .text-end {
	text-align: end;
}
.admin-pairs-container .orderbook-content .box-container .text-underline {
	text-decoration: underline;
	cursor: pointer;
}
.admin-pairs-container .orderbook-content .box-container .no-markets {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1rem;
}
.admin-pairs-container .table-wrapper.summary tbody tr:last-child td {
    border-bottom: 1px solid #ffffff;
}
.admin-pairs-container .table-wrapper.summary thead tr .ant-table-cell,
.admin-pairs-container .table-wrapper.summary thead tr td .text-center {
	text-align: center;
}
.admin-pairs-container .table-wrapper.summary tbody tr .type-column .active-status {
	display: flex;
	justify-content: center;
	align-items: center;
}
.admin-pairs-container .table-wrapper tbody tr .active-status-icon {
	width: 15px;
	margin-right: 5px;
}
.admin-pairs-container .table-wrapper.summary thead a,
.admin-pairs-container .table-wrapper.summary tbody a,
.admin-pairs-container .coin-symbol-wrapper .pairs:hover {
	text-decoration: underline;
}
.admin-pairs-container .orderbook-content .title.align-title {
    margin-bottom: 0;
}
.admin-pairs-container .verify-icon-wrapper .active-status-icon {
    width: 20px;
    margin-right: 8px;
}
.admin-pairs-container .summary.table-wrapper .custom-column-td {
    padding: 8px 20px !important;
}
.admin-pairs-container .summary.table-wrapper .bg-disable {
    background-color: #2F2B6E;
}
.admin-pairs-container .summary.table-wrapper .disable-txt {
	color: #E18700;
    margin-right: 5px;
}
.admin-pairs-container .summary.table-wrapper .bg-disable .pad-10 {
	padding-left: 17px !important;
}
.admin-pairs-container .summary.table-wrapper .feature-trade-box {
	display: flex;
    width: 25px;
    height: 20px;
    background-color: #050596;
}
.admin-pairs-container .summary.table-wrapper .feature-trade-box .interface_container {
	margin-top: 0 !important;
}
.admin-pairs-container .summary.table-wrapper .sell {
    width: 16px;
    height: 8px;
    border: 1px solid #fff;
}
.admin-pairs-container .summary.table-wrapper .sell .label {
    color: #fff;
    font-size: 4px;
    position: relative;
    bottom: 12px;
    left: 2px;
}
.admin-pairs-container .summary.table-wrapper .buy {
    background-color: #fff;
    width: 16px;
    height: 8px;
    border: 1px solid #000;
}
.admin-pairs-container .summary.table-wrapper .buy .label {
	font-size: 4px;
    position: relative;
    bottom: 12px;
    left: 3px;
    color: #000 !important;
}
.admin-pairs-container .summary.table-wrapper .ant-table-container {
    overflow: unset !important;
}
.admin-pairs-container .header-icon-wrapper .active-status-icon {
    width: 20px;
    margin-right: 8px;
}

@media (max-width: 960px) {
	.admin-pairs-container .flex-column-rev {
		flex-direction: column-reverse;
	}
	.admin-pairs-container .configure-btn {
		font-size: 20px;
	}
}
