.admin-user-container .ant-table-cell:hover .title-text {
	text-decoration: underline;
}
.admin-user-container .ant-table-cell .pair-base-text {
	width: 40%;
	text-align: end;
}
.admin-user-container .ant-table-cell:hover .asset-list {
	cursor: pointer;
}

.modal-wrapper {
	color: #ffffff;
}
.admin-user-container .ant-table-tbody > tr > td {
	border: none;
}

.preview-container {
	padding: 1.5rem 1rem;
}
.admin-pairs-container .preview-container .ant-breadcrumb {
	margin: 1rem 0rem;
}
.admin-pairs-container .preview-container .ant-breadcrumb .ant-breadcrumb-link,
.admin-pairs-container
	.preview-container
	.ant-breadcrumb
	.ant-breadcrumb-separator {
	color: #ffffff;
	opacity: 0.6;
}
.admin-pairs-container .preview-container .breadcrumb_active,
.admin-pairs-container
	.preview-container
	.ant-breadcrumb
	.ant-breadcrumb-link:hover {
	color: #ffffff;
	cursor: pointer;
	opacity: 1;
}
.admin-pairs-container .preview-container .status-wrapper .coin-config-align {
	position: relative;
	left: 68px;
	bottom: 98px;
	z-index: 1;
}
.admin-pairs-container .main-header {
	color: #ffffff;
	font-size: 38px;
	font-weight: bold;
	padding-left: 2rem;
	border-bottom: 1px solid #ffffff;
}
.admin-pairs-container .filter-header {
	display: flex;
	justify-content: space-between;
	padding: 0rem 1rem;
	margin-bottom: 1rem;
}
.admin-pairs-container .coin-symbol-wrapper {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	cursor: pointer;
}
.admin-pairs-container .coin-symbol-wrapper .coin-title {
	text-align: end;
}
.admin-pairs-container .coin-symbol-wrapper .coin-wrap {
	margin-right: 0px;
}
.admin-pairs-container .coin-symbol-wrapper .icon-wrapper {
	position: absolute;
	width: unset;
}
.admin-pairs-container .coin-symbol-wrapper .settings-toolTip {
	position: relative;
	left: 20px;
	bottom: 8px;
}
.admin-pairs-container .coin-symbol-wrapper .config-content {
	display: flex;
}
.admin-pairs-container .coin-symbol-wrapper .content-space1 {
	margin-left: 1rem;
}
.admin-pairs-container .coin-symbol-wrapper .content-space2 {
	margin-left: 5px;
}
.admin-pairs-container .coin-symbol-wrapper .coin-config-align {
	z-index: 2;
}
.admin-pairs-container .coin-symbol-wrapper:hover .pairs {
	text-decoration: underline;
}
.admin-pairs-container a {
	text-decoration: none;
	color: black;
}
.admin-pairs-container .volume-column {
	width: 18rem;
}
.admin-pairs-container .preview-container {
	margin: 1rem 0rem 2rem 0rem;
}
.admin-pairs-container .preview-container .left-container-preview {
	margin-bottom: 2rem;
}
.admin-pairs-container .preview-container .left-container {
	justify-content: center;
}
.admin-pairs-container .preview-container .right-container {
	border-left: 1px solid;
	padding: 0rem 1rem;
	width: 15rem;
	margin-left: 1rem;
}
.admin-pairs-container .preview-container .configure-btn {
	font-size: 32px;
	height: auto;
}
.admin-pairs-container .preview-container .exclamation-icon {
	font-size: 22px;
	color: #ff0000;
	position: relative;
	left: 78px;
	bottom: 100px;
}
.admin-pairs-container .flex-container {
	flex: 1;
	margin: 0.25rem 0rem;
}
.admin-pairs-container .cross-text {
	font-size: 42px;
	padding-top: 1rem;
	margin: 0rem 0.5rem;
}
.admin-pairs-container .status-wrapper {
	position: absolute;
}
.admin-pairs-container .right-content {
	border-top: 1px solid #808080;
	padding: 2rem 0;
}
.admin-pairs-container .right-content .title {
	color: #ffffff;
	font-size: 24px;
	font-weight: bold;
}
.admin-pairs-container .description-small {
	font-size: 10px;
	margin-top: 0.25rem;
	text-align: center;
	width: 70%;
}
.admin-pairs-container .remove {
	color: #ff4d4f;
	text-align: left;
	width: 60%;
}
.admin-pairs-container .table-wrapper tr {
	height: 6rem;
}
.admin-pairs-container .btn-wrapper {
	display: flex;
	margin-top: 1rem;
}
.admin-pairs-container .btn-wrapper .ant-btn {
	flex: 1;
}
.admin-pairs-container .btn-wrapper .separator {
	margin: 5px;
}
.admin-pairs-container .orderbook-content .title {
	font-size: 16px;
}
.admin-pairs-container .orderbook-content .info-text {
	color: #b6b6b6;
}
.admin-pairs-container .orderbook-footer-content {
	text-align: center;
}
.admin-pairs-container .orderbook-footer-content a {
	text-decoration: underline;
}
.admin-pairs-container .tooltip-wrapper .icon-tooltip {
	margin: 5px;
}
.admin-pairs-container .orderbook-content .box-container {
	border: 1px solid #ffffff;
	padding: 1rem;
	margin: 1rem 0 2rem 0;
	width: 60%;
}
.admin-pairs-container .orderbook-content .box-container .box-content {
	width: 100%;
	padding: 0.5rem 1rem;
	margin-bottom: 1rem;
}
.admin-pairs-container .orderbook-content .box-container .box-content:hover {
	background-color: var(--admin_panel_table_tbody_hover);
}
.admin-pairs-container
	.orderbook-content
	.box-container
	.box-content
	.small-txt {
	font-size: 12px;
}
.admin-pairs-container .orderbook-content .box-container .grey-text {
	font-size: 13px;
	color: #808080;
}
.admin-pairs-container .orderbook-content .box-container .orange-text {
	color: #da8304;
}
.admin-pairs-container .orderbook-content .box-container .text-end {
	text-align: end;
}
.admin-pairs-container .orderbook-content .box-container .text-underline {
	text-decoration: underline;
	cursor: pointer;
}
.admin-pairs-container .orderbook-content .box-container .no-markets {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1rem;
}
.admin-pairs-container .table-wrapper.summary tbody tr:last-child td {
	border-bottom: 1px solid #ffffff;
}
.admin-pairs-container .table-wrapper.summary thead tr td .text-center {
	text-align: center;
}
.admin-pairs-container
	.table-wrapper.summary
	tbody
	tr
	.type-column
	.active-status {
	display: flex;
	justify-content: center;
	align-items: center;
}
.admin-pairs-container .table-wrapper tbody tr .active-status-icon {
	width: 15px;
	margin-right: 5px;
}
.admin-pairs-container .table-wrapper.summary thead a,
.admin-pairs-container .table-wrapper.summary tbody a,
.admin-pairs-container .coin-symbol-wrapper .pairs:hover {
	text-decoration: underline;
}
.admin-pairs-container .orderbook-content .title.align-title {
	margin-bottom: 0;
}
.admin-pairs-container .verify-icon-wrapper .active-status-icon {
	width: 20px;
	margin-right: 8px;
}
.admin-pairs-container .summary.table-wrapper .custom-column-td {
	padding: 8px 20px !important;
}
.admin-pairs-container .summary.table-wrapper .bg-disable {
	background-color: #2f2b6e;
}
.admin-pairs-container .summary.table-wrapper .disable-txt {
	color: #e18700;
	margin-right: 5px;
}
.admin-pairs-container .summary.table-wrapper .bg-disable .pad-10 {
	padding-left: 17px !important;
}
.admin-pairs-container .summary.table-wrapper .feature-trade-box {
	display: flex;
	width: 25px;
	height: 20px;
	background-color: #050596;
}
.admin-pairs-container
	.summary.table-wrapper
	.feature-trade-box
	.interface_container {
	margin-top: 0 !important;
}
.admin-pairs-container .summary.table-wrapper .sell {
	width: 16px;
	height: 8px;
	border: 1px solid #fff;
}
.admin-pairs-container .summary.table-wrapper .sell .label {
	color: #fff;
	font-size: 4px;
	position: relative;
	bottom: 12px;
	left: 2px;
}
.admin-pairs-container .summary.table-wrapper .buy {
	background-color: #fff;
	width: 16px;
	height: 8px;
	border: 1px solid #000;
}
.admin-pairs-container .summary.table-wrapper .buy .label {
	font-size: 4px;
	position: relative;
	bottom: 12px;
	left: 3px;
	color: #000 !important;
}
.admin-pairs-container .summary.table-wrapper .ant-table-container {
	overflow: unset !important;
}
.admin-pairs-container .header-icon-wrapper .active-status-icon {
	width: 20px;
	margin-right: 8px;
}

@media (max-width: 960px) {
	.admin-pairs-container .flex-column-rev {
		flex-direction: column-reverse;
	}
	.admin-pairs-container .configure-btn {
		font-size: 20px;
	}
}
.otcDeskContainer .edit-link {
	width: 609px;
	margin-bottom: 2rem;
}
.otcDeskContainer .edit-link .ant-input:focus,
.otcDeskContainer .edit-link .ant-input-focused {
	box-shadow: 0 0 0 0px rgb(255 255 255);
	border-left: 0.5px solid #ffffff;
	border-right: none !important;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
}
.otc-Container .ant-input:focus,
.otc-Container .ant-input-focused {
	box-shadow: 0 0 0 0.5px rgb(255 255 255);
}
.otcDeskContainer .ant-input-group-wrapper .ant-input {
	border-right: none;
}
.otcDeskContainer .ant-input-group-wrapper .ant-input :focus {
	border-right: none;
}
.otcDeskContainer .ant-input-wrapper.ant-input-group .ant-input-group-addon {
	border-left: none;
	background: transparent;
	color: #ffffff;
	text-decoration: underline;
	cursor: pointer;
}
.otcDeskContainer .inputarea-Heading {
	font-size: 18px;
}
.otcDeskContainer .inputarea-subHeading {
	font-size: 12px;
	margin-bottom: 2rem;
}
.otcDeskContainer .inputField-label {
	padding-left: 10px;
	padding-bottom: 5px;
}
.otcDeskContainer .main-Heading {
	font-size: 18px;
}
.otcDeskContainer .main-subHeading,
.otc-Container .main-subHeading {
	font-size: 12px;
}
.otcDeskContainer .header-container {
	display: flex;
	justify-content: space-between;
}
.otcdesk-add-pair-wrapper .coin-container .pair-wrapper {
	display: flex;
	align-items: center;
	/* justify-content: space-around; */
}

.otcdesk-add-pair-wrapper .coin-container .pair-wrapper .ant-select-selector {
	width: 190px;
}
.otcdesk-add-pair-wrapper .coin-container .pair-wrapper .vs-content {
	padding-left: 15px;
	padding-right: 15px;
}
.otc-Container .title {
	font-size: 25px;
}
.otc-Container .sub-content {
	font-size: 11px;
	color: #b6b6b6;
}
.otc-Container .ant-input-wrapper.ant-input-group .ant-input-group-addon {
	border: none;
	background: transparent;
	color: #ffffff;
	text-decoration: underline;
	cursor: pointer;
}
.otc-Container .ant-input-group-wrapper .ant-input-wrapper.ant-input-group {
	width: 350px;
}
.otc-Container .btn-wrapper {
	display: flex;
	margin-top: 1rem;
	/* width:90%; */
}
.otc-Container .btn-wrapper .ant-btn {
	flex: 1;
	background-color: #288500 !important;
}
.otc-Container .green-btn {
	background-color: #288500 !important;
}
.otc-Container .btn-wrapper .separator {
	margin: 5px;
}
.otc-Container .edit-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0rem;
	border-top: 1px solid #000000;
}
.otc-Container .field-wrap {
	border-bottom: 1px solid #00000029;
	padding: 1rem 0rem;
	width: 75%;
}
/* .otc-Container .field-wrap {
	width: 100%;
} */

.otc-Container .select-box .ant-select-selector {
	width: 412px;
	height: 35px;
}
.otc-Container .select-box .ant-select-arrow,
.otc-Container .coin-container .ant-select-arrow {
	color: #ffffff;
}
.otc-Container .pricing-container {
	display: flex;
	justify-content: space-around;
}
.otc-Container .pricing-container .ant-input-affix-wrapper {
	width: 75%;
	height: 35px;
}
.otc-Container .coin-pricing-Heading {
	border-top: 1px solid #b6b6b6;
}
.otc-Container .warning-message,
.otc-Container .error {
	font-size: 12px;
}
.otc-Container .error svg {
	fill: yellow;
}
.otc-Container.coin-pricing-container .error svg {
	fill: red;
}
.otc-Container .grey-warning {
	background-color: #545454;
	color: #ffffff;
	display: flex;
	padding: 1rem 2rem 1rem 1rem;
	margin-top: 2rem;
}
.otc-Container .grey-warning .warning-text {
	font-size: 45px;
	padding: 0rem 2rem 0rem 1rem;
}
.otc-Container .grey-warning .icon-wrapper {
	margin-right: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
.otc-Container .grey-warning .fiat-icon {
	width: 4rem;
}
.otc-Container .grey-warning .sub-title {
	color: #ffffff;
}
.otc-Container .preview-container {
	margin: 1rem 0rem 2rem 0rem;
}
.otc-Container .preview-container .left-container-preview {
	margin-bottom: 2rem;
	align-items: center;
}
.otc-Container .preview-container .right-container {
	border-left: 1px solid #ffffff;
	padding: 0rem 1rem;
	width: 15rem;
	margin-left: 1rem;
}
.otc-Container .preview-container .left-container {
	justify-content: center;
}
.otc-Container .cross-text {
	font-size: 42px;
	padding-top: 1rem;
	margin: 0rem 0.5rem;
}
.otc-Container .flex-container {
	/* flex: 1; */
	margin: 0.25rem 0rem;
}
.otc-Container .right-content {
	margin-bottom: 1rem;
}
.otc-Container .message {
	padding: 10px;
	display: flex;
	align-items: center;
	background-color: #222c89;
}
.otc-Container .message .icon {
	font-size: 25px;
	padding-right: 10px;
}
.otc-Container .message .icon svg {
	fill: #ffffff;
}
.otc-Container .message .message-subHeading {
	font-size: 12px;
	color: #ffffff;
}
.otc-Container .ant-radio-group {
	margin-top: 2px;
}
.otc-Container .balance-error-text {
	color: yellow;
	font-size: 13px;
	font-weight: bold;
}
.otc-Container .remove-link {
	text-decoration: underline;
	cursor: pointer;
}
.otc-Container .removedesk-text {
	text-align: center;
	font-size: 12px;
	margin-top: 10px;
}
.otc-Container .btn-wrapper .remove-btn {
	flex: 1 1;
	background-color: #780000 !important;
}
.otc-Container .grey-text-color {
	color: #b6b6b6;
}
.otc-Container .small-circle {
	background: #288500;
	border-radius: 50%;
	width: 15px;
	height: 15px;
}
.otc-Container .text-underline {
	text-decoration: underline;
}
.otc-Container .green-text {
	color: #288500;
}
.otc-Container .orange-text {
	color: #e18700;
}
.otc-Container .minuscircle-icon svg {
	fill: #e18700;
}
.otc-Container .coin-container .coin-full-name {
	margin-left: 5px;
}
.otc-Container.coin-container {
	padding: 1.5rem 0rem;
}
.otc-Container .error-container {
	margin-left: 50px;
}
.otc-Container .coin-image .coin-ico.btc {
	background: #ff9900;
}
.otc-Container .coin-image .coin-ico.usdt {
	background: #08903a;
}
.otc-Container .broker-desk-icon {
	opacity: 0.2;
}
.otc-Container .user-search-field {
	width: 60%;
}
.otc-Container .user-search-field .anticon svg {
	fill: #ffffff;
}
.otc-Container .edit-link {
	text-decoration: underline;
	margin-left: 10px;
	cursor: pointer;
}
.otcdesk-add-pair-wrapper .broker-desk-icon {
	opacity: 0.1;
	height: 80px;
	width: 90px;
	margin-left: 5px;
}
.otcDeskContainer .main-subHeading a,
.otc-Container .main-subHeading a,
.otcDeskContainer .table-wrapper .text-underline {
	text-decoration: underline;
	cursor: pointer;
}

.otc-Container .anchor {
	text-decoration: underline;
	cursor: pointer;
}
.otc-Container .connect-btn-wrapper {
	display: flex;
	justify-content: flex-end;
	margin-top: 1rem;
}
.otc-Container .connect-btn-wrapper .connect-btn {
	height: 25px;
	width: 27%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.otc-Container .greentxt {
	margin-left: 20px;
	margin-top: -3px;
	color: #288500;
}
.otc-Container .str-wrapper {
	border: 1px solid #ffffff;
	margin-bottom: 25px;
}
.otc-Container .binwrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 1rem;
}
.otc-Container .justify-content-unset {
	justify-content: space-evenly;
	width: 80%;
	overflow: scroll;
}
.otc-Container .binborder {
	width: 93%;
	margin-left: 20px;
	border-bottom: 1px solid #9e9a9a;
}
.otc-Container .binRborder {
	border-right: 1px solid #9e9a9a;
	height: 45px;
}
.otc-Container .hedgehead {
	color: #ffffff;
}
.hedge_switch .switch-wrapper .ant-switch {
	background-color: #ffffff !important;
}
.hedge_switch .switch-wrapper .ant-switch .ant-switch-handle::before {
	background-color: #000000 !important;
}
.otc-Container .disabled_area {
	margin-top: 1rem;
	opacity: 0.4;
}
.otc-Container .connect-btn-wrapper .ant-spin {
	margin-right: 1rem;
}
.otc-Container .connect-btn-wrapper .ant-spin svg {
	fill: #ffffff;
}
.otc-Container .errmes {
	font-size: 12px;
	color: #f10e39;
}
.otc-Container .binancewrapper {
	border: 1px solid #ffffff;
}
.otc-Container .Formulabox {
	width: 87%;
}
.otc-Container .Formulabox .ant-input {
	height: 28px;
}
.otc-Container .dysell {
	color: #ffffff;
}
.otc-Container .preStep {
	text-decoration: underline;
	cursor: pointer;
}
.otc-Container .dynamic {
	border-top: 1px solid #ffffff;
}
.otc-Container .overflow {
	border: 1px solid #ffffff;
	height: 250px;
	overflow-y: scroll;
}
.otc-Container .ant-input-affix-wrapper .ant-input,
.otc-Container .expiry-time-field {
	background-color: var(--admin_panel_input);
	color: #ffffff;
}
.otc-Container .Formulabox .anticon-exclamation-circle {
	font-size: 18px;
}
.otc-Container .button-design {
	border: 1px solid #ffffff;
	padding: 0 1rem;
	border-radius: 6px;
	cursor: pointer;
}
.otc-Container .table-header:hover {
	cursor: pointer;
}
.otc-Container .email-option-wrapper .email-header {
	width: 63%;
	justify-content: space-between;
	margin-left: 1rem;
}
.otc-Container .email-option-wrapper .email-option {
	padding-left: 1rem;
}
.otc-Container .email-option-wrapper .email-option .w-85 {
	width: 85%;
}
.otc-Container .email-option-wrapper .email-option:hover {
	background-color: #4b55ae;
	cursor: pointer;
}
.otc-Container .Datahide {
	opacity: 0.4;
	pointer-events: none;
}
.otc-Container .infoColor {
	color: '#B6B6B6';
}
.otc-Container .icon-outline-Size {
	font-size: '24px';
}
.otc-Container .upgrade {
	width: 87%;
	justify-content: space-around;
	background-color: #525cb1;
}
.otc-Container .errMsg {
	color: red;
}
