.container-fluid {
  background-color: #000000;
  color: white;
  font-family: Roboto-Light;
}

input[type=text] {
  /*background-color: transparent;*/
  border: none;
 /* color: white;*/
  font-family: Roboto-Light;
  text-align: left;
  width: 100%;
  padding-left: 1rem;
}

input[type=text]:focus{
  outline: none;
}

input[type=password] {
  /*background-color: transparent;*/
  border: none;
  /*color: white;*/
  width: 100%;
  padding-left: 1rem;
  font-family: Roboto-Light;
}

input[type=password]:focus{
  outline: none;
}

input::-webkit-input-placeholder {
color: white !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: white !important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: white !important;  
}
 
input:-ms-input-placeholder {  
color: white !important;  
}

.header-table {
  width: 100%;
}

.grey-table {
  height: 2rem;
  background-color: #333333;
}

.header-table td {
  padding: 0.5rem;
  border: 1px solid white;
}

.orderbook-table {
  width: 100%;
  border: 1px solid white;
}

.orderbook-table th {
  padding: 0.5rem;
  border: 1px solid white;
  border-bottom: none;
}

.orderbook-table td {
  border-right: 1px solid white;
  border-left: 1px solid white;
}

.trade-table {
  width: 100%;
  border: 1px solid white;
}

.trade-table th {
  padding: 0.5rem;
  border-bottom: 1px solid white;
}

.bid {
  color: #00e500
}

.bid-fill {
  background-color: #00e500
}

.bid-fill-indicator {
  background-color: #00e500;
  color: black;
}

.ask {
  color: #ff0000
}

.ask-fill {
  background-color: #ff0000
}

.ask-fill-indicator {
  background-color: #ff0000;
  color: white;
}

.blue {
  color: #55A4DA;
}

.col-bid-order {
  background-color: #064200
}

.col-ask-order {
  background-color: #660000
}

.borderTop {
  border-top: 1px solid white;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.tab{
  width: 100%;
}

.tab_left_border{
  display: block;
  float: left;
  width: 48px;
  height: 100%;
}

.tab_right_border{
  display: block;
  float: right;
  width: 48px;
  height: 100%;
}

.custom_select{
  background: none;
  width: 100%;
  height: 100%;
  border: none;
  padding: 0;
  color: #FFF;
  margin: 0;
}

select option {
    background: #000;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}