$check-title-img-size: 5rem;
$notification-size: 1.5rem;

.check_title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .check_title-label {
    font-size: $font-size-subhead1;
  }

  .check_title-icon {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .check_title-img {
    height: $check-title-img-size;
    width: $check-title-img-size;
  }

  .check_title-notification {
    position: absolute;
    right: 0;
    top: 0;
    height: $notification-size;
    width: $notification-size;
    border-radius: $notification-size;
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    line-height: 1;
    font-weight: bold;
  }
}
