@import './MarketCard';

$features-icon--size: 4rem;
$features-card--width: 17.5rem;
$features-card--margin: 3rem;
$features-container--width: 75rem;
$features-container--sm--width: 45rem;
$card-text--margin: 0.75rem;
$no-background--color: white;
$app-bar--arrow-size: 0.4rem;
$trade-tab--arrow-size: 0.4rem;

.home-page__market-wrapper {
	background-color: $landing_markets_table;

	.table-row {
		color: $colors-main-black !important;
	}

	thead {
		color: $colors-main-black !important;
		background-color: $auth-container-background;
		tr {
			height: 5rem !important;
		}
	}

	th:nth-child(1) {
		padding-left: 2rem !important;
	}

	td:nth-child(1) {
		padding-left: 1rem !important;
	}

	th:last-child {
		padding-right: 2rem !important;
	}

	td:last-child {
		padding-right: 1rem !important;
	}

	.market-list__footer {
		height: 4.5rem !important;
	}

	.market-list__block-table {
		margin-bottom: 0 !important;
	}

	.price-diff-down {
		color: $sell;
		padding: 0 5px;
		border-radius: 2px;
		transition: all 0.2s ease-out 0s;
	}

	.glance-price-diff-down {
		&.entering,
		&.exiting {
			color: $sell-bids-text;
			background-color: $sell;

			&.glance-trade-tab-price_diff_down:before {
				border-color: $sell-bids-text;
			}
		}
	}

	.price-diff-up {
		color: $buy;
		padding: 0 5px;
		border-radius: 2px;
		transition: all 0.2s ease-out 0s;
	}

	.glance-price-diff-up {
		&.entering,
		&.exiting {
			color: $buy-bids-text;
			background-color: $buy;

			&.glance-trade-tab-price_diff_up:before {
				border-color: $buy-bids-text;
			}
		}
	}

	.trade-tab-price_diff_up {
		margin: auto 0;
	}

	.trade-tab-price_diff_up:before {
		@include css-triangle($buy, 'up', $trade-tab--arrow-size);
		display: inline-block;
		margin-bottom: 0.2rem;
		margin-right: 0.5rem;
		position: relative;
		top: calc(50% - 0.6rem);
	}

	.trade-tab-price_diff_down {
		margin: auto 0;
	}

	.trade-tab-price_diff_down:before {
		@include css-triangle($sell, 'down', $trade-tab--arrow-size);
		display: inline-block;
		margin-right: 0.5rem;
		position: relative;
		top: calc(50% - 0.6rem);
	}
}

.layout-mobile {
	.home-page__market-wrapper {
		th:nth-child(1) {
			padding-left: 1rem !important;
		}

		td:nth-child(1) {
			padding-left: 0.5rem !important;
		}

		th:last-child {
			padding-right: 0.1rem !important;
		}

		td:last-child {
			padding-right: 0.5rem !important;
		}
	}
	.home_container {
		.quick_trade-wrapper {
			flex-direction: column;
		}
	}
	.html_card_section {
		flex-direction: column;
		.card-section-wrapper {
			padding: 2rem;
			.card-section {
				.header_txt {
					font-size: 14px;
				}
			}
		}
	}
	.home-page_section-wrapper {
		padding-top: 60px !important;
		padding-bottom: 60px !important;
	}
	.home_carousel_section {
		.slideshow-wrapper {
			height: 12rem;
		}
	}
}

.home_container {
	background-repeat: no-repeat;
	background-size: cover;

	.main-section_button_invert {
		color: $link !important;
		background-color: $colors-main-black !important;
	}

	.main-section_button {
		color: $colors-main-black !important;
		background-color: $link !important;
	}

	.quick_trade-wrapper {
		// min-width: 30rem;
		max-width: 40rem;
		background-color: $quick-trade-block-background;
	}

	.exchange-expired {
		background-color: #ed1c24 !important;
		color: #ffffff !important;
	}

	.exchange-warning {
		background-color: #fff100;
		color: #000000;
	}

	.features-container {
		padding: 2rem;
	}

	.home-page_overlay {
		width: 100% !important;
		height: 100% !important;

		background: linear-gradient(
			to bottom,
			$app-landing_background,
			$app-landing_background
		);
	}

	.section_1-content {
		position: relative;

		.scroll-button {
			$arrow-size: 2rem;
			position: absolute;
			bottom: 1rem;
			@include size($arrow-size);
			& svg {
				@include size($arrow-size);
				.st0 {
					stroke: #4d4d4d;
					stroke-width: 2;
				}
			}
			// left: calc(50% - #{$arrow-size});
			// @include css-triangle($colors-main-black, down, $arrow-size, absolute, true);
		}
	}

	.features-container {
		background: $no-background--color;
		.features-card_container {
			max-width: $features-container--width;
		}
	}

	.home-card-container {
		border-top: 1px solid $colors-main-border;
		width: $features-card--width;
		margin: $features-card--margin;
		margin-top: 0;

		.home-card-icon-wrapper {
			> div {
				display: flex;
				justify-content: center;
				align-items: center;

				.home-card-icon {
					fill: $colors-main-black;
				}
			}
		}

		.home-card-icon {
			@include size($features-icon--size);
		}

		.home-card-text-container {
			font-size: $font-size-subtext;
			color: $colors-black;
			.home-card-title {
				margin: 0.5rem 0 0.25rem;
				font-weight: bold;
				text-transform: uppercase;
			}
		}
	}

	.home-title,
	.features-title {
		font-size: $font-size-headline2;
		line-height: normal;
		font-weight: bold;
		text-align: center;
	}

	.text-section,
	.buttons-section {
		margin: 0.5rem;
	}

	.text-section {
		font-size: $font-size-subhead3;
		font-weight: bold;
	}

	.buttons-section--button {
		width: $navigation_bar-action_button * 2;
		height: $navigation_bar-height;
		font-size: $navigation_bar-font_size;
		border: 1px solid $colors-main-border;
		margin: 0 1rem;
		text-align: center;
		text-transform: uppercase;
		font-weight: bold;

		&.contrast {
			background-color: $colors-main-black;
		}
	}
}

.home-page_content {
	// margin-left: auto;
	// margin-right: auto;
	// margin-top: 5rem;
	// max-width: $content-display-width;

	.alice-carousel__stage-item {
		border-right: 1px $colors-border solid;
	}

	.currency-ball-image-wrapper {
		height: 2.2rem;
		padding-right: 10px;
	}

	.trade_tab-icons {
		width: 4rem;
		margin-top: 2px;
	}
}

.live-markets_header {
	font-size: $font-size-subhead3;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 1.5rem;
	color: $colors-main-black;
	font-weight: bolder;
}

.home-page_section-wrapper {
	margin-left: auto;
	margin-right: auto;
	padding-top: 148px;
	padding-bottom: 335px !important;
	max-width: 100rem;
	&:not(.main-section-wrapper) {
		padding-top: 5rem;
		padding-bottom: 5rem;
	}
	&.main-section-wrapper {
		padding-bottom: 5rem;
	}
	.quick_trade-container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
}

.direction_ltr {
	.home-card-text-container {
		margin-left: $card-text--margin;
	}
}

.direction_rtl {
	.home-card-text-container {
		margin-right: $card-text--margin;
	}
}

.html_card_section {
	overflow: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $app-sidebar-background;
	opacity: 0.8;
	.card-section-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 5rem 3rem;
		.card-section {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 20rem;
			margin-right: 1rem;
			.card_section_logo {
				width: 50px;
				height: 50px;
				svg {
					width: 50px;
					height: 50px;
					path {
						fill: $colors-main-black;
					}
				}
			}
			.fill-none {
				width: 50px;
				height: 50px;
				svg {
					width: 50px;
					height: 50px;
					path:not(:first-child) {
						fill: $colors-main-black;
					}
				}
			}
			.header_txt {
				font-weight: bold;
				font-size: 18px;
			}
			.card_section_main {
				text-align: center;
				.edit-wrapper__icons-container {
					transform: translate(-20px, 0px) !important;
				}
			}
		}
	}
}

.home_carousel_section {
	border-top: 1px $colors-border solid;
	border-bottom: 1px $colors-border solid;
	.slideshow-wrapper {
		height: 11rem;
		margin: 0 auto;
		position: relative;
		overflow: hidden;
		transform: translate3d(0, 0, 0);
	}

	.slideshow-wrapper > div {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		transform: translate3d(0, 0, 0);
	}
	.slideshow-wrapper .parent-slider {
		animation: moveSlideshow 50s linear infinite;
	}

	.parent-slider:hover {
		animation-play-state: paused;
	}

	.section {
		opacity: 0.8;
		border-right: 1px solid #60605d;
		padding: 1.5rem 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 30rem;
	}

	.section:hover {
		opacity: 1;
		cursor: pointer;
		background-color: var(--base_wallet-sidebar-and-popup);
	}

	.height-40 {
		height: 40px;
		width: 16rem;
	}

	.section:hover .trade_tab-pair-title,
	.section:hover .trade_tab-pair-sub-title,
	.section:hover .trade_tab-pair-volume {
		opacity: 1;
	}

	.section .trade_tab-pair-title,
	.section .trade_tab-pair-sub-title,
	.section .trade_tab-pair-volume {
		opacity: 0.5;
	}
}

@keyframes moveSlideshow {
	100% {
		transform: translateX(-66.6666%);
	}
}

@media (max-width: $bp-sm) {
	.home_container {
		.home-card-container {
			margin: 0 2rem 3rem;
		}

		.buttons-section {
			.holla-button {
				font-size: 1.2rem !important;
			}
		}

		.text-section {
			font-size: 1.5rem !important;
		}

		.live-markets_header {
			font-size: 1.5rem !important;
		}

		.features-container {
			.features-card_container {
				max-width: $features-container--sm--width;
			}
		}
		.html_card_section {
			flex-direction: column;
			.card-section-wrapper {
				padding: 2rem;
				.card-section {
					.header_txt {
						font-size: 14px;
					}
				}
			}
		}
		.home_carousel_section {
			.section {
				padding: 0 30px !important;
			}
		}
	}
}
@media (max-width: $bp-lg) {
	.home_container {
		.html_card_section {
			flex-direction: column;
			.card-section-wrapper {
				padding: 2rem;
				.card-section {
					.header_txt {
						font-size: 14px;
					}
				}
			}
		}
	}
}
