$features-icon--size: 4rem;
$features-card--width: 17.5rem;
$features-card--margin: 3rem;
$features-container--width: 75rem;
$features-container--sm--width: 45rem;
$card-text--margin: 0.75rem;
$no-background--color: white;

.layout-mobile {
	&.home_container {
		.app_container-content {
			min-height: $max-content-height-home-mobile;
			max-height: $max-content-height-home-mobile;
		}
	}
}

.home_container {
	background-repeat: no-repeat;
	background-size: cover;

	.exchange-expired {
		background-color: #ed1c24 !important;
		color: #ffffff !important;
	}

	.exchange-warning {
		background-color: #fff100;
		color: #000000;
	}

	.quick_trade-section {
		background-color: $quick-trade-background;
		border: 1px solid $colors-border;

		> .quick_trade-wrapper {
			flex: 1;
		}
	}

	.quick_trade-section,
	.features-container {
		padding: 2rem;
	}

	.section_1-content {
		background: linear-gradient(to bottom, transparent, $no-background--color);

		position: relative;
		min-height: 500px;

		.scroll-button {
			$arrow-size: 2rem;
			position: absolute;
			bottom: 1rem;
			@include size($arrow-size);

			& svg {
				@include size($arrow-size);

				.st0 {
					stroke: #4d4d4d;
					stroke-width: 2;
				}
			}

			// left: calc(50% - #{$arrow-size});
			// @include css-triangle($colors-main-black, down, $arrow-size, absolute, true);
		}
	}

	.features-container {
		background: $no-background--color;

		.features-card_container {
			max-width: $features-container--width;
		}
	}

	.home-card-container {
		border-top: 1px solid $colors-main-border;
		width: $features-card--width;
		margin: $features-card--margin;
		margin-top: 0;

		.home-card-icon-wrapper {
			> div {
				display: flex;
				justify-content: center;
				align-items: center;

				.home-card-icon {
					fill: $colors-main-black;
				}
			}
		}

		.home-card-icon {
			@include size($features-icon--size);
		}

		.home-card-text-container {
			font-size: $font-size-subtext;
			color: $colors-black;

			.home-card-title {
				margin: 0.5rem 0 0.25rem;
				font-weight: bold;
				text-transform: uppercase;
			}
		}
	}

	.home-title,
	.features-title {
		font-size: $font-size-headline;
		margin-bottom: 1rem;
		text-align: center;
	}

	.home-title {
		margin-bottom: 0.5rem;
	}

	.text-section,
	.buttons-section {
		margin: 1rem;
	}

	.buttons-section--button {
		width: $navigation_bar-action_button * 2;
		height: $navigation_bar-height;
		font-size: $navigation_bar-font_size;
		border: 1px solid $colors-main-border;
		margin: 0 1rem;
		text-align: center;
		text-transform: uppercase;
		font-weight: bold;

		&.contrast {
			background-color: $colors-main-black;
		}
	}
}

.direction_ltr {
	.home-card-text-container {
		margin-left: $card-text--margin;
	}
}

.direction_rtl {
	.home-card-text-container {
		margin-right: $card-text--margin;
	}
}

@media (max-width: $bp-sm) {
	.home_container {
		.home-card-container {
			margin: 0 2rem 3rem;
		}

		.features-container {
			.features-card_container {
				max-width: $features-container--sm--width;
			}
		}
	}
}

/* ----------------------- RB Style ---------------------*/
.section-one-container {
	padding-top: 100px;
	background-color: #022130;
	width: 100%;
	min-height: 440px;
}

.section-one-header {
	font-size: 38px;
	color: white;
	text-align: center;
	font-weight: 800;
}

.section-one-text {
	color: gray;
	font-size: 16px;
	text-align: center;
	font-weight: 800;
}

.mt-20 {
	margin-top: 20px;
}

.btn-cus-reg {
	color: black;
	font-weight: 800;
	font-size: 13px;
}

.bg-white {
	background-color: white;
}

.addBanner {
	padding: 30px 0px;
}

.addBanner > div img {
	width: 100%;
}

.text-dark {
	color: black;
}

.text-light {
	color: white;
}

.al {
	text-align: left !important;
}

/*
.card {
	margin-bottom: 10px;
	border: none;
	background-color: white !important;
	-webkit-box-shadow: 0px 0px 20px rgb(0 0 0 / 8%);
	box-shadow: 0px 0px 20px rgb(0 0 0 / 8%);
	border-radius: 0px;
	padding: 10px;
}
*/

.card-header {
	font-size: 20px;
	font-weight: 600;
	border-bottom: none;
}

.card-Body {
	padding: 12px;
	margin-top: 32px;
	margin-right: 40px;
	font-size: 13px;
	color: #464646;
}

.bg-light-gray {
	background-color: #fafafa !important;
}

.card-style2 {
	margin-bottom: 10px;
	border: none;
	padding: 20px;
	min-height: 150px;
}

.card-style2:hover {
	background-color: white !important;
	-webkit-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.15);
	box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.15);
}

.sect4-img {
	border-radius: 100%;
	text-align: center;
}

.sect4-img img {
	width: 80px;
}

.sect4-title {
	font-size: 16px;
	text-align: center;
	margin: 5px 0px;
}

.sect4-content {
	text-align: center;
	color: gray;
}

.mh-250 {
	min-height: 250px;
}

/*************** animate shape css start ***************************/
.bg-shape-1 {
	position: absolute;
	right: 3%;
	bottom: 10%;
	/*z-index: 0;*/
}
#bounce-slow {
	-webkit-animation: bounce 8s infinite ease-in-out;
	-o-animation: bounce 8s infinite ease-in-out;
	-ms-animation: bounce 8s infinite ease-in-out;
	-moz-animation: bounce 8s infinite ease-in-out;
	animation: bounce 8s infinite ease-in-out;
}
.opacity-1 {
	opacity: 0.06;
}
/*************** animate shape css end ***************************/

/* ----------------------- End RB Style ---------------------*/
