$features-icon--size: 4rem;
$features-card--width: 17.5rem;
$features-card--margin: 3rem;
$features-container--width: 75rem;
$features-container--sm--width: 45rem;
$card-text--margin: 0.75rem;
$no-background--color: white;

.layout-mobile {
	&.home_container {
		.app_container-content {
			min-height: $max-content-height-home-mobile;
			max-height: $max-content-height-home-mobile;
		}
	}
}

.home_container {
	background: url($background-image);

	background-repeat: no-repeat;
	background-size: cover;

	.exchange-expired {
		background-color: $colors-notifications-red !important;
		color: $colors-white !important;
	}
	
	.exchange-warning {
		background-color: #FFF100;
		color: $colors-black;
	}

	.quick_trade-section {
		background-color: $quick-trade-background;
		border: 1px solid $colors-deactivate-color1;
		> .quick_trade-wrapper {
			flex: 1;
		}
	}

	.quick_trade-section,
	.features-container {
		padding: 2rem;
	}

	.section_1-content {
		background: linear-gradient(to bottom, transparent, $no-background--color);

		position: relative;
		min-height: 500px;

		.scroll-button {
			$arrow-size: 2rem;
			position: absolute;
			bottom: 1rem;
			@include size($arrow-size);
			& svg {
				@include size($arrow-size);
				.st0 {
					stroke: #4d4d4d;
					stroke-width: 2;
				}
			}
			// left: calc(50% - #{$arrow-size});
			// @include css-triangle($colors-main-black, down, $arrow-size, absolute, true);
		}
	}

	.features-container {
		background: $no-background--color;
		.features-card_container {
			max-width: $features-container--width;
		}
	}

	.home-card-container {
		border-top: 1px solid $colors-main-black;
		width: $features-card--width;
		margin: $features-card--margin;
		margin-top: 0;

		.home-card-icon-wrapper {
			> div {
				display: flex;
				justify-content: center;
				align-items: center;

				.home-card-icon {
					fill: $colors-main-black;
				}
			}
		}

		.home-card-icon {
			@include size($features-icon--size);
		}

		.home-card-text-container {
			font-size: $font-size-subtext;
			color:$colors-black;
			.home-card-title {
				margin: 0.5rem 0 0.25rem;
				font-weight: bold;
				text-transform: uppercase;
			}
		}
	}

	.home-title,
	.features-title {
		font-size: $font-size-headline;
		margin-bottom: 1rem;
		text-align: center;
	}

	.home-title {
		margin-bottom: 0.5rem;
	}

	.text-section,
	.buttons-section {
		margin: 1rem;
	}

	.buttons-section--button {
		width: $navigation_bar-action_button * 2;
		height: $navigation_bar-height;
		font-size: $navigation_bar-font_size;
		border: 1px solid $colors-main-black;
		margin: 0 1rem;
		text-align: center;
		text-transform: uppercase;
		font-weight: bold;

		&.contrast {
			background-color: $colors-main-black;
		}
	}
}

.direction_ltr {
	.home-card-text-container {
		margin-left: $card-text--margin;
	}
}

.direction_rtl {
	.home-card-text-container {
		margin-right: $card-text--margin;
	}
}

@media (max-width: $bp-sm) {
	.home_container {
		.home-card-container {
			margin: 0 2rem 3rem;
		}

		.features-container {
			.features-card_container {
				max-width: $features-container--sm--width;
			}
		}
	}
}