$features-icon--size: 4rem;
$features-card--width: 17.5rem;
$features-card--margin: 3rem;
$features-container--width: 75rem;
$features-container--sm--width: 45rem;
$card-text--margin: 0.75rem;
$no-background--color: white;
$app-bar--arrow-size: 0.4rem;
$trade-tab--arrow-size: 0.4rem;

.home-page__market-wrapper {
	background-color: $landing_markets_table;

	thead {
		background-color: $auth-container-background;
	}

	.market-list__block-table {
		margin-bottom: 0 !important;
	}

	.price-diff-down {
		color: $sell;
		padding: 0 5px;
		border-radius: 2px;
		transition: all 0.2s ease-out 0s;

		&.entering,
		&.exiting {
			color: $sell-bids-text;
			background-color: $sell;
		}
	}

	.price-diff-up {
		color: $buy;
		padding: 0 5px;
		border-radius: 2px;
		transition: all 0.2s ease-out 0s;

		&.entering,
		&.exiting {
			color: $buy-bids-text;
			background-color: $buy;
		}
	}

	.trade-tab-price_diff_up {
		margin: auto 0;
	}

	.entering,
	.exiting {
		&.trade-tab-price_diff_up:before {
			@include css-triangle($buy-bids-text, 'up', $trade-tab--arrow-size);
			display: inline-block;
			margin-bottom: 0.2rem;
			margin-right: 0.5rem;
			position: relative;
			top: calc(50% - 0.6rem);
		}
	}

	.trade-tab-price_diff_up:before {
		@include css-triangle($buy, 'up', $trade-tab--arrow-size);
		display: inline-block;
		margin-bottom: 0.2rem;
		margin-right: 0.5rem;
		position: relative;
		top: calc(50% - 0.6rem);
	}

	.trade-tab-price_diff_down {
		margin: auto 0;
	}

	.entering,
	.exiting {
		&.trade-tab-price_diff_down:before {
			@include css-triangle($sell-bids-text, 'down', $trade-tab--arrow-size);
			display: inline-block;
			margin-right: 0.5rem;
			position: relative;
			top: calc(50% - 0.6rem);
		}
	}

	.trade-tab-price_diff_down:before {
		@include css-triangle($sell, 'down', $trade-tab--arrow-size);
		display: inline-block;
		margin-right: 0.5rem;
		position: relative;
		top: calc(50% - 0.6rem);
	}
}

.layout-mobile {
	&.home_container {
		.app_container-content {
			min-height: $max-content-height-home-mobile;
			max-height: $max-content-height-home-mobile;
		}

		.home_container-content {
			width: 96%;
		}
	}
}

.home_container {
	background-repeat: no-repeat;
	background-size: cover;

	.main-section_button_invert {
		color: $link;
		background-color: $colors-main-black;
	}

	.main-section_button {
		color: $colors-main-black;
		background-color: $link;
	}

	.quick_trade-wrapper {
		min-width: 30rem;
		max-width: 40rem;
	}

	.home_container-content {
		margin: auto;
		width: 90%;
		max-width: 900px;
	}

	.exchange-expired {
		background-color: #ed1c24 !important;
		color: #ffffff !important;
	}

	.exchange-warning {
		background-color: #fff100;
		color: #000000;
	}

	.quick_trade-section {
		background-color: $quick-trade-background;
		border: 1px solid $colors-border;
		> .quick_trade-wrapper {
			flex: 1;
		}
	}

	.quick_trade-section,
	.features-container {
		padding: 2rem;
	}

	.home-page_overlay {
		width: 100% !important;
		height: 100% !important;

		background: linear-gradient(
			to bottom,
			$app-landing_background,
			$app-landing_background
		);
	}

	.section_1-content {
		position: relative;

		.scroll-button {
			$arrow-size: 2rem;
			position: absolute;
			bottom: 1rem;
			@include size($arrow-size);
			& svg {
				@include size($arrow-size);
				.st0 {
					stroke: #4d4d4d;
					stroke-width: 2;
				}
			}
			// left: calc(50% - #{$arrow-size});
			// @include css-triangle($colors-main-black, down, $arrow-size, absolute, true);
		}
	}

	.features-container {
		background: $no-background--color;
		.features-card_container {
			max-width: $features-container--width;
		}
	}

	.home-card-container {
		border-top: 1px solid $colors-main-border;
		width: $features-card--width;
		margin: $features-card--margin;
		margin-top: 0;

		.home-card-icon-wrapper {
			> div {
				display: flex;
				justify-content: center;
				align-items: center;

				.home-card-icon {
					fill: $colors-main-black;
				}
			}
		}

		.home-card-icon {
			@include size($features-icon--size);
		}

		.home-card-text-container {
			font-size: $font-size-subtext;
			color: $colors-black;
			.home-card-title {
				margin: 0.5rem 0 0.25rem;
				font-weight: bold;
				text-transform: uppercase;
			}
		}
	}

	.home-title,
	.features-title {
		font-size: $font-size-headline2;
		margin-bottom: 1rem;
		text-align: center;
	}

	.home-title {
		margin-bottom: 0.5rem;
	}

	.text-section,
	.buttons-section {
		margin: 1rem;
	}

	.buttons-section--button {
		width: $navigation_bar-action_button * 2;
		height: $navigation_bar-height;
		font-size: $navigation_bar-font_size;
		border: 1px solid $colors-main-border;
		margin: 0 1rem;
		text-align: center;
		text-transform: uppercase;
		font-weight: bold;

		&.contrast {
			background-color: $colors-main-black;
		}
	}
}

.direction_ltr {
	.home-card-text-container {
		margin-left: $card-text--margin;
	}
}

.direction_rtl {
	.home-card-text-container {
		margin-right: $card-text--margin;
	}
}

.home_app_bar {
	height: $navigation_bar-height-lg;
	min-height: $navigation_bar-height-lg;

	.app_bar-icon-logo {
		height: 4rem;
		width: 5rem;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}

	.app_bar-icon {
		flex: 0;
		margin: 0 0.5rem;
		padding-right: 8px;
		width: 100%;
	}
}

@media (max-width: $bp-sm) {
	.home_container {
		.home-card-container {
			margin: 0 2rem 3rem;
		}

		.features-container {
			.features-card_container {
				max-width: $features-container--sm--width;
			}
		}
	}
}

@media (min-width: 1920px) {
	.home_app_bar {
		.app_bar-icon-logo {
			height: 3rem;
			width: 5rem;
		}

		.app_bar-icon {
			margin: 1rem 0 1rem;
		}
	}
}
