.coin-item {
	height: 100%;
	padding: 14px 20px;
	position: relative;
	transition-duration: 0.5s;
	cursor: pointer;
	background: transparent;
	box-sizing: border-box;
	border: 1px solid transparent;
}
.coin-item:hover {
	border: 1px solid hsla(0, 0%, 100%, 0.16);
	background: linear-gradient(
		90deg,
		hsla(0, 0%, 100%, 0.14),
		hsla(0, 0%, 100%, 0)
	);
	background: -moz-linear-gradient(
		left,
		hsla(0, 0%, 100%, 0.14),
		hsla(0, 0%, 100%, 0)
	);
	background: -webkit-linear-gradient(
		left,
		hsla(0, 0%, 100%, 0.14),
		hsla(0, 0%, 100%, 0)
	);
	background: -o-linear-gradient(
		left,
		hsla(0, 0%, 100%, 0.14),
		hsla(0, 0%, 100%, 0)
	);
}
.coin-item::after {
	content: '';
	position: absolute;
	bottom: 25px;
	left: -1px;
	right: -1px;
	height: 50px;
	border-right: 1px solid #f9f9f93d;
	z-index: 1;
}
.side-line > .col-sm-3:nth-child(4) > .coin-item::after {
	border-right: 1px solid transparent;
}
.pair .name {
	font-style: normal;
	letter-spacing: -0.6px;
	color: #d7eaf2;
	font-size: 14px;
	line-height: 24px;
	font-weight: 900;
}
.pair .count {
	color: #828f95;
	font-size: 12px;
	margin-top: 6px;
}
.pair .price {
	font-size: 12px;
	color: #d7eaf2;
	margin-top: 4px;
}
.pair .rate {
	font-weight: 400;
	font-style: normal;
	letter-spacing: -0.6px;
	font-size: 14px;
}
.rate-red {
	color: #f4735a;
}
.rate-green {
	color: #00a79c;
}
