.user_security-wrapper {
	> *:not(:last-child) {
		margin-bottom: 2rem;
	}
}

.otp_form-wrapper {
	display: flex;
	flex-direction: column;
	min-width: 30rem;
	width: 30rem;

	.otp_form-section-wrapper {
		border-top: 1px solid $colors-main-black;
		padding: 0.75rem 0;

		.otp_form-section-content {
			margin: 1rem 0;
		}

		.otp_form-section-title {
			font-size: $font-size-main;
			font-weight: bold;
		}

		.otp_form-section-text {
			font-size: $font-size-subtext;
		}

		.otp_secret {
			font-size: $font-size-subtext;
			background-color: $colors-deactivate-color1;
			padding: 0.25rem 0.5rem;
		}
	}

	.otp_form-fields-wrapper {
		margin-bottom: 1rem;
	}

	.icon_title-wrapper {
		.icon_title-text.title {
			font-size: $font-size-subhead2;
		}
		.icon_title-image {
			@include size(6.5rem);
		}
	}
}



.tokens-name, .tokens-tokenkey {
	min-width: 10rem;
  word-break: break-word;
	padding-left: 0.5rem !important;
	padding-right: 0.5rem !important;
}

.tokens-name {
	max-width: 15rem;
}

.tokens-date {
	min-width: 11rem;
	max-width: 11rem;
}

.tokens-icon,
.tokens-revoke {
	min-width: 4rem;
	max-width: 4rem;
}

.tokens-icon {
	& > div {
		display: flex;
		justify-content: center;
	}
	svg {
		@include size(2.5rem);
	}
}

.popup_info-wrapper {
	color: $colors-main-black;
	.popup_info-title {
		font-family: $raleway--font-family;
		font-size: $font-size-subhead3;
		border-bottom: 1px solid $colors-main-black;
	}
	.popup_info-text {
		font-size: $font-size-subtext;
	}
}
