@import '~antd/dist/antd.css';

@media screen {
	.ant-layout-content {
		margin-left: 200px;
		background-color: white;
	}
}

.ant-tabs-tab-next-icon:before,
.ant-tabs-tab-prev-icon:before {
	color: #2593fc;
	width: 20px;
	border: solid;
	border-color: #2593fc;
	border-width: thin;
	border-radius: 25px;
}

.App {
	text-align: center;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Helvetica';
}

.pointer {
	cursor: pointer;
}

.flex-content {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-column {
	flex-direction: column;
}

.flex-1 {
	flex: 1;
}

.ant-layout {
	min-height: 100vh;
}

.ant-layout-content {
	padding: 16px;
	display: flex;
}

.content-wrapper {
	background-color: white;
	padding: 20px;
	min-height: 500px;
	/* flex: 1; */
	width: 100%;
	display: flex;
	top: -13px;
	position: relative;
}

.ant-layout-sider {
	overflow: auto;
	height: 100vh;
	position: fixed;
	left: 0;
}

.ant-layout-content {
	margin-left: 200px;
	background-color: white;
}

.ant-menu-item {
	width: 100%;
}

.ant-menu {
	background-color: black;
}

.ant-menu-item:first-child {
	font-size: 18.5px;
	font-weight: bold;
}

.ant-menu-item:last-child {
	font-size: 18px;
	font-weight: bold;
}

.ant-layout-sider {
	max-width: 213px !important;
	width: 213px !important;
}

.ant-layout-sider-children {
	display: flex;
	background-color: black;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected {
	background-color: inherit !important;
}

.w-100 {
	width: 100%;
	max-width: 100%;
}

.w-50 {
	width: 50%;
	max-width: 50%;
}

.m-top {
	margin-top: 16px;
}

.m-bottom {
	margin-bottom: 16px;
}

.d-flex {
	display: flex;
}

.justify-content-between {
	justify-content: space-between;
}

.admin-user-container .ant-table .green-btn {
	background-color: #288500 !important;
	color: #ffffff;
}

.blue-admin-table .ant-pagination-item-active,
.blue-admin-table .ant-pagination-item-active:focus,
.blue-admin-table .ant-pagination-item-active:hover,
.blue-admin-table .ant-pagination-prev:hover .ant-pagination-item-link,
.blue-admin-table .ant-pagination-next:hover .ant-pagination-item-link {
	border-color: #288500;
	color: #288500;
}
.blue-admin-table .ant-pagination-disabled .ant-pagination-item-link,
.blue-admin-table .ant-pagination-disabled:hover .ant-pagination-item-link,
.blue-admin-table .ant-pagination-disabled:focus .ant-pagination-item-link {
	color: rgba(0, 0, 0, 0.25);
	border-color: #d9d9d9;
	cursor: not-allowed;
}
.blue-admin-table .ant-pagination-item:focus,
.blue-admin-table .ant-pagination-item:hover {
	border-color: #288500 !important;
}
.blue-admin-table .ant-pagination-item:focus a,
.blue-admin-table .ant-pagination-item:hover a {
	color: #288500;
}

.admin-user-container .user-list-header-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
}

.admin-user-container .user-list-header-wrapper button {
	background-color: green;
	color: white;
}

.add-user-modal .header-txt span {
	font-weight: bold;
}

.add-user-modal .footer .ant-btn[disabled],
.add-user-modal .footer .ant-btn[disabled]:hover {
	background-color: #288500;
	border-color: #288500;
	color: #ffffff;
	opacity: 0.5;
}
.add-user-modal .footer {
	width: 100%;
	display: flex;
	margin-top: 2rem;
}

.add-user-modal .footer button {
	width: 48%;
	background-color: #288500;
	border-color: #288500;
	color: #ffffff;
	margin-bottom: 1rem;
}

.add-user-modal .ant-form-item-label > label {
	font-size: 12px;
}

.add-user-modal .ant-input {
	font-size: 12px;
}

.add-user-modal .ant-form-item {
	margin-bottom: 10px;
}

.add-user-modal .ant-form-vertical .ant-form-item-label {
	padding: 0 0 2px;
}

.add-user-modal .ant-form-item-explain,
.ant-form-item-extra {
	font-size: 12px;
}
