.select-box {
	.ant-select-selector {
		background-color: #202980 !important;
		color: #fff;
	}
    .ant-select-arrow {
		color: #fff;
	}
}

.date-box {
	.ant-picker-input > input {
		color: #fff !important;
	}
}
