.ReactModal__Overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ReactModal__Content {
  padding: 16px !important;
  top: auto !important;
  bottom: auto !important;
  left: auto !important;
  right: auto !important;
  max-width: calc(100% - 2rem);
  max-height: calc(100% - 2rem);
  overflow: auto;
}

.success_display-wrapper {
  min-width: $dialog-min-width;
  min-height: $dialog-min-height;
  > * {
    flex: 0;
  }
}

.success_display-content {
  height: auto;
  flex: 1;
}

.success_display-content-image {
  width: 7.5rem;
}

.success_display-content-text {
  margin: 1rem 0;
}
