$inner_container-border: 1px solid $colors-super-pale-black;

.app_container {
	// height: 100%;
	min-height: 100vh;
	background-color: $app-background-color;
	color: $colors-main-black;

	&.layout-desktop {
		.app_container-content {
			height: auto;
			flex: 1;
			// min-height: $max-content-height;
			// max-height: $max-content-height;
		}
		// .app_container-secondary-content {
		// min-height: $max-content-secondary-height !important;
		// max-height: $max-content-secondary-height !important;
		// }
	}

	&.layout-mobile {
		.app_container-content {
			min-height: $max-content-height-mobile;
			max-height: $max-content-height-mobile;
			max-width: $max-content-width-mobile;
			overflow-y: scroll;

			&.chart-embed {
				min-height: 100vh;
				max-height: 100vh;
			}

			&.no_bottom_navigation {
				height: auto;
				flex: 1;
				min-height: calc(100vh);
				max-height: calc(100vh);
				max-width: 100vw;
				overflow-y: scroll;
			}

			.app_container-main {
				transition: 0.3s;
				&.no_bottom_navigation {
					height: 100%;
				}
			}
		}
		.content-with-bar {
			min-height: $max-content-height-double-bar-mobile;
			max-height: $max-content-height-double-bar-mobile;
			max-width: $max-content-width-mobile;
			padding: $content-display-vertical-margin;
			margin: 0;
			overflow-y: scroll;
		}
	}
	.app_container-content {
		.app_container-main {
			width: 100%;
			height: auto;
			position: relative;
			background-color: var(--base_background);
			.presentation_container {
				width: $app-content-display-width;
				height: inherit;
				// width: inherit;
			}

			.ant-tabs {
				color: $colors-black;
			}

			.ant-tabs-ink-bar {
				background: $link;
			}

			.ant-tabs-top > .ant-tabs-nav::before {
				border-color: $colors-black;
			}

			.ant-tabs-tab {
				color: $colors-black;

				.ant-tabs-tab-btn {
					color: $colors-black;
				}
			}

			.ant-tabs-tab-active {
				color: $colors-main-black;

				.ant-tabs-tab-btn {
					color: $colors-main-black;
					font-weight: bold;
				}
			}
		}
	}

	.app_container-sidebar {
		display: flex;
		flex-direction: row;
		align-items: center;
		min-width: $sidebar-width;
		max-width: $sidebar-width;
		background-color: $app-sidebar-background;
		border-left: 1px solid $colors-super-pale-black;
		padding: 0;
		transition: all 0.2s ease-out 0s;

		.sidebar-toggle-wrapper {
			display: flex;
			align-items: center;
			width: 0 !important;
			overflow: visible;
		}

		.sidebar-toggle {
			transform: translateX(-50%);
			&.ant-btn-primary {
				background-color: $app-light-background;
				border-color: $colors-border;
			}
			.anticon {
				color: $colors-main-black;
			}

			&.ant-btn-icon-only {
				height: 30px;
				width: 18px;
			}
		}

		&.close-sidebar {
			.sidebar-toggle {
				transform: translateX(-100%);
			}
			min-width: 0;
			max-width: 0;
		}
	}
	.exchange-warning {
		background-color: #fff100;
	}
}

.layout-mobile {
	.presentation_container {
		padding-top: 4rem !important;
	}
	.connectViaDesktop_wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		.w-100 {
			.subtitleClass {
				font-size: 15px;
				text-align: center;
				justify-content: center;
				align-items: baseline;
			}
		}
		.connect_desktop_img {
			margin: 8rem 0;
		}
		.connect_desktop_footer {
			font-size: 16px;
			text-align: center;
		}
	}
}

.presentation_container {
	width: $content-display-width;
	max-width: calc(100% - #{$content-display-vertical-margin * 2});
	margin: $content-display-vertical-margin auto;

	// border: 1px solid $colors-deactivate-color2;
	height: 100%;

	.inner_container {
		// padding: 1rem 0;
		position: relative;

		&.with_border_top {
			border-top: $inner_container-border;
		}
		&.with_border_bottom {
			border-bottom: $inner_container-border;
		}

		.information_block {
			position: relative;
			margin-bottom: 1rem;

			.information_block-text_wrapper {
				.title {
					font-size: $font-size-main;
				}
				.text {
					font-size: $font-size-subtext;
					color: $colors-deactivate-color2;
					> p {
						margin: 0.5rem 0;
					}
				}
			}
		}
	}
}

.app_container-bottom_bar {
	display: flex;
	flex: 0;
	width: 100%;
	max-width: 100vw;
	position: -webkit-fixed;
	position: fixed;
	bottom: 0;
	// position: -webkit-sticky;
	// position: sticky;
	// bottom: 5rem;
	align-self: flex-end;
	z-index: 9999;
}

@media (min-width: 1920px) {
	.font-small,
	.holla-button,
	.field-wrapper,
	.action_notification-text,
	.wallet-assets_block-table,
	.accordion_section_content,
	.verification_container .header-content,
	.verification_container .content-text,
	.table_body-wrapper,
	.wallet_section-title-amount,
	.wallet_section-title,
	.trade_tabs-container .trade_tabs-content,
	.trade_block-wrapper .trade_block-content,
	.information_block-text_wrapper .text,
	.qr-text,
	.header_title-children,
	.placeholder,
	.notification-content-wrapper,
	.otp_form-section-wrapper .otp_form-section-text,
	.popup_info-wrapper .popup_info-text,
	.otp_secret {
		font-size: 1rem !important;
	}

	.action_notification-text {
		line-height: 1rem !important;
	}

	.presentation_container,
	.trade_tabs-container {
		width: $content-display-width !important;
	}
	.app_bar-pair-tab {
		min-width: 25rem !important;
		max-width: 25rem !important;
	}
	.app_container {
		.app_container-sidebar {
			min-width: $sidebar-width-lg;
			max-width: $sidebar-width-lg;
		}
		// &.layout-desktop {
		// 	.app_container-content {
		// 		min-height: $max-content-height-lg !important;
		// 		max-height: $max-content-height-lg !important;
		// 	}
		// 	.app_container-secondary-content {
		// 		min-height: $max-content-secondary-height-lg !important;
		// 		max-height: $max-content-secondary-height-lg !important;
		// 	}
		// }
	}
}

@media screen and (max-width: 1096px) {
	.font-small,
	.holla-button,
	.field-wrapper,
	.action_notification-text,
	.wallet-assets_block-table,
	.accordion_section_content,
	.verification_container .content-text,
	.table_body-wrapper,
	.wallet_section-title-amount,
	.wallet_section-title,
	.trade_tabs-container .trade_tabs-content,
	.trade_block-wrapper .trade_block-content,
	.information_block-text_wrapper .text,
	.qr-text,
	.header_title-children,
	.placeholder,
	.notification-content-wrapper,
	.otp_form-section-wrapper .otp_form-section-text,
	.popup_info-wrapper .popup_info-text,
	.otp_secret {
		font-size: 0.9rem !important;
	}

	.action_notification-text {
		line-height: 0.9rem !important;
	}

	.verification_container .header-content {
		font-size: 1.2rem !important;
	}
	.app_bar-pair-tab {
		min-width: 19rem !important;
		max-width: 19rem !important;
	}
	.presentation_container,
	.trade_tabs-container {
		width: 65rem !important;
	}

	.app_container {
		.app_container-sidebar {
			min-width: $sidebar-width-md;
			max-width: $sidebar-width-md;
		}
		.sidebar_hub-content {
			margin: 1.3rem !important;
		}
	}
}

.react-grid-item > .react-resizable-handle::after {
	border-color: $colors-black !important;
	right: 5px;
	bottom: 5px;
}

.background-color-layer {
	box-shadow: inset 0 0 0 1000px $app-background-overlay;
}

.p2p-chat-notification-wrapper {
	background-color: $app-light-background;
	border-top: 2px solid $colors-notifications-blue;
	filter: drop-shadow(1.5px 1.5px 1.5px $colors-black);

	.ant-notification-notice-description,
	.ant-notification-notice-message,
	.ant-notification-notice-content,
	.ant-notification-notice-close {
		color: $colors-main-black !important;
	}
}

.p2p-chat-notification {
	padding: 2px 10px !important;
	.ant-notification-notice-description,
	.ant-notification-notice-message,
	.ant-notification-notice-content,
	.ant-notification-notice-close {
		font-size: 12px !important;
		padding: 2px 10px !important;
	}
	.ant-notification-notice-icon {
		margin-left: unset;
		svg {
			width: 20px;
		}
	}
	.ant-notification-notice-message {
		padding: unset !important;
		margin-left: 35px;
		width: 85%;
		line-height: 20px;
		margin-bottom: unset !important;
	}
	.ant-notification-notice-description {
		margin-left: 25px;
		.blue-link {
			font-size: 10px !important;
		}
	}

	.ant-notification-notice {
		height: 60px;
	}
	.ant-notification-notice-close {
		top: 10px;
		right: 12px;
	}
	.ant-notification-notice-content {
		padding: 2px 15px !important;
		.ant-notification-notice-close {
			margin-bottom: unset;
		}
	}
}

.layout-mobile {
	.footer-bar-more-options-container {
		display: flex;
		flex-direction: column;
		background-color: $app-sidebar-background;

		.field-wrapper {
			flex-direction: column;
			align-items: center !important;
			margin: unset !important;
			background-color: $app-sidebar-background;
			padding: 2%;

			.search-field,
			.input_icon {
				width: 100%;
				color: $colors-main-black !important;
			}

			.input_icon {
				width: 2rem !important;
			}

			.field-content-outline:after,
			.field-content-outline:before {
				background-color: transparent !important;
			}

			.field-error-content {
				display: none;
			}
		}

		.field-wrapper > div:nth-child(1) {
			width: 90%;
			background-color: $app-background-color;
			padding: 1%;
			border: 1px solid $colors-main-black;
			border-radius: 5px;
		}

		.custom-connection-circle,
		.custom-connection-error-circle {
			height: 15px;
			width: 15px;
			border-radius: 12px;
			background-color: var(--specials_checks-okay-done);
		}
		.custom-connection-error-circle {
			background-color: var(
				--specials_notifications-alerts-warnings
			) !important;
		}

		.options-container {
			padding: 4%;
			font-size: 14px;

			.hot-options-container {
				height: max-content;

				.hot-function-title {
					font-size: 18px;
				}

				.options-field {
					display: grid;
					grid-template-columns: repeat(4, 1fr);
					gap: 15px;
					padding: 5% 2%;

					.icon-logo {
						width: 25px;
						path {
							fill: $colors-main-black;
						}
					}
					.image-wrapper {
						margin-left: 15%;
					}
					.icon-field {
						padding: 5%;
						text-align: center;
						.assets-icon {
							position: relative;
							bottom: 10px;
							margin-left: 5%;
						}
					}

					.option-title {
						.edit-wrapper__container {
							font-size: 12px;
						}
					}
				}
				.secondary-text {
					font-size: 12px;
				}
			}
		}
	}
}
