$inner_container-border: 1px solid $colors-super-pale-black;

.app_container {
	// height: 100%;
	min-height: 100vh;
	background-color: $app-background-color;
	color: $colors-main-black;

	&.btc {
		@include currency-color($coin-btc);
	}

	&.eur {
		@include currency-color($coin-eur);
	}

	&.bch {
		@include currency-color($coin-bch);
	}

	&.eth {
		@include currency-color($coin-eth);
	}

	&.ltc {
		@include currency-color($coin-ltc);
	}

	&.layout-desktop {
		.app_container-content {
			height: auto;
			flex: 1;
			// min-height: $max-content-height;
			// max-height: $max-content-height;
		}
		// .app_container-secondary-content {
		// min-height: $max-content-secondary-height !important;
		// max-height: $max-content-secondary-height !important;
		// }
	}

	&.layout-mobile {
		.app_container-content {
			min-height: $max-content-height-mobile;
			max-height: $max-content-height-mobile;
			max-width: $max-content-width-mobile;
			overflow-y: scroll;

			&.no_bottom_navigation {
				height: auto;
				flex: 1;
				min-height: calc(100vh);
				max-height: calc(100vh);
				max-width: 100vw;
				overflow-y: scroll;
			}

			.app_container-main {
				&.no_bottom_navigation {
					height: 100%;
				}
			}
		}
		.content-with-bar {
			min-height: $max-content-height-double-bar-mobile;
			max-height: $max-content-height-double-bar-mobile;
			max-width: $max-content-width-mobile;
			padding: $content-display-vertical-margin;
			margin: 0;
			overflow-y: scroll;
		}
	}
	.app_container-content {
		.app_container-main {
			width: 100%;
			height: auto;
			position: relative;
			.presentation_container {
				width: $app-content-display-width;
				height: inherit;
				// width: inherit;
			}
		}
	}

	.app_container-sidebar {
		display: flex;
		flex-direction: row;
		align-items: center;
		min-width: $sidebar-width;
		max-width: $sidebar-width;
		background-color: $app-sidebar-background;
		border-left: 1px solid $colors-super-pale-black;
		padding: 0;
		transition: all 0.2s ease-out 0s;

		.sidebar-toggle-wrapper {
			display: flex;
			align-items: center;
			width: 0 !important;
			overflow: visible;
		}

		.sidebar-toggle {
			transform: translateX(-50%);
			&.ant-btn-primary {
				background-color: $app-light-background;
				border-color: $colors-border;
			}
			.anticon {
				color: $colors-main-black;
			}

			&.ant-btn-icon-only {
				height: 30px;
				width: 18px;
			}
		}

		&.close-sidebar {
			.sidebar-toggle {
				transform: translateX(-100%);
			}
			min-width: 0;
			max-width: 0;
			.sidebar-container {
				overflow: hidden;
			}
		}
	}
	.exchange-warning {
		background-color: #fff100;
	}
}

.layout-mobile {
	.presentation_container {
		padding-top: 4rem !important;
	}
}

.presentation_container {
	width: $content-display-width;
	max-width: calc(100% - #{$content-display-vertical-margin * 2});
	margin: $content-display-vertical-margin auto;

	// border: 1px solid $colors-deactivate-color2;
	height: 100%;

	.inner_container {
		// padding: 1rem 0;
		position: relative;

		&.with_border_top {
			border-top: $inner_container-border;
		}
		&.with_border_bottom {
			border-bottom: $inner_container-border;
		}

		.information_block {
			position: relative;
			margin-bottom: 1rem;

			.information_block-text_wrapper {
				.title {
					font-size: $font-size-main;
				}
				.text {
					font-size: $font-size-subtext;
					color: $colors-deactivate-color2;
					> p {
						margin: 0.5rem 0;
					}
				}
			}
		}
	}
}

.app_container-bottom_bar {
	display: flex;
	flex: 0;
	width: 100%;
	max-width: 100vw;
	position: -webkit-fixed;
	position: fixed;
	bottom: 0;
	// position: -webkit-sticky;
	// position: sticky;
	// bottom: 5rem;
	align-self: flex-end;
	z-index: 9999;
}

@media (min-width: 1920px) {
	.font-small,
	.holla-button,
	.field-wrapper,
	.action_notification-text,
	.wallet-assets_block-table,
	.accordion_section_content,
	.verification_container .header-content,
	.verification_container .content-text,
	.table_body-wrapper,
	.wallet_section-title-amount,
	.wallet_section-title,
	.trade_tabs-container .trade_tabs-content,
	.toogle_button-wrapper .toogle-content,
	.trade_block-wrapper .trade_block-content,
	.ohlc_data_wrapper .ohlc_label,
	.ohlc_value,
	.information_block-text_wrapper .text,
	.qr-text,
	.header_title-children,
	.placeholder,
	.notification-content-wrapper,
	.otp_form-section-wrapper .otp_form-section-text,
	.popup_info-wrapper .popup_info-text,
	.otp_secret {
		font-size: 1rem !important;
	}

	.presentation_container,
	.trade_tabs-container {
		width: $content-display-width !important;
	}
	.app_bar-pair-tab {
		min-width: 25rem !important;
		max-width: 25rem !important;
	}
	.app_container {
		.app_container-sidebar {
			min-width: $sidebar-width-lg;
			max-width: $sidebar-width-lg;
		}
		// &.layout-desktop {
		// 	.app_container-content {
		// 		min-height: $max-content-height-lg !important;
		// 		max-height: $max-content-height-lg !important;
		// 	}
		// 	.app_container-secondary-content {
		// 		min-height: $max-content-secondary-height-lg !important;
		// 		max-height: $max-content-secondary-height-lg !important;
		// 	}
		// }
	}
}

@media screen and (max-width: 1096px) {
	.font-small,
	.holla-button,
	.field-wrapper,
	.action_notification-text,
	.wallet-assets_block-table,
	.accordion_section_content,
	.verification_container .content-text,
	.table_body-wrapper,
	.wallet_section-title-amount,
	.wallet_section-title,
	.trade_tabs-container .trade_tabs-content,
	.toogle_button-wrapper .toogle-content,
	.trade_block-wrapper .trade_block-content,
	.ohlc_data_wrapper .ohlc_label,
	.ohlc_value,
	.information_block-text_wrapper .text,
	.qr-text,
	.header_title-children,
	.placeholder,
	.notification-content-wrapper,
	.otp_form-section-wrapper .otp_form-section-text,
	.popup_info-wrapper .popup_info-text,
	.otp_secret {
		font-size: 0.9rem !important;
	}
	.verification_container .header-content {
		font-size: 1.2rem !important;
	}
	.app_bar-pair-tab {
		min-width: 19rem !important;
		max-width: 19rem !important;
	}
	.presentation_container,
	.trade_tabs-container {
		width: 65rem !important;
	}

	.app_container {
		.app_container-sidebar {
			min-width: $sidebar-width-md;
			max-width: $sidebar-width-md;
		}
		.sidebar_hub-content {
			margin: 1.3rem !important;
		}
	}
}
