$accordion-border: 1px solid $app-line-divider;
$accordion_content-padding: 0;
$accordion_content-margin-bottom: 1.5rem;
$accordion_arrow-size: 0.7rem;
$title--padding: 0.5rem;
$title--font-size: $font-size-subhead3;
$main-text--color: $colors-deactivate-color2;

.accordion_section {
	position: relative;
}

.layout-mobile {
	.holla-button-font {
		font-size: 1.2rem;
	}
	.accordion_wrapper {
		.accordion_section {
			.accordion_section_title {
				font-size: 1.75rem;
			}
			.accordion_section_content {
				font-size: $font-size-mobile-txt !important;
			}
		}

		.action_notification-svg {
			svg {
				width: 1.75rem !important;
				height: 1.75rem !important;
			}
		}

		.accordion_section_content {
			overflow-x: auto;
			font-size: 1.2rem;
			.information_section {
				font-size: 1.2rem;
			}
			.field-wrapper {
				font-size: 1.2rem;
			}
			table {
				tbody {
					.table-row {
						font-size: 1.25rem;

						.td-levelball {
							.td-levelball-content {
								width: 2.5rem;
								height: 2.5rem;
							}
						}
					}
					td:not(:first-child) {
						padding: 1.5rem 0.25rem;
					}
				}
			}
		}
	}
	.direction_ltr {
		.accordion_wrapper .accordion_section {
			.accordion_section_content_text {
				&.with_arrow:after {
					border: solid $trade-tabs-inactive-color !important;
					border-width: 1px 0 0 1px !important;
					display: inline-block !important;
					padding: 3px !important;
					transform: rotate(131deg) !important;
					content: '';
					margin-right: -0.6rem;
					position: absolute;
					right: -$accordion_arrow-size;
					top: calc(50% - 0.3rem);
				}
			}
			.accordion_section_title {
				&.accordion_section--open .accordion_section_content_text:after {
					transform: rotate(-135deg) !important;
					right: -1.1rem;
					top: calc(50% - 0.38rem);
				}
			}

			&.disabled {
				.accordion_section_content_text:after {
					border-left-color: $colors-deactivate-color2;
				}
			}
		}
	}
}
.accordion_wrapper .accordion_section {
	border-top: $accordion-border;
	font-size: $title--font-size;
	padding: $accordion_content-padding;

	.action_notification-svg svg {
		@include size(1rem);
	}
	.accordion_section_title {
		padding: $title--padding 0;
		position: relative;

		.sidebar_hub-section-icon {
			height: 1.5rem;
			width: 1.5rem;
			margin-right: 0.5rem;
			svg path {
				fill: transparent;
				stroke: $sidebar-color;
			}
		}

		&.accordion_section--open {
			.accordion_section_content {
				margin-bottom: $accordion_content-margin-bottom;
			}

			.accordion_section_content_text {
				color: $colors-main-black;
				&.with_arrow:after {
					border-left-color: $colors-main-black !important;
					border-top-color: $colors-main-black !important;
				}
			}
			.sidebar_hub-section-icon {
				svg path {
					fill: $sidebar-color-active;
					stroke: $sidebar-color-active;
				}
			}
			.wallet_section-title-amount {
				color: $colors-main-black !important;
			}
		}
	}
	.accordion_section_content_text {
		position: relative;
		color: $main-text--color;

		.accordion_section_content_text-subtitle {
			color: $colors-deactivate-color1;
		}
	}

	&.disabled {
		color: $colors-deactivate-color2;
	}

	&:last-child {
		border-bottom: $accordion-border;
	}

	.accordion_section_content {
		font-size: $font-size-main;
		padding: $accordion_content-padding;
	}

	.action_notification-wrapper {
		top: calc(50% - #{$title--font-size / 2});
		margin: 0 $title--padding;
	}
}

.direction_ltr {
	.accordion_wrapper .accordion_section {
		.accordion_section_content_text {
			&.with_arrow:after {
				border: solid $trade-tabs-inactive-color !important;
				border-width: 2px 0 0 2px !important;
				display: inline-block !important;
				padding: 3px !important;
				transform: rotate(131deg) !important;
				content: '';
				margin-right: -0.6rem;
				position: absolute;
				right: -$accordion_arrow-size;
				top: calc(50% - 0.3rem);
			}
		}
		.accordion_section_title {
			&.accordion_section--open .accordion_section_content_text:after {
				transform: rotate(-135deg) !important;
			}
		}

		&.disabled {
			.accordion_section_content_text:after {
				border-left-color: $colors-deactivate-color2;
			}
		}
	}
}

.direction_rtl {
	.accordion_wrapper .accordion_section {
		.accordion_section_content_text {
			&.with_arrow:after {
				border: solid $trade-tabs-inactive-color;
				border-width: 2px 0 0 2px !important;
				display: inline-block !important;
				padding: 3px !important;
				transform: rotate(-50deg) !important;
				content: '';
				left: -$accordion_arrow-size;
				top: calc(50% - 0.3rem);
			}
		}
		.accordion_section_title {
			&.accordion_section--open .accordion_section_content_text:after {
				transform: rotate(-135deg) !important;
				top: calc(50% - 0.4rem);
			}
			.sidebar_hub-section-icon {
				margin-left: 0.5rem;
			}
		}

		&.disabled {
			.accordion_section_content_text:after {
				border-top-color: $colors-border;
			}
		}
	}
}
