.otp_form-wrapper {
	width: 30rem;
}

.otp_form-title-wrapper {
	border-top: 1px solid $colors-main-black;
	margin: 1rem 0;
	position: relative;

	.otp_form-title-text {
		font-weight: bold;
		font-size: $font-size-main;
	}
}

.otp_form-fields {
	margin-bottom: 1rem;
}

.dark-theme {
	border-top-color: $dark-border-main;

	color: $dark-font-main-text-color;
	.dots-1 {
		stroke: $dark-font-main-text-color;
	}
	.dots-2 {
		fill: $dark-font-main-text-color;
	}
	.otp_form-wrapper {
		.icon_title-svg {
			svg {
				path {
					fill: $dark-icon-color;
				}
			}
		}
	}
}

.layout-mobile {
	.otp_form-wrapper {
		flex: 1;
	}
}
