.trade_orderbook-wrapper {
	.trade_orderbook-cell {
		padding: 0 0.25rem;
	}
	.trade_orderbook-headers {
		font-weight: bold;
		border-bottom: 1px solid $colors-main-black;
		text-transform: uppercase;
		min-height: 1.5rem;
	}

	.trade_orderbook-content {
		.trade_orderbook-spread {
			flex: 0;
			min-height: 2rem;
			color: $colors-deactivate-color2;
			// font-size: $font-size-main;
			padding: 0 0.25rem;

			.trade_orderbook-spread-text {
				font-weight: bold;
				color: $colors-main-black;
				margin-right: 0.25rem;
			}
		}

		.trade_orderbook-asks,
		.trade_orderbook-bids {
			.value-row {
				min-height: 1.5rem;
			}
		}

		.trade_orderbook-asks > div:first-child {
			background-color: $trade-asks-color-main;
			> div {
				color: white;
			}
		}

		.trade_orderbook-bids > div:first-child {
			background-color: $trade-bids-color-main;
			> div {
				color: white;
			}
		}
	}
}
