.referralLabel {
	color: var(--labels_important-active-labels-text-graphics);
}

.highChartColor .highcharts-graph {
	stroke: var(--labels_important-active-labels-text-graphics);
}

.highChartColor .highcharts-point {
	stroke: var(--labels_important-active-labels-text-graphics);
	fill: var(--labels_important-active-labels-text-graphics);
}

.referral-list-wrapper {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.fs-13 {
	font-size: 13px;
}

.fs-14 {
	font-size: 14px;
}

.summary-block_wrapper {
	background-color: var(--base_wallet-sidebar-and-popup);
	.referral-table-wrapper {
		.history-table-link {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			gap: 3%;
			color: var(--specials_buttons-links-and-highlights);
		}
		.referral-copy-link {
			color: var(--labels_important-active-labels-text-graphics);
			padding: 5px;
			cursor: pointer;
			background-color: var(--specials_buttons-links-and-highlights);
			border-radius: 10px;
		}
		.summary-table-link {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			gap: 3%;
		}
	}
}

.referral-active-text {
	color: var(--labels_important-active-labels-text-graphics);
}

.referral-inActive-text {
	color: var(--labels_secondary-inactive-label-text-graphics);
}

.referral-header-icon-wrapper {
	.icon_title-wrapper {
		display: flex;
		justify-content: flex-start;
		flex-direction: row;

		.icon_title-text.title {
			font-size: 3rem !important;
			padding-top: 2.25rem !important;
		}
	}
}

.referral_table_theme {
	.ant-modal-body {
		background-color: var(--base_wallet-sidebar-and-popup) !important;
	}

	.ReactModal__Content {
		width: 40rem;
	}
}

.back-label {
	cursor: pointer;
	text-decoration: underline;
	color: var(--specials_buttons-links-and-highlights);
}

.summary-referral-container {
	padding: 2%;

	.summary-referral-wrapper {
		display: flex;
		justify-content: space-between;

		.settle-link,
		.view-history-label {
			color: var(--specials_buttons-links-and-highlights);
			text-decoration: underline;
			cursor: pointer;
			font-weight: bold;
		}

		.earning-icon-wrapper {
			display: flex;

			.refer-icon {
				fill: var(--labels_important-active-labels-text-graphics);
			}

			.margin-aligner {
				margin-bottom: 1% !important;
			}

			.earning-label {
				font-size: 18px;
				font-weight: bold;
			}
		}

		.earn-info-wrapper {
			margin-right: 3%;

			.earn-info-border {
				border-bottom: 1px solid
					var(--labels_important-active-labels-text-graphics);
			}

			.earn-text-wrapper {
				display: flex;
				justify-content: center;

				.field-label {
					margin-left: 2%;
				}
			}

			.settle-btn {
				background-color: var(--specials_buttons-links-and-highlights);
				color: var(--labels_important-active-labels-text-graphics);
				border: none;
			}
		}
	}
}

.history-referral-container {
	padding: 2%;
	.summary-history-referral {
		display: flex;
		justify-content: space-between !important;
	}

	.history-referral-wrapper {
		.earning-icon-wrapper {
			display: flex;

			.refer-icon {
				fill: var(--labels_important-active-labels-text-graphics);
			}

			.margin-aligner {
				margin-bottom: 1% !important;
			}
			.earning-label {
				font-size: 18px;
				font-weight: bold;
			}
		}
	}

	.history-refer-icon {
		.margin-aligner {
			opacity: 0.5;
			margin-bottom: unset;
			margin-right: unset;

			svg {
				width: 40% !important;
				height: 70% !important;
			}
		}
		.margin-aligner div {
			display: flex;
			justify-content: flex-end;
		}
	}
}

.new-refer-wrapper {
	background-color: var(--calculated_quick_trade-bg) !important;
	color: var(--labels_important-active-labels-text-graphics);
	padding: 15px;

	.new-refer-icon-wrapper {
		display: flex;

		.margin-aligner {
			margin-bottom: 1% !important;
		}
	}

	.create-link-label {
		color: var(--specials_buttons-links-and-highlights);
		text-decoration: underline;
		font-weight: bold;
		margin-top: 0.5%;
		cursor: pointer;
	}

	.content-field {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-height: 500px;
	}

	.no-link-icon {
		.margin-aligner {
			margin-bottom: 5%;
			margin-right: unset;

			svg {
				width: 100% !important;
				height: 100% !important;
			}
		}
	}
}

.settle-popup-wrapper {
	color: var(--labels_important-active-labels-text-graphics);

	.earning-icon-wrapper {
		display: flex;
		align-items: center;
		.insufficient-icon {
			text-align: center;

			svg {
				width: 5rem !important;
				height: 5rem !important;
			}
		}
		.margin-aligner {
			svg {
				width: 4rem !important;
				height: 4rem !important;
			}
		}

		.refer-icon {
			fill: var(--labels_important-active-labels-text-graphics);
		}

		.margin-aligner {
			margin-bottom: 1% !important;
		}

		.earning-label {
			font-size: 18px;
			font-weight: bold;
		}
	}
}

.refer-code-popup-wrapper,
.referral-popup-earning-wrapper,
.referral-final-popup {
	color: var(--labels_important-active-labels-text-graphics);

	.new-referral-wrapper {
		.new-referral-label {
			font-size: 16px;
			margin: 2% 0 3% 2%;
		}
	}

	.custom-input-field {
		padding: 2%;
		width: 100%;
		border: 1px solid var(--specials_buttons-links-and-highlights);
	}
}

.referral-popup-earning-wrapper {
	.discount-label {
		margin: 5% 0;
		font-weight: bold;
	}

	.discount-tooltip {
		padding-top: 4%;
	}

	.discount-tooltip-mobile {
		padding-top: 3%;
	}

	.earn-field-wrapper {
		width: 100%;
		border: 1px solid var(--labels_important-active-labels-text-graphics);
		border-radius: 10px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		.earn-info-border {
			border-bottom: 1px solid
				var(--labels_important-active-labels-text-graphics);
		}

		.eraning-rate-field,
		.discount-field,
		.eraning-rate-mobile-field,
		.discount-mobile-field {
			font-size: 12px;
			cursor: pointer;
			padding: 2%;
		}

		.eraning-rate-mobile-field,
		.discount-mobile-field {
			padding: 5% !important;
		}
	}

	.earn-border-left {
		border-left: 1px solid var(--labels_important-active-labels-text-graphics);
		padding-top: 10% !important;
		padding-left: 1% !important;

		.caret-icon-mobile {
			svg {
				width: 5rem !important;
				height: 5rem !important;
			}
		}

		.caret-down-icon-mobile {
			svg {
				height: 8rem !important;
			}
		}
	}

	.caret-icon-wrapper {
		width: 15%;
		text-align: center;
		padding-top: 2%;
		padding-left: 3%;
		border-bottom-right-radius: 10px;
		border-top-right-radius: 10px;
		cursor: pointer;
		display: flex;
		flex-direction: column;
		background-color: var(--base_background);

		.caret-up-icon,
		.caret-up-icon-mobile {
			width: 0;
			height: 40%;
			line-height: 0;
		}

		.caret-up-icon-mobile {
			height: 15% !important;
		}

		.caret-down-icon {
			width: 0;
			height: 0;
			line-height: 0;
		}

		.caret-icon {
			svg {
				width: 3rem !important;
				height: 3rem !important;
			}
		}
	}
}

.confirm-fild-wrapper {
	color: var(--labels_important-active-labels-text-graphics);

	.confirm-field-header {
		font-weight: bold;
		color: var(--labels_important-active-labels-text-graphics);
		font-size: 18px;
		margin-bottom: 1%;
	}

	.discount-field {
		margin: 2% 0 1% 0;
		font-weight: bold;
	}

	.referral-field-content-wrapper {
		padding: 2%;
		width: 100%;
		border: 1px solid var(--labels_important-active-labels-text-graphics);

		.referral-field-content {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin-bottom: 10%;
		}

		.earn-rate-content,
		.discount-content {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
	}
}

.referral-final-popup {
	.checked-icon {
		padding-top: 2%;

		svg {
			width: 2rem;
			height: 2rem;
		}
	}

	.desc-label {
		margin-bottom: 2%;
	}

	.custom-input {
		padding: 2%;
		width: 100%;
		border: 1px solid var(--labels_important-active-labels-text-graphics);
		color: var(--specials_buttons-links-and-highlights);
		display: flex;
		justify-content: space-between;
		align-items: center;

		.link-content {
			text-decoration: underline;
			cursor: pointer;
		}
	}
}

.referral-popup-btn-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 5%;

	.back-btn,
	.next-btn,
	.okay-btn {
		background-color: var(--specials_buttons-links-and-highlights);
		width: 45%;
		color: var(--labels_important-active-labels-text-graphics);
		border: none;
	}

	.okay-btn {
		width: 100% !important;
	}
}

.layout-mobile {
	.referral-list-wrapper {
		.earning-discount-label {
			font-size: 18px;
		}
		width: 100%;
		.ant-tabs-nav-list {
			margin-left: 2rem;
		}
		.referral-popup {
			display: flex !important;
			flex-direction: column !important;
			justify-content: space-between !important;
		}
		.refer-code-popup-wrapper,
		.referral-popup-earning-wrapper,
		.referral-final-popup {
			.unique-referral {
				margin-bottom: 15%;
			}

			.referral-label-mobile {
				font-size: 14px;
			}
		}
		.history-referral-container {
			.referral-history-content {
				display: flex;
				flex-direction: row;
				align-items: flex-start;
				justify-content: flex-start;
			}

			.events-desc-border {
				width: 14%;
				border-bottom: 1px solid
					var(--labels_secondary-inactive-label-text-graphics);
			}
		}

		.settle-pop-up {
			.settle {
				display: flex !important;
				flex-direction: column !important;
				justify-content: space-between !important;
			}
			.settle-popup-wrapper {
				margin-bottom: 10%;

				.referral-earning-settlement {
					font-size: 18px;
				}
			}
		}
	}

	.summary-block_wrapper {
		.create-referral-link {
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			justify-content: flex-start;
			gap: 2rem;
		}
		.new-refer-mobile-wrapper {
			padding: 2rem;
		}

		.referral-active-wrapper {
			display: flex;
			gap: 1rem;
			padding: 1rem;
		}
		.referral-active-text {
			.earn-info-wrapper {
				width: 75% !important;

				.earn-text-wrapper {
					justify-content: flex-start;
					padding: 5% 0;
				}
			}
		}
		.referral-table-wrapper {
			.table-wrapper th,
			tr {
				font-size: 12px;
			}

			.table-wrapper th {
				text-wrap: nowrap;
			}

			td {
				padding: 1rem !important;
			}

			.table_container {
				.table-content {
					overflow-x: scroll;
				}
			}
		}
	}

	.content-field {
		min-height: 20rem !important;
	}
}

@media screen and (max-width: 550px) {
	.layout-mobile {
		.icon_title-wrapper {
			margin-left: 2rem;
		}
		.summary-block_wrapper {
			.referral-table-wrapper {
				.table-wrapper th {
					padding: 1rem;
				}
			}
		}
	}
}

@media screen and (max-width: 450px) {
	.layout-mobile {
		.summary-block_wrapper {
			.referral-table-wrapper {
				.table-wrapper th {
					font-size: 12px;
				}
			}
		}
	}
}

@media (min-width: 1920px) {
	.referral-popup-earning-wrapper {
		.earn-field-wrapper {
			.caret-icon-wrapper {
				padding-top: 0%;
			}
		}
	}
}
