.trade_orderbook-wrapper {
	height: 100%;
	.trade_orderbook-headers {
		.trade_orderbook-cell {
			font-size: $font-size-subtext !important;
			flex-direction: column;
			.custom-select-input-style {
				font-size: 1rem !important;
				max-width: 8rem;
				.ant-select-selector {
					height: 1.5rem !important;
					line-height: 1.5rem !important;
					padding: 0;
					font-size: $font-size-subtext !important;
				}
				.ant-select-selection-item {
					height: 1.5rem !important;
					line-height: 1.5rem !important;
					font-weight: bold;
				}
				.ant-select-arrow {
					right: 2px;
				}
			}
		}
	}
	.trade_orderbook-cell {
		padding: 0 0.25rem;
		.ant-select-arrow {
			color: $colors-main-black;
			z-index: 1;
		}
		// &:not(.trade_orderbook-cell_total) {
		// 	&:hover {
		// 		color: $colors-main-black;
		// 	}
		// }
		.ant-select-single.ant-select-sm:not(.ant-select-customize-input)
			.ant-select-selector {
			padding-right: 0;
		}
	}

	.price-row-wrapper {
		margin: 1px 0;
		text-align: right;
		transition: all 0.5s ease-out 0s;

		.trade_orderbook-cell-price {
			transition: all 0.5s ease-out 0s;
			text-align: left;
		}
		.trade_orderbook-cell-amount {
			text-align: right;
		}
		.trade_orderbook-cell-amount {
			color: $orderbook-text;
		}
		.trade_orderbook-cell_total {
			color: $orderbook-secondary-text;
		}
		.trade_orderbook-cell-price:hover,
		.trade_orderbook-cell-amount:hover,
		.trade_orderbook-cell_total:hover {
			color: $colors-main-black !important;
		}
	}

	.fill {
		background-repeat: no-repeat;
		// background-position: 0 0;
		background-size: 0;
		background-position: right;
	}

	.fill-bid {
		background-image: linear-gradient(
			$buying-orderbook-bar,
			$buying-orderbook-bar
		);
	}

	.fill-ask {
		background-image: linear-gradient(
			$selling-orderbook-bar,
			$selling-orderbook-bar
		);
	}

	.trade_orderbook-headers {
		font-weight: bold;
		border-bottom: 1px solid $colors-border;
		text-transform: capitalize;
		min-height: 1.5rem;
		font-size: 0.85rem;
	}

	.trade_orderbook-content {
		.trade_orderbook-spread {
			flex: 0;
			min-height: 4rem;
			color: $colors-deactivate-color2;
			// font-size: $font-size-main;
			padding: 0 0.25rem;

			.trade_orderbook-spread-text {
				color: $colors-main-black;
				margin-left: 0.25rem;
			}

			.trade_orderbook-market-price {
				margin-left: 0.25rem;
				font-size: $font-size-subhead3;
				font-weight: bold;
				color: $colors-main-black;
			}
		}

		.trade_orderbook-asks,
		.trade_orderbook-bids {
			.value-row {
				min-height: 1.5rem;
			}
		}
		.trade_orderbook-bids {
			.trade_orderbook-cell-price {
				color: $buy;
			}
			.price-row-wrapper:hover {
				background-color: $buying-orderbook-hover;

				.trade_orderbook-cell-price {
					color: $colors-main-black !important;
				}
			}
		}
		.trade_orderbook-asks {
			.trade_orderbook-cell-price {
				color: $sell;
			}
			.price-row-wrapper:hover {
				background-color: $selling-orderbook-hover;

				.trade_orderbook-cell-price {
					color: $colors-main-black !important;
				}
			}
		}
	}

	.trade_asks-limit_bar {
		.orderbook-limit_bar-wrapper {
			color: $trade-asks-color-main;
			.orderbook-limit_bar-line {
				background-color: $trade-asks-color-main;
			}
		}
	}

	.trade_orderbook-asks {
		color: $trade-asks-color-main;

		.price-row-wrapper {
			&.up {
				&.entering,
				&.exiting {
					background-color: $selling-added-bg;

					.trade_orderbook-cell-price {
						color: $colors-main-black !important;
					}
				}
			}

			&.down {
				&.entering,
				&.exiting {
					background-color: $selling-subtracted-bg;

					.trade_orderbook-cell-price {
						color: $colors-black !important;
					}
				}
			}
		}
	}

	.trade_orderbook-asks > .price-row-wrapper:first-child {
		// color: $colors-main-black;
		background-color: $selling-orderbook-best-bar;
		font-weight: bold;
		.trade_orderbook-cell-price {
			color: $orderbook-text;
		}

		&.down {
			&.entering,
			&.exiting {
				background-color: $selling-subtracted-best;
			}
		}
	}

	.trade_orderbook-bids > .price-row-wrapper:first-child {
		// color: $colors-main-black;
		background-color: $buying-orderbook-best-bar;
		font-weight: bold;
		.trade_orderbook-cell-price {
			color: $orderbook-text;
		}

		&.down {
			&.entering,
			&.exiting {
				background-color: $buying-subtracted-best;
			}
		}
	}

	.trade_orderbook-bids {
		color: $trade-bids-color-main;

		.price-row-wrapper {
			&.up {
				&.entering,
				&.exiting {
					background-color: $buying-added-bg;

					.trade_orderbook-cell-price {
						color: $colors-main-black !important;
					}
				}
			}

			&.down {
				&.entering,
				&.exiting {
					background-color: $buying-subtracted-bg;

					.trade_orderbook-cell-price {
						color: $colors-black !important;
					}
				}
			}
		}
	}
	.trade_bids-limit_bar {
		.orderbook-limit_bar-wrapper {
			color: $trade-bids-color-main;
			.orderbook-limit_bar-line {
				background-color: $trade-bids-color-main;
			}
		}
	}

	.orderbook-limit_bar-wrapper {
		.orderbook-limit_bar-line {
			height: 2px;
		}
		.orderbook-limit_bar-text {
			font-size: $font-size-main;
		}
	}
}
.trade-select-option-wrapper {
	.ant-select-item,
	.ant-select-item-option-content {
		font-size: 11px;
	}
}

.order-book-select-coin .ant-select-item,
.order-book-select-coin .ant-select-item-option {
	font-size: 0.8rem;
}
.trade_orderbook-depth-selector {
	padding: 4px;
	.ant-btn-text {
		color: $colors-main-black;
	}
	.ant-btn-text[disabled] {
		color: $colors-black;
	}
	.ant-btn {
		padding: 0;
		height: 16px;
		margin: 4px 0;
		line-height: 1;
	}
}

.trade_orderbook-depth {
	padding: 4px;
	min-width: 40px;
	text-align: center;
}

$limit-bar-side--padding: 0.5rem;

.direction_ltr {
	.orderbook-limit_bar-wrapper {
		.orderbook-limit_bar-text {
			padding-left: $limit-bar-side--padding;
		}
	}
}

.direction_rtl {
	.orderbook-limit_bar-wrapper {
		.orderbook-limit_bar-text {
			padding-right: $limit-bar-side--padding;
		}
	}
}

.layout-mobile {
	.trade_orderbook-wrapper {
		.trade_orderbook-content {
			.trade_orderbook-bids {
				.value-row {
					.trade_orderbook-cell {
						font-size: $extra-thick--font-size !important;
					}
				}
			}
		}
	}
}

.trade_orderbook-cell {
	.ant-select-selector {
		color: $colors-main-black !important;
	}
}

.price-arrow {
	color: $colors-main-black;
	transition: all 0.2s ease-out 0s;
	opacity: 0;

	&.up {
		&.entering,
		&.exiting {
			color: $buy;
			opacity: 1;
		}
	}

	&.down {
		&.entering,
		&.exiting {
			color: $sell;
			opacity: 1;
		}
	}
}

.last-price {
	color: $colors-main-black !important;
	transition: all 0.2s ease-out 0s;

	&.up {
		&.entering,
		&.exiting {
			color: $buy !important;
		}
	}

	&.down {
		&.entering,
		&.exiting {
			color: $sell !important;
		}
	}
}

.orderbook_ask_row-enter {
	opacity: 0;
	background-color: $selling-added-bg !important;
}

.orderbook_ask_row-enter-active {
	opacity: 1;
	transition: all 0.5s ease-out 0s;
	background-color: $selling-added-bg !important;
}

.orderbook_ask_row-enter-done {
	opacity: 1;
	transition: all 0.5s ease-out 0s;
	background-color: transparent;
}

.orderbook_bid_row-enter {
	opacity: 0;
	background-color: $buying-added-bg !important;
}

.orderbook_bid_row-enter-active {
	opacity: 1;
	transition: all 0.5s ease-out 0s;
	background-color: $buying-added-bg !important;
}

.orderbook_bid_row-enter-done {
	opacity: 1;
	transition: all 0.5s ease-out 0s;
	background-color: transparent;
}

.orderbook_ask_row-exit {
	opacity: 1;
	transition: all 0.5s ease-out 0s;
	background-color: $selling-subtracted-best !important;
}

.orderbook_ask_row-exit-active {
	opacity: 0;
	transition: all 0.5s ease-out 0s;
	background-color: $selling-subtracted-best !important;
}

.orderbook_bid_row-exit {
	opacity: 1;
	transition: all 0.5s ease-out 0s;
	background-color: $selling-subtracted-best !important;
}

.orderbook_bid_row-exit-active {
	opacity: 0;
	transition: all 0.5s ease-out 0s;
	background-color: $buying-subtracted-best !important;
}
