.trade_orderbook-wrapper {
	height: 100vh;
	.trade_orderbook-cell {
		padding: 0 0.25rem;
		.ant-select-arrow {
			color: $colors-main-black;
		}
		&:not(.trade_orderbook-cell_total) {
			&:hover {
				color: $colors-main-black;
			}
		}
	}

	.price-row-wrapper {
		margin: 1px 0;
		text-align: right;
	}

	.fill {
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: 0;
	}

	.fill-bid {
		background-image: linear-gradient(
			$buying-orderbook-bar,
			$buying-orderbook-bar
		);
	}

	.fill-ask {
		background-image: linear-gradient(
			$selling-orderbook-bar,
			$selling-orderbook-bar
		);
	}

	.wave-header {
		color: $colors-black;
	}

	.trade_orderbook-headers {
		font-weight: bold;
		border-bottom: 1px solid $border-main;
		text-transform: uppercase;
		min-height: 1.5rem;

		.waves-icon {
			width: 3rem;
		}
	}

	.trade_orderbook-content {
		.trade_orderbook-spread {
			flex: 0;
			min-height: 6rem;
			color: $colors-deactivate-color2;
			// font-size: $font-size-main;
			padding: 0 0.25rem;

			.trade_orderbook-spread-text {
				color: $colors-main-black;
				margin-left: 0.25rem;
			}

			.trade_orderbook-market-price {
				margin-left: 0.25rem;
				font-size: $font-size-subhead2;
				color: $colors-main-black;
			}
		}

		.trade_orderbook-asks,
		.trade_orderbook-bids {
			.value-row {
				min-height: 1.5rem;
			}
		}
	}

	.trade_asks-limit_bar {
		.orderbook-limit_bar-wrapper {
			color: $trade-asks-color-main;
			.orderbook-limit_bar-line {
				background-color: $trade-asks-color-main;
			}
		}
	}

	.trade_orderbook-asks {
		color: $trade-asks-color-main;
	}

	.trade_orderbook-asks > .price-row-wrapper:first-child {
		color: $colors-main-black;
		font-weight: bold;
	}

	.trade_orderbook-bids > .price-row-wrapper:first-child {
		color: $colors-main-black;
		font-weight: bold;
	}

	.trade_orderbook-bids {
		color: $trade-bids-color-main;
	}
	.trade_bids-limit_bar {
		.orderbook-limit_bar-wrapper {
			color: $trade-bids-color-main;
			.orderbook-limit_bar-line {
				background-color: $trade-bids-color-main;
			}
		}
	}

	.orderbook-limit_bar-wrapper {
		.orderbook-limit_bar-line {
			height: 2px;
		}
		.orderbook-limit_bar-text {
			font-size: $font-size-main;
		}
	}
}

.trade_orderbook-depth-selector {
	padding: 4px;
	.ant-btn-text {
		color: $colors-main-black;
	}
	.ant-btn-text[disabled] {
		color: $colors-black;
	}
	.ant-btn {
		padding: 0;
		height: 16px;
		margin: 4px 0;
		line-height: 1;
	}
}

.trade_orderbook-depth {
	padding: 4px;
	min-width: 40px;
	text-align: center;
}

$limit-bar-side--padding: 0.5rem;

.direction_ltr {
	.orderbook-limit_bar-wrapper {
		.orderbook-limit_bar-text {
			padding-left: $limit-bar-side--padding;
		}
	}
}

.direction_rtl {
	.orderbook-limit_bar-wrapper {
		.orderbook-limit_bar-text {
			padding-right: $limit-bar-side--padding;
		}
	}
}

.layout-mobile {
	.trade_orderbook-wrapper {
		.trade_orderbook-content {
			.trade_orderbook-bids {
				.value-row {
					.trade_orderbook-cell {
						font-size: $extra-thick--font-size !important;
					}
				}
			}
		}
	}
}

.trade_orderbook-cell {
	.ant-select-selector {
		color: $colors-main-black !important;
	}
}
