.trade_orderbook-wrapper {
	height: 84vh;
	.trade_orderbook-cell {
		padding: 0 0.25rem;
	}

	.wave-header {
		color: $colors-black;
	}

	.trade_orderbook-headers {
		font-weight: bold;
		border-bottom: 1px solid $border-main;
		text-transform: uppercase;
		min-height: 1.5rem;

		.waves-icon {
			width: 3rem;
		}
	}

	.trade_orderbook-content {
		.trade_orderbook-spread {
			flex: 0;
			min-height: 2rem;
			color: $colors-deactivate-color2;
			// font-size: $font-size-main;
			padding: 0 0.25rem;

			.trade_orderbook-spread-text {
				font-weight: bold;
				color: $colors-main-black;
				margin-right: 0.25rem;
			}
		}

		.trade_orderbook-asks,
		.trade_orderbook-bids {
			.value-row {
				min-height: 1.5rem;
			}
		}

		.trade_orderbook-asks > .value-row:first-child {
			background-color: $trade-asks-color-main;
			> div {
				color: $sell-bids-text;
			}
		}

		.trade_orderbook-bids > .value-row:first-child {
			background-color: $trade-bids-color-main;
			> div {
				color: $buy-bids-text;
			}
		}
	}

	.trade_asks-limit_bar {
		.orderbook-limit_bar-wrapper {
			color: $trade-asks-color-main;
			.orderbook-limit_bar-line {
				background-color: $trade-asks-color-main;
			}
		}
	}

	.trade_orderbook-asks {
		color: $trade-order-asks-color-font;
		.trade_orderbook-cell-price {
			color: $trade-asks-color-main;
			.orderbook-limit_bar-line {
				background-color: $trade-asks-color-main;
			}
		}
	}

	.trade_orderbook-bids {
		color: $trade-order-bids-color-font;
		.trade_orderbook-cell-price {
			color: $trade-order-bids-color-font;
			.orderbook-limit_bar-line {
				background-color: $trade-order-bids-color-font;
			}
		}
	}
	.trade_bids-limit_bar {
		.orderbook-limit_bar-wrapper {
			color: $trade-bids-color-main;
			.orderbook-limit_bar-line {
				background-color: $trade-bids-color-main;
			}
		}
	}

	.orderbook-limit_bar-wrapper {
		.orderbook-limit_bar-line {
			height: 2px;
		}
		.orderbook-limit_bar-text {
			font-size: $font-size-main;
		}
	}
}

$limit-bar-side--padding: 0.5rem;

.direction_ltr {
	.orderbook-limit_bar-wrapper {
		.orderbook-limit_bar-text {
			padding-left: $limit-bar-side--padding;
		}
	}
}

.direction_rtl {
	.orderbook-limit_bar-wrapper {
		.orderbook-limit_bar-text {
			padding-right: $limit-bar-side--padding;
		}
	}
}

.layout-mobile {
	.trade_orderbook-wrapper {
		.trade_orderbook-content {
			.trade_orderbook-bids {
				.value-row {
					.trade_orderbook-cell {
						font-size: $extra-thick--font-size !important;
					}
				}
			}
		}
	}
}
