.mobile-drop-down {
	background: unset;
	top: 3.5rem;
	border: none;
	outline: none !important;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	text-indent: 1px;
	text-overflow: '';
	color: $color-sell;
	font-size: 2rem;
	font-weight: bold;
	padding-right: 2rem;
}
.with_arrow_trade{
	margin-top: -5px;
}
.with_arrow_trade:after  {	
	border-bottom-color: $colors-main-black !important;
	border-right-color: $colors-main-black !important;
}
.direction_ltr {
	.with_arrow_trade:after {
	    border: solid grey;
		border-width: 0px 2px 2px 0;
		display: inline-block;
		content: '';
		padding: 3px;
		height: 1rem;
		width: 1rem;
		transform: rotate(46deg);
		left: -1.5rem;
		position: relative;
		top: 0.1rem;	
		z-index: 0;
	}
	
}
.direction_rtl {
	.with_arrow_trade:after {
		transform: rotate(90deg);
		@include css-triangle($dark-accordion-arrow-active, 'left', $accordion_arrow-size, relative);
		right: -1rem;
	}
}
.dark-theme {
	.with_arrow_trade:after {
		border-bottom-color: $dark-font-main-text-color !important;
		border-right-color: $dark-font-main-text-color !important;
	}
	.mobile-drop-down {
		color: $dark-sell;
	}
}
