@import '../../variables';
@import '../../mixins';

$tab_controller-title-img-size: 6rem;
$tab_controller-title-margin: 16px;
$tab_controller-item-min-width: 4rem;

.icon_title-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;

	&.underline:after {
		content: '';
		width: 100%;
		height: 1px;
		background: $colors-main-black;
		position: absolute;
		bottom: 0;
		left: 0;
	}

	.icon_title-image {
		@include size($tab_controller-title-img-size);
	}
	.icon_title-text {
		font-size: $font-size-subhead2;

		&.title {
			font-size: $font-size-headline;
			text-transform: uppercase;
		}
	}
}
