$inner_container-border: 1px solid $colors-main-black;

.app_container {
	// height: 100%;
	min-height: 100vh;

	&.dark-theme {
		background: $dark-app-background-color !important;
		min-height: 100vh;
	}

	&.btc {
		@include currency-color($btc-color);
	}

	&.fiat {
		@include currency-color($colors-currencies-fiat);
	}

	&.bch {
		@include currency-color($colors-currencies-bch);
	}

	&.eth {
		@include currency-color($colors-currencies-eth);
	}

	&.ltc {
		@include currency-color($colors-currencies-ltc);
	}

	&.layout-desktop {
		.app_container-content {
			min-height: $max-content-height;
			max-height: $max-content-height;
		}
	}

	&.layout-mobile {
		.app_container-content {
			min-height: $max-content-height-mobile;
			max-height: $max-content-height-mobile;
			max-width: $max-content-width-mobile;
		}
		.content-with-bar {
			min-height: $max-content-height-double-bar-mobile;
			max-height: $max-content-height-double-bar-mobile;
			max-width: $max-content-width-mobile;
			padding: $content-display-vertical-margin;
			margin: 0;
		}
	}
	.app_container-content {
		.app_container-main {
			width: 100%;
			height: auto;
			position: relative;
			.presentation_container {
				width: $app-content-display-width;
				height: inherit;
				// width: inherit;
			}
		}
	}

	.app_container-sidebar {
		min-width: $sidebar-width;
		max-width: $sidebar-width;
		border-left: 1px solid $colors-deactivate-color2;
	}
}

.layout-mobile {
	.presentation_container {
		padding-top: 4rem !important;
	}
}

.presentation_container {
	width: $content-display-width;
	max-width: calc(100% - #{$content-display-vertical-margin * 2});
	margin: $content-display-vertical-margin auto;

	// border: 1px solid $colors-deactivate-color2;
	height: 100%;

	.inner_container {
		// padding: 1rem 0;
		position: relative;

		&.with_border_top {
			border-top: $inner_container-border;
		}
		&.with_border_bottom {
			border-bottom: $inner_container-border;
		}

		.information_block {
			position: relative;
			margin-bottom: 1rem;

			.information_block-text_wrapper {
				.title {
					font-size: $font-size-main;
				}
				.text {
					font-size: $font-size-subtext;
					color: $colors-deactivate-color2;
					> p {
						margin: 0.5rem 0;
					}
				}
			}
		}
	}
}

.dark-theme {
	.presentation_container {
		.inner_container {
			&.with_border_top {
				border-top-color: $dark-border-main;
			}
			&.with_border_bottom {
				border-bottom-color: $dark-border-main;
			}

			.information_block {
				.information_block-text_wrapper {
					.title,
					.text {
						color: $dark-font-sub-text-color;
					}
				}
			}
		}
	}
}

.app_container-bottom_bar {
	display: flex;
	flex: 0;
	width: 100%;
	max-width: 100vw;
}
