.mini-quick-trade-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.mini-quick-trade-converter {
		width: 32%;
		padding: 1.5%;
		border-radius: 10px;
		background-color: var(--base_wallet-sidebar-and-popup);
		display: flex;
		flex-direction: column;
		gap: 1rem;
		align-items: flex-start;
		border: 2px solid var(--calculated_super-pale_label-text-graphics);

		&:focus-within {
			background: var(--base_wallet-sidebar-and-popup);
			border: 2px solid #5d63ff !important;
		}

		.header-wrapper {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			padding: unset;

			.balance-text {
				.balance-value-text {
					color: var(--specials_buttons-links-and-highlights);
				}
			}
		}

		.field-error-content {
			margin-top: 3%;

			.field-error-text {
				color: var(--specials_notifications-alerts-warnings);
			}
		}

		.title {
			font-size: 1.3rem;
		}

		.currency-dropdown {
			.ant-select {
				border: 1px solid var(--calculated_important-border);
				border-radius: 25px;
				min-width: 10rem;
			}

			.ant-select,
			.ant-select-arrow {
				color: var(--labels_important-active-labels-text-graphics);
			}

			.ant-select-focused {
				padding: unset !important;
			}
		}

		.input-group__input,
		.active-input {
			text-align: right;
			color: var(--labels_secondary-inactive-label-text-graphics);
			margin-left: 1rem;

			&:focus,
			&:active {
				background-color: var(--base_secondary-navigation-bar) !important;
				box-shadow: inset 1px 1px 3px #00000029;
				border-radius: 5px;
				border-bottom: 1px solid #ffffff;
			}

			&:hover {
				color: var(--labels_important-active-labels-text-graphics);
			}
		}
	}

	.active-border {
		border: 1px solid var(--labels_important-active-labels-text-graphics) !important;

		&:focus-within {
			background: var(--base_wallet-sidebar-and-popup);
			border: 1px solid var(--labels_important-active-labels-text-graphics) !important;
		}
	}

	.mini-quick-trade-converter:hover {
		border-color: var(--labels_important-active-labels-text-graphics);
	}

	.swap-wrapper-wrapper {
		width: 100%;

		.swap-wrapper {
			width: 28% !important;
		}
	}
}

.layout-mobile {
	.mini-quick-trade-container {
		.mini-quick-trade-converter {
			width: 85%;
			padding: 4%;
			font-size: 1.6rem !important;

			.title {
				font-size: 2rem !important;
			}

			.currency-dropdown {
				.ant-select-single:not(.ant-select-customize-input)
					.ant-select-selector {
					height: 4.6rem;
				}
			}

			.input-holder > div {
				align-items: center;
				justify-content: space-between;
				width: 100%;
			}

			.input-holder {
				.ant-input {
					height: unset;
				}
			}
		}
	}

	.swap-wrapper-wrapper {
		width: 80% !important;
		margin: 2% 0;

		.swap-wrapper {
			width: 100% !important;
		}

		.blue-link {
			font-size: 1.8rem !important;
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	.mini-quick-trade-container {
		.mini-quick-trade-converter {
			.currency-dropdown {
				.ant-select-single:not(.ant-select-customize-input)
					.ant-select-selector {
					height: 3rem !important;
				}
			}
		}
	}
}
