input[type=text] {
  background-color: transparent;
  border: 1px solid #c3c8cc ;
  font-family: Roboto-Light;
  text-align: left;
}
textarea{
  background-color: transparent;
  border: 1px solid #c3c8cc ;
  font-family: Roboto-Light;
  text-align: left;
  width: 35%;
  resize: none;
}
select{
  width:100%;
  background: transparent;
  height: 1.6rem;
}