.quote-container {
	background-color: $quick-trade-background;
	overflow-y: scroll;
}

.quote-review-wrapper {
	margin: 1rem 0;
	width: 30rem;
}

.quote-countdown-wrapper {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;

	.counter {
		font-size: $font-size-subhead1;
	}
}

.quote-success-review-text {
	margin: 1rem 0 2rem;
	font-size: $font-size-main;
}

.dark-theme {
	.quote-container {
		background-color: $dark-quick-trade-background;
	}
}

.layout-mobile {
	.base_negative_balance {
		margin: auto
	}
	.quote-container {
		background-color: transparent;
		overflow-y: scroll;
		min-height: $max-content-height-double-bar-mobile;
		max-height: $max-content-height-double-bar-mobile;
		.quick_trade-wrapper {
			flex: 1;
			min-width: 100vw;
			max-width: 100vw;
		}
	}
	.success-review,
	.quote-review-wrapper {
		margin: auto;
	}
}
