.quote-container {
	background-color: $quick-trade-background;
	overflow-y: scroll;
}

.base_negative_balance,
.success-review {
	margin: 1rem 0;
	width: 30rem;
}
.quote-review-wrapper {
	margin: 1rem 0;
	width: 40rem !important;
	position: relative;
	.quote_header {
		font-size: 22px;
		font-weight: bold;
	}
	.quote_content {
		color: $colors-deactivate;
	}
	.disabled-area {
		opacity: 0.3;
	}
}

.quote-countdown-wrapper {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;

	.counter {
		font-size: $font-size-subhead1;
	}
}

.quote-success-review-text {
	margin: 1rem 0 2rem;
	font-size: $font-size-main;
	text-align: center;
}

.quote-success__title {
	text-transform: uppercase;
	font-family: Raleway;
	font-weight: bold;
	font-size: 24px;
	text-align: center;
}
.quick-trade__icon {
	height: 7rem;
	width: 7rem;
	margin-bottom: 2rem;
	margin-right: auto;
	margin-left: auto;
}

.layout-mobile {
	.quote-container {
		background-color: transparent;
		overflow-y: scroll;
		min-height: $max-content-height-double-bar-mobile;
		max-height: $max-content-height-double-bar-mobile;
		.quick_trade-wrapper {
			flex: 1 1;
			min-width: 95vw !important;
			max-width: 100vw !important;
			margin: 10px;
			flex-direction: column;
			padding: 0;
			height: fit-content;
		}
	}
	.base_negative_balance,
	.success-review,
	.quote-review-wrapper {
		margin: auto;
	}
}
