.app_container-content-tabs_content {
	padding: 8px;
}

.user_information {
	padding: 4px;
}

.user_information > * {
	padding: 4px;
}
.list_users {
	padding-top: 30px;
}

.user-content .ant-tabs-nav .ant-tabs-ink-bar,
.user-container .ant-tabs-nav .ant-tabs-ink-bar {
	height: 6px;
	background-color: #FFFFFF;
}
.user-container .ant-tabs-nav .ant-tabs-ink-bar {
	top: 0px;
}
.user-container .ant-tabs-nav .ant-tabs-tab {
	font-size: 15px;
	color: #FFFFFF;
	font-weight: bold;
}
.user-container .ant-tabs-nav .ant-tabs-tab:hover {
	color: #FFFFFF;
}
.user-content .ant-tabs-nav::before,
.user-container .ant-tabs-nav::before {
	border-bottom: none;
}
.ant-table-thead > tr > th {
	background-color: #4e4efb;
	color: #FFFFFF;
}
.ant-table-tbody > tr > td {
	background-color: #0000d1;
	color: #ffffff;
	border-bottom: 1px solid #0000d1;
}
.ant-table-tbody > tr.ant-table-row:hover > td {
	background-color: #0000ff;
}
.user-content {
	margin: 24px 0px;
}
.ant-breadcrumb,
.ant-breadcrumb-separator {
	color: #C4C4C4;
}
.ant-breadcrumb a:hover {
	color: #FFFFFF;
}
.ant-breadcrumb > span:last-child {
	color: #FFFFFF;
}
.user-icon {
	margin-right: 5px;
	width: 3rem;
}
.user-details {
	color: #FFFFFF;
	font-size: 18px;
	margin: 10px 0px;
}
.user-details .user-seperator {
	background-color: #FFFFFF;
    height: 20px;
    margin: 0px 14px;
    width: 1px;
}
.about-icon .freeze-icon {
	fill: #c4c4c4;
}
.about-icon .flag-icon,
.about-icon .otp-key {
	fill: none;
	stroke: #c4c4c4;
}
.about-info {
	padding: 15px 10px;
	border-left: 1px solid #c4c4c4;
	width: 16rem;
}
.about-icon {
	width: 3rem;
	margin-left: 5px;
}
.about-icon-active .about-icon .flag-icon {
	fill: #FF0000;
}
.about-icon-active .freeze-icon {
	fill: #00EDFF;
}
.about-icon-active .about-icon .otp-key {
	fill: #ffffff;
}
.info-link {
	cursor: pointer;
	text-decoration: underline;
}
.about-info-content {
	text-align: right;
}
.about-wrapper {
	padding: 0px 15px;
}
.about-verification-content {
	flex: 1;
	margin-right: 12px;
}
.about-notes-content {
	width: 18rem;
}
.about-notes-text {
	margin-bottom: 2rem;
}
.about-notes-content .ant-btn {
	width: auto;
}
.about-title {
	border-bottom: 1px solid #C4C4C4;
	font-weight: bold;
	padding: 10px;
	margin-bottom: 8px;
}
.verification-docs-container {
	margin-bottom: 5px;
	width: 20rem;
}
.ant-modal-confirm-btns {
	display: flex;
}
h3 {
	color: #FFFFFF;
}
.user-info-container,
.user-role-container,
.user-level-container {
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
}
.user-info-container {
	width: 25rem;
}
.user-role-container {
}
.user-level-container {
}
.user-info-separator {
	border-right: 1px solid #C4C4C4;
    margin: 0rem 2rem;
    width: 1px;
    height: 4rem;
}
.user-data-form .user-edit-icon {
	margin-right: 1rem;
	width: 3rem;
}
.user-data-form .ant-picker .ant-picker-clear path,
.user-data-form .ant-picker .ant-picker-suffix path,
.user-data-form .ant-select .ant-select-arrow path {
	fill: #FFFFFF;
}
.user-data-form .ant-select-single:not(.ant-select-customize-input) .ant-select-selector,
.user-data-form .ant-input,
.user-data-form .ant-picker-input > input,
.user-data-form .ant-picker {
	background-color: #0000ff;
	color: #FFFFFF;
}
.download-csv-table {
	border: 1px solid #ffffff;
    padding: 2px 5px;
}
