.transfer-details-wrapper {
	.transfer-title-wrapper {
		display: flex;
		flex-direction: column;
		gap: 2%;

		.transfer-title {
			font-size: 24px;
			font-weight: 600;
		}

		.description {
			color: #ccc;
		}
	}

	.transfer-form-wrapper {
		width: 45rem;
		padding-top: 1%;
		padding-left: 3%;

		.method-select-container {
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 1% auto 5% auto;
			width: 100%;

			.transfer-method {
				padding: 1% 2%;
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				border: 1px solid #ccc;
				opacity: 0.6;
				border-collapse: collapse;
				gap: 5px;
				min-height: 3rem;

				.transfer-icon {
					svg {
						width: 2rem;
						height: 2rem;
						position: relative;
						top: 2px;
					}
				}

				.user-icon {
					svg {
						width: 1.5rem;
					}
				}
			}

			.transfer-method-active {
				opacity: 1;
				border: 1px solid #ffffff;
				font-weight: 600;

				.transfer-icon {
					svg {
						path {
							fill: #ffffff !important;
						}
					}
				}
			}
		}

		.transfer-details {
			display: flex;
			align-items: flex-start;
			gap: 5%;
			border-left: 1px solid #b0b0b0;
			padding: 2% 5%;
		}

		.error-wrapper {
			display: flex;
			gap: 1%;
			color: var(--specials_notifications-alerts-warnings);
			font-size: 1rem;
			padding: 0 5%;

			.anticon-exclamation-circle {
				position: relative;
				top: 3px;
			}
		}
	}

	.blue-admin-select-dropdown,
	.input-amount-wrapper,
	.input-description-wrapper {
		width: 100%;
		min-width: 38rem;
	}

	.input-amount-wrapper {
		background-color: #ffffff;
		color: #000000;
		border-radius: 2px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;

		.ant-space-item:first-child {
			width: 100%;

			.ant-input-number,
			.ant-input-number :focus {
				border: none;
				box-shadow: none;
			}
		}

		.ant-space-item:last-child {
			margin-right: 3%;
		}
	}

	.transfer-form-details {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		align-items: flex-start;
		width: 100%;

		.form-field {
			width: 100%;

			.anticon-arrow-down {
				width: 15%;
				position: relative;
				left: 2%;
			}

			.currency-select-field {
				.ant-select-selector {
					.edit-wrapper__container {
						position: relative;
						bottom: 3px;
					}
				}
			}
		}

		.green-btn {
			width: 100%;
		}
	}

	.description-secondary-text {
		font-size: 1rem;
		color: #ffffff;
		opacity: 0.8;
	}

	.button-container {
		padding: 2% 5%;
		margin-top: 5%;
	}
}

.confirm-transfer-details {
	.confirm-transfer-title {
		font-size: 26px;
		font-weight: bold;
		margin-bottom: 5%;
	}

	.arrow-field {
		margin-left: 6%;
		gap: 3%;
		min-height: 5rem;

		.arrow-container {
			display: flex;
			flex-direction: column;
			align-items: center;

			.down-arrow {
				svg {
					width: 3.5rem;
					height: 4rem;
				}
			}
		}

		.decriptions {
			font-size: 1rem;
			gap: 5px;
			padding: 3% 0;
		}
	}

	.confirm-sender-transfer-details {
		border: 1px solid #ccc;
		border-radius: 5px;
		padding: 1% 4%;

		.asset-field {
			gap: 1.5%;
		}

		.sender-title {
			position: relative;
			bottom: 1.5rem;
			padding: 1%;
			background-color: var(--admin_panel_modal_background);
			font-size: 1rem;
			font-weight: bold;
		}

		.sender-transfer-details {
			display: flex;
			flex-direction: column;

			.transfer-amount {
				font-size: 26px;
				gap: 1%;
				color: #ffee00;
			}
		}
	}

	.confirm-transfer-button-container {
		margin-top: 5%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 2%;

		.back-btn {
			width: 70%;
		}

		.confirm-btn {
			width: 30%;
		}
	}
}

.transfer-completed-container {
	.circle-icon {
		.anticon-check-circle {
			svg {
				path:nth-child(1),
				path:nth-child(3) {
					fill: #ffffff;
				}

				path:nth-child(2) {
					fill: transparent;
				}
			}
		}
	}

	.repeat-transfer-select-wrapper {
		.repeat-transfer-option {
			color: #ffffff;
			opacity: 0.6;
		}

		.repeat-transfer-option-active {
			color: #ffffff;
			opacity: 1;
		}
	}

	.next-btn-container {
		margin-top: 5%;
		display: flex;
		align-items: center;
		justify-content: center;

		.next-btn {
			width: 100%;
		}
	}
}

.confirm-transfer_modal {
	.description-secondary-text {
		font-size: 1rem;
		color: #ffffff;
		opacity: 0.8;
	}

	.ant-modal-close-x {
		color: #ffffff;
		opacity: 1;
	}

	.ant-modal-content {
		.ant-modal-body {
			padding: 8% !important;
		}
	}

	.ReactModal__Content {
		width: 40rem;
	}
}

.check-confirm-transfer_modal {
	width: 50rem !important;
}

@media screen and (min-width: 1920px) {
	.transfer-details-wrapper {
		.blue-admin-select-dropdown,
		.input-amount-wrapper,
		.input-description-wrapper {
			min-width: 37rem;
		}
		.transfer-form-wrapper {
			.button-container {
				.green-btn {
					min-width: 37rem;
				}
			}
		}
	}
}
