$check-title-img-size: 4rem;
$custom-title-img-size: 6rem;
$notification-size: 1.5rem;

.check_title-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.check_title-label {
		font-size: $font-size-subhead2;
		line-height: $font-size-subhead2;
		padding: 0.25rem 0;
	}

	.custom_title-label {
		font-size: $font-size-subhead3;
		line-height: $font-size-subhead3;
		padding: 0.25rem 0;
		text-align: center;
	}

	.check_title-icon {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
	}

	.check_title-img {
		height: $check-title-img-size;
		width: $check-title-img-size;
	}

	.check_title-svg {
		height: $check-title-img-size;
		width: $check-title-img-size;
		svg {
			max-width: 100%;
			height: $check-title-img-size;
			width: $check-title-img-size;
		}
		.st0,
		.g1_4,
		.g1_2 {
			stroke: $colors-deactivate;
		}
		.st0 {
			fill: $colors-deactivate;
		}
	}

	.custom_title-img {
		height: $custom-title-img-size;
		width: $custom-title-img-size;
	}

	.custom_title-svg {
		height: $custom-title-img-size;
		width: $custom-title-img-size;
		svg {
			max-width: 100%;
			height: $custom-title-img-size;
			width: $custom-title-img-size;
		}
		.st0,
		.g1_4,
		.g1_2 {
			stroke: $colors-deactivate;
		}
		.st0 {
			fill: $colors-deactivate;
		}
	}

	.check_title-notification {
		position: absolute;
		right: 0;
		top: 0;
		height: $notification-size;
		width: $notification-size;
		border-radius: $notification-size;
		background-color: red;
		color: white;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1rem;
		line-height: 1;
		font-weight: bold;
	}
}

.panel-information-row {
	background-color: $info-panel-background;
	padding: 0.5rem;
	margin-bottom: 0.5rem;
	flex: 1;
}

.panel-information-row-disable {
	color: $info-panel-text;
}

.verification-status-container {
	position: relative;
	top: 15px;
}

.verification-stauts {
	width: 1rem;
}

.empty-notification {
	height: 1.5rem;
}

.header_title-wrapper {
	border-top: 1px solid $border-main;
	margin-bottom: 1rem;
	padding-top: 0.5rem;
	position: relative;

	.header_title-children {
		font-size: $font-size-subtext;
		color: $colors-deactivate-color2;
		padding: 0.5rem 0;
	}

	.header_title-icon {
		width: 4rem;
		svg {
			.verification-email,
			.verification-id,
			.verification-document,
			.verification-phone,
			.verification-bank {
				fill: $colors-main-black;
			}
		}
	}
}

.custom-tab-wrapper {
	.tab_item {
		color: $tab-inactive;
		height: 10rem;
		margin: 1rem;
		max-width: 10rem;
		min-width: 10rem;
	}

	.tab_item-active {
		border: 1px solid $border-main;
		color: $tab-active !important;
		font-weight: bold;

		& svg path {
			opacity: 1;
			.st0,
			.g1_4,
			.g1_2 {
				fill: $tab-active !important;
			}
			.st0 {
				stroke: $tab-active !important;
			}
		}
		.custom_title-svg {
			svg {
				.verification-email,
				.verification-id,
				.verification-document,
				.verification-phone,
				.verification-bank,
				.notification-setting,
				.language-setting,
				.interface-setting,
				.chat-setting,
				.audio-setting,
				.risk-setting {
					fill: $colors-main-black;
				}
			}
		}
	}
}

.mobile_tab-wrapper {
	border-top: 1px solid $colors-deactivate-color2;
	color: $colors-deactivate-color2;
	padding: 0.5rem;
	font-size: 1.2rem;

	.custom_tab_icon-mobile {
		width: 4rem;
		// color: #292b2c;
	}

	.custom_tab_status-icon {
		width: 1.7rem;
	}

	.mobile-tab-title {
		font-size: 2rem;
		font-weight: bold;
	}

	.verified {
		color: #00A551;
	}
	.pending {
		color: #F6921E;
	}
	.rejected {
		color: #FFF100;
	}
	.incompleted {
		color: #EC1C24;
	}
}

.mobile_tab_last {
	border-bottom: 1px solid $colors-deactivate-color2;
}

.mobile_tab_last-active {
	border-bottom: 2px solid $colors-black !important;
}

.active_mobile_tab {
	color: $colors-black;
	border-top: 2px solid $colors-black;
	border-bottom: 1px solid $colors-black;

	svg {
		.verification-email,
		.verification-id,
		.verification-document,
		.verification-phone,
		.verification-bank,
		.notification-setting,
		.language-setting,
		.interface-setting,
		.chat-setting,
		.audio-setting,
		.risk-setting {
			fill: $colors-main-black;
		}
	}
}

.direction_ltr {
	.check_title-container {
		font-family: $raleway--font-family;
	}
}

.dark-theme {
	.header_title-wrapper {
		border-top-color: $dark-border-main !important;

		.header_title-children {
			color: $dark-font-sub-text-color !important;
		}

		.header_title-icon {
			svg {
				.verification-email,
				.verification-id,
				.verification-document,
				.verification-phone,
				.verification-bank {
					fill: $dark-icon-color;
				}
			}
		}
	}
	.check_title-notification {
		background-color: $dark-tab-notification;
	}
	.panel-information-row {
		background-color: $dark-info-panel-background;
		color: $dark-font-main-text-color;
		.information-content {
			color: $dark-font-sub-text-color;
		}
	}
	.panel-information-row-disable {
		color: $dar-info-panel-text !important;
		.information-content {
			color: $dar-info-panel-text;
		}
	}

	.custom-tab-wrapper {
		.tab_item {
			color: $dark-tab-inactive;

			svg path, svg rect {
				fill: $dark-tab-inactive;
				stroke: $dark-tab-inactive;
			}

			&.tab_item-active {
				border: 1px solid $dark-tab-active !important;
				color: $dark-tab-active !important;
				svg path, svg rect {
					fill: $dark-tab-active;
					stroke: $dark-tab-active;
				}
			}
		}
	}
	.mobile_tab-wrapper {
		color: $dark-button-active;
		border-top: 1px solid $dark-button-active;

		svg {
			.verification-email,
			.verification-id,
			.verification-document,
			.verification-phone,
			.verification-bank,
			.notification-setting,
			.language-setting,
			.interface-setting,
			.chat-setting,
			.audio-setting,
			.risk-setting {
				fill: $dark-button-active;
			}
			.pending-timer {
				stroke: $dark-icon-color;
			}
		}
	}

	.active_mobile_tab {
		color: $dark-font-main-text-color;
		border-top: 2px solid $dark-font-main-text-color;
		border-bottom: 1.5px solid $dark-font-main-text-color;

		svg {
			.verification-email,
			.verification-id,
			.verification-document,
			.verification-phone,
			.verification-bank,
			.notification-setting,
			.language-setting,
			.interface-setting,
			.chat-setting,
			.audio-setting,
			.risk-setting {
				fill: $dark-font-main-text-color;
			}
		}
	}

	.mobile_tab_last {
		border-bottom: 1px solid $dark-button-active;
	}

	.mobile_tab_last-active {
		border-bottom: 2px solid $dark-font-main-text-color !important;
	}
}
.layout-mobile{
	.mobile_tab-wrapper {
		.status_txt{
			font-size:$font-size-mobile-txt;
		}
	}
}
