.pointer {
	cursor: pointer;
}

.not_allowed_cursor {
	cursor: not-allowed;
}

.hidden {
	display: none !important;
}

.flex-auto {
	flex: auto;
}

.f-0 {
	flex: 0;
}

.f-0-i {
	flex: 0 !important;
}

.f-1 {
	flex: 1;
}

.f-05 {
	flex: 0.5;
}

.overflow-y {
	overflow-y: auto;
}

.overflow-x {
	overflow-x: auto;
}

.p-relative {
	position: relative;
}

.text_overflow {
	width: auto;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.contrast {
	color: white;
	background: $colors-main-black;
}

// FONT SIZES
.font-small {
	font-size: $font-size-subtext;
}

.font-title {
	font-size: $font-size-subhead2;
}

// BORDERS
.b {
	border: 1px solid red;
}
.c {
	border: 1px solid green;
}
.d {
	border: 1px solid blue;
}

.separator {
	width: 2rem;
}

table th {
	text-align: inherit;
}

.cursor_disabled {
	cursor: not-allowed;
}

.direction_ltr {
	.title-font {
		font-family: $raleway--font-family;
	}
}

.blue-link {
	color: $link !important;
}

.dark-theme {
	.blue-link {
		color: $dark-link !important;
	}
}

.arrow {
	border: solid grey;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	height: 2rem;
	width: 2rem;

	&.right {
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
	}

	&.left {
		transform: rotate(135deg);
		-webkit-transform: rotate(135deg);
	}
}

.caps {
	text-transform: uppercase;
}

.d-inline {
	display: inline;
}

.d-inline-block{
	display: inline-block;
}
.content-center{
	justify-content:center !important;
}