@mixin size($width, $height: $width) {
	width: $width;
	height: $height;
}

@mixin size-important($width, $height: $width) {
	width: $width !important;
	height: $height !important;
}

@mixin pseudo($display: block, $pos: absolute, $content: '') {
	content: $content;
	display: $display;
	position: $pos;
}

@mixin css-triangle(
	$color,
	$direction,
	$size: 6px,
	$position: absolute,
	$round: false
) {
	@include pseudo($pos: $position);
	width: 0;
	height: 0;
	@if $round {
		border-radius: 3px;
	}
	@if $direction == down {
		border-bottom: none !important;
		border-left: $size solid transparent !important;
		border-right: $size solid transparent !important;
		border-top: $size solid $color;
		margin-top: 0 - round($size / 2.5);
	} @else if $direction == up {
		border-top: none !important;
		border-left: $size solid transparent !important;
		border-right: $size solid transparent !important;
		border-bottom: $size solid $color;
		margin-bottom: 0 - round($size / 2.5);
	} @else if $direction == right {
		border-right: none !important;
		border-top: $size solid transparent !important;
		border-bottom: $size solid transparent !important;
		border-left: $size solid $color;
		margin-right: -$size;
	} @else if $direction == left {
		border-left: none !important;
		border-top: $size solid transparent !important;
		border-bottom: $size solid transparent !important;
		border-right: $size solid $color;
		margin-left: -$size;
	}
}

@mixin currency-color($color) {
	$currency-color: $color;

	.app_bar .app_bar-controllers {
		background-color: $currency-color;
	}

	&.wallet,
	&.trade,
	&.quick-trade {
		.sidebar-container .sidebar-actions {
			border-color: $currency-color;
		}
	}
}

@mixin hover-icon($active-color, $inactive-color) {
	&:hover {
		svg path {
			fill: $active-color !important;
			stroke: $active-color !important;
		}
	}
	svg path {
		fill: $inactive-color !important;
		stroke: $inactive-color !important;
	}
}
