@import '_customVariables.css';

$bp-xs: 575px;
$bp-sm: 767px;
$bp-md: 991px;
$bp-lg: 1199px;

// common colors
$colors-main-black: var(--labels_important-active-labels-text-graphics);
$colors-black: var(--labels_secondary-inactive-label-text-graphics);
$colors-border: var(--calculated_secondary-border);
$colors-border-hover: var(--calculated_secondary-border-1);
$colors-main-border: var(--calculated_important-border);
$footer-border-color: var(--calculated_footer_border);
$colors-super-pale-black: var(--calculated_super-pale_label-text-graphics);

// common colors for deactivate and disabled look
$colors-deactivate: var(--labels_secondary-inactive-label-text-graphics);
$colors-deactivate-color1: var(--labels_inactive-button);
$colors-deactivate-color2: var(--labels_secondary-inactive-label-text-graphics);
$colors-deactivate-color4: var(--labels_inactive-button);

//common colors for notifications and errors
$colors-notifications-red: var(--specials_notifications-alerts-warnings);
$colors-notification-inactive-red: var(
	--calculated_specials_notifications-alerts-inactive
);
$colors-notification-alert-text: var(
	--calculated_specials_notifications-alerts-text
);
$colors-notifications-blue: var(--specials_buttons-links-and-highlights);
$colors-notifications-green: var(--specials_checks-okay-done);
$colors-notification-pending-text: var(
	--calculated_specials_notifications-pending-text
);
$colors-notification-green-text: var(
	--calculated_specials_notifications-success-text
);
$colors-notification-pending: var(--specials_pending-waiting-caution);
$specials_highlight-box: var(--calculated_specials_highlight-box);
$chat-own-message--color: var(--specials_my-username-in-chat);
$favourite-star: var(--specials_my-username-in-chat);

$colors-notifications-blue-disabled: var(
	--calculated_notifications-blue-disabled
);
$colors-notification-pending-disabled: var(
	--calculated_notification-pending-disabled
);

//common colors for terms
$colors-terms-background: $specials_highlight-box;

// theme colors
$app-background-color: var(--base_background);
$app-background-overlay: var(--calculated_background-overlay);
$app-light-background: var(--base_secondary-navigation-bar);
$app-sidebar-background: var(--base_wallet-sidebar-and-popup);
$auth-container-background: var(--base_wallet-sidebar-and-popup);
$landing_markets_table: var(--calculated_landing_markets_table);
$market-card_gradient_background: var(
	--calculated_market-card_gradient_background
);
$trade-block_highlight: var(--calculated_trade-block_highlight);
$stake-table-highlight: var(--calculated_stake-table_highlight);
$tag_background: var(--calculated_tag-background);

// common colors for app bar
$dark-app-bar-add-tab-menu-background: $app-background-color;
$app-bar-menu-list-color: var(--labels_secondary-inactive-label-text-graphics);
$app-bar-icon-inactive: var(--calculated_base_top-bar-navigation_text-inactive);

// Quick trade
$quick-trade-background: $app-background-color;
$quick-trade-container: var(--base_wallet-sidebar-and-popup);
$quick-trade-block-background: var(--calculated_quick_trade-bg);
$quick-trade-block-gradient-top: var(--specials_quick-trade-gradient);
$quick-trade-block-gradient-bottom: var(--calculated_quick_trade-gradient);

$app-modal-background: var(--calculated_base_modal-overlay);
$app-bar-background-color: var(--base_top-bar-navigation);
$app-landing_background: var(--calculated_landing_background);

$app-line-divider: $colors-main-border;
$box-fields: var(--labels_fields);

$buy: var(--trading_buying-related-elements);
$sell: var(--trading_selling-related-elements);

$pale-buy: var(--calculated_public-sale_buying-zeros);
$pale-sell: var(--calculated_public-sale_selling-zeros);

$link: var(--specials_buttons-links-and-highlights);

$trade-fields: var(--labels_fields);
$trade-fields-border: $colors-border;
$trade-fill-indicator: $specials_highlight-box;
$trade-fill-indicator-text: var(
	--labels_secondary-inactive-label-text-graphics
);

$sparkline-fill: var(--calculated_trading_buying-sparkline-fill);
$negative-sparkline-fill: var(--calculated_trading_selling-sparkline-fill);
$selling-orderbook-bar: var(--calculated_trading_selling-orderbook-bar);
$buying-orderbook-bar: var(--calculated_trading_buying-orderbook-bar);
$selling-orderbook-best-bar: var(
	--calculated_trading_selling-orderbook-best-bar
);
$buying-orderbook-best-bar: var(--calculated_trading_buying-orderbook-best-bar);
$selling-orderbook-hover: var(--calculated_trading_selling-orderbook-hover);
$buying-orderbook-hover: var(--calculated_trading_buying-orderbook-hover);
$orderbook-text: var(--calculated_trading-orderbook-text);
$orderbook-secondary-text: var(--calculated_trading-orderbook-secondary-text);
$buy-bids-text: var(--calculated_trading_buying-related-text);
$sell-bids-text: var(--calculated_trading_selling-related-text);
$base_top-bar-navigation_text: var(--calculated_base_top-bar-navigation_text);
$base_top-bar-navigation_text-inactive: var(
	--calculated_base_top-bar-navigation_text-inactive
);
$base_footer_text: var(--calculated_base_footer_text);

$selling-subtracted-bg: var(--calculated_trading_selling-subtracted-bg);
$selling-added-bg: var(--calculated_trading_selling-added-bg);
$buying-subtracted-bg: var(--calculated_trading_buying-subtracted-bg);
$buying-added-bg: var(--calculated_trading_buying-added-bg);
$selling-subtracted-best: var(--calculated_trading_selling-best-subtracted);
$buying-subtracted-best: var(--calculated_trading_buying-best-subtracted);

// form field colors
$form-color-underline-focus: var(
	--labels_important-active-labels-text-graphics
);
$form-color-underline: var(--labels_secondary-inactive-label-text-graphics);
$form-color-placeholder: var(--labels_secondary-inactive-label-text-graphics);
$form-arrow: var(--labels_important-active-labels-text-graphics);
$form-label: var(--labels_important-active-labels-text-graphics);

// theme tabs
$tab-active: var(--labels_important-active-labels-text-graphics);
$tab-inactive: var(--labels_secondary-inactive-label-text-graphics);
$sidebar-color: var(--labels_secondary-inactive-label-text-graphics);
$sidebar-color-active: var(--labels_important-active-labels-text-graphics);
$info-panel-background: var(--labels_fields);
$info-panel-text: var(--labels_secondary-inactive-label-text-graphics);
$icon-hover: var(--labels_important-active-labels-text-graphics);
$icon-unhover: var(--labels_secondary-inactive-label-text-graphics);
$trade-tabs-inactive-color: var(
	--labels_secondary-inactive-label-text-graphics
);

// theme footer
$footer-background-color: var(--base_footer);

// chat color
$chat-message-background-even: var(--base_background);
$chat-message-background-odd: var(--base_secondary-navigation-bar);
$chat-message-color: var(--specials_chat-messages);
$chat-box-border: $colors-main-border;

// this is for transaction history- ToDo: need to customize for common theme
$history-color-buy: var(--trading_buying-related-elements);
$history-color-sell: var(--trading_selling-related-elements);

// remaining dark colors
$dark-app-line-divider: $colors-super-pale-black;
$dark-border-main: $colors-main-border;
$dark-inactive-color: var(--labels_secondary-inactive-label-text-graphics);
$dark-font-sub-text-color: var(--labels_secondary-inactive-label-text-graphics);
$dark-font-sub-text-1-color: var(
	--labels_secondary-inactive-label-text-graphics
);
$dark-accordion-arrow-active: var(--dark-accordion-arrow-active);

$content-display-width: 100rem;
$app-content-display-width: 75rem;
$content-display-vertical-margin: 1rem;
$background-patter--size: 30rem;

$font-size-headline: 4rem;
$font-size-headline2: 3.5rem;
$font-size-subhead1: 2.6rem;
$font-size-subhead2: 1.8rem;
$font-size-subhead3: 1.3rem;
$font-size-subhead4: 1.2rem;
$font-size-main: 1.1rem;
$font-size-subtext: 1rem;
$font-size-mobile-title: 15px;
$font-size-mobile-txt: 13px;
$font-size-mobile-innertxt: 11px;
$font-size-small-expandable: 0.84rem;

$form-width-max: $content-display-width / 2;

$en--font-family: 'Open Sans';
$raleway--font-family: 'Raleway';
$raleway-extrabold--font-family: 'Raleway Extrabold';
$raleway-medium--font-family: 'Raleway Medium';
$raleway-light--font-family: 'Raleway Light';
$title--font-family: $raleway-extrabold--font-family;

// DIALOG
$dialog-min-width: 25rem;
$dialog-min-height: 30rem;

// APP BAR
$navigation_bar-height: 36px;
$navigation_bar-height-lg: 45px;
$navigation_bar-action_button: 7.5rem;
$navigation_bar-font_size: $font-size-subtext;

// APP SECONDARY BAR
$navigation_bar_secondary-height: 32px;

// FOOTER
$footer-height: 64px;

// SIDEBAR
$sidebar-width: 20rem;
$sidebar-width-lg: 25rem;
$sidebar-width-md: 18rem;
$sidebar-sections-padding: 1rem;

$sidebar-borderbottom-color: $colors-deactivate-color2;
$sidebar-borderbottom-color-active: $colors-deactivate-color2;
$sidebar-borderbottom-height: 4px;

$currency-color: inherit;

// TAB CONTROLLER

$tab-border-color: $colors-main-black;
$tab-text-padding: 0 8px 8px;
$tab-selected-line-height: 4px;

// MOBILE
$market-selector--height: 3rem;
$navigation_bar-mobile--height: 4rem;
$navigation_bar-mobile--background: $app-bar-background-color;
$bottom_bar--height: 6rem;
$bottom-bar--background: $navigation_bar-mobile--background;
$max-content-height-mobile: calc(
	100vh - #{$navigation_bar-mobile--height + $bottom-bar--height}
);
$max-content-height-double-bar-mobile: calc(
	100vh - #{$navigation_bar-mobile--height * 2 + $bottom-bar--height +
		$market-selector--height}
);
$max-content-height-home-mobile: calc(
	100vh - #{$navigation_bar-mobile--height}
);
$max-content-height-dialog-mobile: calc(
	100vh - #{$navigation_bar-mobile--height * 2}
);

$market-menu-height-dialog-mobile: calc(
	100vh - 19rem - #{$navigation_bar-mobile--height * 2}
);

$max-content-width-mobile: 100vw;
$table-header-column--font-size: 1rem;
$regular--font-size: 1.2rem;
$regular-chat--font-size: 1.5rem;
$title--font-size: 1.75rem;
$extra-thick--font-size: 1.5rem;
$component--margin-bottom: 3rem;
$input--height: 4.5rem;

// CONTAINERS
$max-content-height: calc(100vh - #{$navigation_bar-height});
$max-content-secondary-height: calc(100vh - #{$navigation_bar-height * 2});
$max-content-height-lg: calc(100vh - #{$navigation_bar-height-lg});
$max-content-secondary-height-lg: calc(
	100vh - #{$navigation_bar-height-lg * 2}
);
$max-width-content: 50rem;
