@import '_customVariables.css';

$bp-xs: 575px;
$bp-sm: 767px;
$bp-md: 991px;
$bp-lg: 1199px;

// common colors
$colors-main-black: var(--colors-main-black);
$colors-white: var(--colors-white);
$colors-black: var(--colors-black);
$colors-wave-phase-completed: var(--colors-wave-phase-completed);
// common colors for deactivate and disabled look
$colors-deactivate: var(--colors-deactivate);
$colors-deactivate-color1: var(--colors-deactivate-color1);
$colors-deactivate-color2: var(--colors-deactivate-color2);
$colors-deactivate-color3: var( --colors-deactivate-color3);
$colors-deactivate-color4: var( --colors-deactivate-color4);

$colors-notifications-red: var(--colors-notifications-red);
$colors-notification-inactive-red: var(--colors-notification-inactive-red);
$colors-notifications-blue: var(--colors-notifications-blue); // for Hollaex
$colors-notifications-green: var(--colors-notifications-green);
$error-color: $colors-notifications-red;

$color-currency-eur--main: var(--color-currency-eur--main);
$color-currency-eur--secondary: var(--color-currency-eur--secondary);
$color-currency-btc--main: var(--color-currency-btc--main);
$color-currency-btc--secondary: var(--color-currency-btc--secondary);

$colors-currencies-eur: $color-currency-eur--main;
$colors-currencies-btc: $color-currency-btc--secondary;
// $colors-orderbook-red-light: #ed1c24;
$colors-currencies-bch: var(--colors-currencies-bch);
$colors-currencies-eth: var(--colors-currencies-eth);
$colors-currencies-ltc: var(--colors-currencies-ltc);
$colors-currencies-xrp: var(--colors-currencies-xrp);
$colors-terms-background: var(--colors-terms-background); // for Hollaex
$dark-colors-terms-background: var(--dark-colors-terms-background); // for Hollaex

// common colors for app bar
$dark-app-bar-add-tab-menu-background: var(--dark-app-bar-add-tab-menu-background);
$dark-app-bar-tab-active-menu-list-background: var(--dark-app-bar-tab-active-menu-list-background);
$app-bar-menu-list-color: var(--app-bar-menu-list-color);
$app-bar-icon-inactive: var(--app-bar-icon-inactive);
$app-bar--quicktrade-active-color: var(--app-bar--quicktrade-active-color);
$app-bar--quicktrade-inactive-color: var(--app-bar--quicktrade-inactive-color);
$app-bar-pairs-up: var(--app-bar-pairs-up);
$app-bar-pairs-down: var(--app-bar-pairs-down);
$dark-app-bar-pairs-up: var(--dark-app-bar-pairs-up);
$dark-app-bar-pairs-down: var(--dark-app-bar-pairs-down);
// $app-menu-bar-border--color: #CCCBCA;

// colors for white theme
$app-background-color: var(--app-background-color);
$app-light-background: var(--app-light-background);
$app-sidebar-background: var(--app-sidebar-background);
$auth-container-background: var(--auth-container-background);
$quick-trade-background: var(--quick-trade-background);
$quick-trade-container: var(--quick-trade-container);
$app-modal-background: var(--app-modal-background);
$app-bar-background-color: var(--app-bar-background-color);
$app-line-divider: var(--app-line-divider);
$box-fields: var(--box-fields);
$buy: var(--buy); // for Hollaex
$sell: var(--sell); // for Hollaex
$color-sell-btc-light: var(--color-sell-btc-light); // for Hollaex
// $color-buy-btc-light: $colors-black; // for Hollaex
$link: var(--link);
$trade-fields: var(--trade-fields);
$trade-fields-border: var(--trade-fields-border);
$trade-fill-indicator: var(--trade-fill-indicator); // for Hollaex
$trade-fill-indicator-text: var(--trade-fill-indicator-text); // for Hollaex
$buy-bids-text: var(--buy-bids-text); // for Hollaex
$sell-bids-text: var(--sell-bids-text);
$app-logo-color: var(--app-logo-color);
$sidebar-border--color: var(--sidebar-border--color);
$border-color: var(--border-color);
$border-main: var(--border-main);
// white form field colors
$form-color-underline-focus: var(--form-color-underline-focus);
$form-color-underline: var(--form-color-underline);
$form-color-placeholder: var(--form-color-placeholder);
$form-arrow: var(--form-arrow);
$form-label: var(--form-label);
$form-text-disabled: var(--form-text-disabled);
// White theme tabs
$tab-active: var(--tab-active);
$tab-inactive: var(--tab-inactive);
$sidebar-color: var(--sidebar-color);
$sidebar-color-active: var(--sidebar-color-active);
$info-panel-background: var(--info-panel-background);
$info-panel-text: var(--info-panel-text);
$icon-hover: var(--icon-hover);
$icon-unhover: var(--icon-unhover);
$trade-tabs-inactive-color: var(--trade-tabs-inactive-color);
// $bitcoin-color-main: $colors-currencies-btc;
// White theme footer
$footer-background-color: var(--footer-background-color);
// white chat color
$chat-message-background-even: var(--chat-message-background-even);
$chat-message-background-odd: var(--chat-message-background-odd);
$chat-message-color: var(--chat-message-color);
$chat-box-border: var(--chat-box-border);

// this is for transaction history- ToDo: need to customize for common theme
$history-color-buy: var(--history-color-buy);
$history-color-sell: var(--history-color-sell);

// colors for dark theme
$colors-username-set-dark: var(--colors-username-set-dark);

$dark-app-background-color: var(--dark-app-background-color);
$dark-app-light-background: var(--dark-app-light-background);
$dark-app-sidebar-background: var(--dark-app-sidebar-background);
$dark-auth-container-background: var(--dark-auth-container-background);
$dark-quick-trade-background: var(--dark-quick-trade-background);
$dark-quick-trade-container: var(--dark-quick-trade-container);
$dark-app-modal-background: var(--dark-app-modal-background);
$dark-app-bar-background-color: var(--dark-app-bar-background-color);
$dark-app-line-divider: var(--dark-app-line-divider);
// $dark-app-link-highlight: #ed507b;
$dark-box-fields: var(--dark-box-fields);
$dark-buy: var(--dark-buy);
$dark-sell: var(--dark-sell);
$dark-color-sell-btc-light: var(--dark-color-sell-btc-light);
$dark-link: var(--dark-link);
$dark-trade-fields: var(--dark-trade-fields);
$dark-trade-fields-border: var(--dark-trade-fields-border);
$dark-trade-fill-indicator: var(--dark-trade-fill-indicator);
$dark-buy-bids-text: var(--dark-buy-bids-text);
$dark-sell-asks-text: var(--dark-sell-asks-text);
$dark-app-logo-color: var(--dark-app-logo-color);
// dark-border-button
$dark-border-main: var(--dark-border-main);
$dark-inactive-color: var(--dark-inactive-color);
$dark-icon-color: var(--dark-icon-color);
$dark-font-main-text-color: var(--dark-font-main-text-color);
$dark-font-sub-text-color: var(--dark-font-sub-text-color);
$dark-font-sub-text-1-color: var(--dark-font-sub-text-1-color);
$dark-button-active: var(--dark-button-active);
$dark-button-text: var(--dark-button-text);
$dark-button-disabled: var(--dark-button-disabled);
$dark-button-text-disabled: var(--dark-button-text-disabled);
// dark-form-fields
$dark-form-color-underline-focus: var(--dark-form-color-underline-focus);
$dark-form-color-underline: var(--dark-form-color-underline);
$dark-form-placeholder: var(--dark-form-placeholder);
$dark-form-arrow: var(--dark-form-arrow);
$dark-form-label: var(--dark-form-label);
$dark-form-text-disabled: var(--dark-form-text-disabled);
$dark-form-text: var(--dark-form-text);
// dark-tabs
$dark-tab-active: var(--dark-tab-active);
$dark-tab-inactive: var(--dark-tab-inactive);
$dark-sidebar-color: var(--dark-sidebar-color);
$dark-sidebar-color-active: var(--dark-sidebar-color-active);
$dark-info-panel-background: var(--dark-info-panel-background);
$dar-info-panel-text: var(--dar-info-panel-text);
$dark-icon-hover: var(--dark-icon-hover);
$dark-icon-unhover: var(--dark-icon-unhover);
$dark-tab-notification: var(--dark-tab-notification); // need to check this
$dark-disabled-main: var(--dark-disabled-main);
$dark-disabled-secondary: var(--dark-disabled-secondary);
$dark-trade-row-highlight: var(--dark-trade-row-highlight);
$dark-accordion-arrow-active: var(--dark-accordion-arrow-active);
$dark-accordion-arrow-inactive: var(--dark-accordion-arrow-inactive);
// $dark-trade-text-highlight: #838383;

// dark theme footer
$dark-footer-background-color: var(--dark-footer-background-color);
// colors for chat
$dark-chat-message-background-even: var(--dark-chat-message-background-even);
$dark-chat-message-background-odd: var(--dark-chat-message-background-odd);
$dark-chat-message-color: var(--dark-chat-message-color);
$dark-chat-box-border: var(--dark-chat-box-border);

// main title icons fill(quick trade, deposit, withdrawal)
$dark-main-title-icon-color-1: $dark-app-bar-background-color;
$dark-main-title-icon-color-2: $dark-icon-color;
$dark-main-title-icon-color-3: $dark-icon-color;


// coins for white theme
// fiat coins
$coin-eur: var(--coin-eur);
$coin-eur-1: var(--coin-eur);
$coin-eur-text: var(--coin-eur-text);
$coin-usd: var(--coin-usd);
$coin-usd-1: var(--coin-usd);
$coin-usd-text: var(--coin-usd-text);
$coin-jpy: var(--coin-jpy);
$coin-jpy-1: var(--coin-jpy);
$coin-jpy-text: var(--coin-jpy-text);
$coin-gbp: var(--coin-gbp);
$coin-gbp-1: var(--coin-gbp);
$coin-gbp-text: var(--coin-gbp-text);
$coin-chf: var(--coin-chf);
$coin-chf-1: var(--coin-chf);
$coin-chf-text: var(--coin-chf-text);
$coin-cad: var(--coin-cad);
$coin-cad-1: var(--coin-cad);
$coin-cad-text: var(--coin-cad-text);
$coin-aud: var(--coin-aud);
$coin-aud-1: var(--coin-aud);
$coin-aud-text: var(--coin-aud-text);
$coin-nzd: var(--coin-nzd);
$coin-nzd-1: var(--coin-nzd);
$coin-nzd-text: var(--coin-nzd-text);
$coin-zar: var(--coin-zar);
$coin-zar-1: var(--coin-zar);
$coin-zar-text: var(--coin-zar-text);
$coin-hkd: var(--coin-hkd);
$coin-hkd-1: var(--coin-hkd);
$coin-hkd-text: var(--coin-hkd-text);
$coin-krw: var(--coin-krw);
$coin-krw-1: var(--coin-krw);
$coin-krw-text: var(--coin-krw-text);
$coin-cny: var(--coin-cny);
$coin-cny-1: var(--coin-cny);
$coin-cny-text: var(--coin-cny-text);
$coin-sgd: var(--coin-sgd);
$coin-sgd-1: var(--coin-sgd);
$coin-sgd-text: var(--coin-sgd-text);
// crypto coins
$coin-btc: var(--coin-btc);
$coin-btc-1: var(--coin-btc);
$coin-btc-text: var(--coin-btc-text);
$coin-eth: var(--coin-eth);
$coin-eth-1: var(--coin-eth);
$coin-eth-text: var(--coin-eth-text);
$coin-ltc: var(--coin-ltc);
$coin-ltc-1: var(--coin-ltc);
$coin-ltc-text: var(--coin-ltc-text);
$coin-bch: var(--coin-bch);
$coin-bch-1: var(--coin-bch);
$coin-bch-text: var(--coin-bch-text);
$coin-xrp: var(--coin-xrp);
$coin-xrp-1: var(--coin-xrp);
$coin-xrp-text: var(--coin-xrp-text);
$coin-xht: var(--coin-xht);
$coin-xht-1:var(--coin-xht);
$coin-xht-text: var(--coin-xht-text);
$coin-eos: var(--coin-eos);
$coin-eos-1: var(--coin-eos);
$coin-eos-text: var(--coin-eos-text);
$coin-bnb: var(--coin-bnb);
$coin-bnb-1: var(--coin-bnb);
$coin-bnb-text: var(--coin-bnb-text);
$coin-link: var(--coin-link);
$coin-link-1: var(--coin-link);
$coin-link-text: var(--coin-link-text);
$coin-trx: var(--coin-trx);
$coin-trx-1: var(--coin-trx);
$coin-trx-text: var(--coin-trx-text);
$coin-ada: var(--coin-ada);
$coin-ada-1: var(--coin-ada);
$coin-ada-text: var(--coin-ada-text);
$coin-matic: var(--coin-matic);
$coin-matic-1: var(--coin-matic);
$coin-matic-text: var(--coin-matic-text);
$coin-neo: var(--coin-neo);
$coin-neo-1: var(--coin-neo);
$coin-neo-text: var(--coin-neo-text);
$coin-etc: var(--coin-etc);
$coin-etc-1: var(--coin-etc);
$coin-etc-text: var(--coin-etc-text);
$coin-xlm: var(--coin-xlm);
$coin-xlm-1: var(--coin-xlm);
$coin-xlm-text: var(--coin-xlm-text);
$coin-xmr: var(--coin-xmr);
$coin-xmr-1: var(--coin-xmr);
$coin-xmr-text: var(--coin-xmr-text);
$coin-zec: var(--coin-zec);
$coin-zec-1: var(--coin-zec);
$coin-zec-text: var(--coin-zec-text);
$coin-one: var(--coin-one);
$coin-one-1: var(--coin-one);
$coin-one-text: var(--coin-one-text);
$coin-pax: var(--coin-pax);
$coin-pax-1: var(--coin-pax);
$coin-pax-text: var(--coin-pax-text);
$coin-usdc: var(--coin-usdc);
$coin-usdc-1: var(--coin-usdc);
$coin-usdc-text: var(--coin-usdc-text);
$coin-usdt: var(--coin-usdt);
$coin-usdt-1: var(--coin-usdt);
$coin-usdt-text: var(--coin-usdt-text);
$coin-vet: var(--coin-vet);
$coin-vet-1: var(--coin-vet);
$coin-vet-text: var(--coin-vet-text);
$coin-btt: var(--coin-btt);
$coin-btt-1: var(--coin-btt);
$coin-btt-text: var(--coin-btt-text);
$coin-qtum: var(--coin-qtum);
$coin-qtum-1: var(--coin-qtum);
$coin-qtum-text: var(--coin-qtum-text);
$coin-algo: var(--coin-algo);
$coin-algo-1: var(--coin-algo);
$coin-algo-text: var(--coin-algo-text);
$coin-rvn: var(--coin-rvn);
$coin-rvn-1: var(--coin-rvn);
$coin-rvn-text: var(--coin-rvn-text);
$coin-iota: var(--coin-iota);
$coin-iota-1: var(--coin-iota);
$coin-iota-text: var(--coin-iota-text);
$coin-dash: var(--coin-dash);
$coin-dash-1: var(--coin-dash);
$coin-dash-text: var(--coin-dash-text);
$coin-bsv: var(--coin-bsv);
$coin-bsv-1: var(--coin-bsv);
$coin-bsv-text: var(--coin-bsv-text);
$coin-ont: var(--coin-ont);
$coin-ont-1: var(--coin-ont);
$coin-ont-text: var(--coin-ont-text);
$coin-atom: var(--coin-atom);
$coin-atom-1: var(--coin-atom);
$coin-atom-text: var(--coin-atom-text);
$coin-celr: var(--coin-celr);
$coin-celr-1: var(--coin-celr);
$coin-celr-text: var(--coin-celr-text);
$coin-omg: var(--coin-omg);
$coin-omg-1: var(--coin-omg);
$coin-omg-text: var(--coin-omg-text);
$coin-hot: var(--coin-hot);
$coin-hot-1: var(--coin-hot);
$coin-hot-text: var(--coin-hot-text);
$coin-tusd: var(--coin-tusd);
$coin-tusd-1: var(--coin-tusd);
$coin-tusd-text: var(--coin-tusd-text);
$coin-dai: var(--coin-dai);
$coin-dai-1: var(--coin-dai);
$coin-dai-text: var(--coin-dai-text);

// coins for dark theme
// fiat coins
$dark-coin-eur: var(--dark-coin-eur);
$dark-coin-eur-1: var(--dark-coin-eur);
$dark-coin-eur-text: var(--dark-coin-eur-text);
$dark-coin-usd: var(--dark-coin-usd);
$dark-coin-usd-1: var(--dark-coin-usd);
$dark-coin-usd-text: var(--dark-coin-usd-text);
$dark-coin-jpy: var(--dark-coin-jpy);
$dark-coin-jpy-1: var(--dark-coin-jpy);
$dark-coin-jpy-text: var(--dark-coin-jpy-text);
$dark-coin-gbp: var(--dark-coin-gbp);
$dark-coin-gbp-1: var(--dark-coin-gbp);
$dark-coin-gbp-text: var(--dark-coin-gbp-text);
$dark-coin-chf: var(--dark-coin-chf);
$dark-coin-chf-1: var(--dark-coin-chf);
$dark-coin-chf-text: var(--dark-coin-chf-text);
$dark-coin-cad: var(--dark-coin-cad);
$dark-coin-cad-1: var(--dark-coin-cad);
$dark-coin-cad-text: var(--dark-coin-cad-text);
$dark-coin-aud: var(--dark-coin-aud);
$dark-coin-aud-1: var(--dark-coin-aud);
$dark-coin-aud-text: var(--dark-coin-aud-text);
$dark-coin-nzd: var(--dark-coin-nzd);
$dark-coin-nzd-1: var(--dark-coin-nzd);
$dark-coin-nzd-text: var(--dark-coin-nzd-text);
$dark-coin-zar: var(--dark-coin-zar);
$dark-coin-zar-1: var(--dark-coin-zar);
$dark-coin-zar-text: var(--dark-coin-zar-text);
$dark-coin-hkd: var(--dark-coin-hkd);
$dark-coin-hkd-1: var(--dark-coin-hkd);
$dark-coin-hkd-text: var(--dark-coin-hkd-text);
$dark-coin-krw: var(--dark-coin-krw);
$dark-coin-krw-1: var(--dark-coin-krw);
$dark-coin-krw-text: var(--dark-coin-krw-text);
$dark-coin-cny: var(--dark-coin-cny);
$dark-coin-cny-1: var(--dark-coin-cny);
$dark-coin-cny-text: var(--dark-coin-cny-text);
$dark-coin-sgd: var(--dark-coin-sgd);
$dark-coin-sgd-1: var(--dark-coin-sgd);
$dark-coin-sgd-text: var(--dark-coin-sgd-text);
// crypto coins
$dark-coin-btc: var(--dark-coin-btc);
$dark-coin-btc-1: var(--dark-coin-btc);
$dark-coin-btc-text: var(--dark-coin-btc-text);
$dark-coin-eth: var(--dark-coin-eth);
$dark-coin-eth-1: var(--dark-coin-eth);
$dark-coin-eth-text: var(--dark-coin-eth-text);
$dark-coin-ltc: var(--dark-coin-ltc);
$dark-coin-ltc-1: var(--dark-coin-ltc);
$dark-coin-ltc-text: var(--dark-coin-ltc-text);
$dark-coin-bch: var(--dark-coin-bch);
$dark-coin-bch-1: var(--dark-coin-bch);
$dark-coin-bch-text: var(--dark-coin-bch-text);
$dark-coin-xrp: var(--dark-coin-xrp);
$dark-coin-xrp-1: var(--dark-coin-xrp);
$dark-coin-xrp-text: var(--dark-coin-xrp-text);
$dark-coin-xht: var(--dark-coin-xht);
$dark-coin-xht-1:var(--dark-coin-xht);
$dark-coin-xht-text:var(--dark-coin-xht-text);
$dark-coin-eos: var(--dark-coin-eos);
$dark-coin-eos-1: var(--dark-coin-eos);
$dark-coin-eos-text: var(--dark-coin-eos-text);
$dark-coin-bnb: var(--dark-coin-bnb);
$dark-coin-bnb-1: var(--dark-coin-bnb);
$dark-coin-bnb-text: var(--dark-coin-bnb-text);
$dark-coin-link: var(--dark-coin-link);
$dark-coin-link-1: var(--dark-coin-link);
$dark-coin-link-text: var(--dark-coin-link-text);
$dark-coin-trx: var(--dark-coin-trx);
$dark-coin-trx-1: var(--dark-coin-trx);
$dark-coin-trx-text: var(--dark-coin-trx-text);
$dark-coin-ada: var(--dark-coin-ada);
$dark-coin-ada-1: var(--dark-coin-ada);
$dark-coin-ada-text: var(--dark-coin-ada-text);
$dark-coin-matic: var(--dark-coin-matic);
$dark-coin-matic-1: var(--dark-coin-matic);
$dark-coin-matic-text: var(--dark-coin-matic-text);
$dark-coin-neo: var(--dark-coin-neo);
$dark-coin-neo-1: var(--dark-coin-neo);
$dark-coin-neo-text: var(--dark-coin-neo-text);
$dark-coin-etc: var(--dark-coin-etc);
$dark-coin-etc-1: var(--dark-coin-etc);
$dark-coin-etc-text: var(--dark-coin-etc-text);
$dark-coin-xlm: var(--dark-coin-xlm);
$dark-coin-xlm-1: var(--dark-coin-xlm);
$dark-coin-xlm-text: var(--dark-coin-xlm-text);
$dark-coin-xmr: var(--dark-coin-xmr);
$dark-coin-xmr-1: var(--dark-coin-xmr);
$dark-coin-xmr-text: var(--dark-coin-xmr-text);
$dark-coin-zec: var(--dark-coin-zec);
$dark-coin-zec-1: var(--dark-coin-zec);
$dark-coin-zec-text: var(--dark-coin-zec-text);
$dark-coin-one: var(--dark-coin-one);
$dark-coin-one-1: var(--dark-coin-one);
$dark-coin-one-text: var(--dark-coin-one-text);
$dark-coin-pax: var(--dark-coin-pax);
$dark-coin-pax-1: var(--dark-coin-pax);
$dark-coin-pax-text: var(--dark-coin-pax-text);
$dark-coin-usdc: var(--dark-coin-usdc);
$dark-coin-usdc-1: var(--dark-coin-usdc);
$dark-coin-usdc-text: var(--dark-coin-usdc-text);
$dark-coin-usdt: var(--dark-coin-usdt);
$dark-coin-usdt-1: var(--dark-coin-usdt);
$dark-coin-usdt-text: var(--dark-coin-usdt-text);
$dark-coin-vet: var(--dark-coin-vet);
$dark-coin-vet-1: var(--dark-coin-vet);
$dark-coin-vet-text: var(--dark-coin-vet-text);
$dark-coin-btt: var(--dark-coin-btt);
$dark-coin-btt-1: var(--dark-coin-btt);
$dark-coin-btt-text: var(--dark-coin-btt-text);
$dark-coin-qtum: var(--dark-coin-qtum);
$dark-coin-qtum-1: var(--dark-coin-qtum);
$dark-coin-qtum-text: var(--dark-coin-qtum-text);
$dark-coin-algo: var(--dark-coin-algo);
$dark-coin-algo-1: var(--dark-coin-algo);
$dark-coin-algo-text: var(--dark-coin-algo-text);
$dark-coin-rvn: var(--dark-coin-rvn);
$dark-coin-rvn-1: var(--dark-coin-rvn);
$dark-coin-rvn-text: var(--dark-coin-rvn-text);
$dark-coin-iota: var(--dark-coin-iota);
$dark-coin-iota-1: var(--dark-coin-iota);
$dark-coin-iota-text: var(--dark-coin-iota-text);
$dark-coin-dash: var(--dark-coin-dash);
$dark-coin-dash-1: var(--dark-coin-dash);
$dark-coin-dash-text: var(--dark-coin-dash-text);
$dark-coin-bsv: var(--dark-coin-bsv);
$dark-coin-bsv-1: var(--dark-coin-bsv);
$dark-coin-bsv-text: var(--dark-coin-bsv-text);
$dark-coin-ont: var(--dark-coin-ont);
$dark-coin-ont-1: var(--dark-coin-ont);
$dark-coin-ont-text: var(--dark-coin-ont-text);
$dark-coin-atom: var(--dark-coin-atom);
$dark-coin-atom-1: var(--dark-coin-atom);
$dark-coin-atom-text: var(--dark-coin-atom-text);
$dark-coin-celr: var(--dark-coin-celr);
$dark-coin-celr-1: var(--dark-coin-celr);
$dark-coin-celr-text: var(--dark-coin-celr-text);
$dark-coin-omg: var(--dark-coin-omg);
$dark-coin-omg-1: var(--dark-coin-omg);
$dark-coin-omg-text: var(--dark-coin-omg-text);
$dark-coin-hot: var(--dark-coin-hot);
$dark-coin-hot-1: var(--dark-coin-hot);
$dark-coin-hot-text: var(--dark-coin-hot-text);
$dark-coin-tusd: var(--dark-coin-tusd);
$dark-coin-tusd-1: var(--dark-coin-tusd);
$dark-coin-tusd-text: var(--dark-coin-tusd-text);
$dark-coin-dai: var(--dark-coin-dai);
$dark-coin-dai-1: var(--dark-coin-dai);
$dark-coin-dai-text: var(--dark-coin-dai-text);

$content-display-width: 100rem;
$app-content-display-width: 75rem;
$content-display-vertical-margin: 1rem;
$background-patter--size: 30rem;

$font-size-headline: 4rem;
$font-size-headline2: 3.5rem;
$font-size-subhead1: 2.5rem;
$font-size-subhead2: 1.75rem;
$font-size-subhead3: 1.25rem;
$font-size-main: 1rem;
$font-size-subtext: 0.9rem;
$font-size-mobile-title: 14px;
$font-size-mobile-txt: 12px;
$font-size-mobile-innertxt: 10px;

$form-width-max: $content-display-width / 2;

$en--font-family: 'Open Sans';
$raleway--font-family: 'Raleway';
$raleway-extrabold--font-family: 'Raleway Extrabold';
$raleway-medium--font-family: 'Raleway Medium';
$raleway-light--font-family: 'Raleway Light';
$title--font-family: $raleway-extrabold--font-family;

$backgound-pattern: '/assets/pattern-grey.jpg';
$background-image: '/assets/background.png';
$background-image-dark: '/assets/HollaEx-dark-theme.jpg';
$dark-background-image: '/assets/dark-background.jpg';

// DIALOG
$dialog-min-width: 25rem;
$dialog-min-height: 30rem;

// APP BAR
$navigation_bar-height: 36px;
$navigation_bar-height-lg: 45px;
$navigation_bar-action_button: 7.5rem;
$navigation_bar-font_size: $font-size-subtext;

// APP SECONDARY BAR
$navigation_bar_secondary-height: 32px;

// FOOTER
$footer-height: 64px;

// SIDEBAR
$sidebar-width: 20rem;
$sidebar-width-lg: 25rem;
$sidebar-width-md: 18rem;
$sidebar-sections-padding: 1rem;

$sidebar-borderbottom-color: $colors-deactivate-color2;
$sidebar-borderbottom-color-active: $colors-deactivate-color2;
$sidebar-borderbottom-height: 4px;

$btc-color: $colors-currencies-btc;

$currency-color: inherit;

// TAB CONTROLLER

$tab-border-color: $colors-main-black;
$tab-text-padding: 0 8px 8px;
$tab-selected-line-height: 4px;

// MOBILE
$navigation_bar-mobile--height: 4rem;
$navigation_bar-mobile--background: $colors-main-black;
$dark-navigation_bar-mobile--background: white;
$bottom_bar--height: 6rem;
$bottom-bar--background: $navigation_bar-mobile--background;
$dark-bottom-bar--background: $dark-navigation_bar-mobile--background;
$max-content-height-mobile: calc(100vh - #{$navigation_bar-mobile--height + $bottom-bar--height});
$max-content-height-double-bar-mobile: calc(100vh - #{$navigation_bar-mobile--height * 2 + $bottom-bar--height});
$max-content-height-home-mobile: calc(100vh - #{$navigation_bar-mobile--height});
$max-content-height-dialog-mobile: calc(100vh - #{$navigation_bar-mobile--height * 2});
$max-content-width-mobile: 100vw;
$table-header-column--font-size: 1rem;
$regular--font-size: 1.2rem;
$regular-chat--font-size: 1.5rem;
$title--font-size: 1.75rem;
$extra-thick--font-size: 1.5rem;
$component--margin-bottom: 3rem;
$input--height: 4.5rem;

// CONTAINERS
$max-content-height: calc(100vh - #{$navigation_bar-height});
$max-content-secondary-height: calc(100vh - #{$navigation_bar-height * 2});
$max-content-height-lg: calc(100vh - #{$navigation_bar-height-lg});
$max-content-secondary-height-lg: calc(100vh - #{$navigation_bar-height-lg * 2});
$max-width-content: 50rem;
