@import 'variables';
@import 'fonts';
@import 'mixins';
@import 'common';

@import './containers/containers';
@import './components/components';

html {
	font-size: 12px !important;
	height: 100%;
}

#root {
	height: 100%;
}

body {
	height: 100%;
	background-color: $app-background-color !important;
	color: $colors-main-black;
	font-size: $font-size-main !important;
	font-family: $en--font-family !important;
	height: 100%;
}

// .ham_menu_item{
//     font-size: 1.4rem;
//     padding: 1rem 0;
//     margin: 0 5%
// }
// .ham_menu_item_line {
//     width: 90%;
//     height: 1px;
//     background: gray;
//     margin: 0 auto;
// }
// .ham_button_container{
//     height: 32px;
//     width: 32px;
//     display:flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     cursor: pointer;
//     padding: 4px;
// }
// .ham_menu_list{
// 	 padding-top: 3rem;
// }

.language_rtl {
}

.direction_rtl {
	&.apply_rtl {
		direction: rtl;
	}
	.apply_rtl {
		direction: rtl;
	}
}

.direction_ltr {
	direction: ltr;
}

.warning_text {
	color: $colors-notifications-red;
}

.ReactModal__Body--open #root {
	filter: blur(5px);
	background: $app-modal-background;
}

.form {
	min-width: $dialog-min-width;
	max-width: $dialog-min-width;
}

.error-icon {
	position: relative;
	display: flex;
	align-items: center;
	padding-left: 2rem !important;

	&:before {
		content: '';
		@include size(2rem, 100%);
		position: absolute;
		background-color: red;
		left: 0;
		top: calc(50% - 0.75rem);
	}
}

input,
input:focus {
	outline: none;
	border: none;
}

input[type='number'] {
	-moz-appearance: textfield;
	appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

*:not(.show-scroll)::-webkit-scrollbar {
	display: none;
}

a {
	text-decoration: none;
	color: inherit;

	&:hover,
	&:visited,
	&:link,
	&:active {
		color: inherit;
		text-decoration: none;
	}
}

@media screen and (max-width: $bp-sm) {
	html {
		font-size: 8px !important;
	}
}

@media (max-width: $bp-md) {
	.ReactModal__Body--open #root {
		filter: none !important;
		background: transparent !important;
	}
}
