@font-face {
	font-family: 'Open Sans';
	src: url('/assets/fonts/OPENSANS-REGULAR.TTF');
	font-weight: normal;
}

@font-face {
	font-family: 'Open Sans Condensed Bold';
	src: url('/assets/fonts/OPENSANSCONDENSED-BOLD.TTF');
	font-weight: bold;
}

@font-face {
	font-family: 'Open Sans Condensed Light';
	src: url('/assets/fonts/OPENSANSCONDENSED-LIGHT.TTF');
	font-weight: normal;
}

@font-face {
	font-family: 'Open Sans Condensed Light Italic';
	src: url('/assets/fonts/OPENSANSCONDENSED-LIGHTITALIC.TTF');
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: 'Open Sans Extrabold';
	src: url('/assets/fonts/OPENSANS-EXTRABOLD.TTF');
	font-weight: bold;
}

@font-face {
	font-family: 'Open Sans Extrabold Italic';
	src: url('/assets/fonts/OPENSANS-EXTRABOLDITALIC.TTF');
	font-style: italic;
	font-weight: bold;
}

@font-face {
	font-family: 'Open Sans Italic';
	src: url('/assets/fonts/OPENSANS-ITALIC.TTF');
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans Light';
	src: url('/assets/fonts/OPENSANS-LIGHT.TTF');
	font-weight: normal;
}

@font-face {
	font-family: 'Open Sans Light Italic';
	src: url('/assets/fonts/OPENSANS-LIGHTITALIC.TTF');
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: 'Open Sans Semibold';
	src: url('/assets/fonts/OPENSANS-SEMIBOLD.TTF');
	font-weight: bold;
}

@font-face {
	font-family: 'Open Sans Semibold Italic';
	src: url('/assets/fonts/OPENSANS-SEMIBOLDITALIC.TTF');
	font-style: italic;
	font-weight: bold;
}

@font-face {
	font-family: 'YEKAN';
	src: url('/assets/fonts/YEKAN.WOFF');
	font-style: italic;
	font-weight: bold;
}
