$sidebar-width: 250px;
$navigation_bar-height: 32px;
$footer-height: 64px;

$border-color: green;
$error-color: red;

$bitcoin-color-main: orange;

$content-display-width: 768px;
$content-display-vertical-margin: 16px;

// SIDEBAR

$sidebar-sections-padding: 16px;

$sidebar-borderbottom-color: grey;
$sidebar-borderbottom-color-active: red;
$sidebar-borderbottom-height: 4px;

$wallet-bordertop-color: black;
$wallet-bordertop-height: 4px;

$btc-color: orange;

$currency-color: inherit;
