$bp-xs: 575px;
$bp-sm: 767px;
$bp-md: 991px;
$bp-lg: 1199px;

$colors-main-black: #212121;
$colors-deactivate-color1: #cccbcb;
$colors-deactivate-color2: #777677;
$colors-deactivate-color3: #f2f2f3;
$colors-deactivate-color4: #a7aaac;
$colors-notifications-red: #ed1c24;
$colors-notifications-blue: #00aeef;
$colors-notifications-green: #00a651;
$colors-white: white;

$colors-currencies-fiat: #00a651;
$colors-currencies-btc: #f7941e;
$colors-currencies-bch: #ec008c;
$colors-currencies-eth: #2e3192;
$colors-currencies-ltc: #58595b;

$app-background-color: white;
$app-background-color-on-modal: lightgrey;
$quick-trade--background: #ebf3f1;
$border-color: $colors-deactivate-color2;
$error-color: $colors-notifications-red;

$bitcoin-color-main: $colors-currencies-btc;

$content-display-width: 100rem;
$content-display-vertical-margin: 16px;

$font-size-headline: 5rem;
$font-size-subhead1: 2.5rem;
$font-size-subhead2: 1.75rem;
$font-size-subhead3: 1.25rem;
$font-size-main: 1rem;
$font-size-subtext: 0.8rem;

$form-color-underline-focus: $colors-main-black;
$form-color-underline: $colors-deactivate-color2;
$form-color-placeholder: $colors-deactivate-color2;
$form-width-max: $content-display-width / 2;

$fa--font-family: 'YEKAN';
$en--font-family: 'Open Sans';
$raleway--font-family: 'Raleway';
$raleway-extrabold--font-family: 'Raleway Extrabold';
$raleway-medium--font-family: 'Raleway Medium';
$title--font-family: $raleway-extrabold--font-family;

// DIALOG
$dialog-min-width: 25rem;
$dialog-min-height: 30rem;

// APP BAR
$navigation_bar-height: 32px;
$navigation_bar-action_button: 7.5rem;
$navigation_bar-font_size: $font-size-subtext;

// FOOTER
$footer-height: 64px;

// SIDEBAR
$sidebar-width: 20rem;
$sidebar-sections-padding: 1rem;

$sidebar-borderbottom-color: $colors-deactivate-color2;
$sidebar-borderbottom-color-active: $colors-deactivate-color2;
$sidebar-borderbottom-height: 4px;

$btc-color: $colors-currencies-btc;

$currency-color: inherit;

// TAB CONTROLLER

$tab-border-color: $colors-main-black;
$tab-text-padding: 0 8px 8px;
$tab-selected-line-height: 2px;

// CONTAINERS
$max-content-height: calc(100vh - #{$navigation_bar-height});
$max-width-content: 50rem;
