$bp-xs: 575px;
$bp-sm: 767px;
$bp-md: 991px;
$bp-lg: 1199px;

$colors-main-black: #212121;
$colors-deactivate: #797779;
$colors-deactivate-color1: #cccbcb;
$colors-deactivate-color2: #777677;
$colors-deactivate-color3: #f2f2f3;
$colors-deactivate-color4: #f1f2f2;
$colors-notifications-red: #ed1c24;
$colors-notifications-blue: #00aeef;
$colors-notifications-green: #00a651;
$colors-white: white;

$color-currency-fiat--main: #00a651;
$color-currency-fiat--secondary: #52c2b8;
$color-currency-btc--main: #f15a29;
$color-currency-btc--secondary: #f7941e;

$colors-currencies-fiat: $color-currency-fiat--main;
$colors-currencies-btc: $color-currency-btc--secondary;
$colors-currencies-bch: #ec008c;
$colors-currencies-eth: #2e3192;
$colors-currencies-ltc: #58595b;

// dark theme colors
$dark-app-background-color: #20212a;
$dark-font-main-text-color: #b7b7ce;
$dark-font-sub-text-color: #a5a3cc;
$dark-button-active: #444162;
$dark-disabled-main: #353740;
$dark-disabled-secondary: #2e2f37;
$dark-link: #fa507b;
$dark-buy: #29abe2;
$dark-sell: #f69321;
$dark-border-main: $dark-font-main-text-color;
$dark-button-disabled: $dark-disabled-main;
$dark-form-color-underline: $dark-font-main-text-color;
$dark-form-color-underline-focus: $dark-font-main-text-color;
$dark-form-arrow: $dark-font-main-text-color;
$dark-form-placeholder: $dark-button-active;
$dark-form-text: $dark-font-sub-text-color;
$dark-form-text-disabled: $dark-disabled-main;
$dark-form-label: $dark-font-main-text-color;
$dark-tab-active: $dark-font-main-text-color;
$dark-tab-notification: $dark-link;
$dark-tab-inactive: $dark-button-active;
$dark-icon-hover: $dark-font-main-text-color;
$dark-icon-unhover: $dark-font-sub-text-color;
$dark-accordion-arrow-active: $dark-font-main-text-color;
$dark-accordion-arrow-inactive: $dark-font-sub-text-color;
$dark-sidebar-color: $dark-font-sub-text-color;
$dark-sidebar-color-active: $dark-font-main-text-color;

$app-background-color: white;
$app-background-color-on-modal: lightgrey;
$app_bar-border--color: $colors-deactivate;
$sidebar-border--color: $colors-deactivate;
$quick-trade--background: #ebf3f1;
$border-color: $colors-deactivate-color2;
$error-color: $colors-notifications-red;

$bitcoin-color-main: $colors-currencies-btc;

$content-display-width: 100rem;
$app-content-display-width: 75rem;
$content-display-vertical-margin: 1rem;
$background-patter--size: 30rem;

$font-size-headline: 4rem;
$font-size-headline2: 3.5rem;
$font-size-subhead1: 2.5rem;
$font-size-subhead2: 1.75rem;
$font-size-subhead3: 1.25rem;
$font-size-main: 1rem;
$font-size-subtext: 0.8rem;

$form-color-underline-focus: $colors-main-black;
$form-color-underline: $colors-deactivate-color1;
$form-color-placeholder: $colors-deactivate-color1;
$form-width-max: $content-display-width / 2;

$en--font-family: 'Open Sans';
$raleway--font-family: 'Raleway';
$raleway-extrabold--font-family: 'Raleway Extrabold';
$raleway-medium--font-family: 'Raleway Medium';
$title--font-family: $raleway-extrabold--font-family;

$backgound-pattern: '/assets/pattern-grey.jpg';
$background-image: '/assets/background.jpg';

// DIALOG
$dialog-min-width: 25rem;
$dialog-min-height: 30rem;

// APP BAR
$navigation_bar-height: 36px;
$navigation_bar-action_button: 7.5rem;
$navigation_bar-font_size: $font-size-subtext;

// FOOTER
$footer-height: 64px;

// SIDEBAR
$sidebar-width: 20rem;
$sidebar-sections-padding: 1rem;

$sidebar-borderbottom-color: $colors-deactivate-color2;
$sidebar-borderbottom-color-active: $colors-deactivate-color2;
$sidebar-borderbottom-height: 4px;

$btc-color: $colors-currencies-btc;

$currency-color: inherit;

// TAB CONTROLLER

$tab-border-color: $colors-main-black;
$tab-text-padding: 0 8px 8px;
$tab-selected-line-height: 4px;

// MOBILE
$navigation_bar-mobile--height: 4rem;
$navigation_bar-mobile--background: $colors-main-black;
$dark-navigation_bar-mobile--background: white;
$bottom_bar--height: 5rem;
$bottom-bar--background: $navigation_bar-mobile--background;
$dark-bottom-bar--background: $dark-navigation_bar-mobile--background;
$max-content-height-mobile: calc(100vh - #{$navigation_bar-mobile--height + $bottom-bar--height});

// CONTAINERS
$max-content-height: calc(100vh - #{$navigation_bar-height});
$max-width-content: 50rem;
