@import 'variables';
@import 'fonts';
@import 'mixins';

html {
  font-size: 12px;
}

@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px) {
  html {
    font-size: 14px;
  }
}
@media screen
  and (max-device-width: 800px) {
  html {
    font-size: 7px;
  }
}

body {
  background-color: $app-background-color !important;
  font-size: $font-size-main !important;
  font-family: "Open Sans" !important;
}

.pointer {
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.warning_text {
  color: $colors-notification-red;
}

.ReactModal__Body--open #root {
  filter: blur(5px);
  background: $app-background-color-on-modal;
}

#root {
  height: 100%;
}

.form {
  min-width: $dialog-min-width;
  max-width: $dialog-min-width;
}

.error-icon {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 2rem !important;

  &:before {
    content: '';
    @include size(2rem, 100%);
    position: absolute;
    background-color: red;
    left: 0;
    top: calc(50% - 0.75rem);
  }
}

.text_overflow {
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@import './containers/App/App';
@import './containers/UserVerification/UserVerification';
@import './containers/UserSecurity/UserSecurity';
@import './containers/Login/Login';
@import './containers/Home/Home';
@import './containers/Wallet/Wallet';
@import './containers/Withdraw/Withdraw';

@import './components/Sidebar/Sidebar';
@import './components/Footer/Footer';
@import './components/TabController/TabController';
@import './components/AppBar/AppBar';
@import './components/CheckTitle/CheckTitle';
@import './components/Wallet/Wallet';
@import './components/Notification/Notification';
@import './components/Form/FormFields/FormFields';
@import './components/Button/Button';
@import './components/Dialog/Dialog';
@import './components/Accordion/Accordion';
@import './components/ActionNotification/ActionNotification';
@import './components/IconTitle/IconTitle';
@import './components/OtpForm/OtpForm';
@import './components/Loader/Loader';
@import './components/CurrencyBall/CurrencyBall';
