$inner-section-margin: 0.5rem;
$accordion_arrow-size: 0.3rem;
$sections-font--color: $colors-deactivate-color2;

.wallet_section-wrapper {
	font-size: $font-size-subtext;
	padding: 0.25rem 0;

	.wallet_section-content > * {
		margin-bottom: $inner-section-margin;
		&:last-child {
			margin-bottom: 0;
		}
	}

	&.wallet_section-total_asset > * {
		margin: $inner-section-margin 0;
	}
}

.wallet-wrapper {
	.icon_title-wrapper {
		flex-direction: row;
		justify-content: flex-start;
	}
	.donut-container {
		height: 18rem;
		.donut-label-pair {
			font-size: 0.8rem;
		}
	}
}

.wallet_section-title {
	text-transform: uppercase;
	color: $sections-font--color;
	font-size: $font-size-subtext;
	> * {
		margin: $inner-section-margin;
	}
}

.wallet_section-title-amount {
	color: $sections-font--color;
	font-size: $font-size-subtext;
}

.wallet_section-total_asset {
	font-size: 1rem;
	color: $sections-font--color;

	> span {
		font-size: $font-size-subhead2;
		line-height: 1;
	}

	&:first-child {
		margin-bottom: 0;
	}

	&:last-child {
		margin-top: 0;
	}
}

.wallet_link {
	margin: 0.5rem 0;
	padding: 0 0.5rem;
	text-transform: uppercase;
}

.direction_ltr {
	.sidebar_section-container
		.wallet-wrapper
		.accordion_section_title
		.wallet_section-title {
		&:after {
			@include css-triangle(
				$colors-deactivate-color2,
				'right',
				$accordion_arrow-size
			);
			right: -$accordion_arrow-size;
			top: calc(50% - #{$accordion_arrow-size});
		}
	}

	.sidebar_section-container
		.wallet-wrapper
		.accordion_section--open
		.accordion_section_title
		.wallet_section-title {
		color: $colors-main-black;
		&:after {
			border-left-color: $colors-main-black;
		}
	}
}

.wallet-wrapper {
	.icon-title-wrapper {
		flex-direction: row;
		justify-content: flex-start;
	}
}

.direction_rtl {
	.sidebar_section-container
		.wallet-wrapper
		.accordion_section_title
		.wallet_section-title {
		&:after {
			@include css-triangle(
				$colors-deactivate-color2,
				'left',
				$accordion_arrow-size
			);
			left: -$accordion_arrow-size;
			top: calc(50% - #{$accordion_arrow-size});
		}
	}

	.sidebar_section-container
		.wallet-wrapper
		.accordion_section--open
		.accordion_section_title
		.wallet_section-title {
		color: $colors-main-black;
		&:after {
			border-right-color: $colors-main-black;
		}
	}
}

@media (min-width: 1920px) {
	.wallet-wrapper {
		.donut-container {
			height: 19rem;

			.donut-label-pair {
				font-size: 1rem;
			}
		}
	}
}
