.accountContainer{
	height: 30rem;
}
.accountActive{
	color: white;
	background-color: #4c5b71;
	font-size: 0.9rem;
	border: 1px solid #4c5b71;
}
.balance{
	width: 0.8rem;
	height: 0.8rem;
	border-radius: 0.8rem;
	margin-top: 2px;
}
.accountButton {
  color: #4c5b71;
  background-color: #f1f1f2;
  font-size: 0.9rem;
  border: 1px solid #4c5b71;
  width:99%;
  height:2rem;
}
.notActive{
	background: transparent;
	font-size: 0.9rem;
	border: 1px solid #4c5b71;
}
.red{
	color:red;
}
.green{
	color:#009a4f;
}
.errorImage{
	width: 1rem;
	height: 1rem;
	border-radius: 1rem;
	margin-top: 1px;
}
.successBorder{
	border: 1px solid #d3d4d8;
	box-shadow: 0px 0px 0px 2px #d3d4d8;
}
.errorBorder{
	border: 1px solid #f85b5c;
	box-shadow: 0px 0px 0px 2px #f2e0e0;
}
.errorHead{
	background-color: #f2e0e0;
	border: 1px solid #f85b5c;
	border-bottom: 2px solid #f85b5c
}
.tableView{
	width: 100%;
    overflow-x: auto;
    display: block;
    margin: 0;
    font-size: 0.7rem;
    max-height: 19rem;
    overflow-y: auto;
}
.time-td{
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	vertical-align: middle !important;
}
.timeColor{
	color:#b3b3b3; 
}
.tableHead{
  margin-bottom:0;
  font-size: 0.7rem;
  border-bottom: 3px solid #81868a;
}
.pagination a{
  background-color: transparent;
}
.pagination a:hover{
  background-color: rgba(39, 135, 187, 0.23);
}
.page-item.disabled .page-link{
  background-color: transparent;
}
.page-item:first-child .page-link{
     border-bottom-left-radius: 0; 
     border-top-left-radius:0; 
  }
.page-item:last-child .page-link{
   border-bottom-right-radius: 0; 
   border-top-right-radius: 0; 
}
