.accountActive{
	color: white;
	background-color: #4c5b71;
	font-size: 0.9rem;
	border: 1px solid #4c5b71;
}
.td-width{
	width: 25%;
}
.balance{
	width: 0.8rem;
	height: 0.8rem;
	border-radius: 0.8rem;
	margin-top: 2px;
}
.accountButton {
  color: #4c5b71;
  background-color: #f1f1f2;
  font-size: 0.9rem;
  border: 1px solid #4c5b71;
  width: 25.5rem;
  height:2rem;
}