.ohlc_wrapper {
	x: 0;
	y: 0;

	.ohlc_data_wrapper {
		.ohlc_label {
			font-size: $font-size-subtext;
		}

		.ohlc_value {
			font-size: $font-size-subtext;
			font-weight: bold;
			padding-left: 0.25rem;
		}
	}
}

.donut-label-percentage {
	font-size: 0.8rem;
	font-weight: bold;
	fill: $colors-black;
}
.donut-label-link {
	font-size: 0.7rem;
	font-weight: bold;
	fill: $colors-notifications-blue;
}

.donut-label-no-price {
	font-size: 0.7rem;
	font-weight: bold;
	fill: $colors-black;
}

.donut-label-pair {
	font-size: 1rem;
	font-weight: bold;
	fill: $colors-black;
}

.deposit-asset {
	fill: $link;
	font-weight: bold;
}

.chart_btc,
.chart_bch,
.chart_eth,
.chart_eur,
.chart_ltc,
.chart_xrp,
.chart_xht,
.chart_eos,
.chart_bnb,
.chart_link,
.chart_trx,
.chart_ada,
.chart_matic,
.chart_neo,
.chart_etc,
.chart_xlm,
.chart_xmr,
.chart_zec,
.chart_one,
.chart_pax,
.chart_usdc,
.chart_usdt,
.chart_vet,
.chart_btt,
.chart_qtum,
.chart_algo,
.chart_rvn,
.chart_iota,
.chart_dash,
.chart_bsv,
.chart_ont,
.chart_atom,
.chart_celr,
.chart_omg,
.chart_hot,
.chart_usd,
.chart_jpy,
.chart_gbp,
.chart_chf,
.chart_cad,
.chart_aud,
.chart_nzd,
.chart_zar,
.chart_hkd,
.chart_krw,
.chart_cny,
.chart_sgd,
.chart_dai,
.chart_tusd {
	fill-opacity: 0.7;
}

.slice_active {
	fill-opacity: 1;
}

.chart_btc {
	fill: $coin-btc;
	stroke: $coin-btc-1;
}
.chart_bch {
	fill: $coin-bch;
	stroke: $coin-bch-1;
}
.chart_eth {
	fill: $coin-eth;
	stroke: $coin-eth-1;
}
.chart_eur {
	fill: $coin-eur;
	stroke: $coin-eur-1;
}
.chart_ltc {
	fill: $coin-ltc;
	stroke: $coin-ltc-1;
}
.chart_xrp {
	fill: $coin-xrp;
	stroke: $coin-xrp-1;
}
.chart_xht {
	fill: $coin-xht;
	stroke: $coin-xht-1;
}
.chart_eos {
	fill: $coin-eos;
	stroke: $coin-eos-1;
}
.chart_bnb {
	fill: $coin-bnb;
	stroke: $coin-bnb-1;
}
.chart_link {
	fill: $coin-link;
	stroke: $coin-link-1;
}
.chart_trx {
	fill: $coin-trx;
	stroke: $coin-trx-1;
}
.chart_ada {
	fill: $coin-ada;
	stroke: $coin-ada-1;
}
.chart_matic {
	fill: $coin-matic;
	stroke: $coin-matic-1;
}
.chart_neo {
	fill: $coin-neo;
	stroke: $coin-neo-1;
}
.chart_etc {
	fill: $coin-etc;
	stroke: $coin-etc-1;
}
.chart_xlm {
	fill: $coin-xlm;
	stroke: $coin-xlm-1;
}
.chart_xmr {
	fill: $coin-xmr;
	stroke: $coin-xmr-1;
}
.chart_zec {
	fill: $coin-zec;
	stroke: $coin-zec-1;
}
.chart_one {
	fill: $coin-one;
	stroke: $coin-one-1;
}
.chart_pax {
	fill: $coin-pax;
	stroke: $coin-pax-1;
}
.chart_usdc {
	fill: $coin-usdc;
	stroke: $coin-usdc-1;
}
.chart_usdt {
	fill: $coin-usdt;
	stroke: $coin-usdt-1;
}
.chart_vet {
	fill: $coin-vet;
	stroke: $coin-vet-1;
}
.chart_btt {
	fill: $coin-btt;
	stroke: $coin-btt-1;
}
.chart_qtum {
	fill: $coin-qtum;
	stroke: $coin-qtum-1;
}
.chart_algo {
	fill: $coin-algo;
	stroke: $coin-algo-1;
}
.chart_rvn {
	fill: $coin-rvn;
	stroke: $coin-rvn-1;
}
.chart_iota {
	fill: $coin-iota;
	stroke: $coin-iota-1;
}
.chart_dash {
	fill: $coin-dash;
	stroke: $coin-dash-1;
}
.chart_bsv {
	fill: $coin-bsv;
	stroke: $coin-bsv-1;
}
.chart_ont {
	fill: $coin-ont;
	stroke: $coin-ont-1;
}
.chart_atom {
	fill: $coin-atom;
	stroke: $coin-atom-1;
}
.chart_celr {
	fill: $coin-celr;
	stroke: $coin-celr-1;
}
.chart_omg {
	fill: $coin-omg;
	stroke: $coin-omg-1;
}
.chart_hot {
	fill: $coin-hot;
	stroke: $coin-hot-1;
}
.chart_usd {
	fill: $coin-usd;
	stroke: $coin-usd-1;
}
.chart_jpy {
	fill: $coin-jpy;
	stroke: $coin-jpy-1;
}
.chart_gbp {
	fill: $coin-gbp;
	stroke: $coin-gbp-1;
}
.chart_chf {
	fill: $coin-chf;
	stroke: $coin-chf-1;
}
.chart_cad {
	fill: $coin-cad;
	stroke: $coin-cad-1;
}
.chart_aud {
	fill: $coin-aud;
	stroke: $coin-aud-1;
}
.chart_nzd {
	fill: $coin-nzd;
	stroke: $coin-nzd-1;
}
.chart_zar {
	fill: $coin-zar;
	stroke: $coin-zar-1;
}
.chart_hkd {
	fill: $coin-hkd;
	stroke: $coin-hkd-1;
}
.chart_krw {
	fill: $coin-krw;
	stroke: $coin-krw-1;
}
.chart_cny {
	fill: $coin-cny;
	stroke: $coin-cny-1;
}
.chart_sgd {
	fill: $coin-sgd;
	stroke: $coin-sgd-1;
}
.chart_tusd {
	fill: $coin-tusd;
	stroke: $coin-tusd-1;
}
.chart_dai {
	fill: $coin-dai;
	stroke: $coin-dai-1;
}

.bar_wrapper {
	height: 38rem;

	.bar_yAxis {
		line {
			fill: $colors-deactivate-color2;
			stroke-dasharray: 3 3;
			stroke-width: 0.5px;
		}
		.tick text {
			color: $colors-main-black;
			font-family: $raleway--font-family;
			font-size: 1.2rem;
			font-weight: bold;
		}
	}
	.bar_xAxis {
		line {
			visibility: hidden;
		}
		.axis_month {
			font-size: 1rem;
			font-family: $raleway--font-family;
			color: $colors-deactivate-color2;
		}
		.axis_month-active {
			color: $colors-main-black;
			font-weight: bold;
		}
		.axis_month-total {
			font-size: 0.8rem;
			font-weight: bold;
		}
		.axis_month-total-active {
			color: $colors-main-black;
		}
		path {
			stroke: $colors-deactivate-color2;
			stroke-width: 1;
		}
	}
	.limit_content-text {
		font-size: 0.72rem;
	}
	.bar_axis_triangle {
		fill: $colors-main-black;
	}
}

.bar-tooltip,
.bar-tooltip-dark {
	padding: 5px;
	position: absolute;
	z-index: 10;

	.tool_tip-pair-volume {
		padding-left: 0.8rem;
	}
}

.bar-tooltip {
	background-color: $app-background-color;
	border: 1px solid $colors-border;
	color: $colors-deactivate-color2;
}

.bar-tooltip::before,
.bar-tooltip::after,
.bar-tooltip-dark::before,
.bar-tooltip-dark::after {
	border: solid transparent;
	content: ' ';
	right: 100%;
	top: 50%;
	height: 0;
	width: 0;
	position: absolute;
}

.bar-tooltip:after {
	border-color: rgba(136, 183, 213, 0);
	border-right-color: $app-background-color;
	border-width: 5px;
	margin-top: -5px;
}
.bar-tooltip:before {
	border-color: rgba(194, 225, 245, 0);
	border-right-color: $colors-deactivate-color2;
	border-width: 7px;
	margin-top: -7px;
}
.bar-tooltip-dark:after {
	border-color: rgba(136, 183, 213, 0);
	border-right-color: $dark-app-background-color;
	border-width: 5px;
	margin-top: -5px;
}
.bar-tooltip-dark:before {
	border-color: rgba(194, 225, 245, 0);
	border-right-color: $dark-font-sub-text-color;
	border-width: 7px;
	margin-top: -7px;
}

.bar-tooltip-dark {
	background-color: $dark-app-background-color;
	border: 1px solid $dark-font-sub-text-color;
	color: $dark-font-sub-text-color;
}

@media (min-width: 1920px) {
	.donut-label-pair {
		font-size: 1.2rem;
	}
	.donut-label-percentage {
		font-size: 1rem;
	}
	.bar_wrapper {
		.limit_content-text {
			font-size: 0.9rem;
		}
		.bar_xAxis .axis_month-total {
			font-size: 1rem;
		}
	}
}

foreignObject {
	overflow: visible;
}

.layout-mobile {
	.donut-label-pair {
		font-size: 1.4rem;
	}
	.donut-label-percentage {
		font-size: 1.2rem;
	}
	.donut-label-link {
		font-size: 1rem;
	}
}
