$colors-white: white;

.trade-details-wrapper {
	width: 100%;
	padding: 3.3rem 3rem 2.5rem;
	font-family: $en--font-family;
	background-color: $quick-trade-background;

	.trade-details-content {
        position: relative;
		height: 450px;
		.pb-24 {
			padding-bottom: 24px;
		}
		.pb-30 {
			padding-bottom: 30px;
		}
		.pb-40 {
			padding-bottom: 40px;
		}
		.pl-18 {
			padding-left: 18px;
		}
		.chart {
			height: 164px;
			margin: 10px 0 0;
			.fade-area {
				position: relative;
			}
			.fade-area::before {
				content: '';
				position: absolute;
				height: 100px;
				width: 100%;
				background-image: linear-gradient(
					to right,
					$app-background-color,
					rgba(0, 0, 0, 0)
				);
				z-index: -1;
			}
			.highcharts-axis.highcharts-xaxis {
				display: none;
			}
		}
		.trade_tabs-container {
			margin: 0;
			padding-left: 80px;
			width: 100% !important;
		}

		.main-coin-wrapper {
			opacity: 0.3;
		}

		.fullname {
			color: $colors-deactivate;
			font-size: 1.2rem;
			white-space: nowrap;
		}
		.sub-title {
			color: $colors-deactivate;
			font-size: 1.1rem;
			letter-spacing: 2.2px;
			opacity: 1;
			white-space: nowrap;
		}

        // .graph-row {
        //     position: absolute;
        //     margin-top: 2rem;
        // }
	}

	.f-size-16 {
		font-size: 16px;
		color: $colors-deactivate;
		font-weight: bold;
	}
	.f-size-22 {
		font-size: 1.825rem;
		font-weight: bold;
	}
	.pairs {
		color: $link;
		font-size: 2.25rem;
	}
	.underline {
		text-decoration: underline;
	}

	.white-txt {
		color: $colors-main-black;
	}

	.day-change-block {
		text-align: end;
		margin: 45px 36px 20px 0;
		.ant-radio-group {
			.ant-radio-button-wrapper {
				background: transparent;
				color: $colors-deactivate;
				border-color: $colors-deactivate;
				height: 28px;
				padding: 0 12px;
				line-height: 24px;
				opacity: 0.3;
				&:first-child {
					border-radius: 0.5rem 0 0 0.5rem;
				}
				&:last-child {
					border-radius: 0 0.5rem 0.5rem 0;
				}
				&::before {
					background: $colors-deactivate;
				}
			}
			.ant-radio-button-wrapper-checked {
				opacity: 1;
				border-color: $colors-deactivate;
				color: $colors-deactivate;
			}
		}
	}
}

.layout-mobile {
	.trade-details-wrapper {
		width: 100%;
		background-color: transparent;
		.trade-details-content {
			width: 100%;
			height: 100%;

			.fullname {
				font-size: 1.875rem;
				white-space: nowrap;
			}

			.sub-title {
				font-size: 1.75rem;
			}

			.blue-link {
				font-size: 1.875rem;
			}
		}
	}
}

@media (max-width: 1020px) {
	.trade-details-wrapper {
		width: 100%;
		.trade-details-content {
			width: 100%;
			height: 100%;
		}
	}
}
