$operator-controls__panel-main-color: #0000FF;
$operator-controls__panel-text-color: #FFFFFF;

.edit-wrapper__container {
  display: inline-flex;
}

.edit-wrapper__icon-wrapper {
  display: none;
}

.layout-edit {
  .edit-wrapper__icon-wrapper {
    display: inline-block;
    padding: 2px;
    width: 17px !important;
    height: 17px !important;
    text-align: center;
    border-radius: 2px;
    color: $operator-controls__panel-text-color;
    background-color: $operator-controls__panel-main-color;
    cursor: pointer;
  }
}