.pldatePicker {
	background-color: var(--base_background);
}
.plButton {
	color: var(--labels_important-active-labels-text-graphics);
}
.pldatePicker input {
	color: white;
}

.highChartColor .highcharts-graph {
	stroke: white;
}

.highChartColor .highcharts-point {
	stroke: white;
	fill: white;
}
