$wrapper-border: 1px solid $colors-main-black;
$wrapper-button-margin: 2.5rem;
$header-margin: 2rem;

.wallet-hover:hover {
	opacity: 0.5;
}

.layout-mobile {
	.button-container {
		min-height: 4.5rem;
	}
	.currency-list-container {
		.wallet-currency {
			max-width: calc(100vw - 6rem);
		}
		.balance-big {
			font-size: 4rem;
		}
		.balance-small {
			font-size: 1.5rem;
		}
		.button-container {
			.holla-button {
				font-size: $font-size-mobile-txt !important;
			}
		}

		.donut-container {
			height: 30rem !important;
			width: 100%;
		}
		.rounded-loading {
			width: 80px;
			height: 80px;
			border-radius: 50%;
			text-align: center;
			margin: 0 auto;
			display: flex;
			align-items: center;
			border: 1px solid #808080;
			background-color: $colors-border !important;
			animation: outer-round-anim 3s ease infinite;
		}
		.inner-round {
			background-color: $app-sidebar-background;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			margin: 0 auto;
			border: 1px solid #808080;
		}
		.loading-wrapper {
			height: 16rem;
			flex-direction: column;
			.d-none {
				display: none;
			}
			.loading-txt {
				text-align: center;
				margin-bottom: 1rem;
				margin-top: 5rem;
			}
		}
		.dot-flashing {
			position: relative;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			background-color: #34363a;
			color: #34363a;
			animation: dotFlashing 3s infinite;
		}
	}
	.estimated-balance-wrapper {
		.balance-wrapper {
			color: $colors-main-black;
			.estimated-balance-label {
				font-size: 16px;
				font-weight: bold;
			}
			.estimated-balance-amount {
				font-family: 'Raleway';
				font-size: 4rem;
			}
		}
	}
	.wallet-container {
		.action_notification-wrapper {
			.action_notification-text {
				font-size: 1.2rem !important;
				line-height: 1.2rem !important;
			}
		}
		.accordion_wrapper {
			.accordion_section {
				border-width: 2px;
				.accordion_section_title {
					.accordion_section_content_text {
						font-size: $title--font-size;
						text-transform: uppercase;
						font-weight: bold;
					}
				}
				.action_notification-wrapper {
					margin: 0;
				}
			}
		}
		.wallet-assets_block {
			padding: 6px;
			.profit-loss-preformance {
				color: $colors-main-black;
			}
			.wallet-assets_block-table {
				thead {
					tr {
						.mobile-balance-header {
							text-align: end !important;
						}
						th:nth-child(3) {
							text-align: end;
						}
					}
				}
				.td-wallet,
				.td-amount,
				.td-name {
					min-width: unset !important;
				}
				.td-amount {
					.more-icon-wrapper {
						svg {
							width: 3rem;
							height: 3rem;
							fill: $colors-main-black !important;
						}
					}
				}
				.td-wallet {
					.deposit-withdrawal-wrapper {
						margin: 0 auto;
						width: 18rem;
						.action_notification-wrapper {
							.action_notification-text {
								font-size: 1.2rem;
								line-height: 1.2rem;
							}
						}
					}
				}
				.currency_ball-wrapper.s {
					width: 2.5rem;
					height: 2.5rem;
					font-size: 0.8rem;
				}
				.table-bottom-border {
					font-size: $font-size-mobile-txt !important;
				}
				tfoot {
					font-size: $font-size-mobile-innertxt !important;
				}
			}
			.zero-balance-wrapper {
				flex-direction: column;
				font-weight: bold;
				color: $colors-main-black;
				.edit-wrapper__container {
					.tooltip_icon_wrapper div {
						width: 100%;
					}
				}
				.wallet-search-label {
					font-size: 14px;
				}
				.wallet-search-icon {
					padding: 1.5%;
					border-radius: 20px;
					align-items: center;
					display: flex;
					justify-content: center;
					background-color: $link;
				}
				.wallet-search-field {
					.edit-wrapper__container {
						width: 100%;
						.field-children div div {
							width: 6%;
						}

						.field-children div input {
							width: 100%;
						}

						.field-content-outline:before,
						.field-content-outline:after {
							height: unset !important;
						}

						.field-children {
							border: 1px solid $colors-black;
							border-radius: 5px;
						}
					}
					.field-error-content {
						display: none;
					}
					.edit-wrapper__container div:nth-child(1) {
						width: 100%;
					}
				}
				.hide-zero-balance-checkbox {
					.ant-checkbox-inner {
						background-color: var(--base_wallet-sidebar-and-popup);
					}
					.ant-checkbox-inner:focus,
					.ant-checkbox-inner:focus-within {
						border-color: $colors-main-black !important;
					}
				}
				.hide-zero-balance-field {
					gap: 10px;
				}
			}
		}
		.action-button-wrapper {
			padding: 5px 2px;
		}
	}
	.currency-wallet-wrapper {
		.title-wrapper {
			margin-top: 1rem;
			font-size: 2rem;
		}
		.wallet-content-wrapper {
			.wallet-details-wrapper {
				text-align: center;
			}
			.btn-wrapper {
				display: flex;
				flex-direction: column;
				.withdraw-wrapper {
					margin-top: 10%;
					width: 100% !important;
				}
				.deposit-wrapper {
					width: 100% !important;
				}
			}
			.donut-wrapper {
				.rounded-loading {
					margin: 5rem 0rem !important;
				}
			}
		}
	}
	@media screen and (max-width: 550px) {
		.wallet-container {
			.wallet-assets_block {
				.zero-balance-wrapper {
					.edit-wrapper__container {
						.tooltip_icon_wrapper div {
							width: 1.5rem;
						}
					}
				}
			}
		}
		.button-container {
			.holla-button {
				font-size: 10px !important;
			}
		}
		.currency-wallet-wrapper {
			.wallet-content-wrapper {
				flex-direction: column;
				height: 100% !important;
				.wallet-details-wrapper {
					width: 100% !important;
				}
				.donut-wrapper {
					width: 100%;
					height: 100% !important;
					font-size: 14px;
					.rounded-loading {
						margin: 1rem 0rem 0rem 12rem;
					}
					.inner-round {
						margin-left: 1.5rem;
					}
				}
			}
		}
	}
	@media screen and (max-width: 450px) {
		.currency-wallet-wrapper {
			.wallet-content-wrapper {
				.donut-wrapper {
					.rounded-loading {
						margin: 1rem 0rem 0rem 7rem;
					}
				}
			}
		}
	}
	@media screen and (max-width: 320px) {
		.currency-wallet-wrapper {
			.wallet-content-wrapper {
				.donut-wrapper {
					.donut-title {
						font-size: 14px;
					}
					.rounded-loading {
						margin: 1rem 0rem 0rem 3rem;
					}
				}
			}
		}
	}
}

@keyframes mymove {
	10% {
		top: 0%;
		background-color: var(--base_wallet-sidebar-and-popup);
		opacity: 0;
	}
	30% {
		top: 30%;
		background-color: var(--base_wallet-sidebar-and-popup);
		opacity: 0.3;
	}
	50% {
		top: 50%;
		background-color: var(--calculated_secondary-border);
		opacity: 0.5;
	}
	70% {
		top: 70%;
		background-color: var(--calculated_secondary-border);
		opacity: 0.8;
	}
	100% {
		top: 100%;
		background-color: var(--base_wallet-sidebar-and-popup);
	}
}

.dust-dialog-content {
	width: 38rem;

	.dust-note {
		color: $colors-notification-pending;
	}

	.large-font {
		font-size: $font-size-headline !important;
	}
}

.wallet-container {
	.fill_secondary-color {
		color: $colors-black;
	}

	.fill-active-color {
		color: $colors-main-black;
	}

	.header-wrapper {
		border-top: 1px solid $colors-main-black;
		.image-Wrapper {
			.action_notification-svg svg {
				width: 1.25rem;
				height: 1.25rem;
				background-color: $colors-notifications-blue;
				border-radius: 1rem;
				padding: 2px;
			}
		}

		.action_notification-svg {
			padding-top: 7px;
		}

		.link {
			border-right: 1px solid $colors-border;
			padding-right: 0.5rem;
			padding-left: 0.5rem;
		}
	}

	// border-top: $wrapper-border;
	// border-bottom: $wrapper-border;

	&.no-border {
		border: none !important;
	}

	.ant-switch {
		background-color: $app-background-color;
		border: 2px solid $colors-black;

		.ant-switch-handle {
			width: 15px !important;
			height: 15px !important;
			&:before {
				background-color: $colors-black;
			}
		}
	}

	.ant-switch-checked {
		background-color: $app-background-color;
		border: 2px solid $colors-main-black;

		.ant-switch-handle {
			left: calc(100% - 15px - 2px);
			&:before {
				background-color: $colors-main-black;
			}
		}
	}

	.wallet-header_block {
		> * {
			margin-bottom: $header-margin;
		}
		.wallet-header_block-currency_title {
			font-size: $font-size-subhead3;
			position: relative;
		}
		.with_price-block_amount-value {
			font-size: $font-size-headline;
			line-height: $font-size-headline;
		}
	}
	.paper-clip-icon {
		.action_notification-svg {
			background-color: $link;
			width: 1.2rem;
			height: 1.2rem;
			border-radius: 50%;
			display: flex;
			margin-left: 5px;
			svg {
				width: 0.8rem !important;
				height: 0.8rem !important;
			}
		}
	}

	.wallet-buttons_action {
		margin: $wrapper-button-margin 0 $wrapper-button-margin * 1.5;

		& > *:first-child {
			flex: 2;
		}
		& > *:last-child {
			flex: 1;
		}
		.separator {
			width: 1rem;
		}
	}

	.accordion_wrapper {
		.accordion_section_content_text {
			color: $colors-main-black !important;
			&:after {
				border-left-color: $colors-main-border !important;
			}
		}
	}
	.empty-wallet-assets_block {
		padding: 20px !important;
	}
	.wallet-assets_block {
		.donut-container {
			width: 10rem !important;
			min-width: 10rem !important;
		}
		.donut-container-empty {
			width: 13rem !important;
			min-width: 13rem !important;
		}
		// border-top: $wrapper-border;
		background-color: $app-sidebar-background;
		padding: 0px 20px;
		overflow-y: auto;
		// .action_notification-wrapper {
		// 	margin: 0 !important;
		// }

		.td-wallet {
			min-width: 225px;
			.deposit-withdrawal-wrapper {
				margin-left: -3rem;
				width: 14rem;
			}
		}
		.wallet-assets_block-table {
			width: 100%;
			font-size: $font-size-subtext;
			margin-bottom: 3rem;

			thead,
			tfoot {
				& tr {
					height: 3.5rem;
					vertical-align: bottom;
				}
			}

			tfoot {
				font-size: $font-size-main;
				td {
					white-space: nowrap;
				}
			}

			.table-row {
				height: 2.5rem;
			}

			.table-bottom-border td,
			th {
				position: relative;
				&:not(:first-child) {
					border-bottom: 1px solid $colors-main-border;
					padding: 1rem 0.25rem;
				}
			}

			.td-fit {
				width: 1%;
				white-space: nowrap;
			}

			.td-name {
				min-width: 200px !important;
			}
			.table-icon {
				& > div {
					vertical-align: middle;
					margin: auto;
				}
			}
			.td-amount {
				min-width: 150px !important;
				direction: ltr;
			}
		}
		.search-field {
			background-color: $app-sidebar-background;
		}

		.loading-anime {
			width: 100px;
			height: 20px;
			border-radius: 7px;
			animation: mymove 3s infinite;
		}
		.loading-row-anime {
			height: 20px;
			border-radius: 7px;
			animation: mymove 3s infinite;
		}
		.loading-row-anime.w-half {
			width: 100px;
		}
		.loading-row-anime.w-full {
			width: 200px;
		}
		.wallet-graphic-icon {
			opacity: 0.1;
		}
	}

	.accordion_wrapper .action_notification-wrapper {
		position: relative;
	}
	.action-button-wrapper {
		border: 1px solid $link;
		padding: 5px 12px;

		&:hover {
			background-color: $link;
			.notification-info {
				color: white !important;
			}
		}
	}
}

.show-equals:after {
	content: '=';
	width: auto;
	position: absolute;
}

.wallet-notification {
	.action_notification-text {
		font-size: $font-size-main !important;
		line-height: $font-size-main !important;
	}
}

.direction_ltr {
	.wallet-container {
		.wallet-header_block {
			font-family: $raleway--font-family;
		}

		.wallet-assets_block {
			.wallet-assets_block-table {
				th {
					font-family: $raleway--font-family;
				}
				th,
				td {
					text-align: left;
				}
				.align-opposite {
					text-align: right;
				}
				.table-icon {
					padding-right: 0.5rem;
				}
			}
		}
	}
	.show-equals:after {
		left: 0;
	}
}

.direction_rtl {
	.wallet-container {
		.wallet-assets_block {
			.wallet-assets_block-table {
				th,
				td {
					text-align: right;
				}
				.align-opposite {
					text-align: left;
				}
				.table-icon {
					padding-left: 0.5rem;
				}
			}
		}
	}
	.show-equals:after {
		right: 0;
	}
}

.need-help {
	svg {
		@include size-important(1rem);
	}
}

.wallet-search-improvement {
	border-bottom: 1px solid $dark-app-line-divider;
	color: $dark-font-sub-text-color !important;
}

.dust-estimated-balance {
	border-bottom: 1px solid $dark-app-line-divider;
	text-align: end;
}

.dust-image-title-wrapper {
	width: 5.5rem;
	height: 5.5rem;
	opacity: 0.08;
	margin-bottom: 1rem;
}

.custom-dropdown-style {
	.ant-dropdown-menu-item {
		color: $colors-black;
		line-height: 1.1rem;
		font-size: 1rem;

		&.ant-dropdown-menu-item-active {
			color: $colors-main-black;
			background-color: $app-sidebar-background;
		}
	}

	.ant-dropdown-menu {
		background-color: $app-background-color;
		max-height: 10rem;
		overflow-y: scroll;
	}

	.app_bar-pair-font {
		font-size: 0.9rem;
	}
}

.link-container {
	font-size: 14px;
}

.link-content {
	text-decoration: underline !important;
	color: $colors-notifications-blue !important;
}
.dust-convert-button {
	width: 300px !important;
}
.currency-wallet-wrapper {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	font-family: $raleway--font-family;
	.title-wrapper {
		font-size: 3rem;
		.edit-wrapper__container {
			margin-left: 1rem;
			display: unset !important;
		}
	}
	.edit-wrapper__container {
		display: unset !important;
		line-height: unset !important;
	}
	.link-container {
		.trade-link-wrapper {
			margin: 1%;
		}
	}
	.wallet-content-wrapper {
		height: 65%;
		border: 1px solid #808080;
		border-radius: 5px;
		justify-content: space-between;
		.wallet-details-wrapper {
			padding: 4rem 3rem;
		}
		.balance-wrapper {
			font-size: 2rem;
			.loading-row-anime {
				height: 20px;
				width: 20%;
				margin-bottom: 2%;
				border-radius: 10px;
				animation: mymove 3s infinite;
			}
		}
		.available-balance-wrapper,
		.estimated-balance {
			font-size: 14px;
		}
		.donut-wrapper {
			width: 35%;
			align-items: flex-end;
			background-color: var(--base_wallet-sidebar-and-popup);
			border-radius: 5px;
			text-align: center;
			.donut-title {
				font-size: 16px;
			}
			.wallet-icon-wrapper {
				display: flex;
				justify-content: center;
				margin: 10%;
				height: 30%;
			}
			.deposit-link,
			.buy-link {
				text-decoration: underline;
				color: #5d63ff;
			}
			.rounded-loading {
				width: 80px;
				height: 80px;
				border-radius: 50%;
				text-align: center;
				margin: 5rem 7rem;
				display: flex;
				align-items: center;
				border: 1px solid #808080;
				background-color: $colors-border !important;
				animation: outer-round-anim 3s ease infinite;
			}
			.inner-round {
				background-color: $app-sidebar-background;
				width: 50px;
				height: 50px;
				border-radius: 50%;
				margin-left: 1rem;
				border: 1px solid #808080;
			}
			.animation-wrapper {
				display: flex;
				justify-content: center;
			}
		}
	}
}

.layout-mobile {
	.footer-button {
		margin-top: 4%;
		margin-bottom: 2%;
	}
	.bottom-bar-button {
		padding: 3%;
		display: flex;
		justify-content: space-around;

		.bottom-bar-deposit-button,
		.bottom-bar-withdraw-button {
			width: 45%;
			button {
				border-radius: 5px;
			}
		}
		.bottom-bar-withdraw-button {
			button {
				color: $colors-main-black;
				background-color: $app-sidebar-background !important;
				border-radius: 5px;
				border-color: $colors-main-black !important;
			}
		}
	}
}
