.verification_data_container {
	display: flex;
}

.verification_data_container > div {
	flex: 1;
	width: 50%;
	padding: 8px;
}

.verification_data_container h2 {
	margin-top: 0;
}
.verification_block {
	display: flex;
	flex-direction: column;
}

.verification_img {
	max-width: 350px;
}

.verification_data_container--actions {
	display: flex;
}

.verification_data_container--actions > *:not(:last-child) {
	margin-right: 12px;
}

.jsonkey-wrapper {
	display: flex;
}

.jsonkey-wrapper pre {
	padding-left: 8px;
}
