$content-wrapper--max-width: $bp-xs;

.auth-wrapper {
  .auth-container {
    max-width: $content-wrapper--max-width;

    .auth_wrapper {
      background-color: white;
      padding: 2rem;
    }

    .auth_form-wrapper {
      margin-top: 2rem;
      position: relative;
    }
  }


  .link_wrapper {
    margin: 1rem;
    margin-top: 0;

    &.multi_links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      > div:not(:last-child) {
        padding-bottom: 0.5rem;
      }
    }
  }
  .blue-link {
    color: blue;
    padding-left: 0.25rem;
  }
  .error_text {
    padding-bottom: 0.5rem;
  }
  .button-margin {
    margin-top: 2rem;
  }
}
