.quote-container {
	background-color: $quick-trade--background;
	overflow-y: scroll;
}

.quote-review-wrapper {
	margin: 1rem 0;
}

.quote-countdown-wrapper {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;

	.counter {
		font-size: $font-size-subhead1;
	}
}

.quote-success-review-text {
	margin: 1rem 0 2rem;
	font-size: $font-size-main;
}

.dark-theme {
	.quote-container {
		background-color: $dark-disabled-secondary;
	}
}

.layout-mobile {
	.quote-container {
		background-color: transparent;
		overflow-y: scroll;
		.quick_trade-wrapper {
			min-width: 100vw;
			max-width: 100vw;
			min-height: $max-content-height-double-bar-mobile;
			max-height: $max-content-height-double-bar-mobile;
		}
	}
}
