.select-box .ant-select-selector {
	background-color: #202980 !important;
	color: #fff;
}

.select-box .ant-select-arrow {
	color: #fff;
}

.date-box .ant-picker-input > input {
	color: #fff !important;
}


.session-table .ant-table-thead > tr > th{
    font-size: 1rem;
}
.session-table .ant-table-tbody > tr > td{
	padding: 8px 8px;
}